
{
  "swagger": "2.0",
  "info": {
    "version": "2",
    "title": "Swagger API",
    "license": {
      "name": "MIT",
      "url": "http://github.com/gruntjs/grunt/blob/master/LICENSE-MIT"
    }
  },
  "host": "docs.apteligent.com",
  "basePath": "/api/swagger",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v2/base": {
      "get": {
        "description": "Get available actions for the v2 API",
        "summary": "getActions",
        "tags": [
          "BaseInfo"
        ],
        "operationId": "getActions",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BaseResponse"
            },
            "examples": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/allyourbase": {
      "get": {
        "description": "Get available API versions",
        "summary": "allYourBase",
        "tags": [
          "allYourBase"
        ],
        "operationId": "allYourBase",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/app": {
      "post": {
        "description": "Create a new app",
        "summary": "createApp",
        "tags": [
          "app"
        ],
        "operationId": "createApp",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/AppCreationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AppCreationResponse"
            },
            "examples": {}
          },
          "400": {
            "description": "Request parameters were invalid/malformed",
            "schema": {}
          },
          "401": {
            "description": "Invalid oauth token",
            "schema": {}
          },
          "429": {
            "description": "API rate limit exceeded",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/app/crash/counts/{appId}": {
      "get": {
        "description": "Get crash counts for an app",
        "summary": "getAppCrashCounts",
        "tags": [
          "app"
        ],
        "operationId": "getAppCrashCounts",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "app Id (Acceptable values are: \"519d53101386202089000007\", \"fcb024ae2c2b4b95883461637ca2241f00555300\")"
          },
          {
            "name": "appVersion",
            "in": "query",
            "required": false,
            "default": "2.0",
            "type": "string",
            "description": "specific version of the app (Acceptable values are: \"2.0\")"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AppCrashCountResponse"
              }
            },
            "examples": {}
          },
          "400": {
            "description": "Request parameters were invalid/malformed",
            "schema": {}
          },
          "401": {
            "description": "Invalid oauth token",
            "schema": {}
          },
          "429": {
            "description": "API rate limit exceeded",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/app/crash/summaries/{appId}": {
      "get": {
        "description": "Get crash summaries for an app",
        "summary": "getAppCrashSummaries",
        "tags": [
          "app"
        ],
        "operationId": "getAppCrashSummaries",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "app Id (Acceptable values are: \"519d53101386202089000007\", \"fcb024ae2c2b4b95883461637ca2241f00555300\")"
          },
          {
            "name": "appVersion",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "specific version of the app"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "enum": [
              "known",
              "resolved",
              "unresolved"
            ],
            "type": "string",
            "description": "Crash status"
          },
          {
            "name": "firstOccurredStart",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "beginning date range of first occurrence of the crash (ISO 8601 datetime format: \"YYYY-MM-DDThh:mm:ssTZD\" where TZD is time zone designator \"Z\" or \"+hh:mm\" or \"-hh:mm\")"
          },
          {
            "name": "firstOccurredEnd",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "ending date range of first occurrence of the crash (ISO 8601 datetime format: \"YYYY-MM-DDThh:mm:ssTZD\" where TZD is time zone designator \"Z\" or \"+hh:mm\" or \"-hh:mm\")"
          },
          {
            "name": "lastOccurredStart",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "beginning date range of last occurrence of the crash (ISO 8601 datetime format: \"YYYY-MM-DDThh:mm:ssTZD\" where TZD is time zone designator \"Z\" or \"+hh:mm\" or \"-hh:mm\")"
          },
          {
            "name": "lastOccurredEnd",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "ending date range of last occurrence of the crash (ISO 8601 datetime format: \"YYYY-MM-DDThh:mm:ssTZD\" where TZD is time zone designator \"Z\" or \"+hh:mm\" or \"-hh:mm\")"
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "enum": [
              "name",
              "reason",
              "sessionCount",
              "uniqueSessionCount"
            ],
            "type": "string",
            "description": "Crash summary field to sort results by"
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "enum": [
              "asc",
              "desc"
            ],
            "type": "string",
            "description": "Sort results in ascending or descending order"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AppCrashSummaryResponse"
              }
            },
            "examples": {}
          },
          "400": {
            "description": "Request parameters were invalid/malformed",
            "schema": {}
          },
          "401": {
            "description": "Invalid oauth token",
            "schema": {}
          },
          "429": {
            "description": "API rate limit exceeded",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/app/exception/counts/{appId}": {
      "get": {
        "description": "Get exception counts for an app",
        "summary": "getAppExceptionCounts",
        "tags": [
          "app"
        ],
        "operationId": "getAppExceptionCounts",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "app Id (Acceptable values are: \"519d53101386202089000007\", \"fcb024ae2c2b4b95883461637ca2241f00555300\")"
          },
          {
            "name": "appVersion",
            "in": "query",
            "required": false,
            "default": "2.0",
            "type": "string",
            "description": "specific version of the app (Acceptable values are: \"2.0\")"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AppExceptionCountResponse"
              }
            },
            "examples": {}
          },
          "400": {
            "description": "Request parameters were invalid/malformed",
            "schema": {}
          },
          "401": {
            "description": "Invalid oauth token",
            "schema": {}
          },
          "429": {
            "description": "API rate limit exceeded",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/app/exception/summaries/{appId}": {
      "get": {
        "description": "Get exception summaries for an app",
        "summary": "getAppExceptionSummaries",
        "tags": [
          "app"
        ],
        "operationId": "getAppExceptionSummaries",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "app Id (Acceptable values are: \"519d53101386202089000007\", \"fcb024ae2c2b4b95883461637ca2241f00555300\")"
          },
          {
            "name": "appVersion",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "specific version of the app"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "enum": [
              "known",
              "resolved",
              "unresolved"
            ],
            "type": "string",
            "description": "Exception status"
          },
          {
            "name": "firstOccurredStart",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "beginning date range of first occurrence of the exception (ISO 8601 datetime format: \"YYYY-MM-DDThh:mm:ssTZD\" where TZD is time zone designator \"Z\" or \"+hh:mm\" or \"-hh:mm\")"
          },
          {
            "name": "firstOccurredEnd",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "ending date range of first occurrence of the exception (ISO 8601 datetime format: \"YYYY-MM-DDThh:mm:ssTZD\" where TZD is time zone designator \"Z\" or \"+hh:mm\" or \"-hh:mm\")"
          },
          {
            "name": "lastOccurredStart",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "beginning date range of last occurrence of the exception (ISO 8601 datetime format: \"YYYY-MM-DDThh:mm:ssTZD\" where TZD is time zone designator \"Z\" or \"+hh:mm\" or \"-hh:mm\")"
          },
          {
            "name": "lastOccurredEnd",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "ending date range of last occurrence of the exception (ISO 8601 datetime format: \"YYYY-MM-DDThh:mm:ssTZD\" where TZD is time zone designator \"Z\" or \"+hh:mm\" or \"-hh:mm\")"
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "enum": [
              "name",
              "reason",
              "sessionCount",
              "uniqueSessionCount"
            ],
            "type": "string",
            "description": "Exception summary field to sort results by"
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "enum": [
              "asc",
              "desc"
            ],
            "type": "string",
            "description": "Sort results in ascending or descending order"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AppExceptionSummaryResponse"
              }
            },
            "examples": {}
          },
          "400": {
            "description": "Request parameters were invalid/malformed",
            "schema": {}
          },
          "401": {
            "description": "Invalid oauth token",
            "schema": {}
          },
          "429": {
            "description": "API rate limit exceeded",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/apps": {
      "get": {
        "description": "Get properties about your apps",
        "summary": "getAppSummary",
        "tags": [
          "apps"
        ],
        "operationId": "getAppSummary",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "attributes",
            "in": "query",
            "required": true,
            "enum": [
              "appName",
              "appType",
              "appVersions",
              "appBenchmarkCategory",
              "crashPercent",
              "dau",
              "latency",
              "latestAppStoreReleaseDate",
              "latestVersionString",
              "linkToAppStore",
              "iconURL",
              "mau",
              "rating",
              "role"
            ],
            "type": "string",
            "description": "The attributes about your apps that you would like to retrieve"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AppSummaryResponse"
            },
            "examples": {}
          },
          "400": {
            "description": "Request parameters were invalid/malformed",
            "schema": {}
          },
          "403": {
            "description": "Invalid oauth token",
            "schema": {}
          },
          "429": {
            "description": "API rate limit exceeded",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/apps/crash/counts": {
      "get": {
        "description": "Get crash counts for one or more apps",
        "summary": "getAppsCrashCounts",
        "tags": [
          "apps"
        ],
        "operationId": "getAppsCrashCounts",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "app Id"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CrashCountResponse"
            },
            "examples": {}
          },
          "400": {
            "description": "Request parameters were invalid/malformed",
            "schema": {}
          },
          "401": {
            "description": "Invalid oauth token",
            "schema": {}
          },
          "429": {
            "description": "API rate limit exceeded",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/apps/crash/summaries": {
      "get": {
        "description": "Get up to 100 crash summaries for one or more apps",
        "summary": "getAppsCrashSummaries",
        "tags": [
          "apps"
        ],
        "operationId": "getAppsCrashSummaries",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "app Id"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "enum": [
              "known",
              "resolved",
              "unresolved"
            ],
            "type": "string",
            "description": "Crash status"
          },
          {
            "name": "firstOccurredStart",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "beginning date range of first occurrence of the crash (ISO 8601 datetime format: \"YYYY-MM-DDThh:mm:ssTZD\" where TZD is time zone designator \"Z\" or \"+hh:mm\" or \"-hh:mm\")"
          },
          {
            "name": "firstOccurredEnd",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "ending date range of first occurrence of the crash (ISO 8601 datetime format: \"YYYY-MM-DDThh:mm:ssTZD\" where TZD is time zone designator \"Z\" or \"+hh:mm\" or \"-hh:mm\")"
          },
          {
            "name": "lastOccurredStart",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "beginning date range of last occurrence of the crash (ISO 8601 datetime format: \"YYYY-MM-DDThh:mm:ssTZD\" where TZD is time zone designator \"Z\" or \"+hh:mm\" or \"-hh:mm\")"
          },
          {
            "name": "lastOccurredEnd",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "ending date range of last occurrence of the crash (ISO 8601 datetime format: \"YYYY-MM-DDThh:mm:ssTZD\" where TZD is time zone designator \"Z\" or \"+hh:mm\" or \"-hh:mm\")"
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "enum": [
              "name",
              "reason",
              "sessionCount",
              "uniqueSessionCount"
            ],
            "type": "string",
            "description": "Crash summary field to sort results by"
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "enum": [
              "asc",
              "desc"
            ],
            "type": "string",
            "description": "Sort results in ascending or descending order"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CrashSummaryResponse"
            },
            "examples": {}
          },
          "400": {
            "description": "Request parameters were invalid/malformed",
            "schema": {}
          },
          "401": {
            "description": "Invalid oauth token",
            "schema": {}
          },
          "429": {
            "description": "API rate limit exceeded",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/apps/exception/counts": {
      "get": {
        "description": "Get exception counts for one or more apps",
        "summary": "getAppsExceptionCounts",
        "tags": [
          "apps"
        ],
        "operationId": "getAppsExceptionCounts",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "app Id"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ExceptionCountResponse"
            },
            "examples": {}
          },
          "400": {
            "description": "Request parameters were invalid/malformed",
            "schema": {}
          },
          "401": {
            "description": "Invalid oauth token",
            "schema": {}
          },
          "429": {
            "description": "API rate limit exceeded",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/apps/exception/summaries": {
      "get": {
        "description": "Get up to 100 exception summaries for one or more apps",
        "summary": "getAppsExceptionSummaries",
        "tags": [
          "apps"
        ],
        "operationId": "getAppsExceptionSummaries",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "app Id"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "enum": [
              "known",
              "resolved",
              "unresolved"
            ],
            "type": "string",
            "description": "Exception status"
          },
          {
            "name": "firstOccurredStart",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "beginning date range of first occurrence of the exception (ISO 8601 datetime format: \"YYYY-MM-DDThh:mm:ssTZD\" where TZD is time zone designator \"Z\" or \"+hh:mm\" or \"-hh:mm\")"
          },
          {
            "name": "firstOccurredEnd",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "ending date range of first occurrence of the exception (ISO 8601 datetime format: \"YYYY-MM-DDThh:mm:ssTZD\" where TZD is time zone designator \"Z\" or \"+hh:mm\" or \"-hh:mm\")"
          },
          {
            "name": "lastOccurredStart",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "beginning date range of last occurrence of the exception (ISO 8601 datetime format: \"YYYY-MM-DDThh:mm:ssTZD\" where TZD is time zone designator \"Z\" or \"+hh:mm\" or \"-hh:mm\")"
          },
          {
            "name": "lastOccurredEnd",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "ending date range of last occurrence of the exception (ISO 8601 datetime format: \"YYYY-MM-DDThh:mm:ssTZD\" where TZD is time zone designator \"Z\" or \"+hh:mm\" or \"-hh:mm\")"
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "enum": [
              "name",
              "reason",
              "sessionCount",
              "uniqueSessionCount"
            ],
            "type": "string",
            "description": "Exception summary field to sort results by"
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "enum": [
              "asc",
              "desc"
            ],
            "type": "string",
            "description": "Sort results in ascending or descending order"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ExceptionSummaryResponse"
            },
            "examples": {}
          },
          "400": {
            "description": "Request parameters were invalid/malformed",
            "schema": {}
          },
          "401": {
            "description": "Invalid oauth token",
            "schema": {}
          },
          "429": {
            "description": "API rate limit exceeded",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/crash/paginatedtable/{appId}": {
      "get": {
        "description": "Paginated crash summaries",
        "summary": "paginatedCrashTable",
        "tags": [
          "crash"
        ],
        "operationId": "paginatedCrashTable",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "app Id (Acceptable values are: \"519d53101386202089000007\")"
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": true,
            "enum": [
              "lastOccurred",
              "firstOccurred"
            ],
            "type": "string",
            "description": "Sort results by either last occurred or first occurred"
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "(Acceptable values are: \"descending\", \"ascending\")"
          },
          {
            "name": "appVersion",
            "in": "query",
            "required": false,
            "default": "all",
            "type": "string",
            "description": "A valid app version string or 'all' for all versions"
          },
          {
            "name": "period",
            "in": "query",
            "required": false,
            "default": 1,
            "type": "integer",
            "format": "int32",
            "description": "Period of time in days to query. The API will return the requested number of days plus the currently accruing day. If startDate and endDate are not provided, this parameter defaults to 1"
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date",
            "description": "ISO date string representing start date of query. FIXME was incorrect type"
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date",
            "description": "ISO date string representing end date of query. FIXME was incorrect type"
          },
          {
            "name": "pageNum",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Retrieve a specific page by page number"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Number of results to return per page, up to a maximum of 100"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "enum": [
              "known",
              "resolved",
              "unresolved"
            ],
            "type": "string",
            "description": "Crash status"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PaginatedTableResponse"
            },
            "examples": {}
          },
          "400": {
            "description": "Request parameters were invalid/malformed",
            "schema": {}
          },
          "401": {
            "description": "Invalid oauth2 token",
            "schema": {}
          },
          "429": {
            "description": "API rate limit exceeded",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/crash/{appId}/{hash}": {
      "get": {
        "description": "Get crash details",
        "summary": "getCrash",
        "tags": [
          "crash"
        ],
        "operationId": "getCrash",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "app Id"
          },
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Unique hash assigned to a crash"
          },
          {
            "name": "diagnostics",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "when true, the response will include detailed diagnostics information for crash"
          },
          {
            "name": "get_other_crashes",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "when true, the response will include other crashes and legacy crash groups now part of this group"
          },
          {
            "name": "dailyOccurrences",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "when true, the response will include daily occurrences by version for each crash"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CrashResponse"
            },
            "examples": {}
          },
          "400": {
            "description": "Request parameters were invalid/malformed",
            "schema": {}
          },
          "401": {
            "description": "Invalid oauth token",
            "schema": {}
          },
          "429": {
            "description": "API rate limit exceeded",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "post": {
        "description": "Update crash status and fix version",
        "summary": "updateCrash",
        "tags": [
          "crash"
        ],
        "operationId": "updateCrash",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "app Id"
          },
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Unique hash assigned to a crash"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Updated crash status and fix version",
            "schema": {
              "$ref": "#/definitions/UpdateCrashBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CrashResponse"
            },
            "examples": {}
          },
          "400": {
            "description": "Request parameters were invalid/malformed",
            "schema": {}
          },
          "401": {
            "description": "Invalid oauth token",
            "schema": {}
          },
          "429": {
            "description": "API rate limit exceeded",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/crashRateBySegment/{platform}/{segment}": {
      "get": {
        "description": "Get crash rate by market segment",
        "summary": "getCrashBySegment",
        "tags": [
          "crash"
        ],
        "operationId": "getCrashBySegment",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "platform",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A mobile platform, e.g. android (all lower case)"
          },
          {
            "name": "segment",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "App store category, e.g. business. For a complete list, see Apteligent's benchmarks for <a href='https://data.apteligent.com/ios/benchmarks/global'>iOS</a> and <a href='https://data.apteligent.com/android/benchmarks/global'>Android</a>"
          },
          {
            "name": "appId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "App ID"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CrashRateBySegmentResponse"
            },
            "examples": {}
          },
          "400": {
            "description": "Request parameters were invalid/malformed",
            "schema": {}
          },
          "401": {
            "description": "Invalid oauth token",
            "schema": {}
          },
          "429": {
            "description": "API rate limit exceeded",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/crash/userData/{appId}/{hash}": {
      "get": {
        "description": "Get data about users affected by a crash",
        "summary": "getuserData",
        "tags": [
          "crash"
        ],
        "operationId": "getuserData",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "app Id (Acceptable values are: \"519d53101386202089000007\")"
          },
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "crash unique hash value"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/UserDataResponse"
            },
            "examples": {}
          },
          "400": {
            "description": "Request parameters were invalid/malformed",
            "schema": {}
          },
          "401": {
            "description": "Invalid oauth2 token",
            "schema": {}
          },
          "429": {
            "description": "API rate limit exceeded",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/errorMonitoring/graph": {
      "get": {
        "description": "Retrieves time series data organized into buckets of one day",
        "summary": "graph",
        "tags": [
          "errorMonitoring"
        ],
        "operationId": "graph",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The app to retrieve data about"
          },
          {
            "name": "graph",
            "in": "query",
            "required": true,
            "enum": [
              "dau",
              "mau",
              "rating",
              "crashes",
              "crashPercent",
              "appLoads",
              "affectedUsers",
              "affectedUserPercent"
            ],
            "type": "string",
            "description": "which graph data to retrieve"
          },
          {
            "name": "duration",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "How far back the API queries for data, in minutes. Must be a multiple of 1440 (one day) between 1440 and 43200. Optional if 'start' and 'end' specified"
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "ISO Date, start of the date range in the result"
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "ISO Date, end of the date range in the result"
          },
          {
            "name": "deviceFilter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Only show data for the specified device e.g. iPhone5,1"
          },
          {
            "name": "osFilter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Only show data for exact operating system version, e.g. iOS 5"
          },
          {
            "name": "carrierFilter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Only show data for the specified mobile operator e.g. AT&T"
          },
          {
            "name": "appVersionFilter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Only show data for the specified app version"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorMonitorGraphResponse"
            },
            "examples": {}
          },
          "400": {
            "description": "Required parameter was missing",
            "schema": {}
          },
          "403": {
            "description": "Invalid oauth token",
            "schema": {}
          },
          "429": {
            "description": "API rate limit exceeded",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/errorMonitoring/pie": {
      "get": {
        "description": "Retrieves absolute populations for certain slices of data",
        "summary": "pie",
        "tags": [
          "errorMonitoring"
        ],
        "operationId": "pie",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The app to retrieve data about"
          },
          {
            "name": "graph",
            "in": "query",
            "required": true,
            "enum": [
              "dau",
              "mau",
              "rating",
              "crashes",
              "crashPercent",
              "appLoads",
              "affectedUsers",
              "affectedUserPercent"
            ],
            "type": "string",
            "description": "which graph data to retrieve"
          },
          {
            "name": "groupBy",
            "in": "query",
            "required": true,
            "enum": [
              "appVersion",
              "os",
              "carrier",
              "device",
              "appId"
            ],
            "type": "string",
            "description": "A filter used to group the results"
          },
          {
            "name": "duration",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "How far back the API queries for data, in minutes. Must be a multiple of 1440 (one day) between 1440 and 43200. Optional if 'start' and 'end' specified"
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "ISO Date, start of the date range in the result"
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "ISO Date, end of the date range in the result"
          },
          {
            "name": "deviceFilter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Only show data for the specified device e.g. iPhone5,1"
          },
          {
            "name": "osFilter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Only show data for exact operating system version, e.g. iOS 5"
          },
          {
            "name": "carrierFilter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Only show data for the specified mobile operator e.g. AT&T"
          },
          {
            "name": "appVersionFilter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Only show data for the specified app version"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            },
            "examples": {}
          },
          "400": {
            "description": "Required parameter was missing",
            "schema": {}
          },
          "403": {
            "description": "Invalid oauth token",
            "schema": {}
          },
          "429": {
            "description": "API rate limit exceeded",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/errorMonitoring/sparklines": {
      "get": {
        "description": "Retrieves several time series, each based on the value of a filter",
        "summary": "sparkline",
        "tags": [
          "errorMonitoring"
        ],
        "operationId": "sparkline",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The app to retrieve data about"
          },
          {
            "name": "graph",
            "in": "query",
            "required": true,
            "enum": [
              "dau",
              "mau",
              "rating",
              "crashes",
              "crashPercent",
              "appLoads",
              "affectedUsers",
              "affectedUserPercent"
            ],
            "type": "string",
            "description": "which graph data to retrieve"
          },
          {
            "name": "groupBy",
            "in": "query",
            "required": true,
            "enum": [
              "appVersion",
              "os",
              "carrier",
              "device",
              "appId"
            ],
            "type": "string",
            "description": "A filter used to group the results"
          },
          {
            "name": "duration",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "How far back the API queries for data, in minutes. Must be a multiple of 1440 (one day) between 1440 and 43200. Optional if 'start' and 'end' specified"
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "ISO Date, start of the date range in the result"
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "ISO Date, end of the date range in the result"
          },
          {
            "name": "deviceFilter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Only show data for the specified device e.g. iPhone5,1"
          },
          {
            "name": "osFilter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Only show data for exact operating system version, e.g. iOS 5"
          },
          {
            "name": "carrierFilter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Only show data for the specified mobile operator e.g. AT&T"
          },
          {
            "name": "appVersionFilter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Only show data for the specified app version"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/SparklineResponse"
            },
            "examples": {}
          },
          "400": {
            "description": "Required parameter was missing",
            "schema": {}
          },
          "403": {
            "description": "Invalid oauth token",
            "schema": {}
          },
          "429": {
            "description": "API rate limit exceeded",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/exception/paginatedtable/{appId}": {
      "get": {
        "description": "Paginated exception summaries",
        "summary": "paginatedExceptionTable",
        "tags": [
          "exception"
        ],
        "operationId": "paginatedExceptionTable",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "app Id"
          },
          {
            "name": "appVersion",
            "in": "query",
            "required": false,
            "default": "all",
            "type": "string",
            "description": "A valid app version string or 'all' for all versions"
          },
          {
            "name": "period",
            "in": "query",
            "required": false,
            "default": 1,
            "type": "integer",
            "format": "int32",
            "description": "Period of time in days to query. The API will return the requested number of days plus the currently accruing day. If startDate and endDate are not provided, this parameter defaults to 1"
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date",
            "description": "ISO date string representing start date of query. FIXME was incorrect type"
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date",
            "description": "ISO date string representing end date of query. FIXME was incorrect type"
          },
          {
            "name": "pageNum",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Retrieve a specific page by page number"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Number of results to return per page, up to a maximum of 100"
          },
          {
            "name": "dailyOccurrences",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "If dailyOccurrences is 'true', the response will include an array in which the first item is the latest date in the series (in YYYYMMDD format), the second item is a list of point values associated with each date in chronological order"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "enum": [
              "known",
              "resolved",
              "unresolved"
            ],
            "type": "string",
            "description": "Exception status"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PaginatedTableResponse"
            },
            "examples": {}
          },
          "400": {
            "description": "Request parameters were invalid/malformed",
            "schema": {}
          },
          "401": {
            "description": "Invalid oauth token",
            "schema": {}
          },
          "429": {
            "description": "API rate limit exceeded",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/exception/{appId}/{hash}": {
      "get": {
        "description": "Get exception details",
        "summary": "getException",
        "tags": [
          "exception"
        ],
        "operationId": "getException",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "app Id"
          },
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Unique hash assigned to the exception"
          },
          {
            "name": "diagnostics",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "include detailed diagnostics information for exception"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ExceptionResponse"
            },
            "examples": {}
          },
          "400": {
            "description": "Request parameters were invalid/malformed",
            "schema": {}
          },
          "401": {
            "description": "Invalid oauth token",
            "schema": {}
          },
          "429": {
            "description": "API rate limit exceeded",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/exception/userData/{appId}/{hash}": {
      "get": {
        "description": "Get data about users affected by a handled exception",
        "summary": "getUserData",
        "tags": [
          "exception"
        ],
        "operationId": "getUserData",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "app Id"
          },
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Unique hash assigned to the exception"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/UserDataResponse"
            },
            "examples": {}
          },
          "400": {
            "description": "Request parameters were invalid/malformed",
            "schema": {}
          },
          "401": {
            "description": "Invalid oauth token",
            "schema": {}
          },
          "429": {
            "description": "API rate limit exceeded",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/liveStats/{appId}/{isoDuration}": {
      "get": {
        "description": "Get live stats",
        "summary": "getLiveStats",
        "tags": [
          "liveStats"
        ],
        "operationId": "getLiveStats",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "app Id"
          },
          {
            "name": "isoDuration",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Valid and supported ISO 8601 duration.  Allowed values: [PT10S, PT5M, P1D]"
          },
          {
            "name": "version",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "App version string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/LiveStatsResponse"
            },
            "examples": {}
          },
          "400": {
            "description": "Request parameters were invalid/malformed",
            "schema": {}
          },
          "401": {
            "description": "Invalid oauth token",
            "schema": {}
          },
          "429": {
            "description": "API rate limit exceeded",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/performanceManagement/endpoints": {
      "get": {
        "description": "Endpoint details for an app",
        "summary": "endpoints",
        "tags": [
          "performanceManagement"
        ],
        "operationId": "endpoints",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "app Id (Acceptable values are: \"519d53101386202089000007\", \"fcb024ae2c2b4b95883461637ca2241f00555300\")"
          },
          {
            "name": "sort",
            "in": "query",
            "required": true,
            "enum": [
              "latency",
              "data",
              "dataIn",
              "dataOut",
              "volume",
              "errors"
            ],
            "type": "string",
            "description": "metric to be returned, default 'latency'"
          },
          {
            "name": "duration",
            "in": "query",
            "required": true,
            "enum": [
              "15",
              "60",
              "240",
              "480",
              "720",
              "1440",
              "2880"
            ],
            "type": "string",
            "description": "duration in minutes"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "number of endpoints to return, default 10"
          },
          {
            "name": "appVersionFilter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "only show data for the specified app version. Version strings are treated as opaque specifiers by Crittercism; supplying a string here will search the list of application versions seen by the Crittercism platform, and return a response if any matches are found."
          },
          {
            "name": "countryFilter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "only show data for the specified country, e.g. MX for Mexico"
          },
          {
            "name": "osFilter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "only show data for the specified OS"
          },
          {
            "name": "deviceFilter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "only show data for the specified device"
          },
          {
            "name": "carrierFilter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "only show data for the specified carrier"
          },
          {
            "name": "serviceFilter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "only show data for the specified cloud service, e.g. Facebook"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/EndpointResponse"
            },
            "examples": {}
          },
          "400": {
            "description": "Expected JSON input was malformed or unparseable",
            "schema": {}
          },
          "401": {
            "description": "Invalid oauth2 token",
            "schema": {}
          },
          "429": {
            "description": "API rate limit exceeded",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/performanceManagement/errordetail": {
      "get": {
        "description": "Error details",
        "summary": "error details",
        "tags": [
          "performanceManagement"
        ],
        "operationId": "error details",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "app Id (Acceptable values are: \"519d53101386202089000007\", \"fcb024ae2c2b4b95883461637ca2241f00555300\")"
          },
          {
            "name": "sort",
            "in": "query",
            "required": true,
            "enum": [
              "latency",
              "data",
              "dataIn",
              "dataOut",
              "volume",
              "errors"
            ],
            "type": "string",
            "description": "metric to be returned, default 'latency'"
          },
          {
            "name": "duration",
            "in": "query",
            "required": true,
            "enum": [
              "15",
              "60",
              "240",
              "480",
              "720",
              "1440",
              "2880"
            ],
            "type": "string",
            "description": "duration in minutes"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "number of endpoints to return, default 10"
          },
          {
            "name": "appVersionFilter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "only show data for the specified app version. Version strings are treated as opaque specifiers by Crittercism; supplying a string here will search the list of application versions seen by the Crittercism platform, and return a response if any matches are found."
          },
          {
            "name": "countryFilter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "only show data for the specified country, e.g. MX for Mexico"
          },
          {
            "name": "osFilter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "only show data for the specified OS"
          },
          {
            "name": "deviceFilter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "only show data for the specified device"
          },
          {
            "name": "carrierFilter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "only show data for the specified carrier"
          },
          {
            "name": "serviceFilter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "only show data for the specified cloud service, e.g. Facebook"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorDetailResponse"
            },
            "examples": {}
          },
          "400": {
            "description": "Expected JSON input was malformed or unparseable",
            "schema": {}
          },
          "401": {
            "description": "Invalid oauth2 token",
            "schema": {}
          },
          "429": {
            "description": "API rate limit exceeded",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/performanceManagement/geo": {
      "get": {
        "description": "Geographical data",
        "summary": "geo",
        "tags": [
          "performanceManagement"
        ],
        "operationId": "geo",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "app Id (Acceptable values are: \"519d53101386202089000007\", \"fcb024ae2c2b4b95883461637ca2241f00555300\")"
          },
          {
            "name": "graph",
            "in": "query",
            "required": true,
            "enum": [
              "latency",
              "data",
              "dataIn",
              "dataOut",
              "volume",
              "errors"
            ],
            "type": "string",
            "description": "metric to be returned, default 'latency'"
          },
          {
            "name": "duration",
            "in": "query",
            "required": true,
            "enum": [
              "15",
              "60",
              "240",
              "480",
              "720",
              "1440",
              "2880"
            ],
            "type": "string",
            "description": "duration in minutes"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "number of endpoints to return, default 10"
          },
          {
            "name": "appVersionFilter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "only show data for the specified app version. Version strings are treated as opaque specifiers by Crittercism; supplying a string here will search the list of application versions seen by the Crittercism platform, and return a response if any matches are found."
          },
          {
            "name": "countryFilter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "only show data for the specified country, e.g. MX for Mexico"
          },
          {
            "name": "stateFilter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "only show data for the specified state, e.g. 'USA-3521' for California"
          },
          {
            "name": "serviceFilter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "only show data for the specified cloud service, e.g. Facebook"
          },
          {
            "name": "domainFilter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "only show data for the specified domain"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/GeoResponse"
            },
            "examples": {}
          },
          "400": {
            "description": "Expected JSON input was malformed or unparseable",
            "schema": {}
          },
          "401": {
            "description": "Invalid oauth2 token",
            "schema": {}
          },
          "429": {
            "description": "API rate limit exceeded",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/performanceManagement/graph": {
      "get": {
        "description": "Data for one graph",
        "summary": "graph",
        "tags": [
          "performanceManagement"
        ],
        "operationId": "graph1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "app Id (Acceptable values are: \"519d53101386202089000007\", \"fcb024ae2c2b4b95883461637ca2241f00555300\")"
          },
          {
            "name": "graph",
            "in": "query",
            "required": true,
            "enum": [
              "latency",
              "dataIn",
              "dataOut",
              "volume",
              "errors"
            ],
            "type": "string",
            "description": "metric to be returned, default 'latency'"
          },
          {
            "name": "duration",
            "in": "query",
            "required": true,
            "enum": [
              "15",
              "60",
              "240",
              "480",
              "720",
              "1440",
              "2880"
            ],
            "type": "string",
            "description": "duration in minutes"
          },
          {
            "name": "appVersionFilter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "only show data for the specified app version. Version strings are treated as opaque specifiers by Crittercism; supplying a string here will search the list of application versions seen by the Crittercism platform, and return a response if any matches are found."
          },
          {
            "name": "serviceFilter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "only show data for the specified cloud service, e.g. Facebook"
          },
          {
            "name": "domainFilter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "only show data for the specified domain"
          },
          {
            "name": "endpointFilter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "only show data for the specified endpoint"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/GraphResponse"
            },
            "examples": {}
          },
          "400": {
            "description": "Expected JSON input was malformed or unparseable",
            "schema": {}
          },
          "401": {
            "description": "Invalid oauth2 token",
            "schema": {}
          },
          "429": {
            "description": "API rate limit exceeded",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/performanceManagement/graphdetail": {
      "get": {
        "description": "Graph with subseries",
        "summary": "graph details",
        "tags": [
          "performanceManagement"
        ],
        "operationId": "graph details",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "app Id (Acceptable values are: \"519d53101386202089000007\", \"fcb024ae2c2b4b95883461637ca2241f00555300\")"
          },
          {
            "name": "graph",
            "in": "query",
            "required": true,
            "enum": [
              "latency",
              "dataIn",
              "dataOut",
              "volume",
              "errors"
            ],
            "type": "string",
            "description": "metric to be returned, default 'latency'"
          },
          {
            "name": "duration",
            "in": "query",
            "required": true,
            "enum": [
              "15",
              "60",
              "240",
              "480",
              "720",
              "1440",
              "2880"
            ],
            "type": "string",
            "description": "duration in minutes"
          },
          {
            "name": "appVersionFilter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "only show data for the specified app version. Version strings are treated as opaque specifiers by Crittercism; supplying a string here will search the list of application versions seen by the Crittercism platform, and return a response if any matches are found."
          },
          {
            "name": "serviceFilter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "only show data for the specified service"
          },
          {
            "name": "domainFilter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "only show data for the specified domain"
          },
          {
            "name": "endpointFilter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "only show data for the specified endpoint"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/GraphDetailResponse"
            },
            "examples": {}
          },
          "400": {
            "description": "Expected JSON input was malformed or unparseable",
            "schema": {}
          },
          "401": {
            "description": "Invalid oauth2 token",
            "schema": {}
          },
          "429": {
            "description": "API rate limit exceeded",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/performanceManagement/locations": {
      "get": {
        "description": "Data grouped by location",
        "summary": "locations",
        "tags": [
          "performanceManagement"
        ],
        "operationId": "locations",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "app Id (Acceptable values are: \"519d53101386202089000007\", \"fcb024ae2c2b4b95883461637ca2241f00555300\")"
          },
          {
            "name": "sort",
            "in": "query",
            "required": true,
            "enum": [
              "latency",
              "dataIn",
              "dataOut",
              "volume",
              "errors"
            ],
            "type": "string",
            "description": "metric to be returned, default 'latency'"
          },
          {
            "name": "duration",
            "in": "query",
            "required": true,
            "enum": [
              "15",
              "60",
              "240",
              "480",
              "720",
              "1440",
              "2880"
            ],
            "type": "string",
            "description": "duration in minutes"
          },
          {
            "name": "appVersionFilter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "only show data for the specified app version. Version strings are treated as opaque specifiers by Crittercism; supplying a string here will search the list of application versions seen by the Crittercism platform, and return a response if any matches are found."
          },
          {
            "name": "countryFilter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "only show data for the specified country, e.g. MX for Mexico, e.g. MX for Mexico"
          },
          {
            "name": "stateFilter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "only show data for the specified state, e.g. 'USA-3521' for California"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/LocationsResponse"
            },
            "examples": {}
          },
          "400": {
            "description": "Expected JSON input was malformed or unparseable",
            "schema": {}
          },
          "401": {
            "description": "Invalid oauth2 token",
            "schema": {}
          },
          "429": {
            "description": "API rate limit exceeded",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/performanceManagement/pie": {
      "get": {
        "description": "Retrieves absolute populations for certain slices of data",
        "summary": "pie",
        "tags": [
          "performanceManagement"
        ],
        "operationId": "pie1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "app Id (Acceptable values are: \"519d53101386202089000007\", \"fcb024ae2c2b4b95883461637ca2241f00555300\")"
          },
          {
            "name": "graph",
            "in": "query",
            "required": true,
            "enum": [
              "latency",
              "dataIn",
              "dataOut",
              "volume",
              "errors"
            ],
            "type": "string",
            "description": "metric to be returned, default 'latency'"
          },
          {
            "name": "duration",
            "in": "query",
            "required": true,
            "enum": [
              "15",
              "60",
              "240",
              "480",
              "720",
              "1440",
              "2880"
            ],
            "type": "string",
            "description": "duration in minutes"
          },
          {
            "name": "groupBy",
            "in": "query",
            "required": false,
            "enum": [
              "appId",
              "appVersion",
              "os",
              "carrier",
              "device",
              "service"
            ],
            "type": "string",
            "description": "used to group the data"
          },
          {
            "name": "appVersionFilter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "only show data for the specified app version. Version strings are treated as opaque specifiers by Crittercism; supplying a string here will search the list of application versions seen by the Crittercism platform, and return a response if any matches are found."
          },
          {
            "name": "osFilter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "only show data for the specified OS, e.g. iOS 5"
          },
          {
            "name": "deviceFilter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "only show data for the specified device"
          },
          {
            "name": "carrierFilter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "only show data for the specified carrier"
          },
          {
            "name": "serviceFilter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "only show data for the specified cloud service, e.g. Facebook"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PieResponse"
            },
            "examples": {}
          },
          "400": {
            "description": "Required parameter was missing",
            "schema": {}
          },
          "403": {
            "description": "Invalid oauth token",
            "schema": {}
          },
          "429": {
            "description": "API rate limit exceeded",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/performanceManagement/services": {
      "get": {
        "description": "List services used by an app",
        "summary": "services",
        "tags": [
          "performanceManagement"
        ],
        "operationId": "services",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "app Id (Acceptable values are: \"519d53101386202089000007\", \"fcb024ae2c2b4b95883461637ca2241f00555300\")"
          },
          {
            "name": "sort",
            "in": "query",
            "required": true,
            "enum": [
              "latency",
              "dataIn",
              "dataOut",
              "volume",
              "errors"
            ],
            "type": "string",
            "description": "metric to be returned, default 'latency'"
          },
          {
            "name": "duration",
            "in": "query",
            "required": true,
            "enum": [
              "15",
              "60",
              "240",
              "480",
              "720",
              "1440",
              "2880"
            ],
            "type": "string",
            "description": "duration in minutes"
          },
          {
            "name": "appVersionFilter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "only show data for the specified app version. Version strings are treated as opaque specifiers by Crittercism; supplying a string here will search the list of application versions seen by the Crittercism platform, and return a response if any matches are found."
          },
          {
            "name": "serviceFilter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "only show data for the specified service"
          },
          {
            "name": "domainFilter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "only show data for the specified domain"
          },
          {
            "name": "endpointFilter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "only show data for the specified endpoint"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ServicesResponse"
            },
            "examples": {}
          },
          "400": {
            "description": "Expected JSON input was malformed or unparseable",
            "schema": {}
          },
          "401": {
            "description": "Invalid oauth2 token",
            "schema": {}
          },
          "429": {
            "description": "API rate limit exceeded",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/performanceManagement/trends": {
      "get": {
        "description": "Crash and app load time series",
        "summary": "trends",
        "tags": [
          "performanceManagement"
        ],
        "operationId": "trends",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "app Id (Acceptable values are: \"519d53101386202089000007\", \"fcb024ae2c2b4b95883461637ca2241f00555300\")"
          },
          {
            "name": "sort",
            "in": "query",
            "required": true,
            "enum": [
              "latency",
              "volume",
              "errors"
            ],
            "type": "string",
            "description": "metric to be returned, default 'latency'"
          },
          {
            "name": "duration",
            "in": "query",
            "required": true,
            "enum": [
              "15",
              "60",
              "240",
              "480",
              "720",
              "1440",
              "2880"
            ],
            "type": "string",
            "description": "duration in minutes"
          },
          {
            "name": "appVersionFilter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "only show data for the specified app version. Version strings are treated as opaque specifiers by Crittercism; supplying a string here will search the list of application versions seen by the Crittercism platform, and return a response if any matches are found."
          },
          {
            "name": "osFilter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "only show data for the specified OS"
          },
          {
            "name": "deviceFilter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "only show data for the specified device"
          },
          {
            "name": "carrierFilter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "only show data for the specified carrier"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/TrendsResponse"
            },
            "examples": {}
          },
          "400": {
            "description": "Expected JSON input was malformed or unparseable",
            "schema": {}
          },
          "401": {
            "description": "Invalid oauth2 token",
            "schema": {}
          },
          "429": {
            "description": "API rate limit exceeded",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/trends/{appId}": {
      "get": {
        "description": "Get app load counts",
        "summary": "getTrends",
        "tags": [
          "trends"
        ],
        "operationId": "getTrends",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "app Id"
          },
          {
            "name": "maxKeys",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Number of keys to return. If no value is provided, or if no starDateInclusive is provided, the default is 5"
          },
          {
            "name": "startDateInclusive",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Start date for query.  ISO 8601 timestamp: YYYY-MM-DDTHH:MM:SSZ"
          },
          {
            "name": "endDateInclusive",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "End date for query.  ISO 8601 timestamp: YYYY-MM-DDTHH:MM:SSZ"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/TrendsResponse"
            },
            "examples": {}
          },
          "400": {
            "description": "Request parameters were invalid/malformed",
            "schema": {}
          },
          "403": {
            "description": "Invalid oauth token",
            "schema": {}
          },
          "429": {
            "description": "API rate limit exceeded",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/trends/dau/{appId}": {
      "get": {
        "description": "Get unique daily users for an app",
        "summary": "getDauTrends",
        "tags": [
          "trends"
        ],
        "operationId": "getDauTrends",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "app Id"
          },
          {
            "name": "startDateInclusive",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Start date for query.  ISO 8601 timestamp: YYYY-MM-DDTHH:MM:SSZ"
          },
          {
            "name": "endDateInclusive",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "End date for query.  ISO 8601 timestamp: YYYY-MM-DDTHH:MM:SSZ"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/TrendsDauResponse"
            },
            "examples": {}
          },
          "400": {
            "description": "Request parameters were invalid/malformed",
            "schema": {}
          },
          "403": {
            "description": "Invalid oauth token",
            "schema": {}
          },
          "429": {
            "description": "API rate limit exceeded",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/trends/mau/{appId}": {
      "get": {
        "description": "Get unique monthly users for an app",
        "summary": "getDauTrends1",
        "tags": [
          "trends"
        ],
        "operationId": "getDauTrends1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "app Id"
          },
          {
            "name": "startDateInclusive",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Start date for query.  ISO 8601 timestamp: YYYY-MM-DDTHH:MM:SSZ"
          },
          {
            "name": "endDateInclusive",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "End date for query.  ISO 8601 timestamp: YYYY-MM-DDTHH:MM:SSZ"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/TrendsMauResponse"
            },
            "examples": {}
          },
          "400": {
            "description": "Request parameters were invalid/malformed",
            "schema": {}
          },
          "403": {
            "description": "Invalid oauth token",
            "schema": {}
          },
          "429": {
            "description": "API rate limit exceeded",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/transactions/{appId}": {
      "get": {
        "description": "Endpoint discovery endpoint",
        "summary": "transactionsDiscovery",
        "tags": [
          "transactions"
        ],
        "operationId": "transactionsDiscovery",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "app Id (Acceptable values are: \"519d53101386202089000007\")"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/TransactionsDiscoveryResponse"
            },
            "examples": {}
          },
          "400": {
            "description": "Request parameters were invalid/malformed",
            "schema": {}
          },
          "401": {
            "description": "Invalid oauth token",
            "schema": {}
          },
          "429": {
            "description": "API rate limit exceeded",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/transactions/{appId}/summary/{period}": {
      "get": {
        "description": "Returns a summary of all transactions for a given period",
        "summary": "transactionsSummary",
        "tags": [
          "transactions"
        ],
        "operationId": "transactionsSummary",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "app Id (Acceptable values are: \"519d53101386202089000007\")"
          },
          {
            "name": "period",
            "in": "path",
            "required": true,
            "enum": [
              "PT4H",
              "P1D",
              "P7D"
            ],
            "type": "string",
            "description": "time period (if not provided, defaults to P7D)"
          },
          {
            "name": "appVersion",
            "in": "query",
            "required": false,
            "default": "1.0.1",
            "type": "string",
            "description": "specific version of the app (Acceptable values are: \"1.0.1\")"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
[...]
