{"swagger":"2.0","info":{"description":"VMware Cloud SaaS Platform public APIs","version":"1.0.0","title":"Common SaaS Platform APIs"},
"basePath":"/csp/gateway",
"host":"console.cloud.vmware.com",
"tags":[{"name":"Email Service","description":"Email capabilities"},{"name":"User Log-in","description":"Log-in Controller"},{"name":"Configuration facade","description":"Configuration facade"},{"name":"Terms of service","description":""},{"name":"Service Users","description":"Service Users Controller"},{"name":"OrganizationsController","description":"Organizations Controller"},{"name":"Service Definition","description":"Service Definition Operations"},{"name":"Provisioned Services","description":"Operations on Provisioned Services"},{"name":"Monitoring","description":"Monitor Service"},{"name":"Service Lifecycle","description":"Service Lifecycle Operations"},{"name":"LoggedInUserController","description":"Logged In User Controller"},{"name":"RoleType","description":"Role Types controller"},{"name":"Module Metric Query Controller","description":""},{"name":"Upgrade","description":"CSP Upgrade"},{"name":"Email Templates","description":"Email Templates Service"},{"name":"Invitation Codes","description":"Invitation Codes Operations"},{"name":"Registered Services","description":"Operations on Registered Services"},{"name":"System Metric Query Controller","description":""},{"name":"Telemetry","description":"Telemetry Controller"},{"name":"BusinessPlanController","description":"Business Plan Controller"},{"name":"Service Discovery","description":"Service Discovery Operations"},{"name":"Authentication","description":"Authentication Operations"},{"name":"Users","description":"Users Operations"},{"name":"Service invitation","description":"Invitation to Service Actions"}],"produces":["application/json"],"security":[{"apiKey":[]}],"paths":{"/em/api/email":{"post":{"tags":["Email Service"],"summary":"send email to a user","operationId":"sendEmailToUser","parameters":[{"in":"body","name":"body","required":true,"schema":{"$ref":"#/definitions/EmailRequest"}}],"responses":{"400":{"description":"Invalid request body"},"500":{"description":"Internal error"},"200":{"description":"Email sent"}}}},"/am/api/login/oauth":{"post":{"tags":["User Log-in"],"summary":"Exchange client credentials to access token","description":"The end-point is for exchanging client credentials to access token.\n Include the client_credentials grant type parameter using the application/x-www-form-urlencoded format in the HTTP request body","operationId":"getTokenForClientCredentialsGrantType","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"grant_type","in":"formData","description":"User's auth grant type","required":true,"type":"string","enum":["client_credentials"]},{"name":"authorization","in":"header","description":"Basic auth client credentials","required":true,"type":"string","enum":["Basic Base64_Encode(client_id:client_secret)"]},{"name":"content-type","in":"header","required":true,"type":"string","enum":["application/x-www-form-urlencoded"]}],"responses":{"400":{"description":"Invalid request"},"200":{"description":"Access token retrieved successfully"}}}},"/am/api/login":{"post":{"tags":["User Log-in"],"summary":"User log-in","operationId":"logInUser","parameters":[{"in":"body","name":"body","required":true,"schema":{"$ref":"#/definitions/Credentials"}}],"responses":{"401":{"description":"User failed authentication"},"405":{"description":"Not supported over GAZ"},"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Token"}}}}},"/configuration/api":{"get":{"tags":["Configuration facade"],"summary":"Get configuration items","operationId":"getConfigurationItems","parameters":[],"responses":{"500":{"description":"Internal error"},"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ConfigurationItemsResponse"}}}},"post":{"tags":["Configuration facade"],"summary":"Create configuration item","operationId":"createConfigurationItem","parameters":[],"responses":{"400":{"description":"Invalid request"},"500":{"description":"Internal error"},"200":{"description":"successful operation","schema":{"$ref":"#/definitions/RefLinkDto"}},"409":{"description":"Configuration item by that name exists"}}}},"/am/api/tos/signatures":{"get":{"tags":["Terms of service"],"summary":"Get Tos Signatures","operationId":"getTosSignatures","parameters":[{"name":"orgLink","in":"query","description":"Org Link","required":false,"type":"string"},{"name":"email","in":"query","description":"Email address","required":false,"type":"string"},{"name":"displayName","in":"query","description":"Signee display name","required":false,"type":"string"}],"responses":{"404":{"description":"No Tos signatures found"},"200":{"description":"successful operation","schema":{"$ref":"#/definitions/TosSignatureResponse"}}}},"post":{"tags":["Terms of service"],"summary":"Sign Terms of Service","operationId":"signTos","parameters":[{"in":"body","name":"body","required":true,"schema":{"$ref":"#/definitions/TosSignatureRequest"}}],"responses":{"400":{"description":"Invalid request body"},"200":{"description":"successful operation","schema":{"$ref":"#/definitions/RefLinkDto"}}}}},"/am/api/tos/signatures/{signatureId}":{"get":{"tags":["Terms of service"],"summary":"Get Tos Signature","operationId":"getTosSignature","parameters":[{"name":"signatureId","in":"path","required":true,"type":"string"}],"responses":{"404":{"description":"Tos signature not found"},"200":{"description":"successful operation","schema":{"$ref":"#/definitions/TosSignatureResponse"}}}}},"/am/api/services/clients":{"post":{"tags":["Service Users"],"summary":"Create Service Oauth Client","operationId":"createServiceOauthClient","parameters":[],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/AuthClient"}}}},"patch":{"tags":["Service Users"],"summary":"Patch Oauth Clients","operationId":"patchOauthClientsAllowedScopes","parameters":[],"responses":{"default":{"description":"successful operation"}}}},"/am/api/services/clients/{clientId}":{"get":{"tags":["Service Users"],"summary":"Get Oauth Client","operationId":"getOauthClient","parameters":[{"name":"clientId","in":"path","required":true,"type":"string"}],"responses":{"default":{"description":"successful operation"}}},"delete":{"tags":["Service Users"],"summary":"Delete Oauth Client","operationId":"deleteOauthClient","parameters":[{"name":"clientId","in":"path","required":true,"type":"string"}],"responses":{"default":{"description":"successful operation"}}}},"/am/api/orgs":{"get":{"tags":["OrganizationsController"],"summary":"Get Orgs","operationId":"getOrgs","parameters":[{"name":"noTos","in":"query","description":"List orgs that have not signed TOS","required":false,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/RefLinksDto"}}}},"post":{"tags":["OrganizationsController"],"summary":"Create Org","operationId":"createOrg","parameters":[{"in":"body","name":"body","required":true,"schema":{"$ref":"#/definitions/OrganizationCreationRequest"}}],"responses":{"400":{"description":"Invalid request body"},"200":{"description":"successful operation","schema":{"$ref":"#/definitions/RefLinkDto"}}}}},"/am/api/orgs/{orgId}":{"get":{"tags":["OrganizationsController"],"summary":"Get Org","operationId":"getOrg","parameters":[{"name":"orgId","in":"path","required":true,"type":"string"}],"responses":{"404":{"description":"Org not found"},"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Organization"}}}},"delete":{"tags":["OrganizationsController"],"summary":"Org Deletion","operationId":"deleteOrg","parameters":[{"name":"orgId","in":"path","required":true,"type":"string"}],"responses":{"400":{"description":"Invalid request"},"404":{"description":"Org not found"}}},"patch":{"tags":["OrganizationsController"],"summary":"Org Update","operationId":"patchOrg","parameters":[{"name":"orgId","in":"path","required":true,"type":"string"},{"in":"body","name":"body","required":true,"schema":{"$ref":"#/definitions/Organization"}}],"responses":{"400":{"description":"Invalid request body"},"404":{"description":"Org not found"},"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Organization"}}}}},"/am/api/orgs/{orgId}/users":{"get":{"tags":["OrganizationsController"],"summary":"Get Org's users","operationId":"getOrgUsers","parameters":[{"name":"orgId","in":"path","required":true,"type":"string"}],"responses":{"404":{"description":"Org not found"},"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Users"}}}},"patch":{"tags":["OrganizationsController"],"summary":"Remove Users From Org","operationId":"removeUserFromOrg","parameters":[{"name":"orgId","in":"path","required":true,"type":"string"},{"in":"body","name":"body","required":true,"schema":{"$ref":"#/definitions/RemoveUserFromOrgRequest"}}],"responses":{"400":{"description":"Invalid request"},"404":{"description":"Org not found"},"200":{"description":"successful operation","schema":{"$ref":"#/definitions/UpdateOrgUsernamesResponse"}}}}},"/am/api/orgs/{orgId}/roles":{"get":{"tags":["OrganizationsController"],"summary":"Get Org's roles","operationId":"getOrgRoles","parameters":[{"name":"orgId","in":"path","required":true,"type":"string"},{"name":"name","in":"query","description":"Role names (or comma separated list of role names)","required":false,"type":"string"}],"responses":{"404":{"description":"Org not found"},"200":{"description":"successful operation","schema":{"$ref":"#/definitions/RefLinksDto"}}}}},"/am/api/orgs/{orgId}/messages":{"post":{"tags":["OrganizationsController"],"summary":"Notify Org Users","operationId":"notifyOrgUsers","parameters":[{"name":"orgId","in":"path","required":true,"type":"string"},{"in":"body","name":"body","required":true,"schema":{"$ref":"#/definitions/EmailNotificationRequest"}}],"responses":{"default":{"description":"successful operation"}}}},"/am/api/orgs/{orgId}/invitations":{"get":{"tags":["OrganizationsController"],"summary":"Get invitations for org","operationId":"getOrgInvitations","parameters":[{"name":"orgId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/User Invitation Response"}}}}},"post":{"tags":["OrganizationsController"],"summary":"Invite user to organization","operationId":"inviteUsers","parameters":[{"name":"orgId","in":"path","required":true,"type":"string"},{"in":"body","name":"body","required":true,"schema":{"$ref":"#/definitions/Users Invitation Request"}}],"responses":{"400":{"description":"Invalid request body"}}}},"/am/api/orgs/invitations/{username}":{"get":{"tags":["OrganizationsController"],"summary":"Get all user invitations","operationId":"getAllInvitationsForUser","parameters":[{"name":"username","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/User Invitation Response"}}}}}},"/am/api/orgs/{orgId}/invitations/{user-invitation-id}":{"get":{"tags":["OrganizationsController"],"summary":"Get user invitation by id","operationId":"getUserInvitation","parameters":[{"name":"orgId","in":"path","required":true,"type":"string"},{"name":"user-invitation-id","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/User Invitation Response"}}}},"delete":{"tags":["OrganizationsController"],"summary":"revoke user invitation","operationId":"revokeUserInvitation","parameters":[{"name":"orgId","in":"path","required":true,"type":"string"},{"name":"user-invitation-id","in":"path","required":true,"type":"string"}],"responses":{"default":{"description":"successful operation"}}}},"/slc/api/definitions/external/{id}":{"get":{"tags":["Service Definition"],"summary":"Get external Service Definition","operationId":"getExternalServiceDefinition","parameters":[{"name":"id","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ExternalServiceDefinitionDTO"}}}},"patch":{"tags":["Service Definition"],"summary":"Update external Service Definition","operationId":"replaceExternalServiceDefinitionFields","parameters":[{"name":"id","in":"path","required":true,"type":"string"},{"in":"body","name":"body","required":true,"schema":{"$ref":"#/definitions/ServiceDefinitionUpdateRequest"}}],"responses":{"400":{"description":"Invalid request"},"500":{"description":"Internal error"},"200":{"description":"successful operation","schema":{"$ref":"#/definitions/RefLinkDto"}}}}},"/slc/api/definitions/internal/{id}":{"get":{"tags":["Service Definition"],"summary":"Get internal Service Definition","operationId":"getInternalServiceDefinition","parameters":[{"name":"id","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/InternalServiceDefinitionState"}}}},"patch":{"tags":["Service Definition"],"summary":"Update internal Service Definition","operationId":"replaceInternalServiceDefinitionFields","parameters":[{"name":"id","in":"path","required":true,"type":"string"},{"in":"body","name":"body","required":true,"schema":{"$ref":"#/definitions/ServiceDefinitionUpdateRequest"}}],"responses":{"400":{"description":"Invalid request"},"500":{"description":"Internal error"},"200":{"description":"successful operation","schema":{"$ref":"#/definitions/RefLinkDto"}}}}},"/slc/api/definitions":{"get":{"tags":["Service Definition"],"summary":"List Service Definition","operationId":"getAllServiceDefinitions","parameters":[{"name":"expand","in":"query","description":"Expand details","required":false,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/AllServiceDefinitionsResponse"}}}},"post":{"tags":["Service Definition"],"summary":"Create Service Definition","operationId":"createServiceDefinitionFromYaml","consumes":["text/plain"],"parameters":[{"in":"body","name":"YAML","description":"A YAML (as plain text) Representing the Service Definition","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/RefLinkDto"}}}}},"/slc/api/definitions/internal/{id}/service-roles":{"get":{"tags":["Service Definition"],"summary":"Get Service Roles Links","operationId":"getInternalServiceRoles","parameters":[{"name":"id","in":"path","required":true,"type":"string"},{"name":"expand","in":"query","description":"Expanded service role dto","required":false,"type":"string"}],"responses":{"404":{"description":"Service Role not found"},"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ServiceRolesResponse"}}}},"post":{"tags":["Service Definition"],"summary":"Create Service Role","operationId":"createInternalServiceRole","parameters":[{"name":"id","in":"path","required":true,"type":"string"},{"in":"body","name":"body","description":"Service Role object to be created","required":true,"schema":{"$ref":"#/definitions/ServiceRole"}}],"responses":{"400":{"description":"Invalid request body"},"200":{"description":"Service Role created"},"409":{"description":"Service Role already exists"}}}},"/slc/api/definitions/internal/{id}/service-roles/{roleId}":{"get":{"tags":["Service Definition"],"summary":"Get Service Role","operationId":"getInternalServiceRole","parameters":[{"name":"id","in":"path","required":true,"type":"string"},{"name":"roleId","in":"path","required":true,"type":"string"}],"responses":{"500":{"description":"Service Role not found"},"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ServiceRoleDto"}}}},"delete":{"tags":["Service Definition"],"summary":"Delete Service Role","operationId":"removeInternalServiceRole","parameters":[{"name":"id","in":"path","required":true,"type":"string"},{"name":"roleId","in":"path","required":true,"type":"string"}],"responses":{"400":{"description":"Service Role not found"},"200":{"description":"successful operation","schema":{"$ref":"#/definitions/RefLinkDto"}}}},"patch":{"tags":["Service Definition"],"summary":"Update Service Roles fields","operationId":"updateInternalServiceRoles","parameters":[{"name":"id","in":"path","required":true,"type":"string"},{"name":"roleId","in":"path","required":true,"type":"string"},{"in":"body","name":"body","required":true,"schema":{"$ref":"#/definitions/ServiceRoleUpdateDto"}}],"responses":{"404":{"description":"Service Role not found"},"200":{"description":"successful operation","schema":{"$ref":"#/definitions/RefLinkDto"}}}}},"/slc/api/definitions/external/{id}/service-roles/{roleId}":{"get":{"tags":["Service Definition"],"summary":"Get Service Role","operationId":"getExternalServiceRole","parameters":[{"name":"id","in":"path","required":true,"type":"string"},{"name":"roleId","in":"path","required":true,"type":"string"}],"responses":{"500":{"description":"Service Role not found"},"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ServiceRoleDto"}}}},"delete":{"tags":["Service Definition"],"summary":"Delete Service Role","operationId":"removeExternalServiceRole","parameters":[{"name":"id","in":"path","required":true,"type":"string"},{"name":"roleId","in":"path","required":true,"type":"string"}],"responses":{"400":{"description":"Service Role not found"},"200":{"description":"successful operation","schema":{"$ref":"#/definitions/RefLinkDto"}}}},"patch":{"tags":["Service Definition"],"summary":"Update Service Roles fields","operationId":"updateExternalServiceRoles","parameters":[{"name":"id","in":"path","required":true,"type":"string"},{"name":"roleId","in":"path","required":true,"type":"string"},{"in":"body","name":"body","required":true,"schema":{"$ref":"#/definitions/ServiceRoleUpdateDto"}}],"responses":{"404":{"description":"Service Role not found"},"200":{"description":"successful operation","schema":{"$ref":"#/definitions/RefLinkDto"}}}}},"/slc/api/definitions/external/{id}/service-roles":{"get":{"tags":["Service Definition"],"summary":"Get Service Roles Links","operationId":"getExternalServiceRoles","parameters":[{"name":"id","in":"path","required":true,"type":"string"},{"name":"expand","in":"query","description":"Expanded service role dto","required":false,"type":"string"}],"responses":{"404":{"description":"Service Role not found"},"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ServiceRolesResponse"}}}},"post":{"tags":["Service Definition"],"summary":"Create Service Role","operationId":"createExternalServiceRole","parameters":[{"name":"id","in":"path","required":true,"type":"string"},{"in":"body","name":"body","description":"Service Role object to be created","required":true,"schema":{"$ref":"#/definitions/ServiceRole"}}],"responses":{"400":{"description":"Invalid request body"},"200":{"description":"Service Role created"},"409":{"description":"Service Role already exists"}}}},"/slc/api/definitions/service-role-removal-tasks/{taskId}":{"get":{"tags":["Service Definition"],"summary":"Get Service Role removal task","operationId":"getServiceRoleRemovalTaskState","parameters":[{"name":"taskId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ServiceRoleDeletionTaskState"}}}}},"/slc/api/definitions/internal/{id}/deployment-types":{"get":{"tags":["Service Definition"],"summary":"Get Service Deployment Types","operationId":"getDeploymentDefinitionTypes","parameters":[{"name":"id","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/DeploymentTypesResponse"}}}}},"/slc/api/definitions/deployment-types/{id}":{"get":{"tags":["Service Definition"],"summary":"Get Deployment Type","operationId":"getDeploymentDefinitionType","parameters":[{"name":"id","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/DeploymentTypeDefinitionState"}}}}},"/slc/api/definitions/deployment-types/{id}/elements":{"get":{"tags":["Service Definition"],"summary":"Get Deployment Type Elements","operationId":"getDeploymentTypeElementDefinitions","parameters":[{"name":"id","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/DeploymentTypeElementsResponse"}}}}},"/slc/api/definitions/elements/docker/{id}":{"get":{"tags":["Service Definition"],"summary":"Get Docker Element","operationId":"getDockerElementDefinition","parameters":[{"name":"id","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/DockerElementDefinitionState"}}}}},"/slc/api/definitions/internal/{id}/export":{"get":{"tags":["Service Definition"],"summary":"Export internal service definition","operationId":"exportInternalServiceDefinition","parameters":[{"name":"id","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"string"}}}}},"/slc/api/definitions/external/{id}/export":{"get":{"tags":["Service Definition"],"summary":"Export external service definition","operationId":"exportExternalServiceDefinition","parameters":[{"name":"id","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"string"}}}}},"/slc/api/definitions/external/{id}/instances":{"get":{"tags":["Service Definition"],"summary":"Get all external service definition instances","operationId":"getExternalServiceDefinitionInstances","parameters":[{"name":"id","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/RefLinksDto"}}}}},"/slc/api/definitions/internal/{id}/instances":{"get":{"tags":["Service Definition"],"summary":"Get all internal service definition instances","operationId":"getInternalServiceDefinitionInstances","parameters":[{"name":"id","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/RefLinksDto"}}}}},"/slc/api/definitions/external/{id}/orgs":{"get":{"tags":["Service Definition"],"summary":"Get all organizations for a service definition","operationId":"getServiceDefinitionOrganizations","parameters":[{"name":"id","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"string"}}}}},"/slc/api/services":{"get":{"tags":["Provisioned Services"],"summary":"List Services","operationId":"getServices","parameters":[{"name":"serviceDefinitionLink","in":"query","description":"serviceDefinitionLink","required":false,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/RefLinksDto"}}}}},"/slc/api/services/{serviceId}":{"get":{"tags":["Provisioned Services"],"summary":"Get Service","operationId":"getProvisionedService","parameters":[{"name":"serviceId","in":"path","required":true,"type":"string"}],"responses":{"404":{"description":"Unknown Service"},"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ServiceRecordResponse"}}}}},"/monitor/api":{"get":{"tags":["Monitoring"],"summary":"Get metric data","operationId":"handleGet","parameters":[{"name":"query","in":"query","required":true,"type":"string"},{"name":"serviceDefinitionLink","in":"query","required":false,"type":"string"}],"responses":{"400":{"description":"Invalid request"},"200":{"description":"successful operation","schema":{"$ref":"#/definitions/MetricResponseDTO"}}}}},"/slc/api/lifecycle/remove":{"post":{"tags":["Service Lifecycle"],"summary":"Remove Service","operationId":"removeService","parameters":[{"in":"body","name":"body","required":true,"schema":{"$ref":"#/definitions/BaseRemoveServiceRequest"}}],"responses":{"400":{"description":"Invalid request body"},"404":{"description":"Unknown Service Record"},"200":{"description":"successful operation","schema":{"$ref":"#/definitions/RemoveServiceResponse"}}}}},"/slc/api/lifecycle/provision":{"post":{"tags":["Service Lifecycle"],"summary":"Provision Service","operationId":"provisionService","parameters":[{"in":"body","name":"body","required":true,"schema":{"$ref":"#/definitions/ProvisionServiceProvisionRequest"}}],"responses":{"400":{"description":"Invalid request body"},"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ProvisionServiceResponse"}},"202":{"description":"Provision request accepted"}}}},"/slc/api/lifecycle/provision/{taskId}":{"get":{"tags":["Service Lifecycle"],"summary":"Get Provision Task Status","operationId":"getProvisionServiceStatus","parameters":[{"name":"taskId","in":"path","required":true,"type":"string"}],"responses":{"404":{"description":"Unknown provision task"},"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ProvisionServiceTaskStatusResponse"}}}}},"/slc/api/lifecycle/register":{"post":{"tags":["Service Lifecycle"],"summary":"Register Service","operationId":"registerService","parameters":[{"in":"body","name":"body","required":true,"schema":{"$ref":"#/definitions/RegisterServiceProvisionRequest"}}],"responses":{"400":{"description":"Invalid request body"},"200":{"description":"successful operation","schema":{"$ref":"#/definitions/RegisteredServiceResponse"}}}}},"/slc/api/lifecycle/remove/{taskId}":{"get":{"tags":["Service Lifecycle"],"summary":"Get Remove Service Task Status","operationId":"getRemoveServiceStatus","parameters":[{"name":"taskId","in":"path","required":true,"type":"string"}],"responses":{"404":{"description":"Unknown remove service task"},"200":{"description":"successful operation","schema":{"$ref":"#/definitions/RemoveServiceTaskStatusResponse"}}}}},"/slc/api/lifecycle/scale":{"post":{"tags":["Service Lifecycle"],"summary":"Scale Service","operationId":"scaleService","parameters":[{"in":"body","name":"body","required":true,"schema":{"$ref":"#/definitions/BaseScaleServiceRequest"}}],"responses":{"400":{"description":"Invalid request body"},"404":{"description":"Unknown Service Record"},"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ScaleServiceResponse"}}}}},"/slc/api/lifecycle/scale/{taskId}":{"get":{"tags":["Service Lifecycle"],"summary":"Get Scale Task Status","operationId":"getScaleServiceStatus","parameters":[{"name":"taskId","in":"path","required":true,"type":"string"}],"responses":{"404":{"description":"Unknown scale service task"},"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ScaleServiceTaskStatusResponse"}}}}},"/slc/api/lifecycle/upgrade":{"post":{"tags":["Service Lifecycle"],"summary":"Upgrade Service","operationId":"upgradeService","parameters":[{"in":"body","name":"body","required":true,"schema":{"$ref":"#/definitions/UpgradeServiceRequest"}}],"responses":{"400":{"description":"Invalid request body"},"500":{"description":"Failed to initiate upgrade"},"200":{"description":"successful operation","schema":{"$ref":"#/definitions/UpgradeServiceResponse"}},"202":{"description":"Upgrade request accepted"}}}},"/slc/api/lifecycle/upgrade/{taskId}":{"get":{"tags":["Service Lifecycle"],"summary":"Get Upgrade Task Status","operationId":"getUpgradeServiceStatus","parameters":[{"name":"taskId","in":"path","required":true,"type":"string"}],"responses":{"404":{"description":"Unknown upgrade service task"},"500":{"description":"Unknown error while getting upgrade service task"},"200":{"description":"successful operation","schema":{"$ref":"#/definitions/UpgradeServiceTaskStatusResponse"}}}}},"/slc/api/lifecycle/rollback":{"post":{"tags":["Service Lifecycle"],"summary":"Rollback Service.","description":"A service rollback is a special case of service upgrade.","operationId":"rollbackService","parameters":[{"in":"body","name":"body","required":true,"schema":{"$ref":"#/definitions/RollbackServiceRequest"}}],"responses":{"400":{"description":"Invalid request body"},"500":{"description":"Failed to initiate rollback"},"200":{"description":"successful operation","schema":{"$ref":"#/definitions/UpgradeServiceResponse"}},"202":{"description":"Rollback request accepted"}}}},"/am/api/loggedin/user":{"get":{"tags":["LoggedInUserController"],"summary":"Get user by token","operationId":"getUser","parameters":[{"name":"expand","in":"query","description":"Expand details","required":false,"type":"string"}],"responses":{"401":{"description":"Invalid 'token' request parameter"},"404":{"description":"No user with given token exists"},"200":{"description":"successful operation","schema":{"$ref":"#/definitions/User"}}}},"patch":{"tags":["LoggedInUserController"],"summary":"Update user","operationId":"patchUser","parameters":[{"in":"body","name":"body","required":true,"schema":{"$ref":"#/definitions/User"}}],"responses":{"400":{"description":"Invalid request body"},"404":{"description":"User not found"},"200":{"description":"User updated"}}}},"/am/api/loggedin/user/orgs/{orgId}/roles":{"get":{"tags":["LoggedInUserController"],"summary":"Get logged in user roles within the specified organization","operationId":"getUserRolesOnOrg","parameters":[{"name":"orgId","in":"path","required":true,"type":"string"}],"responses":{"401":{"description":"Invalid 'token' request parameter"},"404":{"description":"Organization not found"},"200":{"description":"successful operation","schema":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/RoleDto"}}}}}},"/am/api/loggedin/user/orgs/{orgId}/service-roles":{"get":{"tags":["LoggedInUserController"],"summary":"Get logged in user service roles within the specified organization","operationId":"getUserServiceRolesOnOrg","parameters":[{"name":"orgId","in":"path","required":true,"type":"string"},{"name":"serviceDefinitionLink","in":"query","description":"Service Definition Link","required":true,"type":"string"}],"responses":{"401":{"description":"Invalid 'token' request parameter"},"404":{"description":"Organization not found"},"200":{"description":"successful operation","schema":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/UserServiceRolesResponse"}}}}}},"/am/api/loggedin/user/orgs":{"get":{"tags":["LoggedInUserController"],"summary":"Get logged in user's organizations","operationId":"getUserOrgs","parameters":[{"name":"expand","in":"query","description":"Expand details","required":false,"type":"string"}],"responses":{"401":{"description":"Invalid 'token' request parameter"},"404":{"description":"No user with given token exists"},"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Organizations"}}}}},"/am/api/loggedin/user/access-keys":{"post":{"tags":["LoggedInUserController"],"summary":"Generate access key for logged in user","operationId":"generateUserAccessKey","parameters":[],"responses":{"401":{"description":"Invalid 'token' request parameter"},"404":{"description":"No user with given token exists"},"200":{"description":"successful operation","schema":{"$ref":"#/definitions/AccessKey"}}}},"delete":{"tags":["LoggedInUserController"],"summary":"Delete access key for logged in user","operationId":"deleteUserAccessKey","parameters":[],"responses":{"401":{"description":"Invalid 'token' request parameter"},"404":{"description":"No user with given token exists"}}}},"/am/api/loggedin/user/password":{"patch":{"tags":["LoggedInUserController"],"summary":"Change user password","operationId":"changeUserPassword","parameters":[],"responses":{"400":{"description":"Incorrect current password"},"401":{"description":"Unauthenticated User"},"500":{"description":"Failed to change user's password"}}}},"/am/api/loggedin/user/default-org":{"get":{"tags":["LoggedInUserController"],"summary":"Get default organization","operationId":"getDefaultOrg","parameters":[],"responses":{"401":{"description":"Unauthenticated User"},"500":{"description":"Failed to get default organization"},"200":{"description":"successful operation","schema":{"$ref":"#/definitions/RefLinkDto"}}}},"post":{"tags":["LoggedInUserController"],"summary":"Set default organization","operationId":"setDefaultOrg","parameters":[],"responses":{"400":{"description":"Organization reference link is mandatory"},"401":{"description":"Unauthenticated User"},"500":{"description":"Failed to set default organization"},"200":{"description":"successful operation","schema":{"$ref":"#/definitions/RefLinkDto"}}}}},"/am/api/loggedin/user/orgs/{orgId}/info":{"get":{"tags":["LoggedInUserController"],"summary":"Get loggedin user info and roles by organization","operationId":"getUserInfo","parameters":[{"name":"orgId","in":"path","required":true,"type":"string"}],"responses":{"401":{"description":"Invalid 'token' request parameter"},"200":{"description":"successful operation","schema":{"$ref":"#/definitions/UserInfo"}}}}},"/am/api/role-types/expanded":{"get":{"tags":["RoleType"],"summary":"Get Roles Types","operationId":"getRoleTypes","parameters":[],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/RoleTypeDto"}}}}}},"/monitor/api/query/modules":{"get":{"tags":["Module Metric Query Controller"],"summary":"Get metric data","operationId":"handleGet","parameters":[{"name":"name","in":"query","description":"Modules name. Ex billing, accounts","required":false,"type":"string"},{"name":"time","in":"query","description":"Get metrics measured within the last time frame, in milliseconds","required":false,"type":"integer"}],"responses":{"400":{"description":"Invalid request"},"200":{"description":"successful operation","schema":{"$ref":"#/definitions/MetricResponseDTO"}}}}},"/upgrade":{"get":{"tags":["Upgrade"],"summary":"Get Upgrade Status","operationId":"handleGet","parameters":[],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/UpgradeStatusResponse"}}}}},"/upgrade/#start":{"post":{"tags":["Upgrade"],"summary":"Start Upgrade","operationId":"startMigration","parameters":[{"in":"body","name":"body","required":true,"schema":{"$ref":"#/definitions/StartUpgradeRequest"}}],"responses":{"200":{"description":"Started"}}}},"/upgrade/#abort":{"post":{"tags":["Upgrade"],"summary":"Abort Upgrade","operationId":"abortMigration","parameters":[{"in":"body","name":"body","required":true,"schema":{"$ref":"#/definitions/AbortUpgradeRequest"}}],"responses":{"200":{"description":"Aborted"}}}},"/em/api/templates":{"get":{"tags":["Email Templates"],"summary":"Get email templates","operationId":"getEmailTemplates","parameters":[{"name":"templateName","in":"query","description":"Email template name filter","required":false,"type":"string"},{"name":"expand","in":"query","description":"Expand details","required":false,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/EmailTemplates"}}}},"post":{"tags":["Email Templates"],"summary":"Create email template","operationId":"createEmailTemplate","parameters":[{"in":"body","name":"body","required":true,"schema":{"$ref":"#/definitions/EmailTemplate"}}],"responses":{"400":{"description":"Invalid request body"},"500":{"description":"Internal error"},"200":{"description":"Template created"}}}},"/em/api/templates/{templateId}":{"get":{"tags":["Email Templates"],"summary":"Get email template","operationId":"getEmailTemplate","parameters":[{"name":"templateId","in":"path","required":true,"type":"string"}],"responses":{"404":{"description":"Not found"},"500":{"description":"Internal error"},"200":{"description":"successful operation","schema":{"$ref":"#/definitions/EmailTemplate"}}}},"patch":{"tags":["Email Templates"],"summary":"Update email template","operationId":"updateEmailTemplate","parameters":[{"name":"templateId","in":"path","required":true,"type":"string"},{"in":"body","name":"body","required":true,"schema":{"$ref":"#/definitions/EmailTemplate"}}],"responses":{"400":{"description":"Invalid request body"},"500":{"description":"Internal error"},"200":{"description":"Template updated"}}}},"/billing/api/invitation-codes":{"get":{"tags":["Invitation Codes"],"summary":"Get Invitation Codes Details","operationId":"getInvitationCodesDetails","parameters":[{"name":"businessPlanLink","in":"query","description":"Business plan link","required":true,"type":"string"},{"name":"status","in":"query","description":"Invitation code status (or comma separated list of statuses)","required":false,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/InvitationCodeDetailsContainerResponse"}}}},"post":{"tags":["Invitation Codes"],"summary":"Generate Invitation Code","operationId":"generateInvitationCode","parameters":[{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/InvitationCodeCreationRequest"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/InvitationCodeDto"}}}}},"/billing/api/invitation-codes/{invitationCodeId}":{"get":{"tags":["Invitation Codes"],"summary":"Get Invitation Code details","operationId":"getInvitationCodeDetails","parameters":[{"name":"invitationCodeId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/InvitationCodeDetailsResponse"}}}},"patch":{"tags":["Invitation Codes"],"summary":"Update Invitation Code Status","operationId":"updateInvitationCode","parameters":[{"name":"invitationCodeId","in":"path","required":true,"type":"string"},{"in":"body","name":"body","required":true,"schema":{"$ref":"#/definitions/InvitationCodeUpdateRequest"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/RefLinkDto"}}}}},"/slc/api/registered-services":{"get":{"tags":["Registered Services"],"summary":"List Services","operationId":"getServices","parameters":[{"name":"serviceDefinitionLink","in":"query","description":"serviceDefinitionLink","required":false,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/RefLinksDto"}}}}},"/slc/api/registered-services/{serviceId}":{"get":{"tags":["Registered Services"],"summary":"Get Registered Service","operationId":"getRegisteredService","parameters":[{"name":"serviceId","in":"path","required":true,"type":"string"}],"responses":{"404":{"description":"Unknown Service"},"200":{"description":"successful operation","schema":{"$ref":"#/definitions/RegisteredServiceRecordResponse"}}}}},"/monitor/api/query/system":{"get":{"tags":["System Metric Query Controller"],"summary":"Get metric data","operationId":"handleGet","parameters":[{"name":"metric","in":"query","description":"Metric type, specific to one of the following [cpu, interface, df, memory]","required":true,"type":"string"},{"name":"unit","in":"query","description":"Metric unit, specific to metric type, such as [memory_bytes,percent,if_octets]","required":false,"type":"string"},{"name":"criteria","in":"query","description":"Metric criteria specific to the metric type, such as [used,free,buffered]","required":false,"type":"string"},{"name":"time","in":"query","description":"Get metrics measured within the last time frame, in milliseconds","required":false,"type":"integer"}],"responses":{"400":{"description":"Invalid request"},"200":{"description":"successful operation","schema":{"$ref":"#/definitions/MetricResponseDTO"}}}}},"/telemetry/api/samples":{"get":{"tags":["Telemetry"],"summary":"Get telemetry samples for a time range","operationId":"getTelemetrySamples","parameters":[{"name":"since","in":"query","description":"minimum time of results, in milliseconds since epoch, UTC","required":false,"type":"integer","format":"int64"},{"name":"until","in":"query","description":"maximum time of results, in milliseconds since epoch, UTC","required":false,"type":"integer","format":"int64"},{"name":"service","in":"query","description":"service to filter by","required":false,"type":"string"},{"name":"filter","in":"query","description":"search query to filter by","required":false,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/TelemetrySampleDto"}}}},"deprecated":true},"post":{"tags":["Telemetry"],"summary":"Create a new telemetry sample","operationId":"createTelemetrySample","parameters":[{"in":"body","name":"body","required":true,"schema":{"$ref":"#/definitions/TelemetrySampleDto"}}],"responses":{"400":{"description":"Invalid request"},"500":{"description":"Internal Server Error"},"200":{"description":"successful operation","schema":{"$ref":"#/definitions/RefLinkDto"}}}}},"/telemetry/api/samples/paginated":{"get":{"tags":["Telemetry"],"summary":"Get paginated telemetry samples for a time range","operationId":"getTelemetrySamplesPaginated","parameters":[{"name":"since","in":"query","description":"minimum time of results, in milliseconds since epoch, UTC","required":false,"type":"integer","format":"int64"},{"name":"until","in":"query","description":"maximum time of results, in milliseconds since epoch, UTC","required":false,"type":"integer","format":"int64"},{"name":"limit","in":"query","description":"maximum result count per page","required":false,"type":"integer","default":10},{"name":"service","in":"query","description":"service to filter by","required":false,"type":"string"},{"name":"filter","in":"query","description":"search query to filter by","required":false,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/RefLinkDto"}}},"deprecated":true}},"/telemetry/api/samples/paginated-new":{"get":{"tags":["Telemetry"],"summary":"Get paginated telemetry samples for a time range","operationId":"getTelemetrySamplesPaginatedNew","parameters":[{"name":"since","in":"query","description":"minimum time of results, in milliseconds since epoch, UTC","required":false,"type":"integer","format":"int64"},{"name":"until","in":"query","description":"maximum time of results, in milliseconds since epoch, UTC","required":false,"type":"integer","format":"int64"},{"name":"limit","in":"query","description":"maximum result count per page","required":false,"type":"integer","default":10},{"name":"service","in":"query","description":"service to filter by","required":false,"type":"string"},{"name":"filter","in":"query","description":"search query to filter by","required":false,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/TelemetrySamplesPaginatedResult"}}}}},"/telemetry/api/samples/paginated/page":{"get":{"tags":["Telemetry"],"summary":"Get telemetry samples page for a time range","operationId":"getTelemetrySamplesPage","parameters":[{"name":"link","in":"query","description":"link to telemetry samples page","required":false,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/QueryTask"}}},"deprecated":true}},"/telemetry/api/samples/aggregation":{"get":{"tags":["Telemetry"],"summary":"Get telemetry aggregations for a time range","operationId":"getTelemetryAggregations","parameters":[{"name":"since","in":"query","description":"minimum time of results, in milliseconds since epoch, UTC","required":false,"type":"integer","format":"int64"},{"name":"until","in":"query","description":"maximum time of results, in milliseconds since epoch, UTC","required":false,"type":"integer","format":"int64"},{"name":"service","in":"query","description":"service to filter by","required":false,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/TelemetryAggregationState"}}}}}},"/billing/api/business-plans/{selfLink}":{"get":{"tags":["BusinessPlanController"],"summary":"Get business plan","operationId":"getBusinessPlan","parameters":[{"name":"selfLink","in":"path","required":true,"type":"string"}],"responses":{"400":{"description":"Invalid request"},"500":{"description":"Internal error"},"200":{"description":"successful operation","schema":{"$ref":"#/definitions/BusinessPlanResponse"}}}},"delete":{"tags":["BusinessPlanController"],"summary":"Delete business plan","operationId":"deleteBusinessPlan","parameters":[{"name":"selfLink","in":"path","required":true,"type":"string"}],"responses":{"400":{"description":"Invalid request"},"500":{"description":"Internal error"}}},"patch":{"tags":["BusinessPlanController"],"summary":"Update business plan","operationId":"updateBusinessPlan","parameters":[{"name":"selfLink","in":"path","required":true,"type":"string"},{"in":"body","name":"body","required":true,"schema":{"$ref":"#/definitions/BusinessPlanUpdateRequest"}}],"responses":{"400":{"description":"Invalid request"},"500":{"description":"Internal error"},"200":{"description":"successful operation","schema":{"$ref":"#/definitions/RefLinkDto"}}}}},"/billing/api/business-plans":{"get":{"tags":["BusinessPlanController"],"summary":"Get all business plans for service definition","operationId":"getServiceDefinitionBusinessPlans","parameters":[{"name":"serviceDefinitionLink","in":"query","description":"Service definition link","required":true,"type":"string"}],"responses":{"400":{"description":"Invalid request"},"500":{"description":"Internal error"},"200":{"description":"successful operation","schema":{"$ref":"#/definitions/RefLinksDto"}}}},"post":{"tags":["BusinessPlanController"],"summary":"Create a new business plan","operationId":"createBusinessPlan","parameters":[{"in":"body","name":"body","required":true,"schema":{"$ref":"#/definitions/BusinessPlanCreationRequest"}}],"responses":{"400":{"description":"Invalid request body"},"500":{"description":"Internal error"},"200":{"description":"successful operation","schema":{"$ref":"#/definitions/RefLinkDto"}}}}},"/billing/api/business-plans/{selfLink}/status":{"post":{"tags":["BusinessPlanController"],"summary":"Change business plan status","operationId":"changeBusinessPlanStatus","parameters":[{"name":"selfLink","in":"path","required":true,"type":"string"},{"in":"body","name":"body","required":true,"schema":{"$ref":"#/definitions/BusinessPlanStatusRequest"}}],"responses":{"500":{"description":"Internal error"},"200":{"description":"successful operation","schema":{"$ref":"#/definitions/RefLinkDto"}}}}},"/service-discovery/api/services/cluster/{cluster-id}/service/{service-name}":{"get":{"tags":["Service Discovery"],"summary":"Get Service","operationId":"getService","parameters":[{"name":"cluster-id","in":"path","required":true,"type":"string"},{"name":"service-name","in":"path","required":true,"type":"string"}],"responses":{"404":{"description":"Service Not Found"},"200":{"description":"successful operation","schema":{"$ref":"#/definitions/DiscoverableService"}}}},"delete":{"tags":["Service Discovery"],"summary":"Delete Service","operationId":"deleteService","parameters":[{"name":"cluster-id","in":"path","required":true,"type":"string"},{"name":"service-name","in":"path","required":true,"type":"string"}],"responses":{"404":{"description":"Service not found"},"200":{"description":"successful operation","schema":{"$ref":"#/definitions/RefLinkDto"}}}},"patch":{"tags":["Service Discovery"],"summary":"Update Service","operationId":"updateService","parameters":[{"name":"cluster-id","in":"path","required":true,"type":"string"},{"name":"service-name","in":"path","required":true,"type":"string"},{"in":"body","name":"body","required":true,"schema":{"$ref":"#/definitions/UpdateServiceRequest"}}],"responses":{"400":{"description":"Invalid request"},"404":{"description":"Service not found"},"200":{"description":"successful operation","schema":{"$ref":"#/definitions/RefLinkDto"}}}}},"/service-discovery/api/services/cluster/{cluster-id}":{"get":{"tags":["Service Discovery"],"summary":"Get All Services For Cluster","operationId":"findServicesForCluster","parameters":[{"name":"cluster-id","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/DiscoverableServices"}}}}},"/service-discovery/api/services/cluster/{cluster-id}/service/{service-name}/instances":{"post":{"tags":["Service Discovery"],"summary":"Create Service Instance","operationId":"createServiceInstance","parameters":[{"name":"cluster-id","in":"path","required":true,"type":"string"},{"name":"service-name","in":"path","required":true,"type":"string"},{"in":"body","name":"body","required":true,"schema":{"$ref":"#/definitions/DiscoverableServiceInstance"}}],"responses":{"400":{"description":"Invalid request body"},"200":{"description":"service instance updated","schema":{"$ref":"#/definitions/RefLinkDto"}},"201":{"description":"service instance created","schema":{"$ref":"#/definitions/RefLinkDto"}}}}},"/service-discovery/api/services/cluster/{cluster-id}/service/{service-name}/instances/{service-instance-id}":{"get":{"tags":["Service Discovery"],"summary":"Get Service Instance","operationId":"getServiceInstance","parameters":[{"name":"cluster-id","in":"path","required":true,"type":"string"},{"name":"service-name","in":"path","required":true,"type":"string"},{"name":"service-instance-id","in":"path","required":true,"type":"string"}],"responses":{"404":{"description":"Service instance not found"},"200":{"description":"successful operation","schema":{"$ref":"#/definitions/DiscoverableServiceInstance"}}}},"delete":{"tags":["Service Discovery"],"summary":"Remove Service Instance","operationId":"removeServiceInstance","parameters":[{"name":"cluster-id","in":"path","required":true,"type":"string"},{"name":"service-name","in":"path","required":true,"type":"string"},{"name":"service-instance-id","in":"path","required":true,"type":"string"}],"responses":{"404":{"description":"Service Instance Not Found"}}},"patch":{"tags":["Service Discovery"],"summary":"Update Service Instance","operationId":"updateServiceInstance","parameters":[{"name":"cluster-id","in":"path","required":true,"type":"string"},{"name":"service-name","in":"path","required":true,"type":"string"},{"name":"service-instance-id","in":"path","required":true,"type":"string"},{"in":"body","name":"body","required":true,"schema":{"$ref":"#/definitions/UpdateServiceInstanceRequest"}}],"responses":{"400":{"description":"Invalid request"},"404":{"description":"Service instance not found"},"200":{"description":"successful operation","schema":{"$ref":"#/definitions/RefLinkDto"}}}}},"/service-discovery/api/services":{"get":{"tags":["Service Discovery"],"summary":"Get All Services","operationId":"findServices","parameters":[],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/DiscoverableServices"}}}},"post":{"tags":["Service Discovery"],"summary":"Create Service","operationId":"createService","parameters":[{"in":"body","name":"body","required":true,"schema":{"$ref":"#/definitions/DiscoverableService"}}],"responses":{"400":{"description":"Invalid request body"},"200":{"description":"successful operation","schema":{"$ref":"#/definitions/RefLinkDto"}},"201":{"description":"Service created"},"409":{"description":"Service already exists"}}}},"/am/api/auth/login/accounts/access-keys":{"post":{"tags":["Authentication"],"summary":"User Access Key log-in","operationId":"logInUserAccessKey","parameters":[{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/AccessKey"}}],"responses":{"401":{"description":"Failed authentication"},"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Token"}}}}},"/am/api/auth/token":{"get":{"tags":["Authentication"],"summary":"Exchange Authentication Code to user token","operationId":"oldGetTokenForAuthCode","parameters":[{"name":"code","in":"query","description":"User's auth code","required":true,"type":"string"},{"name":"state","in":"query","description":"Request state parameter","required":true,"type":"string"},{"name":"client_id","in":"query","description":"Service client ID","required":true,"type":"string"},{"name":"client_secret","in":"query","description":"Service client secret","required":true,"type":"string"},{"name":"redirect_uri","in":"query","description":"Service redirect uri","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"string"}}}},"post":{"tags":["Authentication"],"summary":"Exchange Authentication Code to user token","operationId":"getTokenForAuthCode","parameters":[{"name":"code","in":"query","description":"User's auth code","required":true,"type":"string"},{"name":"state","in":"query","description":"Request state parameter","required":true,"type":"string"},{"name":"client_id","in":"query","description":"Service client ID","required":true,"type":"string"},{"name":"client_secret","in":"query","description":"Service client secret","required":true,"type":"string"},{"name":"redirect_uri","in":"query","description":"Service redirect uri","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"string"}}}}},"/am/api/auth/authorize":{"post":{"tags":["Authentication"],"summary":"Exchange authorization code or refresh token to user access token","operationId":"getTokenForAuthGrantType","parameters":[{"name":"grant_type","in":"query","description":"User's auth grant type","required":true,"type":"string","enum":["authorization_code","refresh_token"]},{"name":"code","in":"query","description":"Auth code parameter for grant_type=authorization_code","required":false,"type":"string"},{"name":"refresh_token","in":"query","description":"Refresh token parameter for grant_type=refresh_token","required":false,"type":"string"},{"name":"state","in":"query","description":"Request state parameter for grant_type=authorization_code","required":false,"type":"string"},{"name":"client_id","in":"query","description":"Service client ID","required":true,"type":"string"},{"name":"client_secret","in":"query","description":"Service client secret","required":true,"type":"string"},{"name":"redirect_uri","in":"query","description":"Service redirect uri for grant_type=authorization_code","required":false,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/AccessToken"}}}}},"/am/api/auth/logout":{"get":{"tags":["Authentication"],"summary":"Redirect to the IDP logout page, then redirect to discovery page","operationId":"logout","parameters":[{"name":"token","in":"query","description":"User token","required":false,"type":"string"}],"responses":{"307":{"description":"Redirect to IDP logout"}}}},"/am/api/auth/token-public-key":{"get":{"tags":["Authentication"],"summary":"Retrieve the public key to be used for verifying the IdP generated tokens signature.","operationId":"getIdpPublicKey","parameters":[],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/IDPPublicKeyDto"}}}}},"/am/api/auth/api-tokens/authorize":{"post":{"tags":["Authentication"],"summary":"Exchange org scoped Refresh Token to user Access Token","description":"The end-point is for exchanging org scoped refresh-tokens only, that are obtained from the CSP UI.There are 2 ways of using this end-point:\n- Option 1: Passing the refresh token as a query param.\n- Option 2: Including the refresh token parameter using the application/x-www-form-urlencoded format in the HTTP request body","operationId":"getAccessTokenByApiRefreshToken","consumes":["application/x-www-form-urlencoded"],"parameters":[{"name":"refresh_token","in":"query","description":"Option 1: The Refresh token value","required":false,"type":"string"},{"in":"body","name":"body","description":"Option 2: Passing refresh_token=VALUE using application/x-www-form-urlencoded format in the HTTP request body","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/AccessToken"}}}}},"/am/api/users":{"post":{"tags":["Users"],"summary":"Create a new user in DI (not supported over GAZ)","operationId":"createUser","parameters":[{"in":"body","name":"body","description":"User object to be created","required":true,"schema":{"$ref":"#/definitions/User"}}],"responses":{"400":{"description":"Invalid request body"},"405":{"description":"Not supported over GAZ"},"200":{"description":"successful operation","schema":{"$ref":"#/definitions/RefLinkDto"}},"201":{"description":"User created"},"409":{"description":"Username already exists"}}}},"/am/api/users/{username}":{"get":{"tags":["Users"],"summary":"Get user","operationId":"getUser","parameters":[{"name":"username","in":"path","required":true,"type":"string"}],"responses":{"404":{"description":"User not found"},"200":{"description":"successful operation","schema":{"$ref":"#/definitions/User"}}}},"delete":{"tags":["Users"],"summary":"Delete an existing user in DI (not supported over GAZ)","operationId":"deleteUser","parameters":[{"name":"username","in":"path","required":true,"type":"string"}],"responses":{"404":{"description":"User not found"},"200":{"description":"User deleted"}}},"patch":{"tags":["Users"],"summary":"Update an existing user","operationId":"patchUser","parameters":[{"name":"username","in":"path","required":true,"type":"string"},{"in":"body","name":"body","required":true,"schema":{"$ref":"#/definitions/User"}}],"responses":{"400":{"description":"Invalid request body"},"404":{"description":"User not found"},"200":{"description":"User updated"}}}},"/am/api/users/{userId}/orgs/{orgId}/roles":{"get":{"tags":["Users"],"summary":"Get user roles within the specified organization","operationId":"getUserRolesOnOrg","parameters":[{"name":"userId","in":"path","required":true,"type":"string"},{"name":"orgId","in":"path","required":true,"type":"string"}],"responses":{"404":{"description":"Organization not found"},"200":{"description":"successful operation","schema":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/RoleDto"}}}}},"patch":{"tags":["Users"],"summary":"Update user roles for role names","operationId":"patchUserRolesByNames","parameters":[{"name":"userId","in":"path","required":true,"type":"string"},{"name":"orgId","in":"path","required":true,"type":"string"},{"in":"body","name":"body","required":true,"schema":{"$ref":"#/definitions/UserRolesUpdateRequest"}}],"responses":{"400":{"description":"Invalid request body"},"404":{"description":"User not found"},"200":{"description":"User roles updated"}}}},"/am/api/users/{userId}/orgs/{orgId}/service-roles":{"get":{"tags":["Users"],"summary":"Get user service roles within the specified organization","operationId":"getUserServiceRolesOnOrg","parameters":[{"name":"userId","in":"path","required":true,"type":"string"},{"name":"orgId","in":"path","required":true,"type":"string"},{"name":"serviceDefinitionLink","in":"query","description":"Service Definition Link","required":true,"type":"string"}],"responses":{"404":{"description":"Organization not found"},"200":{"description":"successful operation","schema":{"$ref":"#/definitions/UserServiceRolesResponse"}}}},"patch":{"tags":["Users"],"summary":"Update user service roles","operationId":"patchUserServiceRoles","parameters":[{"name":"userId","in":"path","required":true,"type":"string"},{"name":"orgId","in":"path","required":true,"type":"string"},{"in":"body","name":"body","required":true,"schema":{"$ref":"#/definitions/UserServiceRolesUpdateRequest"}}],"responses":{"400":{"description":"Invalid request body"},"404":{"description":"User not found"},"200":{"description":"User service roles updated"}}}},"/am/api/users/{username}/orgs":{"get":{"tags":["Users"],"summary":"Get organizations of a specific user","operationId":"getUserOrgs","parameters":[{"name":"username","in":"path","required":true,"type":"string"}],"responses":{"404":{"description":"User does not exist"},"200":{"description":"successful operation","schema":{"$ref":"#/definitions/RefLinksDto"}}}}},"/am/api/users/{username}/access-keys":{"delete":{"tags":["Users"],"summary":"Delete access key for a specific user","operationId":"deleteUserAccessKey","parameters":[{"name":"username","in":"path","required":true,"type":"string"}],"responses":{"404":{"description":"User not found"}}}},"/am/api/users/tokens/{token}/isValid":{"get":{"tags":["Users"],"summary":"Verify non-login-able JWT","operationId":"verifyNonLoginJWT","parameters":[{"name":"token","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"boolean"}}}}},"/am/api/users/{userId}/orgs/{orgId}/info":{"get":{"tags":["Users"],"summary":"Get user info by token in organization context","operationId":"getUserInfo","parameters":[{"name":"userId","in":"path","required":true,"type":"string"},{"name":"orgId","in":"path","required":true,"type":"string"}],"responses":{"401":{"description":"Invalid 'token' request parameter"},"404":{"description":"Organization not found"},"200":{"description":"successful operation","schema":{"$ref":"#/definitions/UserInfo"}}}}},"/slc/api/service-invitations":{"post":{"tags":["Service invitation"],"summary":"Service invitation","operationId":"createServiceInvitations","parameters":[{"in":"body","name":"body","required":true,"schema":{"$ref":"#/definitions/Service Invitation Request"}}],"responses":{"400":{"description":"Invalid request body"}}}},"/slc/api/service-invitations/{serviceInvitationId}":{"get":{"tags":["Service invitation"],"summary":"Get Service Invitation details","operationId":"getServiceInvitationInfo","parameters":[{"name":"serviceInvitationId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ServiceInvitationResponse"}}}}}},"securityDefinitions":{"apiKey":{"type":"apiKey","name":"csp-auth-token","in":"header"}},"definitions":{"RefLinkDto":{"type":"object","properties":{"refLink":{"type":"string"}}},"EmailRequest":{"type":"object","required":["message","subject","to"],"properties":{"to":{"type":"string","description":"To Address"},"from":{"type":"string","description":"From Address","pattern":"[_A-Za-z0-9-\\+]+(\\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\\.[A-Za-z0-9]+)*(\\.[A-Za-z]{2,})|\".*\"( )+<[_A-Za-z0-9-\\+]+(\\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\\.[A-Za-z0-9]+)*(\\.[A-Za-z]{2,})>$"},"subject":{"type":"string","description":"Subject"},"message":{"type":"string","description":"Content"},"templateSelfLink":{"type":"string","description":"Email template link"}},"description":"Email Request"},"AccessToken":{"type":"object","properties":{"access_token":{"type":"string","description":"Access Token"},"refresh_token":{"type":"string","description":"Refresh Token"},"id_token":{"type":"string","description":"ID Token"},"token_type":{"type":"string","description":"Token Type"},"expires_in":{"type":"integer","format":"int64","description":"Access Token Expiration"},"scope":{"type":"string","description":"Scope"}},"description":"Access token"},"Token":{"type":"object","properties":{"cspAuthToken":{"type":"string","description":"JWT Token"}},"description":"JWT token"},"Credentials":{"type":"object","properties":{"username":{"type":"string","description":"Username"},"password":{"type":"string","description":"Password"}},"description":"Login request"},"ConfigurationItemDto":{"type":"object","required":["item-description","item-name"],"properties":{"item-name":{"type":"string"},"item-description":{"type":"string"},"properties":{"type":"object","additionalProperties":{"$ref":"#/definitions/ConfigurationProperty"}}}},"ConfigurationItemsResponse":{"type":"object","properties":{"itemsList":{"type":"array","items":{"$ref":"#/definitions/ConfigurationItemDto"}}}},"ConfigurationProperty":{"type":"object","required":["is-mutable","is-sensitive","name","value"],"properties":{"name":{"type":"string","description":"The name of the configuration property"},"value":{"type":"string","description":"The value of the configuration property"},"description":{"type":"string","description":"The description of the configuration property"},"sensitive":{"type":"boolean"},"mutable":{"type":"boolean"},"is-mutable":{"type":"boolean","description":"Is the configuration property mutable"},"is-sensitive":{"type":"boolean","description":"Is the configuration property sensitive"}},"description":"Configuration item property"},"TosSignatureResponse":{"type":"object","required":["clientUtcTimestamp","displayName","email","orgLink"],"properties":{"displayName":{"type":"string","description":"Signee full name"},"email":{"type":"string","description":"Signee email"},"orgLink":{"type":"string","description":"Organization Link"},"clientUtcTimestamp":{"type":"integer","format":"int64","description":"Client side timestamp of signature"},"serverUtcTimestamp":{"type":"integer","format":"int64","description":"Server side timestamp of signature"}}},"TosSignatureRequest":{"type":"object","required":["clientUtcTimestamp","displayName","email","orgLink"],"properties":{"displayName":{"type":"string","description":"Signee full name"},"email":{"type":"string","description":"Signee email"},"orgLink":{"type":"string","description":"Organization Link"},"clientUtcTimestamp":{"type":"integer","format":"int64","description":"Client side timestamp of signature"}}},"AuthClient":{"type":"object","properties":{"id":{"type":"string","description":"Auth Client ID"},"secret":{"type":"string","description":"Auth Client Secret"},"redirectUris":{"type":"array","description":"Auth Client service redirect URIs","uniqueItems":true,"items":{"type":"string"}},"redirectUri":{"type":"string","description":"Auth Client service redirect URI"},"refLink":{"type":"string","description":"Auth Client link"},"grantTypes":{"type":"array","description":"OAuth Grant types","uniqueItems":true,"items":{"type":"string"}},"accessTokenTTL":{"type":"integer","format":"int32","description":"OAuth Access token TTL"},"refreshTokenTTL":{"type":"integer","format":"int32","description":"OAuth Refresh token TTL"},"resourceLink":{"type":"string","description":"Resource Link"}}},"OrganizationCreationRequest":{"type":"object","properties":{"displayName":{"type":"string","description":"Display name"}}},"Organization":{"type":"object","properties":{"name":{"type":"string","description":"Name","readOnly":true},"displayName":{"type":"string","description":"Display name"},"refLink":{"type":"string","description":"Document Ref Link"}}},"RoleDisplayDto":{"type":"object","properties":{"name":{"type":"string","description":"Role Name"},"displayName":{"type":"string","description":"Role Display Name"}}},"UserAndRoles":{"type":"object","required":["firstName","lastName","organizationRoles","username"],"properties":{"username":{"type":"string","description":"Username"},"firstName":{"type":"string","description":"First Name"},"lastName":{"type":"string","description":"Last Name"},"organizationRoles":{"type":"array","description":"Organization Roles","uniqueItems":true,"items":{"$ref":"#/definitions/RoleDisplayDto"}}}},"Users":{"type":"object","required":["refLinks","users"],"properties":{"users":{"type":"array","description":"Users","items":{"$ref":"#/definitions/UserAndRoles"}},"refLinks":{"type":"array","description":"Document Reference Links","items":{"type":"string"}}}},"RefLinksDto":{"type":"object","properties":{"refLinks":{"type":"array","description":"Links of references","items":{"type":"string"}}}},"UpdateOrgUsernamesResponse":{"type":"object","properties":{"succeeded":{"type":"array","uniqueItems":true,"items":{"type":"string"}},"failed":{"type":"array","uniqueItems":true,"items":{"type":"string"}}}},"RemoveUserFromOrgRequest":{"type":"object","properties":{"email":{"type":"string","description":"Email"},"emails":{"type":"array","description":"Emails","uniqueItems":true,"items":{"type":"string"}}}},"EmailNotificationRequest":{"type":"object","properties":{"from":{"type":"string","pattern":"[_A-Za-z0-9-\\+]+(\\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\\.[A-Za-z0-9]+)*(\\.[A-Za-z]{2,})|\".*\"( )+<[_A-Za-z0-9-\\+]+(\\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\\.[A-Za-z0-9]+)*(\\.[A-Za-z]{2,})>$"},"subject":{"type":"string"},"message":{"type":"string"},"templateSelfLink":{"type":"string"}},"description":"Notification Request"},"ServiceRolesDto":{"type":"object","properties":{"serviceDefinitionLink":{"type":"string"},"serviceRoleNames":{"type":"array","items":{"type":"string"}}}},"User Invitation Response":{"type":"object","required":["orgRoleName","username"],"properties":{"username":{"type":"string","description":"Username"},"orgRoleName":{"type":"string","description":"Org role name"},"serviceRolesDtos":{"type":"array","description":"Service Roles","items":{"$ref":"#/definitions/ServiceRolesDto"}},"invitationLink":{"type":"string","description":"Common Invitation Link"},"refLink":{"type":"string"}}},"Users Invitation Request":{"type":"object","required":["orgRoleName","usernames"],"properties":{"usernames":{"type":"array","description":"Usernames","items":{"type":"string"}},"orgRoleName":{"type":"string","description":"Org role name"},"serviceRolesDtos":{"type":"array","description":"Service Roles","items":{"$ref":"#/definitions/ServiceRolesDto"}}}},"ExternalServiceDefinitionDTO":{"type":"object","properties":{"name":{"type":"string","description":"The service name"},"displayName":{"type":"string","description":"The service display name"},"descriptionShort":{"type":"string","description":"The service short description"},"descriptionLong":{"type":"string","description":"The service long description"},"productIdentifier":{"type":"string","description":"The product identifier in the Billing Provider"},"businessPlans":{"type":"array","description":"The service business plans: Advanced, Enterprise, etc.","items":{"type":"string"}},"billingTypes":{"type":"array","description":"The service supported billing types","items":{"type":"string"}},"internal":{"type":"boolean","description":"Specify whether the service is internal - provisioned by CSP, or external"},"visible":{"type":"boolean","description":"Specify whether the service could be seen in CSP portal"},"subscriptionLifecycleEventHandlers":{"description":"Event handlers used during subscription lifecycle events","$ref":"#/definitions/SubscriptionLifecycleEventHandlersDTO"},"serviceUrls":{"description":"Service urls to be used by CSP","$ref":"#/definitions/ServiceUrlsDto"},"serviceRoles":{"description":"Service Level Roles","$ref":"#/definitions/ServiceRoleDto"},"organizationLink":{"type":"string","description":"The organization self link"},"documentSelfLink":{"type":"string","description":"The service definition self link"},"healthCheckURL":{"type":"string","description":"The health check relative url of the service"},"campaignId":{"type":"string","description":"The marketing campaign ID for the service"},"serviceIcon":{"type":"string","description":"The service icon URL"},"gated":{"type":"boolean"}},"description":"The model of an external service definition"},"ServiceRoleDto":{"type":"object","properties":{"refLink":{"type":"string"},"name":{"type":"string"},"displayName":{"type":"string"},"status":{"type":"string","enum":["IN_DELETION_PROCESS","ACTIVE"]},"hidden":{"type":"boolean"},"default":{"type":"boolean"}}},"ServiceUrlsDto":{"type":"object","properties":{"termsOfService":{"type":"string"},"offerConfiguration":{"type":"string"},"serviceHome":{"type":"string"},"requestAccess":{"type":"string"}}},"SubscriptionLifecycleEventHandlersDTO":{"type":"object","properties":{"onFulfillment":{"type":"string","description":"Subscription Fulfillment event callback Uri"},"onExpiration":{"type":"string","description":"Subscription Expiration event callback Uri"},"onCancellation":{"type":"string","description":"Subscription Cancellation event callback Uri"}},"description":"Event handlers used during subscription lifecycle events"},"DeploymentProperty":{"type":"object","properties":{"name":{"type":"string","description":"Name of Property"},"required":{"type":"boolean","description":"Is this property mandatory"},"defaultValue":{"type":"string","description":"Default value in case property is not mandatory"}},"description":"Arbitrary property to pass to deployment elements"},"InternalServiceDefinitionState":{"type":"object","properties":{"documentSelfLink":{"type":"string"},"name":{"type":"string","description":"The service name"},"displayName":{"type":"string","description":"The service display name"},"descriptionShort":{"type":"string","description":"The service short description"},"descriptionLong":{"type":"string","description":"The service long description"},"productIdentifier":{"type":"string","description":"The product identifier in the Billing Provider"},"businessPlans":{"type":"array","description":"The service business plans: Advanced, Enterprise, etc.","items":{"type":"string"}},"billingTypes":{"type":"array","description":"The service supported billing types","items":{"type":"string"}},"internal":{"type":"boolean","description":"Specify whether the service is internal - provisioned by CSP, or external"},"isGated":{"type":"boolean","description":"Specify whether the service could be accessed using an invitation"},"subscriptionLifecycleEventHandlers":{"description":"Event handlers used during subscription lifecycle events","$ref":"#/definitions/SubscriptionLifecycleEventHandlers"},"serviceUrls":{"description":"Service urls to be used by CSP","$ref":"#/definitions/ServiceUrls"},"serviceRoles":{"description":"Service Level Roles","$ref":"#/definitions/ServiceRole"},"organizationId":{"type":"string","description":"The organization id"},"campaignId":{"type":"string","description":"Marketing campaign id"},"visible":{"type":"boolean","description":"Specify whether the service is visible for users"},"serviceIcon":{"type":"string","description":"The service icon URL"},"externalDependencies":{"type":"array","description":"Dependencies on other services","items":{"type":"string"}},"deploymentProperties":{"type":"array","description":"Deployment properties","items":{"$ref":"#/definitions/DeploymentProperty"}}},"description":"The model of an internal service definition"},"ServiceRole":{"type":"object","properties":{"name":{"type":"string","description":"Role name"},"displayName":{"type":"string","description":"Role display name"},"isDefault":{"type":"boolean","description":"Is default role"},"isHidden":{"type":"boolean","description":"Is hidden role"},"status":{"type":"string","enum":["IN_DELETION_PROCESS","ACTIVE"]}}},"ServiceUrls":{"type":"object","properties":{"termsOfService":{"type":"string","description":"Terms of service url"},"offerConfiguration":{"type":"string","description":"Offer configuration url"},"serviceHome":{"type":"string","description":"Service Home"},"requestAccess":{"type":"string","description":"Request access marketing form url"}},"description":"Service urls to be used by CSP"},"SubscriptionLifecycleEventHandlers":{"type":"object","properties":{"onFulfillment":{"type":"string","description":"Subscription Fulfillment event callback Uri"},"onExpiration":{"type":"string","description":"Subscription Expiration event callback Uri"},"onCancellation":{"type":"string","description":"Subscription Cancellation event callback Uri"}},"description":"Event handlers used during subscription lifecycle events"},"ServiceDefinitionUpdateRequest":{"type":"object","properties":{"subscriptionLifecycleEventHandlers":{"description":"Subscription lifecycle event handlers","$ref":"#/definitions/SubscriptionLifecycleEventHandlers"},"serviceUrls":{"description":"Service Urls","$ref":"#/definitions/ServiceUrls"},"serviceRoles":{"type":"array","description":"Service roles update default","items":{"$ref":"#/definitions/ServiceRoleUpdateDto"}},"visible":{"type":"boolean","description":"Determine whether the service is visible or not"},"campaignId":{"type":"string","description":"Marketing Campaign ID for the service"},"displayName":{"type":"string","description":"Service display name"},"descriptionShort":{"type":"string","description":"Short description of service"},"descriptionLong":{"type":"string","description":"Longer description of the service"},"productIdentifier":{"type":"string","description":"The product identifier in the Billing Provider"},"serviceIcon":{"type":"string","description":"The service icon URL"},"gated":{"type":"boolean"}},"description":"Service definition update request"},"ServiceRoleUpdateDto":{"type":"object","properties":{"name":{"type":"string"},"displayName":{"type":"string"},"hidden":{"type":"boolean"},"default":{"type":"boolean"}}},"AllServiceDefinitionsResponse":{"type":"object","properties":{"serviceDefinitionLinks":{"type":"array","description":"Links to individual service definitions","items":{"type":"string"}},"serviceDefinitionDtos":{"type":"array","items":{"$ref":"#/definitions/ServiceDefinitionsDto"}}},"description":"All service definitions - internal and external"},"ServiceDefinitionsDto":{"type":"object","properties":{"name":{"type":"string"},"displayName":{"type":"string"},"healthCheckURL":{"type":"string"},"documentSelfLink":{"type":"string"},"serviceUrls":{"$ref":"#/definitions/ServiceUrlsDto"},"descriptionShort":{"type":"string"},"descriptionLong":{"type":"string"},"serviceRoles":{"type":"array","items":{"$ref":"#/definitions/ServiceRole"}},"campaignId":{"type":"string"},"visible":{"type":"boolean"},"orgId":{"type":"string"},"serviceIcon":{"type":"string"},"gated":{"type":"boolean"}}},"ServiceRolesResponse":{"type":"object","properties":{"refLinks":{"type":"array","description":"Links of references","items":{"type":"string"}},"serviceRoles":{"type":"array","items":{"$ref":"#/definitions/ServiceRoleDto"}}}},"Consumer":{"type":"object"},"ConsumerOperation":{"type":"object"},"Parameter":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"type":{"type":"string"},"required":{"type":"boolean"},"value":{"type":"string"},"paramDef":{"type":"string","enum":["QUERY","BODY"]}}},"Predicate":{"type":"object"},"PredicateOperation":{"type":"object"},"PropertyDescription":{"type":"object","properties":{"typeName":{"type":"string","enum":["LONG","STRING","BYTES","PODO","COLLECTION","MAP","BOOLEAN","DOUBLE","InternetAddressV4","InternetAddressV6","DATE","URI","ENUM"]},"kind":{"type":"string"},"exampleValue":{"type":"object"},"indexingOptions":{"type":"array","items":{"type":"string","enum":["EXPAND","FIXED_ITEM_NAME","STORE_ONLY","TEXT","CASE_INSENSITIVE","EXCLUDE_FROM_SIGNATURE","SORT"]}},"usageOptions":{"type":"array","items":{"type":"string","enum":["SINGLE_ASSIGNMENT","OPTIONAL","SERVICE_USE","INFRASTRUCTURE","AUTO_MERGE_IF_NOT_NULL","ID","LINK","LINKS","SENSITIVE","REQUIRED"]}},"propertyDocumentation":{"type":"string"},"fieldDescriptions":{"type":"object","additionalProperties":{"$ref":"#/definitions/PropertyDescription"}},"elementDescription":{"$ref":"#/definitions/PropertyDescription"},"enumValues":{"type":"array","items":{"type":"string"}}}},"Route":{"type":"object","properties":{"action":{"type":"string","enum":["GET","POST","PATCH","PUT","DELETE","OPTIONS"]},"matcher":{"$ref":"#/definitions/PredicateOperation"},"handler":{"$ref":"#/definitions/ConsumerOperation"},"description":{"type":"string"},"parameters":{"type":"array","items":{"$ref":"#/definitions/Parameter"}}}},"ServiceDocumentDescription":{"type":"object","properties":{"propertyDescriptions":{"type":"object","additionalProperties":{"$ref":"#/definitions/PropertyDescription"}},"serviceCapabilities":{"type":"array","items":{"type":"string","enum":["INSTRUMENTATION","PERIODIC_MAINTENANCE","PERSISTENCE","REPLICATION","OWNER_SELECTION","STRICT_UPDATE_CHECKING","HTML_USER_INTERFACE","CONCURRENT_UPDATE_HANDLING","CONCURRENT_GET_HANDLING","IDEMPOTENT_POST","ON_DEMAND_LOAD","IMMUTABLE","LIFO_QUEUE","URI_NAMESPACE_OWNER","CORE","UTILITY","FACTORY","FACTORY_ITEM","DOCUMENT_OWNER","TRANSACTION_PENDING","STATELESS","NONE"]}},"serviceRequestRoutes":{"type":"object","additionalProperties":{"type":"array","items":{"$ref":"#/definitions/Route"}}},"userInterfaceResourcePath":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"versionRetentionLimit":{"type":"integer","format":"int64"},"versionRetentionFloor":{"type":"integer","format":"int64"},"serializedStateSizeLimit":{"type":"integer","format":"int32"}}},"ServiceErrorResponse":{"type":"object","properties":{"message":{"type":"string"},"messageId":{"type":"string"},"stackTrace":{"type":"array","items":{"type":"string"}},"statusCode":{"type":"integer","format":"int32"},"details":{"type":"array","items":{"type":"string","enum":["SHOULD_RETRY"]}},"errorCode":{"type":"integer","format":"int32"}}},"ServiceRoleDeletionTaskState":{"type":"object","properties":{"documentSelfLink":{"type":"string"},"taskInfo":{"$ref":"#/definitions/TaskState"},"failureMessage":{"type":"string"},"serviceDefinitionExternalLink":{"type":"string"},"roleName":{"type":"string"},"subStage":{"type":"string","enum":["GET_ORGS_WITH_ACCESS","REMOVE_ROLE_FROM_ORGS","REMOVE_SCOPE_FROM_CLIENTS","REMOVE_ROLE_FROM_SERVICE_DEFINITION","WAITING_FOR_RETRY"]},"orgsToHandle":{"type":"array","items":{"type":"string"}},"retryCount":{"type":"integer","format":"int32"},"subStageToRetry":{"type":"string","enum":["GET_ORGS_WITH_ACCESS","REMOVE_ROLE_FROM_ORGS","REMOVE_SCOPE_FROM_CLIENTS","REMOVE_ROLE_FROM_SERVICE_DEFINITION","WAITING_FOR_RETRY"]}}},"TaskState":{"type":"object","properties":{"stage":{"type":"string","enum":["CREATED","STARTED","FINISHED","FAILED","CANCELLED"]},"isDirect":{"type":"boolean"},"failure":{"$ref":"#/definitions/ServiceErrorResponse"},"durationMicros":{"type":"integer","format":"int64"}}},"DeploymentTypesResponse":{"type":"object","properties":{"deploymentTypesLinks":{"type":"array","description":"Deployment types links","items":{"type":"string"}}},"description":"Service Deployment types"},"DeploymentTypeDefinitionState":{"type":"object","properties":{"documentSelfLink":{"type":"string"},"type":{"type":"string","description":"The deployment type","enum":["DOCKER","VM"]},"networkTypes":{"type":"array","description":"The supported network types","items":{"type":"string"}},"serviceDefinitionLink":{"type":"string","description":"The service definition to which this deployment type belongs"}},"description":"The model of a service deployment type definition"},"DeploymentTypeElementsResponse":{"type":"object","properties":{"deploymentElementsLinks":{"type":"array","description":"Deployment elements links","items":{"type":"string"}}},"description":"Deployment type elements"},"DeploymentProfile":{"type":"object","properties":{"name":{"type":"string","description":"Name of Profile"},"instances":{"type":"integer","format":"int32","description":"Number of node instances per provisioned service instance"},"memory":{"type":"integer","format":"int64","description":"Max Memory in MB per Service node"},"cpu":{"type":"number","format":"double","description":"Number of CPU cores per Service node. Does not have to be integer, can be a fraction"}},"description":"limitations of an element per profile"},"DockerElementDefinitionState":{"type":"object","properties":{"documentSelfLink":{"type":"string"},"type":{"type":"string","description":"The deployment type of the element","enum":["DOCKER","VM"]},"name":{"type":"string","description":"The name of the element"},"healthCheckType":{"type":"string","description":"The health check type (HTTP/TCP) of the element","enum":["TCP","HTTP"]},"healthCheckURL":{"type":"string","description":"The health check relative url of the element"},"ports":{"type":"array","description":"The ports of the element","items":{"type":"integer","format":"int32"}},"dependencies":{"type":"array","description":"Dependencies on other elements","items":{"type":"string"}},"deploymentProfiles":{"type":"array","description":"Supported deployment profiles","items":{"$ref":"#/definitions/DeploymentProfile"}},"deploymentTypeLink":{"type":"string","description":"The deployment type to which this element belongs"},"imagePath":{"type":"string","description":"The docker image path"},"runtimeCommands":{"type":"array","description":"Optional runtime arguments","items":{"type":"string"}},"volumes":{"type":"array","description":"Docker volume definitions","items":{"type":"string"}}},"description":"The model of a service deployment element definition of type docker"},"HealthCheckDto":{"type":"object","properties":{"healthCheckType":{"type":"string","description":"The health check type (HTTP/TCP) of the element","enum":["TCP","HTTP"]},"healthCheckURL":{"type":"string","description":"The health check relative url of the element"}},"description":"HealthCheck DTO"},"NetworkConfigurationDTO":{"type":"object","properties":{"proxyRules":{"type":"array","description":"External Proxy Rules","items":{"$ref":"#/definitions/ProxyRuleDTO"}}}},"PortMappingDTO":{"type":"object","properties":{"internalPort":{"type":"integer","format":"int32","description":"Internal Port"},"externalPort":{"type":"integer","format":"int32","description":"External Port"}}},"ProxyRuleDTO":{"type":"object","properties":{"internalPort":{"type":"integer","format":"int32","description":"Internal Port"},"path":{"type":"string","description":"URL Path"}}},"ServiceElementDTO":{"type":"object","properties":{"name":{"type":"string","description":"Name"},"deploymentIdentifier":{"type":"string","description":"Deployment Identifier"},"type":{"type":"string","description":"Service Type","enum":["DOCKER","VIRTUAL_MACHINE"]},"declaredPorts":{"type":"array","description":"Declared Ports","items":{"type":"integer","format":"int32"}},"exposedPorts":{"type":"array","description":"Exposed Ports","items":{"type":"integer","format":"int32"}},"instanceCount":{"type":"integer","format":"int32","description":"Instance count"},"instances":{"type":"array","description":"Instances of the Service","items":{"$ref":"#/definitions/ServiceInstanceDTO"}},"networkConfiguration":{"description":"Network Configuration","$ref":"#/definitions/NetworkConfigurationDTO"},"healthCheck":{"description":"The health check paths and type","$ref":"#/definitions/HealthCheckDto"},"image":{"type":"string","description":"image"},"runtimeCommands":{"type":"array","description":"Optional runtime arguments","items":{"type":"string"}},"memory":{"type":"integer","format":"int64","description":"Max Memory in MB"},"deploymentProperties":{"type":"object","description":"Parameters supplied at provisioning time","additionalProperties":{"type":"string"}},"volumes":{"type":"array","description":"Storage volumes location","items":{"type":"string"}},"upgradeStrategy":{"type":"integer","format":"int32","description":"Percentage of the cluster that will be taken down to upgrade before setting up upgraded ones"}},"description":"An element of a service"},"ServiceInstanceDTO":{"type":"object","properties":{"provisionedIdentifier":{"type":"string","description":"Provisioning Identifier"},"host":{"type":"string","description":"Instance Host"},"ports":{"type":"array","description":"Instance Port Information","items":{"$ref":"#/definitions/PortMappingDTO"}},"attributes":{"type":"object","description":"Provisioned Attributes","additionalProperties":{"type":"string"}}}},"ServiceRecordResponse":{"type":"object","properties":{"serviceName":{"type":"string","description":"The name of this service instance"},"serviceDefinitionLink":{"type":"string","description":"The service definition for this service"},"refLink":{"type":"string","description":"The link to this service"},"publicUrl":{"type":"string","description":"Public url"},"subscribedUsers":{"type":"array","description":"Subscribed users","uniqueItems":true,"items":{"type":"string"}},"elements":{"type":"array","description":"Provisioned Elements For the Service","items":{"$ref":"#/definitions/ServiceElementDTO"}}},"description":"The model of a service instance provisioned through CSP"},"MetricResponseDTO":{"type":"object","properties":{"metricDTOs":{"type":"array","description":"MetricDTOs","items":{"type":"string"}}},"description":"The response is comprised from several metricDTO objects, and a timestamp"},"RemoveServiceResponse":{"type":"object","properties":{"removeServiceTaskLink":{"type":"string","description":"Service Removal Task Link"}},"description":"Service removal task"},"BaseRemoveServiceRequest":{"type":"object","required":["serviceLink"],"properties":{"serviceLink":{"type":"string","description":"Service Link"}},"description":"Remove a service"},"ProvisionServiceResponse":{"type":"object","properties":{"serviceLink":{"type":"string","description":"Service Link"},"provisionTaskLink":{"type":"string","description":"Provision Task Link"}},"description":"Service Link and Task Link for Provisioning"},"ProvisionElement":{"type":"object","properties":{"elementName":{"type":"string","description":"Element Name"},"image":{"type":"string","description":"image"},"deploymentProperties":{"type":"object","description":"deploymentProperties","additionalProperties":{"type":"string"}},"healthCheck":{"description":"The health check paths and type","$ref":"#/definitions/HealthCheckDto"},"ports":{"type":"array","description":"The ports of the element","items":{"type":"integer","format":"int32"}},"runtimeCommands":{"type":"array","description":"Optional runtime arguments","items":{"type":"string"}},"instances":{"type":"integer","format":"int32","description":"Number of instances to be available after the upgrade"},"cpu":{"type":"number","format":"double","description":"CPU shares"},"memory":{"type":"integer","format":"int64","description":"Max Memory in MB"},"upgradeStrategy":{"type":"integer","format":"int32","description":"Percentage of the cluster that will be taken down to upgrade before setting up upgraded ones"},"volumes":{"type":"array","description":"Storage volumes location","items":{"type":"string"}},"dependencies":{"type":"array","description":"Dependencies on other elements","items":{"type":"string"}}},"description":"Elements of service to provision"},"ProvisionServiceProvisionRequest":{"type":"object","required":["instanceName","serviceDefinitionLink"],"properties":{"instanceName":{"type":"string","description":"Instance Name"},"serviceDefinitionLink":{"type":"string","description":"Service Definition Link"},"deploymentProfile":{"type":"string","description":"Deployment Profile"},"provisionElements":{"type":"array","description":"Provision Elements","items":{"$ref":"#/definitions/ProvisionElement"}},"subscriptionHandlers":{"description":"Subscription lifecycle event handlers","$ref":"#/definitions/SubscriptionLifecycleEventHandlers"}},"description":"Provision a service definition"},"ProvisionServiceTaskStatusResponse":{"type":"object","properties":{"serviceLink":{"type":"string","description":"Service Link"},"stage":{"type":"string","description":"Task stage","enum":["CREATED","STARTED","FINISHED","FAILED","CANCELLED"]},"durationMicros":{"type":"integer","format":"int64","description":"Task duration"},"subStage":{"type":"string","description":"Task substage","enum":["CREATE_CONFIGURATION","CREATE_SERVICES","PERSIST_STATE","UPDATE_IAAS"]},"failureMessage":{"type":"string","description":"Failure message"},"taskLink":{"type":"string","description":"Link to this task"}},"description":"Provision Service Task Status"},"RegisteredServiceResponse":{"type":"object","properties":{"serviceLink":{"type":"string","description":"Service Link"}},"description":"Registered Service Link"},"RegisterServiceProvisionRequest":{"type":"object","required":["instanceName","publicUrl","serviceDefinitionLink"],"properties":{"instanceName":{"type":"string","description":"Instance Name"},"serviceDefinitionLink":{"type":"string","description":"Service Definition Link"},"publicUrl":{"type":"string","description":"Public URL"}},"description":"Register an external service instance"},"RemoveServiceTaskStatusResponse":{"type":"object","properties":{"stage":{"type":"string","description":"Task stage","enum":["CREATED","STARTED","FINISHED","FAILED","CANCELLED"]},"durationMicros":{"type":"integer","format":"int64","description":"Task duration"},"subStage":{"type":"string","description":"Task substage","enum":["REMOVE_SERVICES","UPDATE_IAAS","REMOVE_SERVICE_DOCUMENT"]},"failureMessage":{"type":"string","description":"Failure message"},"taskLink":{"type":"string","description":"Link to this task"}},"description":"Remove Service Task Status"},"ScaleServiceResponse":{"type":"object","properties":{"scaleServiceTaskLink":{"type":"string","description":"Scale Service Task Link"}},"description":"Service scale task"},"BaseScaleServiceRequest":{"type":"object","required":["desiredInstances","serviceLink"],"properties":{"serviceLink":{"type":"string","description":"Service Link"},"desiredInstances":{"type":"array","description":"Desired Instances","items":{"$ref":"#/definitions/ScaleElementRequest"}}},"description":"Scale a service element"},"ScaleElementRequest":{"type":"object","properties":{"elementName":{"type":"string","description":"Element Name"},"instanceCount":{"type":"integer","format":"int32","description":"Instance Count"}},"description":"Service element name and desired instance count"},"ScaleServiceTaskStatusResponse":{"type":"object","properties":{"serviceLink":{"type":"string","description":"Service Link"},"stage":{"type":"string","description":"Task stage","enum":["CREATED","STARTED","FINISHED","FAILED","CANCELLED"]},"durationMicros":{"type":"integer","format":"int64","description":"Task duration"},"subStage":{"type":"string","description":"Task substage","enum":["SCALE_SERVICES","UPDATE_SERVICE_DOCUMENT"]},"failureMessage":{"type":"string","description":"Failure message"},"taskLink":{"type":"string","description":"Link to this task"}},"description":"Scale Service Task Status"},"UpgradeServiceResponse":{"type":"object","properties":{"serviceLink":{"type":"string","description":"Service Link"},"upgradeTaskLink":{"type":"string","description":"Upgrade Task Link"}},"description":"Service Link and Task Link for Upgrade"},"UpgradeElementDefinition":{"type":"object","properties":{"elementName":{"type":"string","description":"Element Name"},"image":{"type":"string","description":"image"},"upgradeStrategy":{"type":"integer","format":"int32","description":"upgradeStrategy"}},"description":"Elements of service to upgrade"},"UpgradeServiceRequest":{"type":"object","properties":{"serviceLink":{"type":"string","description":"Service link to upgrade"},"automaticRollback":{"type":"boolean","description":"Should a rollback be automatically initiated upon failure"},"elements":{"type":"array","description":"The elements list","items":{"$ref":"#/definitions/UpgradeElementDefinition"}}},"description":"Service upgrade request"},"UpgradeServiceTaskStatusResponse":{"type":"object","properties":{"automaticRollback":{"type":"boolean","description":"Was a rollback automatically initiated upon failure"},"stage":{"type":"string","description":"Task stage","enum":["CREATED","STARTED","FINISHED","FAILED","CANCELLED"]},"durationMicros":{"type":"integer","format":"int64","description":"Task duration"},"subStage":{"type":"string","description":"Task substage","enum":["UPDATE_SERVICES","WAIT_FOR_UPGRADE","UPDATE_IAAS","ROLLBACK"]},"failureMessage":{"type":"string","description":"Failure message"},"taskLink":{"type":"string","description":"Link to this task"},"serviceLink":{"type":"string","description":"Service link to upgrade"},"elements":{"type":"array","description":"The elements list","items":{"$ref":"#/definitions/UpgradeElementDefinition"}}},"description":"Upgrade Service Task Status"},"RollbackElement":{"type":"object","properties":{"elementName":{"type":"string","description":"Element Name"}},"description":"Elements of service to rollback"},"RollbackServiceRequest":{"type":"object","properties":{"serviceLink":{"type":"string","description":"Service link to rollback"},"elements":{"type":"array","description":"The elements list","items":{"$ref":"#/definitions/RollbackElement"}}},"description":"Initiate a service rollback request"},"User":{"type":"object","required":["firstName","lastName","password","username"],"properties":{"firstName":{"type":"string","description":"First Name"},"lastName":{"type":"string","description":"Last Name"},"username":{"type":"string","description":"Username"},"password":{"type":"string","description":"Password"},"refLink":{"type":"string","description":"Document Ref Link"},"address":{"type":"string","description":"Address"},"city":{"type":"string","description":"City"},"state":{"type":"string","description":"State"},"country":{"type":"string","description":"Country"},"zipcode":{"type":"string","description":"Zip Code"},"tradeId":{"type":"string","description":"Trade Id"},"company":{"type":"string","description":"Company"},"workPhone":{"type":"string","description":"workPhone"},"website":{"type":"string","description":"Website"},"emailVerified":{"type":"boolean","description":"Email Verified"},"eulaInfo":{"type":"string","description":"Eula Info"},"tnc":{"type":"boolean","description":"Tnc"}}},"RoleDto":{"type":"object","properties":{"refLink":{"type":"string"},"name":{"type":"string"},"displayName":{"type":"string"},"organizationLink":{"type":"string"}}},"UserServiceRolesResponse":{"type":"object","properties":{"serviceRoles":{"type":"array","items":{"$ref":"#/definitions/ServiceRolesDto"}}}},"Organizations":{"type":"object","properties":{"refLinks":{"type":"array","description":"Links of references","items":{"type":"string"}},"items":{"type":"array","items":{"$ref":"#/definitions/Organization"}}}},"AccessKey":{"type":"object","properties":{"key":{"type":"string","description":"Access key"}},"description":"CSP access key"},"ServiceDef":{"type":"object","properties":{"serviceName":{"type":"string"},"serviceDisplayName":{"type":"string"},"serviceRoles":{"type":"array","items":{"type":"string"}},"refLink":{"type":"string"}}},"UserInfo":{"type":"object","properties":{"user":{"$ref":"#/definitions/User"},"userOrgInfo":{"type":"array","description":"Organization and services roles","items":{"$ref":"#/definitions/UserOrgInfo"}}},"description":"User Info"},"UserOrgInfo":{"type":"object","properties":{"orgRoles":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/RoleDto"}},"servicesDef":{"type":"array","items":{"$ref":"#/definitions/ServiceDef"}}}},"RoleTypeDto":{"type":"object","properties":{"roleType":{"type":"string","description":"roleType","enum":["ORG_MEMBER","ORG_OWNER","PLATFORM_OPERATOR","SERVICE_OWNER"]},"refLink":{"type":"string","description":"Document Ref Link"}}},"Duration":{"type":"object","properties":{"seconds":{"type":"integer","format":"int64"},"nano":{"type":"integer","format":"int32"},"negative":{"type":"boolean"},"zero":{"type":"boolean"},"units":{"type":"array","items":{"$ref":"#/definitions/TemporalUnit"}}}},"TemporalUnit":{"type":"object","properties":{"timeBased":{"type":"boolean"},"duration":{"$ref":"#/definitions/Duration"},"dateBased":{"type":"boolean"},"durationEstimated":{"type":"boolean"}}},"UpgradeStatusResponse":{"type":"object","properties":{"status":{"type":"string","description":"Upgrade status"},"failureReason":{"type":"string","description":"Failure reason for the upgrade"},"runningUpgradeTasks":{"type":"integer","format":"int32","description":"How many factories are being migrated"},"currentCycleNumber":{"type":"integer","format":"int32","description":"Current migration cycle number"},"numberOfDocumentsMigratedLastCycle":{"type":"integer","format":"int64","description":"Amount of document migrated in the last cycle"},"totalNumberOfDocumentsMigrated":{"type":"integer","format":"int64","description":"Total amount of documents migrated"},"orchestratorSelflink":{"type":"string","des
[...]
