{"swagger":"2.0","info":{"version":"2","title":"MAM API V2"},"host":"cc92.ssdevrd.com","basePath":"/api/mam","schemes":["https","http"],"paths":{"/apps/applestore/search":{"get":{"tags":["AppsV2"],"summary":"New - Searches in apple app store for the applications with the specified search string and returns the details","description":"Searches in the App store for applications that match a specified search string (Example: Boxer) and return the details","operationId":"AppsV2_SearchAppleStore","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"appname","in":"query","description":"Application name to be searched. Example: Boxer. (Required) ","required":true,"type":"string","default":""},{"name":"countrycode","in":"query","description":"Country Code for searching the application in. Example: us. (Required)","required":true,"type":"string","default":""}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/StoreAppsSearchResults"}},"400":{"description":"1. {400: App Name is empty}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/apps/playstore/search":{"get":{"tags":["AppsV2"],"summary":"New - Searches in google playstore for the applications with the specified search string and returns the details","description":"Searches in the Play store for applications that match a specified search string (Example: Boxer) and return the details","operationId":"AppsV2_SearchGoogleStore","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"appname","in":"query","description":"Application name to be searched. Example: Boxer. (Required)","required":true,"type":"string","default":""},{"name":"countrycode","in":"query","description":"Country Code for searching the application in. Example: us. (Required)","required":true,"type":"string","default":""}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/StoreAppsSearchResults"}},"400":{"description":"1. {400: App Name is empty}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/apps/windowsstore/search":{"get":{"tags":["AppsV2"],"summary":"New - Searches in Windows store for the applications with the specified search string and platform and returns the details","description":"Searches in the Windows store for applications that match a specified search string (Example: Boxer) and return the details","operationId":"AppsV2_SearchWindowsStore","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"appname","in":"query","description":"Application name to be searched. Example: Boxer","required":false,"type":"string","default":""},{"name":"platform","in":"query","description":"The Device Platform to search the Applications for. Example: WindowsMobile. (Required)","required":true,"type":"string","default":""},{"name":"countrycode","in":"query","description":"Country Code for searching the application in. Example: us. (Required)","required":true,"type":"string","default":""}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/StoreAppsSearchResults"}},"400":{"description":"1. {400: App Name is empty}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/blobs/{blobId}":{"get":{"tags":["BlobsV2"],"summary":"New - Gets a blob by the Guid","description":"Returns the contents of a blob as a byte array\r\nThis operation also accepts an optional header parameter named 'range' to request a partial download (i.e. \"Range: bytes=0-1023\" to download the first KB of the file). This header is ignored if the requested file does not support partial download. In order to determine whether a file supports partial download or not, call this resource with HEAD and verify if \"Accept-Ranges: bytes\" header presents. If header presents then you can request range download for the file.","operationId":"BlobsV2_Get","consumes":["application/json","application/xml"],"produces":["application/octet-stream;version=2"],"parameters":[{"name":"blobId","in":"path","description":"Identifier of the blob to be retrieved(Required)","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK"},"206":{"description":"Partial Content"},"403":{"description":"1.{11: User is not authorized to download the requested blob.} ","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true},"delete":{"tags":["BlobsV2"],"summary":"New - Deletes a blob by Guid","description":"Deletes a blob by Guid.","operationId":"BlobsV2_Delete","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"blobId","in":"path","description":"Identifier of the blob to be deleted(Required)","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK"},"403":{"description":"1.{11: User is not authorized to delete the requested blob.} ","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]},"head":{"tags":["BlobsV2"],"summary":"New - Gets a blob contents information by the Guid","description":"Returns the information for blob contents","operationId":"BlobsV2_Head","consumes":["application/json","application/xml"],"produces":["application/octet-stream;version=2"],"parameters":[{"name":"blobId","in":"path","description":"Identifier of the blob to be retrieved(Required)","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","headers":{"Accept-Ranges":{"description":"If present it means that the file supports partial download and it can be requested using byte range header on GET API.","type":"string"}}},"204":{"description":"No Content"},"304":{"description":"Not Modified"},"403":{"description":"1.{11: User is not authorized to get contents information for the requested blob.} ","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/apps/public/{id}":{"get":{"tags":["PublicAppsV2"],"summary":"New - Gets the details of a public app identified by id.","description":"1. Retrieve the application metadata and smart group assigned to the application\r\n2. Excluded Assignment Groups are only available for viewing in the GET call. \r\n   Option to edit them is not currently available through POST/PUT APIs.\r\n3. DELETE API however deletes any SG ID associated with an application, assigned or excluded.","operationId":"PublicAppsV2_GetPublicAppById","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"id","in":"path","description":"Public App Id.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PublicAppDetailsModel"}},"401":{"description":"Unauthorized 1.{7000- Application not found or user does not have access to it.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"404":{"description":"Not Found 1.{7000- Application not found or user does not have access to it.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"501":{"description":"Not Implemented 1.{7020- This application has different deployment policies configured for different assignment groups. This version of the API does not support this configuration. Please use AirWatch Console for this action.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/apps/public":{"post":{"tags":["PublicAppsV2"],"summary":"New - Adds new public application.","description":"Adds the public application selected by searching for the bundle ID (Android) or external ID (iOS) in the app market.","operationId":"PublicAppsV2_AddPublicApplication","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"application","in":"body","description":"The application entity to be inserted.","required":true,"schema":{"$ref":"#/definitions/PublicAppsAddEditModel"}}],"responses":{"201":{"description":"AppId"},"422":{"description":"1. {7000: External Id or ApplicationUrl is required for Ios apps}2. {7002: Enter either External Id or ApplicationUrl for Ios apps}3. {7000: Bundle Id or ApplicationUrl is required for {0} apps}4. {7002: Enter either Bundle Id or ApplicationUrl for {0} apps}5. {1012: Application Name is Required for Windows Phone and Desktop}6. {1012: App Tunneling must be true to associate the application with a Vpn Profile}7. {1012: Vpn Profile Id is required when AppTunneling is enabled}8. {1012: UsesSdk must be true to associate the application with a Sdk Settings Profile}9. {1012: Sdk Settings Profile Id is required when UsesSdk is enabled}10. {1012: Send App Config must be true to pass app config values to the application}11. {1012: App Config Values are required when Send Application Configuration is enabled}12. {7000: Application not found or user does not have access to it.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/apps/public/{applicationid}":{"put":{"tags":["PublicAppsV2"],"summary":"New - Updates the public application selected by searching for the bundle ID (Android) or external ID (iOS) in the app market.","description":"Updates the details and attributes of a Public Application given the new values for a given app identifier. The app identifier is used to search for the app in the corresponding store.","operationId":"PublicAppsV2_EditPublicApplication","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"applicationid","in":"path","description":"Application id to be updated","required":true,"type":"integer","format":"int32"},{"name":"application","in":"body","description":"The application details.","required":true,"schema":{"$ref":"#/definitions/PublicAppsAddEditModel "}}],"responses":{"204":{"description":"No Content"},"400":{"description":"Bad Request 1. {7000: Vpn Profile ID is required when AppTunneling is enabled}, 2. {7000: Sdk Settings Profile ID is required when UsesSdk is enabled}, 3. {7000: App Config Values are required when Send Application Configuration is enabled}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"401":{"description":"Unauthorized 1. {7000: Application not found or user does not have access to it.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/apps/public/boxer":{"post":{"tags":["PublicAppsV2"],"summary":"Adds the public boxer flex assignment.","operationId":"PublicAppsV2_AddPublicAppBoxerFlexAssignment","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"boxerFlexAssignmentModel","in":"body","description":"The boxer flex assignment model.","required":true,"schema":{"$ref":"#/definitions/PublicAppsBoxerFlexAssignmentModel"}}],"responses":{},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/apps/public/boxer/{id}":{"get":{"tags":["PublicAppsV2"],"summary":"Gets the public application boxer flex assignment.","description":"Gets Flex deployment parameters for a provided application identifier. The assignments are for flex smartgroup assignments for a boxer public app.","operationId":"PublicAppsV2_GetPublicAppBoxerFlexAssignment","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"id","in":"path","description":"The identifier.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SmartGroupAppConfigModel"}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"401":{"description":"Unauthorized 1.{7000: Application not found or user does not have access to it.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"404":{"description":"Not Found 1.{7000: Application not found or user does not have access to it.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/apps/public/{applicationId}/smartgroups/{smartGroupId}":{"post":{"tags":["SmartGroupV2"],"summary":"New - Assigns a Smart Group to an Public Application.","description":"1. Assigns the Smart Group to the app\r\n2. Excluded Assignment Groups are only available for viewing in the GET call. \r\n   Option to edit them is not currently available through POST/PUT APIs.\r\n3. DELETE API however deletes any SG ID associated with an application, assigned or excluded.","operationId":"SmartGroupV2_AddPublicAppToSmartGroup","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"applicationId","in":"path","description":"Application Id. Example=34330","required":true,"type":"integer","format":"int32"},{"name":"smartGroupId","in":"path","description":"SmartGroup Id. Example=16224","required":true,"type":"integer","format":"int32"},{"name":"type","in":"query","description":"Type is {harmony/airwatch}.","required":false,"type":"string","default":""}],"responses":{"201":{"description":"Created"},"400":{"description":"1.{400: SmartGroup with Id : {0} is already assigned to the Application id : {1}2.{400: SmartGroup with Id : {0} is already added as an Excluded Smart Group to the Application id : {1}}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/apps/public/{applicationId}/bspsmartgroups":{"post":{"tags":["SmartGroupV2"],"summary":"New - Assigns Smart Groups to an BSP Application.","description":"Assigns smartgroup identified by the smartgroup id to the BSP application","operationId":"SmartGroupV2_AddBspAppToSmartGroup","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"applicationId","in":"path","description":"Application Id.","required":true,"type":"integer","format":"int32"},{"name":"offlinesmartgroupid","in":"query","description":"Offline smart group Identifier","required":false,"type":"string","default":""},{"name":"onlinesmartgroupid","in":"query","description":"Online smart group Identifier","required":false,"type":"string","default":""},{"name":"type","in":"query","description":"Type is {harmony/airwatch}.","required":false,"type":"string","default":""}],"responses":{"201":{"description":"Created"},"400":{"description":"1. {7002: Parameter Type cannot be null or empty}2. {7002: Invalid parameter type {type}}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"403":{"description":"1. {7401: SmartGroup with Id {smartgroupid} not found or user does not have access to it.}2. {7402: Public Application with Id : {applicationid} does not exist or cannot be assigned to the listed smartgroups.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"422":{"description":"1. {7401}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}}},"definitions":{"RequestQuery":{"description":"Implementation for RequestQuery","type":"object","properties":{}},"StoreAppsSearchResults":{"description":"Store Apps Search Results","type":"object","properties":{"Applications":{"description":"Application details","type":"array","items":{"$ref":"#/definitions/StoreApplicationDetails"},"xml":{"name":"Applications","wrapped":true}}},"xml":{"name":"StoreAppsSearchResults","namespace":"http://www.air-watch.com/webapi/resources"},"example":{"Applications":[{"BundleID":"Text value","ApplicationName":"Text value","Description":"Text value","CurrentVersion":"Text value","ExternalID":"Text value","MinimumOsVersion":"Text value","LargeIcon":{"Data":"Text value","ResultType":0,"MimeType":"Text value"},"MediumIcon":{"ResultType":0},"SmallIcon":{"ResultType":0},"AppStoreUrl":"Text value","Size":8,"AverageRating":9.0,"Version":"Text value","Categories":["Text value"],"ScreenshotImages":[{"ResultType":0}],"SellerName":"Text value","SellerURL":"Text value","Price":13.0}]}},"ImageResult":{"type":"object","properties":{"Data":{"type":"string","xml":{"name":"Data"}},"ResultType":{"format":"int32","enum":[0,1],"type":"integer","xml":{"name":"ResultType"}},"MimeType":{"type":"string","xml":{"name":"MimeType"}}}},"ImageResult ":{"type":"object","properties":{"Data":{"type":"string","xml":{"name":"Data"}},"ResultType":{"format":"int32","enum":[0,1],"type":"integer","xml":{"name":"ResultType"}},"MimeType":{"type":"string","xml":{"name":"MimeType"}}},"xml":{"name":"LargeIcon"}},"ImageResult  ":{"type":"object","properties":{"Data":{"type":"string","xml":{"name":"Data"}},"ResultType":{"format":"int32","enum":[0,1],"type":"integer","xml":{"name":"ResultType"}},"MimeType":{"type":"string","xml":{"name":"MimeType"}}},"xml":{"name":"MediumIcon"}},"ImageResult   ":{"type":"object","properties":{"Data":{"type":"string","xml":{"name":"Data"}},"ResultType":{"format":"int32","enum":[0,1],"type":"integer","xml":{"name":"ResultType"}},"MimeType":{"type":"string","xml":{"name":"MimeType"}}},"xml":{"name":"SmallIcon"}},"StoreApplicationDetails":{"description":"Store Application Details","type":"object","properties":{"BundleID":{"description":"Bundle ID of the application","type":"string","xml":{"name":"BundleID"}},"ApplicationName":{"description":"Name of Application","type":"string","xml":{"name":"ApplicationName"}},"Description":{"description":"Description","type":"string","xml":{"name":"Description"}},"CurrentVersion":{"description":"Current version of App in AppStore","type":"string","xml":{"name":"CurrentVersion"}},"ExternalID":{"description":"External ID of the application","type":"string","xml":{"name":"ExternalID"}},"MinimumOsVersion":{"description":"Minimum Os Version","type":"string","xml":{"name":"MinimumOsVersion"}},"LargeIcon":{"$ref":"#/definitions/ImageResult ","description":"Large Icon Url of the application","xml":{"name":"LargeIcon"}},"MediumIcon":{"$ref":"#/definitions/ImageResult  ","description":"Medium Icon Url of the application","xml":{"name":"MediumIcon"}},"SmallIcon":{"$ref":"#/definitions/ImageResult   ","description":"Small Icon Url of the application","xml":{"name":"SmallIcon"}},"AppStoreUrl":{"description":"App Store Url of the application","type":"string","xml":{"name":"AppStoreUrl"}},"Size":{"format":"int64","description":"Size of the application","type":"integer","xml":{"name":"Size"}},"AverageRating":{"format":"double","description":"Rating of the application","type":"number","xml":{"name":"AverageRating"}},"Version":{"description":"Version of the application","type":"string","xml":{"name":"Version"}},"Categories":{"description":"List of categories","type":"array","items":{"type":"string"},"xml":{"name":"Categories"}},"ScreenshotImages":{"description":"List of urls for screenshot images","type":"array","items":{"$ref":"#/definitions/ImageResult"},"xml":{"name":"ScreenshotImages"}},"SellerName":{"description":"Application seller's name","type":"string","xml":{"name":"SellerName"}},"SellerURL":{"description":"seller's url","type":"string","xml":{"name":"SellerURL"}},"Price":{"format":"double","description":"Application's price","type":"number","xml":{"name":"Price"}}},"xml":{"name":"AppStoreApplicationDetails","namespace":"http://www.air-watch.com/webapi/resources"}},"BaseExceptionModel":{"description":"Base model for exception","type":"object","properties":{"errorCode":{"format":"int32","description":"Application error code","type":"integer","xml":{"name":"ErrorCode"}},"message":{"description":"Friendly error message","type":"object","xml":{"name":"Message"}},"activityId":{"format":"uuid","description":"TransactionId of the request","type":"string","xml":{"name":"ActivityId"}}},"xml":{"name":"AirWatchFaultContract","namespace":"http://www.air-watch.com/"}},"IActionResult":{"description":"interface for HttpActionResult","type":"object","properties":{"RequestQuery":{"$ref":"#/definitions/IRequestQuery","description":"Gets or sets the RequestQuery","xml":{"name":"RequestQuery"}},"RequestMessage":{"description":"Gets or sets the RequestMessage","type":"object","xml":{"name":"RequestMessage"}},"HttpStatusCode":{"format":"int32","description":"Gets or sets HttpStatusCode","enum":[100,101,200,201,202,203,204,205,206,300,300,301,301,302,302,303,303,304,305,306,307,307,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,426,500,501,502,503,504,505],"type":"integer","xml":{"name":"HttpStatusCode"}},"Model":{"description":"Gets or sets Model","type":"object","xml":{"name":"Model"}},"Stream":{"$ref":"#/definitions/Stream","description":"Gets or sets Stream","xml":{"name":"Stream"}},"PartialContentRange":{"$ref":"#/definitions/RangeHeaderValue","description":"Gets or sets partial content range","xml":{"name":"PartialContentRange"}},"ByteArray":{"format":"byte","description":"Gets or sets ByteArray","type":"string","xml":{"name":"ByteArray"}},"FileName":{"description":"Gets or sets FileName {Will be set in the content-disposition header}","type":"string","xml":{"name":"FileName"}},"MediaType":{"description":"Gets or sets MediaType","type":"string","xml":{"name":"MediaType"}},"OnStreamAvailable":{"description":"Gets or sets OnStreamAvailable","type":"object","xml":{"name":"OnStreamAvailable"}},"ETagHeaderValue":{"$ref":"#/definitions/EntityTagHeaderValue","description":"Gets or sets ETagHeaderValue","xml":{"name":"ETagHeaderValue"}},"AcceptsByteRanges":{"description":"Gets or sets a value which indicates whether a range byte request for a stream is accepted or not","type":"boolean","xml":{"name":"AcceptsByteRanges"}},"SendETagHeaderValue":{"description":"Gets or sets the option to include ETagHeaderValue","type":"boolean","xml":{"name":"SendETagHeaderValue"}},"LocationHeaderValue":{"description":"Gets or sets LocationHeaderValue","type":"string","xml":{"name":"LocationHeaderValue"}},"CacheControlValue":{"$ref":"#/definitions/CacheControlHeaderValue","description":"Gets or sets CacheControlValue","xml":{"name":"CacheControlValue"}},"ContentLength":{"format":"int64","description":"Gets or sets ContentLength","type":"integer","xml":{"name":"ContentLength"}},"ResponseDateTimeFormat":{"description":"DateTime format for response","type":"string","xml":{"name":"ResponseDateTimeFormat"}}}},"IRequestQuery":{"description":"Interface for IAwRequestQuery\r\nThis will hold all the required data for a request. Will be filled from ModelBinder","type":"object","properties":{"QueryParams":{"description":"Gets or sets Query Parameters. For e.g. any query string parameters will be extracted to key,value pair and stored here.","type":"object","additionalProperties":{"type":"string"},"xml":{"name":"QueryParams"}},"TenantContext":{"$ref":"#/definitions/ITenantContext","description":"Gets or sets IAwTenantContext. Will hold the tenant details, which will be filled as part of the tenant validation handler","xml":{"name":"TenantContext"}},"RequestMethod":{"$ref":"#/definitions/HttpMethod","description":"Gets or sets RequestMethod. Will be used to write custom rules","xml":{"name":"RequestMethod"}},"ActionName":{"description":"Gets or sets ActionName","type":"string","xml":{"name":"ActionName"}},"AllowedUriQueryChars":{"description":"Gets or sets allowed Characters in Query String.","type":"array","items":{"type":"string"},"xml":{"name":"AllowedUriQueryChars"}}}},"Stream":{"type":"object","properties":{"__identity":{"type":"object"}}},"RangeHeaderValue":{"type":"object","properties":{"Unit":{"type":"string","xml":{"name":"Unit"}},"Ranges":{"type":"array","items":{"$ref":"#/definitions/RangeItemHeaderValue"},"readOnly":true,"xml":{"name":"Ranges"}}}},"EntityTagHeaderValue":{"type":"object","properties":{"Tag":{"type":"string","readOnly":true,"xml":{"name":"Tag"}},"IsWeak":{"type":"boolean","readOnly":true,"xml":{"name":"IsWeak"}}}},"CacheControlHeaderValue":{"type":"object","properties":{"NoCache":{"type":"boolean","xml":{"name":"NoCache"}},"NoCacheHeaders":{"type":"array","items":{"type":"string"},"readOnly":true,"xml":{"name":"NoCacheHeaders"}},"NoStore":{"type":"boolean","xml":{"name":"NoStore"}},"MaxAge":{"type":"string","xml":{"name":"MaxAge"}},"SharedMaxAge":{"type":"string","xml":{"name":"SharedMaxAge"}},"MaxStale":{"type":"boolean","xml":{"name":"MaxStale"}},"MaxStaleLimit":{"type":"string","xml":{"name":"MaxStaleLimit"}},"MinFresh":{"type":"string","xml":{"name":"MinFresh"}},"NoTransform":{"type":"boolean","xml":{"name":"NoTransform"}},"OnlyIfCached":{"type":"boolean","xml":{"name":"OnlyIfCached"}},"Public":{"type":"boolean","xml":{"name":"Public"}},"Private":{"type":"boolean","xml":{"name":"Private"}},"PrivateHeaders":{"type":"array","items":{"type":"string"},"readOnly":true,"xml":{"name":"PrivateHeaders"}},"MustRevalidate":{"type":"boolean","xml":{"name":"MustRevalidate"}},"ProxyRevalidate":{"type":"boolean","xml":{"name":"ProxyRevalidate"}},"Extensions":{"type":"array","items":{"$ref":"#/definitions/NameValueHeaderValue"},"readOnly":true,"xml":{"name":"Extensions"}}}},"ITenantContext":{"description":"Contract for TenantContext. Will be exposed from RequestQuery and will be injected to every controller actions and Business method","type":"object","properties":{"TenantCode":{"description":"Gets or sets TenantCode. Uniquely identify the tenant for the request","type":"string","xml":{"name":"TenantCode"}},"OrganizationgroupId":{"$ref":"#/definitions/EntityId","description":"Gets or sets Organization Group ID","xml":{"name":"OrganizationgroupId"}}}},"HttpMethod":{"type":"object","properties":{"Method":{"type":"string","readOnly":true,"xml":{"name":"Method"}}}},"RangeItemHeaderValue":{"type":"object","properties":{"From":{"format":"int64","type":"integer","readOnly":true,"xml":{"name":"From"}},"To":{"format":"int64","type":"integer","readOnly":true,"xml":{"name":"To"}}}},"NameValueHeaderValue":{"type":"object","properties":{"Name":{"type":"string","readOnly":true,"xml":{"name":"Name"}},"Value":{"type":"string","xml":{"name":"Value"}}}},"EntityId":{"type":"object","properties":{"Value":{"format":"int64","type":"integer","readOnly":true,"xml":{"name":"Value"}}}},"ImageResultModel":{"description":"The Image Result model.","type":"object","properties":{"Data":{"description":"Gets or Sets the Image Data.","type":"string","xml":{"name":"Data"}},"ResultType":{"description":"Gets or Sets the of Image Data.","type":"string","xml":{"name":"ResultType"}},"MimeType":{"description":"Gets or Sets the Mime Type.","type":"string","xml":{"name":"MimeType"}}}},"ApplicationSupportedModelsModel":{"description":"The application supported models model.","type":"object","properties":{"Name":{"description":"Gets or sets the model name.","type":"string","xml":{"name":"Name"}},"id":{"format":"int32","description":"Identifier","type":"integer","xml":{"name":"Id"}},"uuid":{"format":"uuid","description":"Gets or sets current objects UUID","type":"string","xml":{"name":"Uuid"}}}},"ApplicationCategoriesModel":{"description":"The application categories model.","type":"object","properties":{"Name":{"description":"Gets or sets the category name.","type":"string","xml":{"name":"Name"}},"id":{"format":"int32","description":"Identifier","type":"integer","xml":{"name":"Id"}},"uuid":{"format":"uuid","description":"Gets or sets current objects UUID","type":"string","xml":{"name":"Uuid"}}}},"ApplicationConfigurationModel":{"description":"The application configuration model.","type":"object","properties":{"Key":{"description":"Configuration key.","type":"string","xml":{"name":"Key"}},"Value":{"description":"Configuration value.","type":"string","xml":{"name":"Value"}},"Type":{"description":"Configuration value type, 1-string, 2-integer, 3-boolean, 7-date.","type":"string","xml":{"name":"Type"}},"id":{"format":"int32","description":"Identifier","type":"integer","xml":{"name":"Id"}},"uuid":{"format":"uuid","description":"Gets or sets current objects UUID","type":"string","xml":{"name":"Uuid"}}},"xml":{"name":"AppConfig","namespace":"http://www.air-watch.com/webapi/resources"}},"ImageResultModel ":{"description":"The Image Result model.","type":"object","properties":{"Data":{"description":"Gets or Sets the Image Data.","type":"string","xml":{"name":"Data"}},"ResultType":{"description":"Gets or Sets the of Image Data.","type":"string","xml":{"name":"ResultType"}},"MimeType":{"description":"Gets or Sets the Mime Type.","type":"string","xml":{"name":"MimeType"}}},"xml":{"name":"LargeIconUrl"}},"ImageResultModel  ":{"description":"The Image Result model.","type":"object","properties":{"Data":{"description":"Gets or Sets the Image Data.","type":"string","xml":{"name":"Data"}},"ResultType":{"description":"Gets or Sets the of Image Data.","type":"string","xml":{"name":"ResultType"}},"MimeType":{"description":"Gets or Sets the Mime Type.","type":"string","xml":{"name":"MimeType"}}},"xml":{"name":"MediumIconUrl"}},"ImageResultModel   ":{"description":"The Image Result model.","type":"object","properties":{"Data":{"description":"Gets or Sets the Image Data.","type":"string","xml":{"name":"Data"}},"ResultType":{"description":"Gets or Sets the of Image Data.","type":"string","xml":{"name":"ResultType"}},"MimeType":{"description":"Gets or Sets the Mime Type.","type":"string","xml":{"name":"MimeType"}}},"xml":{"name":"SmallIconUrl"}},"PublicAppDetailsModel":{"description":"The public app details model.","type":"object","properties":{"ApplicationName":{"description":"The Name of the Public Application","type":"string","xml":{"name":"ApplicationName"}},"LargeIconUrl":{"$ref":"#/definitions/ImageResultModel ","description":"The Url for the large icon for the Public Application","xml":{"name":"LargeIconUrl"}},"MediumIconUrl":{"$ref":"#/definitions/ImageResultModel  ","description":"The Url for the medium icon for the Public Application","xml":{"name":"MediumIconUrl"}},"SmallIconUrl":{"$ref":"#/definitions/ImageResultModel   ","description":"The Url for the small icon for the Public Application","xml":{"name":"SmallIconUrl"}},"IconId":{"format":"int32","description":"The Icon Blob Id of the Public Application","type":"integer","xml":{"name":"IconId"}},"ApplicationUrl":{"description":"The Corresponding Store Url of the Public Application","type":"string","xml":{"name":"ApplicationUrl"}},"ApplicationSource":{"format":"int32","description":"The Source of the Public Application","type":"integer","xml":{"name":"ApplicationSource"}},"Platform":{"format":"int32","description":"The Platform of the Public Application","type":"integer","xml":{"name":"Platform"}},"SupportedModels":{"description":"The Models which Support the Public Application","type":"array","items":{"$ref":"#/definitions/ApplicationSupportedModelsModel"},"xml":{"name":"SupportedModels","wrapped":true}},"AppSizeInKB":{"format":"int32","description":"The size in kilobytes of the Public Application.","type":"integer","xml":{"name":"AppSizeInKB"}},"Rating":{"format":"int32","description":"The Rating of the Public Application","type":"integer","xml":{"name":"Rating"}},"Version":{"description":"The Version of the Public Application","type":"string","xml":{"name":"Version"}},"CategoryList":{"description":"The Categories to which the Public Application belongs","type":"array","items":{"$ref":"#/definitions/ApplicationCategoriesModel"},"xml":{"name":"CategoryList","wrapped":true}},"AppId":{"description":"The Bundle Id of the Public Application","type":"string","xml":{"name":"AppId"}},"Screenshots":{"description":"The information related to Screenshots of the Public Application","type":"array","items":{"$ref":"#/definitions/ImageResultModel"},"xml":{"name":"Screenshots","wrapped":true}},"PublisherInformation":{"description":"The Application Publisher Information.","type":"string","xml":{"name":"PublisherInformation"}},"Price":{"description":"The Price of the App","type":"string","xml":{"name":"Price"}},"MinimumOsVersion":{"description":"The Minimum OS Version supported by the Application","type":"string","xml":{"name":"MinimumOsVersion"}},"Description":{"description":"The Description of the App","type":"string","xml":{"name":"Description"}},"Comments":{"description":"Comments for the Application","type":"string","xml":{"name":"Comments"}},"DefaultScheme":{"description":"The Default Scheme of the App","type":"string","xml":{"name":"DefaultScheme"}},"SmartGroupIds":{"description":"The Identifiers of the Smart Groups currently assigned to the application","type":"array","items":{"format":"int32","type":"integer"},"xml":{"name":"SmartGroupIds","wrapped":true}},"ExcludedSmartGroupIds":{"description":"The Identifiers of the Smart Groups currently excluded from receiving the application","type":"array","items":{"format":"int32","type":"integer"},"xml":{"name":"ExcludedSmartGroupIds","wrapped":true}},"PushMode":{"format":"int32","description":"The PushMode (Auto / OnDemand ) of the App","type":"integer","xml":{"name":"PushMode"}},"IsAppRestrictedToSilentInstall":{"description":"Indicates whether is app restricted to silent install or not","type":"boolean","xml":{"name":"IsAppRestrictedToSilentInstall"}},"RequireManagement":{"description":"Indicates whether device should be enrolled to get the app or not","type":"boolean","xml":{"name":"RequireManagement"}},"AppTunneling":{"description":"Indicates whether App Supports VPN","type":"boolean","xml":{"name":"AppTunneling"}},"UsesSdk":{"description":"Indicates whether application uses AirWatch SDK","type":"boolean","xml":{"name":"UsesSdk"}},"SendAppConfig":{"description":"Indicates whether App Configuration values should be sent along with the application.","type":"boolean","xml":{"name":"SendAppConfig"}},"RemoveOnUnEnroll":{"description":"Indicates whether the application should be removed on unenrollment.","type":"boolean","xml":{"name":"RemoveOnUnEnroll"}},"PreventApplicationBackup":{"description":"Indicates whether application back up will be prevented on the device.\r\nCurrently supported for iOS5.","type":"boolean","xml":{"name":"PreventApplicationBackup"}},"AllowManagement":{"description":"Indicates whether the admin chooses to assume management of User Installed Apps.","type":"boolean","xml":{"name":"AllowManagement"}},"VpnProfileId":{"format":"int32","description":"The VPN Profile ID associated with the application if AppTunneling is enabled","type":"integer","xml":{"name":"VpnProfileId"}},"VpnProfile":{"description":"The name of the VPN Profile associated with the application if Apptunneling is enabled","type":"string","xml":{"name":"VpnProfile"}},"SdkSettingsProfileId":{"format":"int32","description":"The ID for the SDK settings profile associated with the app if UsesSDK is enabled","type":"integer","xml":{"name":"SdkSettingsProfileId"}},"SdkSettingsProfile":{"description":"The name of the SDK settings associated with the application if UsesSDK is enabled","type":"string","xml":{"name":"SdkSettingsProfile"}},"AppSettingProfileId":{"format":"int32","description":"The ID of the App Settings Profile applicable to the devices in this assignment if UsesSDK is enabled","type":"integer","xml":{"name":"AppSettingProfileId"}},"AppSettingsProfile":{"description":"The name of the App settings associated with the application if UsesSDK is enabled","type":"string","xml":{"name":"AppSettingsProfile"}},"AppConfigs":{"description":"The Application Configuration Key-Value Pairs to be sent to the device when SendAppConfig is enabled","type":"array","items":{"$ref":"#/definitions/ApplicationConfigurationModel"},"xml":{"name":"AppConfigs","wrapped":true}},"id":{"format":"int32","description":"Identifier","type":"integer","xml":{"name":"Id"}},"uuid":{"format":"uuid","description":"Gets or sets current objects UUID","type":"string","xml":{"name":"Uuid"}}},"xml":{"name":"Application","namespace":"http://www.air-watch.com/webapi/resources"},"example":{"ApplicationName":"Agent","LargeIconUrl":{"Data":"Text value","ResultType":"Text value","MimeType":"Text value"},"MediumIconUrl":{},"SmallIconUrl":{},"IconId":1,"ApplicationUrl":"https://itunes.apple.com/in/app/whatsapp-messenger/id310633997?mt=8","ApplicationSource":2,"Platform":3,"SupportedModels":[{"Name":"Text value","id":1234,"uuid":"3b88754c-f5a2-42b7-b96b-f543b462257a"}],"AppSizeInKB":4,"Rating":5,"Version":"1.1","CategoryList":[{"Name":"Text value","id":1234,"uuid":"4d0d1e17-825b-44d2-9b30-a287ddec1d1f"}],"AppId":"com.facebook.katana","Screenshots":[{}],"PublisherInformation":"Software Inc","Price":"50","MinimumOsVersion":"5.0.0","Description":"Sample description of the application","Comments":"Sample comment about the application","DefaultScheme":"awsclSSO","SmartGroupIds":[1],"ExcludedSmartGroupIds":[1],"PushMode":6,"IsAppRestrictedToSilentInstall":true,"RequireManagement":true,"AppTunneling":true,"UsesSdk":true,"SendAppConfig":true,"RemoveOnUnEnroll":true,"PreventApplicationBackup":true,"AllowManagement":true,"VpnProfileId":15,"VpnProfile":"Tunnel Settings","SdkSettingsProfileId":16,"SdkSettingsProfile":"Default SDK Profile","AppSettingProfileId":17,"AppSettingsProfile":"Default Settings Profile","AppConfigs":[{"Key":"total","Value":"10","Type":"2","id":1234,"uuid":"ecee4434-0aed-4ac4-be4f-7264dde46b1c"}],"id":1234,"uuid":"31e91d6a-82a4-4a92-baf4-91d3823fc110"}},"PublicAppsAddEditModel":{"description":"The public apps add/edit model.","type":"object","properties":{"ApplicationName":{"description":"Gets or sets the Application Name.","type":"string","xml":{"name":"ApplicationName"}},"IconId":{"format":"int32","description":"Gets or sets Icon Blob Id of the App.","type":"integer","xml":{"name":"IconId"}},"ApplicationUrl":{"description":"Gets or sets the url for the Application.","type":"string","xml":{"name":"ApplicationUrl"}},"Platform":{"format":"int32","description":"Gets or sets the Platform.","type":"integer","xml":{"name":"Platform"}},"ExternalId":{"description":"Gets or sets the App External ID.","type":"string","xml":{"name":"ExternalId"}},"CategoryList":{"description":"Gets or sets the application category list.","type":"array","items":{"$ref":"#/definitions/ApplicationCategoriesModel"},"xml":{"name":"CategoryList","wrapped":true}},"BundleId":{"description":"Gets or sets Bundle Id of the App.","type":"string","xml":{"name":"BundleId"}},"LocationGroupId":{"format":"int32","description":"Gets or sets Location Group Id of the App.","type":"integer","xml":{"name":"LocationGroupId"}},"Comments":{"description":"Gets or sets the Comments for the Application.","type":"string","xml":{"name":"Comments"}},"DefaultScheme":{"description":"Gets or sets the Application Default Scheme.","type":"string","xml":{"name":"DefaultScheme"}},"RequireManagement":{"description":"Gets or sets a value indicating whether device should be enrolled to get the app.","type":"boolean","xml":{"name":"RequireManagement"}},"AppTunneling":{"description":"Gets or sets a value indicating whether Per App Vpn is enabled.","type":"boolean","xml":{"name":"AppTunneling"}},"UsesSdk":{"description":"Gets or sets a value indicating whether application uses AirWatch SDK.","type":"boolean","xml":{"name":"UsesSdk"}},"SendAppConfig":{"description":"Gets or sets a value indicating whether App Configuration values should be sent along with the application.","type":"boolean","xml":{"name":"SendAppConfig"}},"RemoveOnUnEnroll":{"description":"Gets or sets a value indicating whether the application should be removed on unenrollment.","type":"boolean","xml":{"name":"RemoveOnUnEnroll"}},"PreventApplicationBackup":{"description":"Gets or sets a value indicating whether application back up will be prevented on the device.\r\nCurrently supported for iOS5.","type":"boolean","xml":{"name":"PreventApplicationBackup"}},"AllowManagement":{"description":"Gets or sets a value indicating whether if admin chooses to assume management of User Installed Apps.","type":"boolean","xml":{"name":"AllowManagement"}},"VpnProfileId":{"format":"int32","description":"Gets or sets a value indicating the VPN Profile ID associated with the application.","type":"integer","xml":{"name":"VpnProfileId"}},"AfwVpnProfileId":{"format":"int32","description":"Gets or sets a value indicating the AFW VPN Profile ID associated with the application.","type":"integer","xml":{"name":"AfwVpnProfileId"}},"SdkSettingsProfileId":{"format":"int32","description":"Gets or sets a value indicating the ID for the SDK settings profile associated with the app.","type":"integer","xml":{"name":"SdkSettingsProfileId"}},"AppSettingProfileId":{"format":"int32","description":"Gets or sets a value indicating the ID of the App Settings Profile applicable to the devices in this assignment.","type":"integer","xml":{"name":"AppSettingProfileId"}},"IsAppRestrictedToSilentInstall":{"description":"Gets or sets a value indicating whether is app restricted to silent install.","type":"boolean","xml":{"name":"IsAppRestrictedToSilentInstall"}},"AppConfigs":{"description":"Gets or sets the app configs.","type":"array","items":{"$ref":"#/definitions/ApplicationConfigurationModel"},"xml":{"name":"AppConfigs","wrapped":true}},"PushMode":{"format":"int32","description":"Gets or sets the Push Mode for the Application.","type":"integer","xml":{"name":"PushMode"}},"id":{"format":"int32","description":"Identifier","type":"integer","xml":{"name":"Id"}},"uuid":{"format":"uuid","description":"Gets or sets current objects UUID","type":"string","xml":{"name":"Uuid"}}},"xml":{"name":"Application","namespace":"http://www.air-watch.com/webapi/resources"},"example":{"ApplicationName":"Text value","IconId":1,"ApplicationUrl":"Text value","Platform":3,"ExternalId":"Text value","CategoryList":[{"Name":"Text value","id":1234,"uuid":"a3e7ca07-b225-4146-af69-129951b4e2eb"}],"BundleId":"Text value","LocationGroupId":6,"Comments":"Text value","DefaultScheme":"Text value","RequireManagement":true,"AppTunneling":true,"UsesSdk":true,"SendAppConfig":true,"RemoveOnUnEnroll":true,"PreventApplicationBackup":true,"AllowManagement":true,"VpnProfileId":1,"AfwVpnProfileId":1,"SdkSettingsProfileId":1,"AppSettingProfileId":1,"IsAppRestrictedToSilentInstall":true,"AppConfigs":[{"Key":"total","Value":"10","Type":"2","id":1234,"uuid":"7139db71-788a-4f77-8779-1e946fe59ba6"}],"PushMode":1,"id":1234,"uuid":"e91565c7-abee-4c77-8eb8-c71f75bec4be"}},"PublicAppsAddEditModel ":{"title":"PublicAppsAddEditModel","description":"The public apps add/edit model.","type":"object","properties":{"ApplicationName":{"description":"Gets or sets the Application Name.","type":"string","xml":{"name":"ApplicationName"}},"IconId":{"format":"int32","description":"Gets or sets Icon Blob Id of the App.","type":"integer","xml":{"name":"IconId"}},"CategoryList":{"description":"Gets or sets the application category list.","type":"array","items":{"$ref":"#/definitions/ApplicationCategoriesModel"},"xml":{"name":"CategoryList","wrapped":true}},"Comments":{"description":"Gets or sets the Comments for the Application.","type":"string","xml":{"name":"Comments"}},"DefaultScheme":{"description":"Gets or sets the Application Default Scheme.","type":"string","xml":{"name":"DefaultScheme"}},"RequireManagement":{"description":"Gets or sets a value indicating whether device should be enrolled to get the app.","type":"boolean","xml":{"name":"RequireManagement"}},"AppTunneling":{"description":"Gets or sets a value indicating whether Per App Vpn is enabled.","type":"boolean","xml":{"name":"AppTunneling"}},"UsesSdk":{"description":"Gets or sets a value indicating whether application uses AirWatch SDK.","type":"boolean","xml":{"name":"UsesSdk"}},"SendAppConfig":{"description":"Gets or sets a value indicating whether App Configuration values should be sent along with the application.","type":"boolean","xml":{"name":"SendAppConfig"}},"RemoveOnUnEnroll":{"description":"Gets or sets a value indicating whether the application should be removed on unenrollment.","type":"boolean","xml":{"name":"RemoveOnUnEnroll"}},"PreventApplicationBackup":{"description":"Gets or sets a value indicating whether application back up will be prevented on the device.\r\nCurrently supported for iOS5.","type":"boolean","xml":{"name":"PreventApplicationBackup"}},"AllowManagement":{"description":"Gets or sets a value indicating whether if admin chooses to assume management of User Installed Apps.","type":"boolean","xml":{"name":"AllowManagement"}},"VpnProfileId":{"format":"int32","description":"Gets or sets a value indicating the VPN Profile ID associated with the application.","type":"integer","xml":{"name":"VpnProfileId"}},"AfwVpnProfileId":{"format":"int32","description":"Gets or sets a value indicating the AFW VPN Profile ID associated with the application.","type":"integer","xml":{"name":"AfwVpnProfileId"}},"SdkSettingsProfileId":{"format":"int32","description":"Gets or sets a value indicating the ID for the SDK settings profile associated with the app.","type":"integer","xml":{"name":"SdkSettingsProfileId"}},"AppSettingProfileId":{"format":"int32","description":"Gets or sets a value indicating the ID of the App Settings Profile applicable to the devices in this assignment.","type":"integer","xml":{"name":"AppSettingProfileId"}},"IsAppRestrictedToSilentInstall":{"description":"Gets or sets a value indicating whether is app restricted to silent install.","type":"boolean","xml":{"name":"IsAppRestrictedToSilentInstall"}},"AppConfigs":{"description":"Gets or sets the app configs.","type":"array","items":{"$ref":"#/definitions/ApplicationConfigurationModel"},"xml":{"name":"AppConfigs","wrapped":true}},"PushMode":{"format":"int32","description":"Gets or sets the Push Mode for the Application.","type":"integer","xml":{"name":"PushMode"}},"uuid":{"format":"uuid","description":"Gets or sets current objects UUID","type":"string","xml":{"name":"Uuid"}}},"xml":{"name":"Application","namespace":"http://www.air-watch.com/webapi/resources"},"example":{"ApplicationName":"Text value","IconId":1,"Platform":0,"CategoryList":[{"Name":"Text value","id":1234,"uuid":"89157e55-70d4-4c55-b108-293d4f437ba7"}],"LocationGroupId":0,"Comments":"Text value","DefaultScheme":"Text value","RequireManagement":true,"AppTunneling":true,"UsesSdk":true,"SendAppConfig":true,"RemoveOnUnEnroll":true,"PreventApplicationBackup":true,"AllowManagement":true,"VpnProfileId":1,"AfwVpnProfileId":1,"SdkSettingsProfileId":1,"AppSettingProfileId":1,"IsAppRestrictedToSilentInstall":true,"AppConfigs":[{"Key":"total","Value":"10","Type":"2","id":1234,"uuid":"006f6aff-0d7c-4ac7-90b9-168ca6762833"}],"PushMode":1,"uuid":"c516ce83-46bc-414f-b347-2c4785a5e72e"}},"PublicAppsBoxerFlexAssignmentModel":{"description":"Model to store the fields which will be used in the Boxer Flex Deployment API","type":"object","properties":{"ApplicationId":{"format":"int32","description":"Gets or sets the application identifier.","type":"integer","xml":{"name":"ApplicationId"}},"BoxerAppConfig":{"description":"The boxer application configuration","type":"array","items":{"$ref":"#/definitions/BoxerAppConfigModel"},"xml":{"name":"BoxerAppConfig"}},"SmartGroupIds":{"description":"The smart group ids","type":"array","items":{"format":"int32","type":"integer"},"xml":{"name":"SmartGroupIds"}},"ExcludedSmartGroupIds":{"description":"The excluded smart group ids","type":"array","items":{"format":"int32","type":"integer"},"xml":{"name":"ExcludedSmartGroupIds"}},"DeviceType":{"format":"int32","description":"Gets or sets the type of the device.","type":"integer","xml":{"name":"DeviceType"}},"id":{"format":"int32","description":"Identifier","type":"integer","xml":{"name":"Id"}},"uuid":{"format":"uuid","description":"Gets or sets current objects UUID","type":"string","xml":{"name":"Uuid"}}},"example":{"ApplicationId":1,"BoxerAppConfig":[{"Key":"Text value","Value":"Text value","ValueType":3}],"SmartGroupIds":[1],"ExcludedSmartGroupIds":[1],"DeviceType":2,"id":1234,"uuid":"441ffe37-0653-4b11-97bd-37eabd46f0c1"}},"BoxerAppConfigModel":{"description":"Class to store key value pairs for Boxer (Api and Integration tests)","type":"object","properties":{"Key":{"description":"Gets or sets the key.","type":"string","xml":{"name":"Key"}},"Value":{"description":"Gets or sets the Value","type":"string","xml":{"name":"Value"}},"ValueType":{"format":"int32","description":"Gets or sets the ValueType","type":"integer","xml":{"name":"ValueType"}}}},"SmartGroupAppConfigModel":{"description":"Smart Group App Config","type":"object","properties":{"SmartGroupID":{"format":"int32","description":"Gets or sets the smart group identifier.","type":"integer","xml":{"name":"SmartGroupID"}},"SmartGroupName":{"description":"Gets or sets the name.","type":"string","xml":{"name":"SmartGroupName"}},"AppID":{"format":"int32","description":"Gets or sets the application identifier.","type":"integer","xml":{"name":"AppID"}},"AppConfigs":{"description":"Gets or sets the application configs.","type":"array","items":{"$ref":"#/definitions/BoxerAppConfigModel"},"xml":{"name":"AppConfigs"}},"id":{"format":"int32","description":"Identifier","type":"integer","xml":{"name":"Id"}},"uuid":{"format":"uuid","description":"Gets or sets current objects UUID","type":"string","xml":{"name":"Uuid"}}},"example":[{"SmartGroupID":1,"SmartGroupName":"Text value","AppID":1,"AppConfigs":[{"Key":"Text value","Value":"Text value","ValueType":3}],"id":1234,"uuid":"5bb34444-8964-4fed-9f5d-e14cd734cbb2"}]}},"securityDefinitions":{"BasicAuth":{"type":"basic"},"ApiKeyAuth":{"type":"apiKey","description":"API Key","name":"aw-tenant-code","in":"header"},"GroupIdAuth":{"type":"apiKey","description":"Group ID","name":"aw-groupid","in":"header"},"OAuth":{"type":"oauth2","flow":"accessCode","authorizationUrl":"https://example.com/oauth/authorize","tokenUrl":"https://example.com/oauth/token","scopes":{"read":"Grants read access","write":"Grants write access","admin":"Grants read and write access to administrative information"}},"CmsAuth":{"type":"apiKey","description":"CMS Authentication","name":"Authorization","in":"header"}}}