{"swagger":"2.0","info":{"version":"1","title":"MAM API V1"},"host":"cc92.ssdevrd.com","basePath":"/api/mam","schemes":["https","http"],"paths":{"/groups/{uuid}/androidwork/apps/import":{"post":{"tags":["AndroidWorkAppsV1"],"summary":"New - Import approved Android Enterprise apps to AirWatch","description":"* Imports all the approved apps in admin Google account of the organization to AirWatch. This makes them available to be managed by AirWatch. Imported apps can be assigned to the smart groups to be made available to the users in the organization.","operationId":"AndroidWorkAppsV1_Import","consumes":["application/json"],"produces":["application/json;version=1"],"parameters":[{"name":"uuid","in":"path","description":"Unique Identifier for the organization group(Required)","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"Ok","schema":{"type":"array","items":{"$ref":"#/definitions/AndroidWorkImportedAppV1Model"}}},"204":{"description":"No Content"},"412":{"description":"{7501: Android Enterprise is not enabled for this Organization Group}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/groups/{uuid}/androidwork/apps":{"patch":{"tags":["AndroidWorkAppsV1"],"summary":"New - Approve an app on admin Google account for the organization","description":"* Approves the input application on admin Google account for given organization group. This has the same effect of logging into Google Work PlayStore and approving a selected application for the organization. This does not add that application automatically to AirWatch. Call to 'import' API is needed for the same.","operationId":"AndroidWorkAppsV1_Patch","consumes":["application/json"],"produces":["application/json;version=1"],"parameters":[{"name":"uuid","in":"path","description":"Unique Identifier for the organization group(Required)","required":true,"type":"string","format":"uuid"},{"name":"androidWorkAppSettingV1Model","in":"body","description":"JsonPatch containing operation type and the model. Only 'replace' operation is supported.(Required)","required":true,"schema":{"$ref":"#/definitions/AndroidWorkAppSettingV1ModelPatch","externalDocs":{"description":"JSON Patch documentation","url":"https://tools.ietf.org/html/rfc6902"}}},{"name":"bundleId","in":"query","description":"Unique Identifier for the Android application on Google PlayStore(Required)","required":true,"type":"string","default":""}],"responses":{"204":{"description":"No Content"},"400":{"description":"1. {7001: Please make sure the bundleId is valid.} 2. {6: Invalid Operation: update}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/apps/appgroups/{appgroupid}":{"get":{"tags":["AppGroups"],"summary":"Retrieves the Application group details based on the Application Group id.","description":"Checks if application group with passed in id exists and if its accessible and returns the application group record","operationId":"AppGroups_GetAppGroupDetails","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"appgroupid","in":"path","description":"Application Group Identifier. (Minimum value = 1) Example=2","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApplicationGroup"}},"400":{"description":"User does not have access to Application group with id : {appGroupId}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"404":{"description":"Application group with id : {appGroupId} not found","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]},"put":{"tags":["AppGroups"],"summary":"Updates the specified Application Group.","description":"Performs a check for the mandatory params present in the request body and updates the specified Application Group","operationId":"AppGroups_UpdateApplicationGroup","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"appgroupid","in":"path","description":"The Application Group Id. (Minimum value = 1) Example=2","required":true,"type":"integer","format":"int32"},{"name":"applicationGroup","in":"body","description":"Updated Application Group details.","required":true,"schema":{"$ref":"#/definitions/ApplicationGroup"}}],"responses":{"200":{"description":"OK"},"400":{"description":" 1. { 400: The device type is invalid.} 2. { 400: Application Group type is invalid.} 3. { 400: User does not have access to Application group with id : {appgroupid}}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"404":{"description":"1. { 404 : Application group with id : {appgroupid} not found} ","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/apps/appgroups":{"post":{"tags":["AppGroups"],"summary":"Creates an Application Group.","description":"Checks for the mandatory params in the input request body and creates an Application Group","operationId":"AppGroups_CreateApplicationGroup","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"applicationGroup","in":"body","description":"The Application Group details.","required":true,"schema":{"$ref":"#/definitions/ApplicationGroup"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApplicationGroup"}},"400":{"description":"1. { 400: Mandatory input parameter missing. Mandatory params : ApplicationGroup Name / Platform / App Group Type} 2. { 400: Atleast one application is needed for Application group creation.}3. { 400: The device type is invalid.} 4. { 400: Application Group type is invalid.}5. { 400: Resource's organization group :{OGId} not found or user does not have access to this organization group.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]},"delete":{"tags":["AppGroups"],"summary":"Deletes Application Groups identified by Application Group Identifiers.","description":"Takes in atleast one App Group Id to perform deletion of the corresponding record","operationId":"AppGroups_BulkDeleteApplicationGroup","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"bulkInput","in":"body","description":"List of Application Group IDs.","required":true,"schema":{"$ref":"#/definitions/BulkInput"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BulkResponse"}},"400":{"description":" 1. { 400: Bulk Input should contain a minimum of one App Group ID.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"404":{"description":" 1. { 404: AppGroup Not Found or User does not have access.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/apps/appgroups/{appgroupid}/applications":{"post":{"tags":["AppGroups"],"summary":"Adds applications to the specified Application Group.","description":"Performs the mandatory params check and adds the List of applications supplied to the specified Application Group","operationId":"AppGroups_AddApplicationsToApplicationGroup","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"appgroupid","in":"path","description":"Application Group Identifier. (Minimum value = 1) Example = 2","required":true,"type":"integer","format":"int32"},{"name":"bulkInput","in":"body","description":"List of Applications to be added to the specified application group.","required":true,"schema":{"$ref":"#/definitions/BulkAppInput"}}],"responses":{"200":{"description":"OK"},"400":{"description":"1. { 400: Application Id cannot be null or empty.} , 2. { 400: The same application has been added multiple times in this app group.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]},"delete":{"tags":["AppGroups"],"summary":"Deletes applications from the specified Application Group.","description":"Takes in a list of application groups, checks for the Application Group Type and performs deletion","operationId":"AppGroups_DeleteApplicationsFromApplicationGroup","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"appgroupid","in":"path","description":"Application Group Identifier. (Minimum value = 1) Example = 2","required":true,"type":"integer","format":"int32"},{"name":"bulkInput","in":"body","description":"List of Applications to be deleted from the specified application group.","required":true,"schema":{"$ref":"#/definitions/BulkAppInput"}}],"responses":{"200":{"description":"OK"},"400":{"description":"1. { 400: Application Id cannot be null or empty.} 2. { 400: Application Group type is invalid.} 3. { 400: User does not have access to Application group with id : {appgroupid}} 4. { 400: Apps cannot be deleted because after deleting the apps, there should be a minimum of one app item in the App Group.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"404":{"description":"1. {404 : Application Item Not found.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/apps/appgroups/search":{"get":{"tags":["AppGroups"],"summary":"Searches for the Application Groups based on the query information provided.","description":"Takes in query parameters to perform a search on the available Application Groups","operationId":"AppGroups_ApplicationGroupSearch","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"appgroupname","in":"query","description":"App Group name. Example = \"Apple MDM Applications\"","required":false,"type":"string","default":""},{"name":"organizationgroupid","in":"query","description":"OrganizationGroup Id. Example = \"7\"","required":false,"type":"string","default":""},{"name":"platform","in":"query","description":"The Application Platform. Example = \"Android\"","required":false,"type":"string","default":""},{"name":"appgrouptype","in":"query","description":"Application group type [Whitelist, Blacklist, Required, MDMApplication].","required":false,"type":"string","default":""},{"name":"orderby","in":"query","description":"Orderby column name. Example = \"ApplicationCount\"","required":false,"type":"string","default":""},{"name":"sortorder","in":"query","description":"Sorting order. Values ASC or DESC. Defaults to ASC.","required":false,"type":"string","default":""},{"name":"page","in":"query","description":"Page number.Example = \"2\"","required":false,"type":"string","default":""},{"name":"pagesize","in":"query","description":"Records per page.Example = \"10\"","required":false,"type":"string","default":""}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApplicationGroupSearchResult"}},"400":{"description":"1.{400: Organization Group with id : {OGId} not found or Admin user does not have access to it.}  2.{400: The Application Group type is invalid.} 3. {400: User doesn't have access to organization group or organization group not found : {OGId}.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/apps/appgroups/create":{"post":{"tags":["AppGroups"],"summary":"Creates an Application Group.","description":"Adds Application groups to Console. This will take set of actions on devices that do not comply to install, update, or removal","operationId":"AppGroups_CreateAppGroup","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"applicationGroup","in":"body","description":"The Application Group details.","required":true,"schema":{"$ref":"#/definitions/ApplicationGroup"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApplicationGroup"}},"400":{"description":"1.{400: Atleast one application is needed for Application group creation. } 2.{400: Mandatory input parameter missing. Mandatory params : ApplicationGroup Name / Platform / App Group Type} ","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"deprecated":true,"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/apps/appgroups/delete":{"post":{"tags":["AppGroups"],"summary":"Deletes Application Groups identified by Application Group Identifiers.","description":"Deletes Application group. This will take set of actions on devices that do not comply to install, update, or removal","operationId":"AppGroups_BulkDeleteAppGroup","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"bulkInput","in":"body","description":"List of Application Group IDs.","required":true,"schema":{"$ref":"#/definitions/BulkInput"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BulkResponse"}},"400":{"description":"1. {400: Bulk Input should contain a minimum of one App Group ID.} ","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"deprecated":true,"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/apps/appgroups/{appgroupid}/update":{"post":{"tags":["AppGroups"],"summary":"Updates the specified Application Group.","description":"Modify an application group. This will take set of actions on devices that do not comply to install, update, or removal","operationId":"AppGroups_UpdateAppGroup","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"appgroupid","in":"path","description":"The Application Group Id.","required":true,"type":"integer","format":"int32"},{"name":"applicationGroup","in":"body","description":"Updated Application Group details.","required":true,"schema":{"$ref":"#/definitions/ApplicationGroup"}}],"responses":{"200":{"description":"OK"}},"deprecated":true,"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/apps/appgroups/{appgroupid}/addapplications":{"post":{"tags":["AppGroups"],"summary":"Adds applications to the specified Application Group.","description":"Adds applications to specified Application Group. This allows to configure applications and take set of actions on devices that do not comply to install, update, or removal","operationId":"AppGroups_AddApplicationsToAppGroup","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"appgroupid","in":"path","description":"Application Group Identifier.","required":true,"type":"integer","format":"int32"},{"name":"bulkInput","in":"body","description":"List of Applications to be added to the specified application group.","required":true,"schema":{"$ref":"#/definitions/BulkAppInput"}}],"responses":{"200":{"description":"OK"},"400":{"description":"1. {400: Bulk Input should contain a minimum of one App Group ID.} ","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"deprecated":true,"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/apps/appgroups/{appgroupid}/deleteapplications":{"post":{"tags":["AppGroups"],"summary":"Deletes applications from the specified Application Group.","description":"Deletes specified applications from the Application Group. This allows to take set of actions on devices that do not comply to install, update, or removal","operationId":"AppGroups_DeleteApplicationsFromAppGroup","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"appgroupid","in":"path","description":"Application Group Identifier.","required":true,"type":"integer","format":"int32"},{"name":"bulkInput","in":"body","description":"List of Applications to be deleted from the specified application group.","required":true,"schema":{"$ref":"#/definitions/BulkAppInput"}}],"responses":{"200":{"description":"OK"}},"deprecated":true,"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/apps/appgroupsearch":{"get":{"tags":["AppGroups"],"summary":"Searches for the Application Groups based on the query information provided.","description":"Search Application groups based on filters like AppGroupType, Platform etc.,","operationId":"AppGroups_AppGroupSearch","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"appgroupname","in":"query","description":"App Group name.","required":false,"type":"string","default":""},{"name":"organizationgroupid","in":"query","description":"OrganizationGroup Id.","required":false,"type":"string","default":""},{"name":"platform","in":"query","description":"The Application Platform.","required":false,"type":"string","default":""},{"name":"appgrouptype","in":"query","description":"App group type [Whitelist, Blacklist, Required, MDMApplication].","required":false,"type":"string","default":""},{"name":"orderby","in":"query","description":"Orderby column name. Defaults by AppGroupId","required":false,"type":"string","default":""},{"name":"sortorder","in":"query","description":"Sorting order. Values ASC or DESC. Defaults to ASC.","required":false,"type":"string","default":""},{"name":"page","in":"query","description":"Specific page number to get. 0 based index","required":false,"type":"string","default":""},{"name":"pagesize","in":"query","description":"Records per page. Default 500","required":false,"type":"string","default":""}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApplicationGroupSearchResult"}},"400":{"description":"1.{400: The Application Group type is invalid.} 2.{400: Organization Group with id : {0} not found or Admin user does not have access to it. } ","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"deprecated":true,"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/appsintegration/entitlementnotifications":{"post":{"tags":["ApplicationIntegration"],"summary":"Receives the entitlement notification message with the details","description":"Receives the entitlement notification message with notification details for application integration.","operationId":"ApplicationIntegration_EntitlementNotifications","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"messages","in":"body","description":"Message details along with type of message [Add, Delete, Update] (Required)","required":true,"schema":{"$ref":"#/definitions/BaseNotification"}}],"responses":{"200":{"description":"OK"},"400":{"description":"1. {400: Invalid entitlement notification type.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/appsintegration/catalogitemnotifications":{"post":{"tags":["ApplicationIntegration"],"summary":"Receives the catalog notification messages with the details","description":"Receives the catalog notification messages with notification details for application integration.","operationId":"ApplicationIntegration_CatalogNotifications","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"messages","in":"body","description":"Catalog notification details (Required)","required":true,"schema":{"$ref":"#/definitions/BaseNotification"}}],"responses":{"200":{"description":"OK"},"400":{"description":"1. {400: Mandatory Input Message is missing.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/apps/udid/{udid}/{devicetype}":{"patch":{"tags":["Apps"],"summary":"New - Update status of Apps as according to the user's input.","description":"Update status of the applications given in the input list with the status (e.g. UserRejected, Managed, Installing) provided by user.","operationId":"Apps_UpdateManagedAppListStatus","consumes":["application/json","application/json-patch+json"],"produces":["application/json;version=1"],"parameters":[{"name":"udid","in":"path","description":"udid of the device for which the action needs to be performed.(Required)","required":true,"type":"string"},{"name":"devicetype","in":"path","description":"Type of the device whose udid is being passed. e.g. Apple , Android , WindowsPhone8, WinRT(Required)","required":true,"type":"integer","format":"int32","enum":[0,1,2,3,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,100,101,102,103,104,105,200,201]},{"name":"AppListForStatusUpdate","in":"body","description":"This represents the list of Application Ids and type of application.(Required)","required":true,"schema":{"$ref":"#/definitions/AppV1ListModel"}}],"responses":{"204":{"description":"No Content"},"422":{"description":"1. {1012: The Status field is required}2. {1012: The AppType field is required}3. {7302: Device Not Found Or Not Enrolled}4. {7017: Updating Apps sample with given status failed}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/apps/reconcile/search":{"get":{"tags":["Apps"],"summary":"New - Obtain a list of assignments for a given filter with device IDs and App IDs","description":"For a given device and app ID, the response will include a list of assignments corresponding to either, or both filters.","operationId":"Apps_ReconcileAppsAndDevices","consumes":["application/json","application/json-patch+json"],"produces":["application/json;version=1"],"parameters":[{"name":"appId","in":"query","description":"App Id for which to get Device assignments for","required":false,"type":"string","default":""},{"name":"deviceId","in":"query","description":"Device Id for which to get App assignments for","required":false,"type":"string","default":""},{"name":"appType","in":"query","description":"Type of application that corresponds with the App ID","required":false,"type":"","default":""},{"name":"page","in":"query","description":"Specific page number to get. 0 based index(Required)","required":true,"type":"string","default":""},{"name":"pagesize","in":"query","description":"Maximum records per page. Default 500(Required)","required":true,"type":"string","default":""}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AppsReconcileAssignmentsV1Model"}},"400":{"description":"1. {7023: Neither DeviceID nor ApplicationID was provided} ","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/apps/search":{"get":{"tags":["Apps"],"summary":"Search and retrieve details for both internal and external applications.","description":"Searches for an application, given filters including type, name, category and organization group id. Returns a list of applications that match the criteria with details of each application.","operationId":"Apps_Search","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"type","in":"query","description":"The Product Type - App or Book","required":false,"type":"string","default":""},{"name":"applicationtype","in":"query","description":"Type of the application. (Internal/Public)","required":false,"type":"string","default":""},{"name":"applicationname","in":"query","description":"Application Name.","required":false,"type":"string","default":""},{"name":"category","in":"query","description":"The Application Category.","required":false,"type":"string","default":""},{"name":"bundleid","in":"query","description":"BundleId/PackageId","required":false,"type":"string","default":""},{"name":"locationgroupid","in":"query","description":"LocationGroup Identifier.","required":false,"type":"string","default":""},{"name":"model","in":"query","description":"Device Model.","required":false,"type":"string","default":""},{"name":"status","in":"query","description":"Application Status.","required":false,"type":"string","default":""},{"name":"platform","in":"query","description":"The Application Platform.","required":false,"type":"string","default":""},{"name":"page","in":"query","description":"Page number.","required":false,"type":"string","default":""},{"name":"pagesize","in":"query","description":"Records per page.","required":false,"type":"string","default":""},{"name":"orderby","in":"query","description":"Orderby column name.","required":false,"type":"string","default":""}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApplicationSearchResult"}},"400":{"description":"1. {400: Invalid ProductyType. Valid values are : App, Book.}, 2. {7004: Invalid application status. Valid values are : All, Active, InActive, Retired}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/apps/managementstatus":{"get":{"tags":["Apps"],"summary":"Retrieves the application management status, i.e. the application bundle id passed is managedby AirWatch or not.","description":"v1","operationId":"Apps_GetAppManagementStatus","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"managementid","in":"query","description":"Management Id.","required":false,"type":"string","default":""},{"name":"bundleid","in":"query","description":"Bundle Id.","required":false,"type":"string","default":""}],"responses":{},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/apps/applestore/search":{"get":{"tags":["Apps"],"summary":"Searches in App stores for the applications with the specified search string and returns the details","description":"Searches in the App store for applications that match a specified search string (Example: Boxer) and return the details","operationId":"Apps_SearchAppleStore","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"appname","in":"query","description":"Application name to be searched. Example: Boxer. (Required)","required":true,"type":"string","default":""}],"responses":{"200":{"description":"OK"},"400":{"description":"1. {400: App Name is empty}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/apps/playstore/search":{"get":{"tags":["Apps"],"summary":"Searches in Google play store for the applications with the specified search string and returns the details","description":"Searches in the Play store for applications that match a specified search string (Example: Boxer) and return the details","operationId":"Apps_SearchGooglePlayStore","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"appname","in":"query","description":"Application name to be searched. Example: Boxer. (Required)","required":true,"type":"string","default":""}],"responses":{"200":{"description":"OK"},"400":{"description":"1. {400: App Name is empty}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/apps/windowsstore/search":{"get":{"tags":["Apps"],"summary":"Retrieves the details of the applications from the Windows App Store based on the search request.","description":"Searches in the Windows store for applications that match a specified search string (Example: Boxer) and return the details","operationId":"Apps_WindowsStoreSearch","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"appname","in":"query","description":"Application name to be searched. Example: Boxer. (Required)","required":true,"type":"string","default":""},{"name":"platform","in":"query","description":"Device Platform to search the Applications for. Example: WindowsMobile. (Required)","required":true,"type":"string","default":""}],"responses":{"200":{"description":"OK"},"400":{"description":"1. {400: App Name is empty}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/apps/sdkanalytics":{"post":{"tags":["Apps"],"summary":"Gets SDK analytics based on the query information provided.","description":"Returns SDK Analytic Events within a time range and filtered by provided query parameters including Unique Device Identifiers and Application Identifiers.","operationId":"Apps_GetSDKAnanlytics","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"bulkInput","in":"body","description":"Bulk input containing multiple Device Attributes based on the search type.","required":true,"schema":{"$ref":"#/definitions/BulkInput"}},{"name":"organizationgroupid","in":"query","description":"OrganizationGroup Identifier.","required":false,"type":"integer","default":""},{"name":"applicationid","in":"query","description":"Application Identifier.","required":false,"type":"string","default":""},{"name":"eventname","in":"query","description":"Event Name.","required":false,"type":"string","default":""},{"name":"startdatetime","in":"query","description":"Sample Starttime.","required":false,"type":"string","format":"date-time","default":""},{"name":"enddatetime","in":"query","description":"Sample Endtime.","required":false,"type":"string","format":"date-time","default":""},{"name":"searchtype","in":"query","description":"Search by Device Identifier types (DeviceId, MacAddress, Udid, SerialNumber, and ImeiNumber)..","required":false,"type":"string","default":""},{"name":"page","in":"query","description":"Page number.","required":false,"type":"integer","default":""},{"name":"pagesize","in":"query","description":"Records per page.","required":false,"type":"integer","default":""}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApplicationEventSampleSearchResult"}},"400":{"description":"Bad Request 1.{400: Organization Group with ID : value not found or Admin user does not have access to it.}, 2.{400: In DateTime Filters, FromDateTime should be less than TillDateTime. But, start value is greater than end value.}, 3. {400: The device search type - value is invalid.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/apps/udid/{udid}/{deviceType}":{"get":{"tags":["Apps"],"summary":"Returns all the apps that are assiged to a device.\r\nThis mimics app catalog and represnts app catalog as an API.\r\nAdded for GB integration.","description":"v1","operationId":"Apps_GetAllAssignedApps","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"udid","in":"path","description":"Device UDID which has to be encrypted (Required).","required":true,"type":"string"},{"name":"deviceType","in":"path","description":"Device Type (Required).","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CatalogAppsResultModel"}},"400":{"description":"Bad Request 1.{7303: API Key Missing in the request}, 2.{7301: Functionality not supported for device type}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"403":{"description":"Forbidden 1.{7300: Device Blacklisted}, 2.{7304: Unable to return entitlements due to app level enrollment}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"404":{"description":"Not Found 1.{7302: Device is not found or not enrolled in AirWatch}, 2.{7000: Applications not found}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/apps/{udid}/{appId}/{appType}/{deviceType}/install":{"post":{"tags":["Apps"],"summary":"Installs an application with given App ID and type to a device with provided identifier.","description":"InstallApp(..) API will enable app install. It mimics the app catalog flow.\r\n            This method supports install for different app types. It forwards requests to respective app type adapters.\r\n            It also covers the EULA and Compliance flows for app install.","operationId":"Apps_InstallApp","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"udid","in":"path","description":"Device Udid","required":true,"type":"string"},{"name":"appId","in":"path","description":"Application Id","required":true,"type":"integer","format":"int32"},{"name":"appType","in":"path","description":"App type","required":true,"type":"string"},{"name":"deviceType","in":"path","description":"Device Type","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CatalogServiceResult"}},"400":{"description":"Bad Request 1.{400: User missing in the request.}, 2.{7000: Application not found or user does not have access to it.}, 3.{7007: Category Name is required}, 4.{7301: Functionality not supported for device type : value}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"404":{"description":"Not Found 1.{7302: Device with identifer: value is not found or not enrolled in AirWatch}, 2.{7303: API Key Missing or Incorrect}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/apps/{udid}/{appId}/{appType}/{deviceType}":{"get":{"tags":["Apps"],"summary":"Gets application details.","description":"v1","operationId":"Apps_GetApplicationDetails","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"udid","in":"path","description":"Device Udid","required":true,"type":"string"},{"name":"appId","in":"path","description":"App Id","required":true,"type":"integer","format":"int32"},{"name":"appType","in":"path","description":"Application Type","required":true,"type":"string"},{"name":"deviceType","in":"path","description":"Device Type","required":true,"type":"string"}],"responses":{},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/apps/enrollDevice":{"get":{"tags":["Apps"],"summary":"Returns the enrollment URL for enrolling a device for a user.","description":"Returns the enrollment URL. If GB is accessed from an unmanaged device and AW is configured, we redirect the user\r\n            to the enrollment URL to be able to view and install apps from AW after enrolling.","operationId":"Apps_EnrollDevice","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EnrollDeviceCatalogResult"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/apps/udid/{udid}/deviceType/{deviceType}/eulaContentId/{eulaContentId}/acceptEula":{"post":{"tags":["Apps"],"summary":"API to update the EULA acceptance from GB. When a user is prompted with an EULA and accepts it, this API is called to udpate the EULA acceptance.","description":"v1","operationId":"Apps_AcceptEula","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"udid","in":"path","description":"Encrypted Uid","required":true,"type":"string"},{"name":"deviceType","in":"path","description":"Device Type","required":true,"type":"string"},{"name":"eulaContentId","in":"path","description":"Content Id","required":true,"type":"integer","format":"int32"}],"responses":{},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/apps/{applicationid}/assignment":{"get":{"tags":["Apps"],"summary":"Get the list of user and user group assigned for an application.","description":"v1","operationId":"Apps_GetAssignmentForApplication","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"applicationid","in":"path","description":"Application Id","required":true,"type":"integer","format":"int32"},{"name":"applicationtype","in":"query","description":"Type of the application. (Internal/Public)","required":false,"type":"string","default":""}],"responses":{},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/apps/categories/{categoryType}":{"get":{"tags":["Apps"],"summary":"New - Get the list of categories that can be assigned to an application.","description":"Returns the list of Application Categories based on a given category type for an application.","operationId":"Apps_GetCategoriesForApplication","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"categoryType","in":"path","description":"category Type","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApplicationCategoriesResult"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/apps/category":{"post":{"tags":["Apps"],"summary":"New - Add application category.","description":"Adds a new application category with name and description","operationId":"Apps_AddApplicationCategory","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"categoryName","in":"query","description":"Name of category to be added.","required":false,"type":"string","default":""},{"name":"description","in":"query","description":"Description of category to be added.","required":false,"type":"string","default":""}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/ApplicationCategoryDetails"}},"400":{"description":"Bad Request 1.{7006: Category Already Exists}, 2.{7007: Category Name is required}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/apps/office365MamApplicationPolicy":{"post":{"tags":["Apps"],"summary":"The save office 365 mam application policy.","operationId":"Apps_SaveOffice365MamApplicationPolicy","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"model","in":"body","description":"The model.","required":true,"schema":{"$ref":"#/definitions/Office365MamIntegrationSettingsModel"}}],"responses":{},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true},"delete":{"tags":["Apps"],"summary":"The delete office 365 mam application policy.","operationId":"Apps_DeleteOffice365MamApplicationPolicy","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[],"responses":{},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/apps/office365Credentials":{"post":{"tags":["Apps"],"summary":"This API saves the user name and password of Office365 User in order to access the Office365 DLP and MAM APIs","operationId":"Apps_Office365Credentials","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"model","in":"body","description":"Model containing Username and password of the office365.","required":true,"schema":{"$ref":"#/definitions/Office365MAMIntegrationCredentialsModel"}}],"responses":{},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/apps/searchazureusergroups":{"get":{"tags":["Apps"],"summary":"The searchazureusergroups.","operationId":"Apps_Searchazureusergroups","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[],"responses":{},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/apps/appconfig":{"post":{"tags":["Apps"],"summary":"API to parse AppConfigXML\r\nIt accepts AppConfigXML as a file, parse the xml file and convert into corresponding appconfig value","operationId":"Apps_ParseAppConfigXml","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[],"responses":{},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/apps/getmanagementstatus":{"get":{"tags":["Apps"],"summary":"Retrieves the application management status, i.e. the application bundle id passed is managedby AirWatch or not.","description":"v1","operationId":"Apps_GetAppMgmtStatus","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"managementid","in":"query","description":"Management Id","required":false,"type":"string","default":""},{"name":"bundleid","in":"query","description":"Bundle Id","required":false,"type":"string","default":""}],"responses":{},"deprecated":true,"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/apps/applestoresearch":{"get":{"tags":["Apps"],"summary":"Searches in App stores for the applications with the specified search string and returns the details","description":"v1","operationId":"Apps_SearchAppStore","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"appname","in":"query","description":"Application name to be searched.","required":false,"type":"string","default":""}],"responses":{},"deprecated":true,"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/apps/playstoresearch":{"get":{"tags":["Apps"],"summary":"Searches in Google play store for the applications with the specified search string and returns the details","description":"v1","operationId":"Apps_SearchPlayStore","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"appname","in":"query","description":"Application name to be searched.","required":false,"type":"string","default":""}],"responses":{},"deprecated":true,"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/apps/windowsstoresearch":{"get":{"tags":["Apps"],"summary":"Retrieves the details of the applications from the Windows App Store based on the search request.","description":"v1","operationId":"Apps_SearchWindowsStore","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"appname","in":"query","description":"Application name to be searched.","required":false,"type":"string","default":""},{"name":"platform","in":"query","description":"Platform.","required":false,"type":"string","default":""}],"responses":{},"deprecated":true,"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/apps/{udid}/{appId}/{appType}/{deviceType}/appDetails":{"get":{"tags":["Apps"],"summary":"Gets application details.","description":"v1","operationId":"Apps_GetAppDetails","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"udid","in":"path","description":"Device Udid","required":true,"type":"string"},{"name":"appId","in":"path","description":"App Id","required":true,"type":"integer","format":"int32"},{"name":"appType","in":"path","description":"Application Type","required":true,"type":"string"},{"name":"deviceType","in":"path","description":"Device Type","required":true,"type":"string"}],"responses":{},"deprecated":true,"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/apps/udid/{udid}/{deviceType}/apps":{"get":{"tags":["Apps"],"summary":"GetAllAssignedApps(..) returns all the apps that are assiged to a device.\r\nThis mimics app catalog and represnts app catalog as an API.\r\nAdded for GB integration.","description":"v1","operationId":"Apps_GetAssignedApps","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"udid","in":"path","description":"Device UDID which has to be encrypted.","required":true,"type":"string"},{"name":"deviceType","in":"path","description":"Device Type","required":true,"type":"string"}],"responses":{},"deprecated":true,"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/apps/removallogs":{"get":{"tags":["Apps"],"summary":"Returns removal log events for an internal application, filtered by the App bundle identifer of the application and organization group.","description":"Search and retrieve removal logs for internal applications.\r\n            If the number of remove application commands queued in a set time interval is exceeded the commands are put in locked state\r\n            The API method returns the details of the commands that are put in locked state\r\n            The records returned take into consideration the filter criteria recieved in request query","operationId":"Apps_GetAppRemovalProtectionLogs","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"bundleid","in":"query","description":"BundleId/PackageId","required":false,"type":"string","default":""},{"name":"organizationgroupid","in":"query","description":"LocationGroup Identifier.","required":false,"type":"string","default":""},{"name":"status","in":"query","description":"The command Status.","required":false,"type":"string","default":""},{"name":"page","in":"query","description":"Page number.","required":false,"type":"string","default":""},{"name":"pagesize","in":"query","description":"Records per page.","required":false,"type":"string","default":""},{"name":"orderby","in":"query","description":"Orderby column name.","required":false,"type":"string","default":""}],"responses":{"200":{"description":"No Content","schema":{"$ref":"#/definitions/AppRemovalProtectionLogSearchResultModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]},"put":{"tags":["Apps"],"summary":"Sets the action (unlock or clear) executed after the threshold for the Removal Log events is reached.","description":"Updates the action taken on the threshold.\r\n            Either unlock/clear the threshold. \r\n            On unlock the commands are sent to the device\r\n            On clear the commands are purged from the queue.","operationId":"Apps_UpdateAdminActionTakenOnAppRemovalProtectionLogs","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"model","in":"body","description":"The body of the request","required":true,"schema":{"$ref":"#/definitions/UpdateAppRemovalProtectionModel"}},{"name":"organizationgroupid","in":"query","description":"LocationGroup Identifier.","required":false,"type":"string","default":""}],"responses":{"200":{"description":"No Content"},"400":{"description":"Bad Request 1.{3052: Threshold not found or user does not have access to it.}, 2.{3052: Threshold not reached held state.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/apps/udid/{udid}/deviceType/{deviceType}/installApps":{"post":{"tags":["Apps"],"summary":"Installs all auto apps for the WS One device","description":"Installs Workspace One Direct Enrollments apps that are enabled for auto-install to the device","operationId":"Apps_InstallAllAutoApps","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"udid","in":"path","description":"device udid","required":true,"type":"string"},{"name":"deviceType","in":"path","description":"device type","required":true,"type":"string"}],"responses":{"204":{"description":"No Content"},"400":{"description":"Bad Request 1.{3052: An invalid parameter was specified}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"404":{"description":"Not Found 1.{7302: Device is not found or not enrolled in AirWatch}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/appscanner/savereport":{"post":{"tags":["AppScan"],"summary":"Notification API which will be used by AppScan Service to save the report in Airwatch","description":"Save an AppScan Service report in AirWatch after it has been processed.","operationId":"AppScan_SaveReport","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"report","in":"body","description":"Report to be saved in Airwatch (Required)","required":true,"schema":{"$ref":"#/definitions/AppScanServiceReport"}},{"name":"token","in":"query","description":"Token used for authentication. Example: 1024,a1b2c3d4","required":false,"type":"string","default":""}],"responses":{"200":{"description":"OK"},"400":{"description":"1. {400: Token Invalid}, 2. {400: BundleID is not equal to report's ApplicationID}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[],"x-internalApi":true}},"/appwrapper/savewrappedapp":{"post":{"tags":["AppWrapping"],"summary":"Notification API which will be used by AppWrapping Service to save the wrapped apk in Airwatch","description":"Save a wrapped apk in Airwatch, used by the AppWrapping Service","operationId":"AppWrapping_SaveWrappedApp","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"appWrappingServiceReport","in":"body","description":"Response from the AppWrapping service (Required)","required":true,"schema":{"$ref":"#/definitions/AppWrappingServiceReport"}},{"name":"token","in":"query","description":"Token used for authentication. Example: 1024,a1b2c3d4","required":false,"type":"string","default":""}],"responses":{"200":{"description":"OK"},"400":{"description":"1. {400: Download URL is empty}, 2. {400: TransactionID is empty}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[],"x-internalApi":true}},"/blobs/blob/{blobId}":{"delete":{"tags":["BlobsV1"],"summary":"New - Deletes a blob by ID","description":"Deletes a blob by ID.","operationId":"BlobsV1_DeleteBlob","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"blobId","in":"path","description":"Blob ID to be deleted(Required)","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK"}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/blobs/downloadblob/{blobId}":{"get":{"tags":["BlobsV1"],"summary":"New - Gets a blob by the ID","description":"Returns the contents of a blob as a byte array","operationId":"BlobsV1_DownloadBlob","consumes":["application/json","application/xml"],"produces":["application/octet-stream;version=1"],"parameters":[{"name":"blobId","in":"path","description":"Identifier of the blob to be retrieved(Required)","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK"},"403":{"description":"1.{11: User is not authorized to download the requested blob.} 2.{6: Resource's organization group :{0} not found or user does not have access to this organization group.} ","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/blobs/uploadblob":{"post":{"tags":["BlobsV1"],"summary":"New - Create a new blob with attached file","description":" - Create a new blob with attached file\r\n- Supported file types are 'ipa',\r\n  'apk', 'xap', 'appx', 'msi', 'app', 'zip', 'xml', 'pem', 'exe', 'pkg',\r\n  'dmg', 'plist', 'mpkg', 'js', 'jse', 'ps1', 'ps1xml', 'psc1', 'psd1',\r\n  'psm1', 'pssc', 'cdxml', 'vbs', 'vbe', 'wsf', 'wsc', 'msp', 'mst',\r\n  'p12', 'pfx', 'p7b', 'jpg', 'jpeg', 'png', 'gif', 'bmp', 'p7m', 'ppkg', 'cat'\r\n- No size restrictions","operationId":"BlobsV1_UploadBlob","consumes":["multipart/form-data"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"fileName","in":"query","description":"Name of the file being uploaded(Required)","required":true,"type":"string","default":""},{"name":"organizationGroupId","in":"query","description":"Organization Group ID integer identifying the customer or container(Required)","required":true,"type":"integer","default":""},{"name":"moduleType","in":"query","description":"Module Type of the blob.","required":false,"type":"","default":""},{"name":"fileLink","in":"query","description":"Path of the file to upload. Required if blobFile is not submitted","required":false,"type":"string","default":""},{"name":"accessVia","in":"query","description":"Access type.  If EIS, Content Gateway ID is required and validated for the Organization Group Id","required":false,"type":"","default":""},{"name":"contentGatewayId","in":"query","description":"Content Gateway ID of the repository to save to.  Required if accessVia is EIS.","required":false,"type":"integer","default":""}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EntityV1Model"}},"400":{"description":"1.{7019: File is not attached} 2.{400: Invalid blob type provided} 3.{400: Invalid Module type.} 4.{7014: UploadViaLink should have handler http(s) or content gateway should be selected} ","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"422":{"description":"1.{7021: External repository credentials are invalid}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/apps/browser/bookmarks":{"get":{"tags":["Browser"],"summary":"Fetches personal bookmarks for an enrollment user.","description":"Fetches bookmark details using the query information (searchBy, id) provided in the query string","operationId":"Browser_FetchBookmarks","consumes":["application/json","application/xml"],"produces":["application/json;version=1"],"parameters":[{"name":"searchBy","in":"query","description":"The alternate id type; possible values: [Macaddress, Udid, Serialnumber, ImeiNumber]. (Formats: Macaddress: 0x848506B900BA, Udid: 6bf0f04c73681fbecfc3eb4f13cbf05b, SerialNumber: LGH871c18f631a, ImeiNumber: 354833052322837) (Required).","required":true,"type":"string","default":""},{"name":"id","in":"query","description":"The alternate id. (Required)","required":true,"type":"string","default":""}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/BookmarksModel"}}},"400":{"description":"1. {400: SearchBy must be a non-empty value.} 2. {400: Id must be a non-empty value.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"404":{"description":"1. {7107: Device not found for specified id: {id}.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"405":{"description":"1. {1021: The method is not allowed.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"422":{"description":"1. {7106: Invalid searchby parameter.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"500":{"description":"1. {500: InternalServerError.} 2. {500: InvalidRequest.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]},{"GroupIdAuth":[]}],"x-internalApi":true},"post":{"tags":["Browser"],"summary":"Saves personal bookmarks for an enrollment user.","description":"Saves the list of personal bookmarks details (BookmarkName, BookmarkUrl, BookmarkNameHash, BookmarkAction) provided in list of bookmarks model for an enrollment user using the query information (searchBy, id) provided in the query string.","operationId":"Browser_SaveBookmarks","consumes":["application/json"],"produces":["application/json;version=1"],"parameters":[{"name":"models","in":"body","description":"List of bookmark models","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/BookmarksModel"}}},{"name":"searchBy","in":"query","description":"The alternate id type; possible values: [Macaddress, Udid, Serialnumber, ImeiNumber]. (Formats: Macaddress: 0x848506B900BA, Udid: 6bf0f04c73681fbecfc3eb4f13cbf05b, SerialNumber: LGH871c18f631a, ImeiNumber: 354833052322837) (Required).","required":true,"type":"string","default":""},{"name":"id","in":"query","description":"The alternate id. (Required)","required":true,"type":"string","default":""}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"400":{"description":"1. {400: SearchBy must be a non-empty value.} 2. {400: Id must be a non-empty value.} 3. {7109: Bookmark save failed since no bookmarks were sent in request for the enrollment user with Id: {id}}.","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"404":{"description":"1. {7107: Device not found for specified id: {id}.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"405":{"description":"1. {1021: The method is not allowed.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"422":{"description":"1. {7106: Invalid searchby parameter.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"500":{"description":"1. {7108: Bookmark save failed for the enrollment user with Id: {id}.} 2. {500: InvalidRequest.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]},{"GroupIdAuth":[]}],"x-internalApi":true}},"/help/controllers":{"get":{"tags":["Help"],"summary":"Get the list of Api controllers","operationId":"Help_GetControllers","consumes":["application/json"],"produces":["application/json;version=1"],"parameters":[],"responses":{},"security":[],"x-internalApi":true}},"/help/endpoints/{endpointId}":{"get":{"tags":["Help"],"summary":"Gets the details about an endpoint","operationId":"Help_GetEndPointById","consumes":["application/json"],"produces":["application/json;version=1"],"parameters":[{"name":"endpointId","in":"path","description":"Example:\"GET-activesync-ping\"","required":true,"type":"string"}],"responses":{},"security":[],"x-internalApi":true}},"/help/controllers/{id}":{"get":{"tags":["Help"],"summary":"Gets the controller endpoints","operationId":"Help_GetControllerById","consumes":["application/json"],"produces":["application/json;version=1"],"parameters":[{"name":"id","in":"path","description":"controller name","required":true,"type":"string"}],"responses":{},"security":[],"x-internalApi":true}},"/help/controllers/endpoints/index":{"get":{"tags":["Help"],"summary":"Retrieve the index form for endpoints to be used for searching","operationId":"Help_GetEndpointIndex","consumes":["application/json"],"produces":["application/json;version=1"],"parameters":[],"responses":{},"security":[],"x-internalApi":true}},"/apps/internal/{applicationId}":{"get":{"tags":["InternalAppsV1"],"summary":"New - Details of an internal app identified by id.","description":"1. Gets the details of an internal app identified by id.\r\n2. Excluded Assignment Groups are only available for viewing in the GET call.\r\n   Option to edit them is not currently available through POST/PUT APIs. \r\n3. DELETE API however deletes any SG ID associated with an application, assigned or excluded.","operationId":"InternalAppsV1_GetInternalAppById","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"applicationId","in":"path","description":"Internal Application Id(Required)","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/InternalAppModel"}},"401":{"description":"1.  {7000: AppNotFoundOrInAccsessible - Application not found or user does not have access to it.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]},"put":{"tags":["InternalAppsV1"],"summary":"Updates the internal application.","description":"Updates the internal application identified by applicationid.","operationId":"InternalAppsV1_UpdateInternalApp","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"applicationId","in":"path","description":"Application Id to be updated","required":true,"type":"integer","format":"int32"},{"name":"applicationEntity","in":"body","description":"The application details.","required":true,"schema":{"$ref":"#/definitions/ApplicationEntity "}}],"responses":{"204":{"description":"NoContent"},"400":{"description":"1. {400 : Request body cannot be null.} 2. {400 : Application name cannot be empty.} 3. {400 : Dependency not found or user does not have access to it.}4. {400 : Invalid SupportedProcessorArchitecture : {SupportedProcessorArchitecture}. Supported types : x86, x64.}5. {400 : Deployment options WhenToCallInstallComplete cannot be null or empty if a patch is being uploaded.} 6.{400 : Invalid Email Address.} 7.{400 : Invalid Phone Number format.}8. {400 : Patch with version '{PackageVersion}' is already assigned to another application with identifier '{UniqueApplicationIdentifier}' under this OG. This is not supported.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/apps/internal/uploadchunk":{"post":{"tags":["InternalAppsV1"],"summary":"Uploads the chunk data.","description":"Uploads the chunk data of an internal application into the server. A chunk of the application will contain the size of the chunk, sequence number, and the byte data, and will use the Internal App Chunk model class","operationId":"InternalAppsV1_InsertInternalApplicationChunk","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"internalAppChunk","in":"body","description":"The internal app chunk.","required":true,"schema":{"$ref":"#/definitions/InternalAppChunk"}}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/AppChunkTranscationResponse"}},"400":{"description":"1. {400 : Request body cannot by null.} 2.{400 : Chunk sequence number cannot be zero.}3. {400 : Chunk data cannot be empty.} 4. {400 : Transcation Id is missing in the request.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/apps/internal/{applicationid}/deactivate":{"post":{"tags":["InternalAppsV1"],"summary":"Deactivates the specified internal application.","description":"Deactivates all versions of the Internal Application identified by the passed Application ID","operationId":"InternalAppsV1_DeactivateInternalApp","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"applicationid","in":"path","description":"Application Id.","required":true,"type":"integer","format":"int32"}],"responses":{"202":{"description":"Accepted"},"403":{"description":"1. {403 : Application already inactive.} 2.{403 : User does not have permission to update the application.}3. {403 : User does not have permission to perform this operation.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"404":{"description":"1. {404 : Application not found or user does not have access to it.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/apps/internal/begininstall":{"post":{"tags":["InternalAppsV1"],"summary":"Creates an internal application.","description":"Creates an internal application using the uploaded file chunks.","operationId":"InternalAppsV1_CreateInternalAppFromBlob","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"appChunkTransaction","in":"body","description":"The chunk details of the application.","required":true,"schema":{"$ref":"#/definitions/InternalAppChunkTranscation"}}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/ApplicationEntity  "}},"400":{"description":"1. {400 : Request body cannot by null.} 2. {400 : Chunk sequence number cannot be zero.}3. {400 : Application name cannot be empty.} 4. {400 : Supported model list cannot be empty.} 5. {7015 : BundleId And File Version Are required when the app is uploaded via link.} 6. {6 : UploadViaLink should be true when bundle id or actual file version is passed.}7. {7008 : File name with valid extension is required when Transaction Id is passed.}8. {400 : Invalid Email Address.} 9. {400 : Invalid Phone Number format.}10.{400 : Resource's organization group :{locationGroupId} not found or user does not have access to this organization group.}11. {400 : The device type is invalid.} 12. {400 : Device Model specified is invalid.} 13. {400 : BlobId : {BlobId} is not found.} 14. {400 : Invalid BlobId.} 15. {5057 : Hash value of Internal Package App is not saved.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/apps/internal/{applicationid}/install":{"post":{"tags":["InternalAppsV1"],"summary":"Installs the specified internal application on a device.","description":"Installs the specified Internal application on a particular device","operationId":"InternalAppsV1_InstallInternalAppOnDevice","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"applicationid","in":"path","description":"The Id of the Application to be installed.","required":true,"type":"string"},{"name":"deviceInfo","in":"body","description":"The details of the device to install the application on.","required":true,"schema":{"$ref":"#/definitions/DeviceInfo"}}],"responses":{"202":{"description":"Accepted"},"400":{"description":"1. {6 : Application Id cannot be null or empty.} 2. {400 : DeviceInfo parameter cannot be null.} 3. {6 : Application not found or user does not have access to it.} 4.{400 : Application is not assigned to this device.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"404":{"description":"1. {404 : Device not found for this request.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/apps/internal/{applicationid}":{"delete":{"tags":["InternalAppsV1"],"summary":"Deletes the specified internal application.","description":"Deletes the Selected internal application.","operationId":"InternalAppsV1_DeleteInternalApp","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"applicationid","in":"path","description":"The Id integer of the internal app to be deleted. (Required)","required":true,"type":"integer","format":"int32"}],"responses":{"202":{"description":"Accepted"},"204":{"description":"NoContent"},"400":{"description":"1. {400 : Application not found or user does not have access to it.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"403":{"description":"1. {403 : User does not have permission to perform this operation.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"404":{"description":"1. {404 : Application not found or user does not have access to it.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/apps/internal/windowsappdependency/{windowsAppDependencyId}":{"get":{"tags":["InternalAppsV1"],"summary":"Gets the details of an windows app dependency identified by id.","description":"Loads Dependency Application Details and deployment options set in an application","operationId":"InternalAppsV1_GetWindowsAppDependencyById","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"windowsAppDependencyId","in":"path","description":"Windows app dependency id.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WindowsAppDependencyModel"}},"400":{"description":"1. { 400: Dependency not found or user does not have access to it. }","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]},"delete":{"tags":["InternalAppsV1"],"summary":"New - Deletes the windows dependency application specified by id.","description":"Deletes windows dependency application specified by id.","operationId":"InternalAppsV1_DeleteWindowsAppDependency","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"windowsAppDependencyId","in":"path","description":"The Id integer of the dependency to be deleted. (Required)","required":true,"type":"integer","format":"int32"}],"responses":{"204":{"description":"NoContent"},"400":{"description":"1. {400 : Dependency not found or user does not have access to it.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/apps/internal/windowsappdependencies/{organizationGroupId}":{"get":{"tags":["InternalAppsV1"],"summary":"Gets the list of saved windows app dependency files for current OG and child OGs.","operationId":"InternalAppsV1_GetWindowsAppDependanciesByLocationGroupId","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"organizationGroupId","in":"path","description":"Organization Group Id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/WindowsAppDependencyModel"}}},"400":{"description":"1. { 400 : Resource's organization group :{0} not found or user does not have access to this organization group.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/apps/internal/{applicationId}/assignments":{"put":{"tags":["InternalAppsV1"],"summary":"Edits assignments along with the flexible deployment parameters associated with an internal application.","description":"1. Updates the assignments for internal application. \r\n2. Excluded Assignment Groups are only available for viewing in the GET call. \r\n   Option to edit them is not currently available through POST/PUT APIs.\r\n3. DELETE API however deletes any SG ID associated with an application, assigned or excluded.","operationId":"InternalAppsV1_EditAssignmentsWithFlexibleDeploymentParameters","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"applicationId","in":"path","description":"Internal Application Id","required":true,"type":"integer","format":"int32"},{"name":"applicationAssignments","in":"body","description":"Application Assignments Model","required":true,"schema":{"$ref":"#/definitions/ApplicationAssignmentsModel  "}}],"responses":{"204":{"description":"No Content"},"401":{"description":" 1. { 7000: Application not found or user does not have access to it. } ","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"422":{"description":" 1. { 7002: No smart groups have been assigned to the app. Please add at least one smart group. } 2. { 7002: Smart Group ids marked for edit and delete must be distinct. } 3. { 7002: All the smart groups to be assigned must have same priority. } 4. { 7002: Smart Group ids marked for deletion must already be assigned to the app. } 5. { 7002: Beta flow apps for seeded Airwatch MDM apps cannot be auto deployed.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]},"post":{"tags":["InternalAppsV1"],"summary":"Adds assignments along with the flexible deplyment parameters to an internal application.","description":"1. Adds assignments and returns a resource containing the transaction details\r\n2. Excluded Assignment Groups are only available for viewing in the GET call. \r\n   Option to edit them is not currently available through POST/PUT APIs.\r\n3. DELETE API however deletes any SG ID associated with an application, assigned or excluded.","operationId":"InternalAppsV1_AddAssignmentsWithFlexibleDeploymentParameters","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"applicationId","in":"path","description":"Internal Application Id","required":true,"type":"integer","format":"int32"},{"name":"applicationAssignments","in":"body","description":"Application Assignments Model","required":true,"schema":{"$ref":"#/definitions/ApplicationAssignmentsModel "}}],"responses":{"201":{"description":"Created"},"400":{"description":" 1. { 400: Application not found or user does not have access to it.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"401":{"description":" 1. { 7000: Application not found or user does not have access to it. } ","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"422":{"description":" 1. { 7002: No smart groups have been assigned to the app. Please add at least one smart group. } 2. { 7002: Beta flow apps for seeded Airwatch MDM apps cannot be auto deployed.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]},"delete":{"tags":["InternalAppsV1"],"summary":"Deletes Application Assignment to Smart Group(s).","description":"1. Deletes a given smart group assignment for an internal app specified by id.\r\n2. Excluded Assignment Groups are only available for viewing in the GET call. \r\n   Option to edit them is not currently available through POST/PUT APIs.\r\n3. DELETE API however deletes any SG ID associated with an application, assigned or excluded.","operationId":"InternalAppsV1_DeleteAssignment","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"applicationId","in":"path","description":"The Id integer of the application.(Required)","required":true,"type":"integer","format":"int32"},{"name":"applicationDeleteAssignmentModel","in":"body","description":"Application assignment to be deleted","required":true,"schema":{"$ref":"#/definitions/ApplicationDeleteAssignmentModel"}}],"responses":{"204":{"description":"NoContent"},"400":{"description":"1. {8 : Application not found or user does not have access to it.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"403":{"description":"1. {11 : User does not have permission to perform this operation.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/apps/internal/{applicationid}/status":{"get":{"tags":["InternalAppsV1"],"summary":"Status of the specified internal application on a device.","description":"Indicates the status of the specified internal application on a device.","operationId":"InternalAppsV1_GetInternalAppStatus","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"applicationid","in":"path","description":"The integer id of the application.(Required)","required":true,"type":"integer","format":"int32"},{"name":"deviceid","in":"query","description":"Device Identifier, for example - 0dfe4a6f25647b8297c15b6a995fa985","required":false,"type":"string","default":""},{"name":"macaddress","in":"query","description":"Device MAC address, for example - 0x848506B900BA","required":false,"type":"string","default":""},{"name":"serialnumber","in":"query","description":"Device SerialNumber, for example - LGH871c18f631a","required":false,"type":"string","default":""},{"name":"udid","in":"query","description":"Device UDID, for example - 6bf0f04c73681fbecfc3eb4f13cbf05b","required":false,"type":"string","default":""}],"responses":{"200":{"description":"Ok","schema":{"type":"string"}},"400":{"description":"1. {400 : Invalid input.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"404":{"description":"1. {404 : Device not found for this request.} 2. {404 : Application not found or user does not have access to it.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/apps/internal/{applicationid}/devices":{"get":{"tags":["InternalAppsV1"],"summary":"Gets list of devices that have the specified internal application installed or assigned.","description":"Provides a list of devices that have the specified internal application installed or assigned. Provides a list of assigned devices by default when the status is not specified","operationId":"InternalAppsV1_GetInternalAppInstalledOrAssignedDevices","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"applicationid","in":"path","description":"The Id integer of the application.(Required)","required":true,"type":"integer","format":"int32"},{"name":"status","in":"query","description":"Status of the given application on the device - installed/assigned","required":false,"type":"string","default":""},{"name":"locationgroupid","in":"query","description":"The Id integer of the LocationGroup, for example - 7","required":false,"type":"string","default":""},{"name":"page","in":"query","description":"Specific page number to get. 0 based index","required":false,"type":"string","default":""},{"name":"pagesize","in":"query","description":"Maximumm records per page. Default 500","required":false,"type":"string","default":""}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/DeviceList"}},"204":{"description":"NoContent"},"400":{"description":"1. {400 : The Device status value {status} is invalid.} 2. {400 : Location Group Id cannot be null or empty.} 3. {400 : Application not found or user does not have access to it.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"404":{"description":"1. {404 : Device not found for this request.} 2. {404 : Application not found or user does not have access to it.","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/apps/internal/{applicationid}/retire":{"post":{"tags":["InternalAppsV1"],"summary":"Retires the specified Internal application.","description":"Retires the Internal application identified by the application ID. Only the current version of the app would be retired and be removed from devices. If a lower version is assigned, it will be deployed to the devices.","operationId":"InternalAppsV1_RetireApp","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"applicationid","in":"path","description":"The Id integer of the application.(Required)","required":true,"type":"integer","format":"int32"}],"responses":{"202":{"description":"Accepted"},"400":{"description":"1. {400 : Application not found or user does not have access to it.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"403":{"description":"1. {403 : Application Id already retired.} 2. {403 : User does not have permission to update the application.} 3. {403 : User does not have permission to perform this operation.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/apps/internal/{applicationid}/unretire":{"post":{"tags":["InternalAppsV1"],"summary":"Unretires the specified internal application.","description":"Unretires the internal application.","operationId":"InternalAppsV1_UnRetireApp","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"applicationid","in":"path","description":"The Id integer of the application.(Required)","required":true,"type":"integer","format":"int32"},{"name":"retirepreviousversion","in":"query","description":"Whether to retire previous versions of the application - Yes/No","required":false,"type":"string","default":""}],"responses":{"202":{"description":"Accepted"},"400":{"description":"1. {400 : Application not found or user does not have access to it.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"403":{"description":"1. {403 : Application Id already unretired.} 2. {403 : User does not have permission to update the application.} 3. {403 : User does not have permission to perform this operation.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/apps/internal/{applicationid}/activate":{"post":{"tags":["InternalAppsV1"],"summary":"Activates the specified internal application.","description":"Activates all versions of the internal application specified by ID.","operationId":"InternalAppsV1_ActivateInternalApp","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"applicationid","in":"path","description":"The Id integer of the application.(Required)","required":true,"type":"integer","format":"int32"}],"responses":{"202":{"description":"Accepted"},"400":{"description":"1. {400 : Application not found or user does not have access to it.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"403":{"description":"1. {403 : Application already active.}2. {403 : User does not have permission to update the application.}3. {403 : User does not have permission to perform this operation.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/apps/internal/{applicationid}/uninstall":{"post":{"tags":["InternalAppsV1"],"summary":"Uninstalls the specified internal application from a device.","description":"Uninstalls the internal application specified by given id from a device.","operationId":"InternalAppsV1_RemoveInternalAppFromDevice","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"applicationid","in":"path","description":"The application Id.(Required)","required":true,"type":"integer","format":"int32"},{"name":"deviceInfo","in":"body","description":"Device Information.","required":true,"schema":{"$ref":"#/definitions/DeviceInfo"}}],"responses":{"204":{"description":"NoContent"},"403":{"description":"1. {403 : Application cannot be removed from the device.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"404":{"description":"1. {404 : Device not found for this request.} 2. {404 : Application not found or user does not have access to it.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/apps/internal/SendApplicationConfiguration":{"post":{"tags":["InternalAppsV1"],"summary":"SendApplicationConfiguration to Devices for Internal Apps","description":"Sets Send Application Configuration values for devices that have the assigned internal application and meet the provided device type criteria. The configurations are sent to all devices in the set.","operationId":"InternalAppsV1_SendApplicationConfigurationInternalApps","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"sendApplicationConfigurationModel","in":"body","description":"Application Configuration Model","required":true,"schema":{"$ref":"#/definitions/SendApplicationConfigurationModel"}}],"responses":{"200":{"description":"OK"},"400":{"description":"1. {7: Application Not Found}, {7: Device Not Found}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"403":{"description":"1. {11 : User does not have permission to perform this operation.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/apps/internal/{applicationid}/installeddevices":{"get":{"tags":["InternalAppsV1"],"summary":"Provides a list of devices that have the specified internal application installed.","description":"Provides a list of devices that have the specified internal application installed on them.","operationId":"InternalAppsV1_GetInternalAppInstalledDevices","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"applicationid","in":"path","description":"The Id integer of the application.(Required)","required":true,"type":"integer","format":"int32"},{"name":"locationgroupid","in":"query","description":"The Id integer of the LocationGroup, for example - 7","required":false,"type":"string","default":""},{"name":"page","in":"query","description":"Specific page number to get. 0 based index","required":false,"type":"string","default":""},{"name":"pagesize","in":"query","description":"Maximumm records per page. Default 500","required":false,"type":"string","default":""}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/DeviceList"}},"204":{"description":"NoContent"},"400":{"description":"1. {400 : Application Id cannot be null or empty.}2. {400 : Application not found or user does not have access to it.}3. {400 : Location Group Id cannot be null or empty.}4. {400 : Resource's organization group :{0} not found or user does not have access to this organization group.","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"deprecated":true,"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/apps/internal/{applicationid}/assigneddevices":{"get":{"tags":["InternalAppsV1"],"summary":"Provides a list of devices that have been assigned the specified internal application.","description":"Provides a list of devices that have been assigned the internal application specified by the given id.","operationId":"InternalAppsV1_GetInternalAppAssigneddevicesDevices","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"applicationid","in":"path","description":"The Id integer of the application.(Required)","required":true,"type":"integer","format":"int32"},{"name":"locationgroupid","in":"query","description":"The Id integer of the LocationGroup, for example - 7","required":false,"type":"string","default":""},{"name":"page","in":"query","description":"Specific page number to get. 0 based index","required":false,"type":"string","default":""},{"name":"pagesize","in":"query","description":"Maximumm records per page. Default 500","required":false,"type":"string","default":""}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/DeviceList"}},"204":{"description":"NoContent"},"400":{"description":"1. {400 : Application Id cannot be null or empty.}2. {400 : Application not found or user does not have access to it.}3. {400 : Location Group Id cannot be null or empty.}4. {400 : Resource's organization group :{0} not found or user does not have access to this organization group.","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"deprecated":true,"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/groups/{uuid}/macos/apps":{"post":{"tags":["MacOsAppsV1"],"summary":"New - Creates a new macOS application with provided metadata for distribution on macOS Devices","description":"Creates a new macOS application with provided metadata for distribution on macOS Devices","operationId":"MacOsAppsV1_CreateMacOSApplication","consumes":["application/json"],"produces":["application/json;version=1"],"parameters":[{"name":"macOSApplicationModel","in":"body","description":"macOS application metadata and icons(Required)","required":true,"schema":{"$ref":"#/definitions/MacOsCreateApplicationRequestV1Model"}},{"name":"uuid","in":"path","description":"Organization group UUID to perform the operation on.(Required)","required":true,"type":"string"}],"responses":{"201":{"description":"Created","headers":{"Location":{"description":"api/mam/groups/{uuid}/macos/apps/{applicationId}","type":"integer"}}},"400":{"description":"1.  {7451: InvalidLocationGroupID - The Location Group ID is invalid.} 2.  {7453: MacOsInvalidBlobId - Invalid BlobId.} 3.  {7454: MacOsInvalidPkgInfoFile - Invalid PkgInfo File.} 4.  {7455: MacOsInvalidInternalVersion - Invalid Internal Version.} ","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/groups/{uuid}/macos/apps/{applicationId}":{"put":{"tags":["MacOsAppsV1"],"summary":"New - Updates a macOS application with provided metadata for distribution on macOS Devices","description":"Updates a macOS application with provided metadata for distribution on macOS Devices","operationId":"MacOsAppsV1_UpdateMacOSApplication","consumes":["application/json"],"produces":["application/json;version=1"],"parameters":[{"name":"macOSApplicationModel","in":"body","description":"macOS application metadata and icons(Required)","required":true,"schema":{"$ref":"#/definitions/MacOsEditApplicationRequestV1Model"}},{"name":"uuid","in":"path","description":"Organization group UUID to perform the operation on.(Required)","required":true,"type":"string"},{"name":"applicationId","in":"path","description":"Application ID to perform the operation on.(Required)","required":true,"type":"string"}],"responses":{"204":{"description":"No Content"},"400":{"description":"1.  {7000: ApplicationNotFound - Application not found or user does not have access to it.} 2.  {7002: InvalidParameter - Invalid MacOs ApplicationId.} 3.  {7451: InvalidLocationGroupID - The Location Group ID is invalid.} 4.  {7453: MacOsInvalidBlobId - Invalid BlobId.} 5.  {7454: MacOsInvalidPkgInfoFile - Invalid PkgInfo File.} ","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/ping":{"get":{"tags":["Ping"],"operationId":"Ping_Get","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[],"responses":{},"security":[],"x-internalApi":true},"put":{"tags":["Ping"],"operationId":"Ping_Put","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[],"responses":{},"security":[],"x-internalApi":true},"post":{"tags":["Ping"],"operationId":"Ping_Post","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"value","in":"body","required":true,"schema":{"type":"string"}}],"responses":{},"security":[],"x-internalApi":true},"delete":{"tags":["Ping"],"operationId":"Ping_Delete","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[],"responses":{},"security":[],"x-internalApi":true},"head":{"tags":["Ping"],"operationId":"Ping_Head","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[],"responses":{},"security":[],"x-internalApi":true},"patch":{"tags":["Ping"],"operationId":"Ping_Patch","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[],"responses":{},"security":[],"x-internalApi":true}},"/ping/cached":{"get":{"tags":["Ping"],"operationId":"Ping_GetCached","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[],"responses":{},"security":[],"x-internalApi":true}},"/ping/concurrency":{"get":{"tags":["Ping"],"operationId":"Ping_GetRequestQueryValue","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[],"responses":{},"security":[],"x-internalApi":true}},"/ping/cached/query":{"get":{"tags":["Ping"],"operationId":"Ping_GetPagedResultFromCache","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[],"responses":{},"security":[{"BasicAuth":[]}],"x-internalApi":true}},"/ping/enrollmentuser":{"get":{"tags":["Ping"],"operationId":"Ping_TestEnrollmentUserRoleType","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[],"responses":{},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"GroupIdAuth":[]}],"x-internalApi":true}},"/ping/adminuser":{"get":{"tags":["Ping"],"operationId":"Ping_TestAdminUserRoleType","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[],"responses":{},"security":[{"BasicAuth":[]},{"CmsAuth":[]}],"x-internalApi":true}},"/ping/internal":{"get":{"tags":["Ping"],"operationId":"Ping_TestInternal","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[],"responses":{},"security":[],"x-internalApi":true}},"/ping/emptymodel":{"get":{"tags":["Ping"],"operationId":"Ping_GetEmptyModel","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[],"responses":{},"security":[],"x-internalApi":true}},"/ping/resources":{"put":{"tags":["Ping"],"operationId":"Ping_PutToReturnModel","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[],"responses":{},"security":[],"x-internalApi":true},"post":{"tags":["Ping"],"operationId":"Ping_SetLocationHeader","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[],"responses":{},"security":[],"x-internalApi":true},"patch":{"tags":["Ping"],"operationId":"Ping_PatchToReturnModel","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[],"responses":{},"security":[],"x-internalApi":true}},"/ping/content":{"get":{"tags":["Ping"],"operationId":"Ping_GetContent","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[],"responses":{},"security":[],"x-internalApi":true}},"/ping/etag":{"get":{"tags":["Ping"],"operationId":"Ping_Etag","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[],"responses":{},"security":[],"x-internalApi":true}},"/apps/public/{id}":{"get":{"tags":["PublicApps"],"summary":"Gets the details of a public app identified by id.","description":"Gets the details of the public application identified by the application Id.","operationId":"PublicApps_GetPublicAppById","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"id","in":"path","description":"Public App Id is the unique identifier for Public Applications in AirWatch. (Required)","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApplicationEntity   "}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/apps/public":{"post":{"tags":["PublicApps"],"summary":"Inserts the public application selected by searching for the bundle ID (Android) or external ID (iOS) in the app market.","description":"External Id or ApplicationUrl is required in case of Ios apps and for other platforms, Bundle Id or ApplicationUrl is required","operationId":"PublicApps_InsertPublicApp","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"application","in":"body","description":"The application entity to be inserted.","required":true,"schema":{"$ref":"#/definitions/ApplicationEntity    "}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApplicationEntity     "}},"400":{"description":"1. {400: External Id or ApplicationUrl is required in case of Ios apps}2. {400: Bundle Id or ApplicationUrl is required in case of {devicetype} apps}3. {400: Category does not exists in LG.}4. {400: Application does not exist or Device does not have access to it.}5. {400: Application already exists at location group}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"403":{"description":"1. {403: User does not have permission to perform this operation.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/apps/public/{applicationid}":{"put":{"tags":["PublicApps"],"summary":"Updates the public application selected by searching for the bundle ID (Android) or external ID (iOS) in the app market.","description":"Updates the public application details such as name, categories etc for the public app identified by the unique identifier applicationid","operationId":"PublicApps_UpdatePublicApp","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"applicationid","in":"path","description":"Application id to be updated","required":true,"type":"integer","format":"int32"},{"name":"applicationEntity","in":"body","description":"The application details.","required":true,"schema":{"$ref":"#/definitions/ApplicationEntity      "}}],"responses":{"204":{"description":"No Content"},"404":{"description":"1. {7000: Application not found.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]},"delete":{"tags":["PublicApps"],"summary":"Deletes the specified public application.","description":"Deletes the public application identified by the Application Id passed.","operationId":"PublicApps_DeletePublicApp","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"applicationid","in":"path","description":"Unique identifier of the app to be deleted.","required":true,"type":"integer","format":"int32"}],"responses":{"202":{"description":"Accepted"},"204":{"description":"No Content"},"400":{"description":"1. {400: Applicatio
[...]
