{"swagger":"2.0","info":{"version":"2","title":"MDM API V2"},"host":"apimain.ssdevrd.com","basePath":"/api/mdm","schemes":["https","http"],"paths":{"/devices/search":{"get":{"tags":["DevicesV2"],"summary":"Searches for devices using the query information provided.","description":"v1","operationId":"DevicesV2_Search","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"user","in":"query","description":"Enrolled username. (Required)","required":true,"type":"string"},{"name":"model","in":"query","description":"Device model.","required":false,"type":"string"},{"name":"platform","in":"query","description":"Device platform.","required":false,"type":"string"},{"name":"lastseen","in":"query","description":"Last seen date string.","required":false,"type":"string","format":"date-time"},{"name":"ownership","in":"query","description":"Ownership.","required":false,"type":"string"},{"name":"lgid","in":"query","description":"OrganizationGroup to be searched, user's OG is considered if not sent.","required":false,"type":"integer"},{"name":"compliantstatus","in":"query","description":"Complaint status.","required":false,"type":"string"},{"name":"seensince","in":"query","description":"Specifies the date filter for device search, which retrieves the devices that are seen after this date","required":false,"type":"string","format":"date-time"},{"name":"page","in":"query","description":"Page number.","required":false,"type":"integer"},{"name":"pagesize","in":"query","description":"Records per page.","required":false,"type":"integer"},{"name":"orderby","in":"query","description":"Orderby column name.","required":false,"type":"string"},{"name":"sortorder","in":"query","description":"Sorting order. Values ASC or DESC. Defaults to ASC.","required":false,"type":"string"},{"name":"Authorization","in":"header","description":"Authorization header","type":"string"},{"name":"aw-tenant-code","in":"header","description":"API key","type":"string"}],"responses":{}}},"/devices/{id}/enrollmentuser/{enrollmentuserid}":{"patch":{"tags":["DevicesV2"],"summary":"New - Check out the device to enrollment User","description":"v2","operationId":"DevicesV2_CheckOutDeviceToUser","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"id","in":"path","description":"Device Identifier","required":true,"type":"integer","format":"int32"},{"name":"enrollmentuserid","in":"path","description":"Enrollment User Identifier","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"Authorization header","type":"string"},{"name":"aw-tenant-code","in":"header","description":"API key","type":"string"}],"responses":{}}},"/products/{id}/compliant":{"get":{"tags":["ProductsV2"],"summary":"Returns the details of the Devices which are Product Compliant .","description":"v2","operationId":"ProductsV2_ProductCompliantDevices","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"id","in":"path","description":"Identfier of the Product of which ProductCompliant Device details needs to be retrieved.","required":true,"type":"integer","format":"int32"},{"name":"page","in":"query","description":"page number.","required":false,"type":"integer"},{"name":"pagesize","in":"query","description":"Maximum results which should be returned in each page.","required":false,"type":"integer"},{"name":"Authorization","in":"header","description":"Authorization header","type":"string"},{"name":"aw-tenant-code","in":"header","description":"API key","type":"string"}],"responses":{}}},"/products/{id}/inprogress":{"get":{"tags":["ProductsV2"],"summary":"Returns the details of the Device for which Provisioning is In-Progress.","description":"v2","operationId":"ProductsV2_InprogressProductDevices","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"id","in":"path","description":"Identfier of the Product of which ProductCompliant Device details needs to be retrieved.","required":true,"type":"integer","format":"int32"},{"name":"page","in":"query","description":"page number.","required":false,"type":"integer"},{"name":"pagesize","in":"query","description":"Maximum results which should be returned in each page.","required":false,"type":"integer"},{"name":"Authorization","in":"header","description":"Authorization header","type":"string"},{"name":"aw-tenant-code","in":"header","description":"API key","type":"string"}],"responses":{}}},"/products/{id}/failed":{"get":{"tags":["ProductsV2"],"summary":"Returns the details of the Device for which Provisioning is Failed.","description":"v2","operationId":"ProductsV2_FailedProductDevices","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"id","in":"path","description":"Identfier of the Product of which ProductCompliant Device details needs to be retrieved.","required":true,"type":"integer","format":"int32"},{"name":"page","in":"query","description":"page number.","required":false,"type":"integer"},{"name":"pagesize","in":"query","description":"Maximum results which should be returned in each page.","required":false,"type":"integer"},{"name":"Authorization","in":"header","description":"Authorization header","type":"string"},{"name":"aw-tenant-code","in":"header","description":"API key","type":"string"}],"responses":{}}},"/products/{id}/assigned":{"get":{"tags":["ProductsV2"],"summary":"Returns the details of the Device for which Provisioning is Assigned.","description":"v2","operationId":"ProductsV2_AssignedProductDevices","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"id","in":"path","description":"Identfier of the Product.","required":true,"type":"integer","format":"int32"},{"name":"seensince","in":"query","description":"Filters devices such that devices with last seen after this date will be returned.","required":false,"type":"string","format":"date-time"},{"name":"lastjobupdatefrom","in":"query","description":"Filters devices on lastjobstatus DateTime.","required":false,"type":"string","format":"date-time"},{"name":"page","in":"query","description":"page number.","required":false,"type":"integer"},{"name":"pagesize","in":"query","description":"Maximum results which should be returned in each page.","required":false,"type":"integer"},{"name":"Authorization","in":"header","description":"Authorization header","type":"string"},{"name":"aw-tenant-code","in":"header","description":"API key","type":"string"}],"responses":{}}},"/profiles/platforms/{platform}/payloads/{payload}/getpayloadkeys":{"get":{"tags":["ProfilesV2"],"summary":"Gets PayloadKeys for the specified Platform and Payload","description":"v2","operationId":"ProfilesV2_GetPayloadKeys","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"platform","in":"path","description":"Platform Name","required":true,"type":"string"},{"name":"payload","in":"path","description":"Payload Name","required":true,"type":"string"},{"name":"contextType","in":"query","description":"Context Type","required":false,"type":"string"},{"name":"Authorization","in":"header","description":"Authorization header","type":"string"},{"name":"aw-tenant-code","in":"header","description":"API key","type":"string"}],"responses":{"200":{"description":"Payload keys for the specified platform and payload","schema":{"$ref":"#/definitions/DeviceProfileV2Entity"}}}}},"/profiles/{profileId}":{"get":{"tags":["ProfilesV2"],"summary":"Gets Device Profile Details identified by the Profile Id","description":"v2","operationId":"ProfilesV2_GetDeviceProfileDetails","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"profileId","in":"path","description":"Profile Id","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"Authorization header","type":"string"},{"name":"aw-tenant-code","in":"header","description":"API key","type":"string"}],"responses":{}}},"/profiles/platforms/android/create":{"post":{"tags":["ProfilesV2"],"summary":"Creates an ANDROID Device Profile","description":"v2","operationId":"ProfilesV2_CreateAndroidDeviceProfile","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"deviceProfile","in":"body","description":"AndroidDeviceProfileEntity","required":true,"schema":{"$ref":"#/definitions/AndroidDeviceProfileV2Entity"}},{"name":"Authorization","in":"header","description":"Authorization header","type":"string"},{"name":"aw-tenant-code","in":"header","description":"API key","type":"string"}],"responses":{}}},"/profiles/platforms/apple/create":{"post":{"tags":["ProfilesV2"],"summary":"Creates an APPLE Device Profile","description":"v2","operationId":"ProfilesV2_CreateAppleDeviceProfile","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"deviceProfile","in":"body","description":"AppleDeviceProfileEntity","required":true,"schema":{"$ref":"#/definitions/AppleDeviceProfileV2Entity"}},{"name":"Authorization","in":"header","description":"Authorization header","type":"string"},{"name":"aw-tenant-code","in":"header","description":"API key","type":"string"}],"responses":{}}},"/profiles/platforms/appleosx/create":{"post":{"tags":["ProfilesV2"],"summary":"Creates an APPLE OsX Device Profile","description":"v2","operationId":"ProfilesV2_CreateAppleOsXDeviceProfile","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"deviceProfile","in":"body","description":"AppleOsXDeviceProfileEntity","required":true,"schema":{"$ref":"#/definitions/AppleOsXDeviceProfileEntity"}},{"name":"Authorization","in":"header","description":"Authorization header","type":"string"},{"name":"aw-tenant-code","in":"header","description":"API key","type":"string"}],"responses":{}}},"/profiles/platforms/qnx/create":{"post":{"tags":["ProfilesV2"],"summary":"Creates a Provisioning Enabled QNX Device Profile","description":"v2","operationId":"ProfilesV2_CreateQnxDeviceProfile","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"deviceProfile","in":"body","description":"QnxDeviceProfileEntity","required":true,"schema":{"$ref":"#/definitions/QnxDeviceProfileEntity"}},{"name":"Authorization","in":"header","description":"Authorization header","type":"string"},{"name":"aw-tenant-code","in":"header","description":"API key","type":"string"}],"responses":{}}},"/profiles/platforms/windowspc/create":{"post":{"tags":["ProfilesV2"],"summary":"Creates a Windows PC Device Profile","description":"v2","operationId":"ProfilesV2_CreateWindowsPcDeviceProfile","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"deviceProfile","in":"body","description":"WindowsPcDeviceProfileEntity","required":true,"schema":{"$ref":"#/definitions/WindowsPcDeviceProfileEntity"}},{"name":"Authorization","in":"header","description":"Authorization header","type":"string"},{"name":"aw-tenant-code","in":"header","description":"API key","type":"string"}],"responses":{}}},"/profiles/platforms/winrt/create":{"post":{"tags":["ProfilesV2"],"summary":"Creates a Windows Desktop Device Profile","operationId":"ProfilesV2_CreateWindowsDesktopDeviceProfile","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"deviceProfile","in":"body","description":"WindowsDesktopDeviceProfileEntity","required":true,"schema":{"$ref":"#/definitions/WindowsDesktopDeviceProfileEntity"}},{"name":"Authorization","in":"header","description":"Authorization header","type":"string"},{"name":"aw-tenant-code","in":"header","description":"API key","type":"string"}],"responses":{}}},"/profiles/platforms/WindowsPhone8/create":{"post":{"tags":["ProfilesV2"],"summary":"Creates a Windows Phone Device Profile","operationId":"ProfilesV2_CreateWindowsPhoneDeviceProfile","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"deviceProfile","in":"body","description":"WindowsPhoneDeviceProfileEntity","required":true,"schema":{"$ref":"#/definitions/WindowsPhoneDeviceProfileEntity"}},{"name":"Authorization","in":"header","description":"Authorization header","type":"string"},{"name":"aw-tenant-code","in":"header","description":"API key","type":"string"}],"responses":{}}},"/profiles/platforms/android/update":{"put":{"tags":["ProfilesV2"],"summary":"Updates an ANDROID Device Profile.\r\nIf the CreateNewVersion key is empty or false, a new Profile version will not be created but AssignedSmartGroups, RootLocationGroup, AssignedGeofenceArea and AssignedSchedule will be saved and published.\r\nElse if it's true, new version of the profile will be created and published.","description":"v2","operationId":"ProfilesV2_UpdateAndroidDeviceProfile","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"deviceProfile","in":"body","description":"AndroidDeviceProfileEntity","required":true,"schema":{"$ref":"#/definitions/AndroidDeviceProfileV2Entity"}},{"name":"Authorization","in":"header","description":"Authorization header","type":"string"},{"name":"aw-tenant-code","in":"header","description":"API key","type":"string"}],"responses":{}},"post":{"tags":["ProfilesV2"],"summary":"Updates an ANDROID Device Profile.\r\nIf the CreateNewVersion key is empty or false, a new Profile version will not be created but AssignedSmartGroups, RootLocationGroup, AssignedGeofenceArea and AssignedSchedule will be saved and published.\r\nElse if it's true, new version of the profile will be created and published.","description":"v2","operationId":"ProfilesV2_UpdateAndroidDeviceProfile","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"deviceProfile","in":"body","description":"AndroidDeviceProfileEntity","required":true,"schema":{"$ref":"#/definitions/AndroidDeviceProfileV2Entity"}},{"name":"Authorization","in":"header","description":"Authorization header","type":"string"},{"name":"aw-tenant-code","in":"header","description":"API key","type":"string"}],"responses":{}}},"/profiles/platforms/apple/update":{"post":{"tags":["ProfilesV2"],"summary":"Updates an APPLE Device Profile.\r\nIf the CreateNewVersion key is empty or false, a new Profile version will not be created but AssignedSmartGroups, RootLocationGroup, AssignedGeofenceArea and AssignedSchedule will be saved and published.\r\nElse if it's true, new version of the profile will be created and published.","description":"v2","operationId":"ProfilesV2_UpdateAppleDeviceProfile","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"deviceProfile","in":"body","description":"AppleDeviceProfileEntity","required":true,"schema":{"$ref":"#/definitions/AppleDeviceProfileV2Entity"}},{"name":"Authorization","in":"header","description":"Authorization header","type":"string"},{"name":"aw-tenant-code","in":"header","description":"API key","type":"string"}],"responses":{}}},"/profiles/platforms/appleosx/update":{"post":{"tags":["ProfilesV2"],"summary":"Updates an APPLE OsX Device Profile.\r\nIf the CreateNewVersion key is empty or false, a new Profile version will not be created but AssignedSmartGroups, RootLocationGroup, AssignedGeofenceArea and AssignedSchedule will be saved and published.\r\nElse if it's true, new version of the profile will be created and published.","description":"v2","operationId":"ProfilesV2_UpdateAppleOsXDeviceProfile","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"deviceProfile","in":"body","description":"AppleOsXDeviceProfileEntity","required":true,"schema":{"$ref":"#/definitions/AppleOsXDeviceProfileEntity"}},{"name":"Authorization","in":"header","description":"Authorization header","type":"string"},{"name":"aw-tenant-code","in":"header","description":"API key","type":"string"}],"responses":{}}},"/profiles/platforms/qnx/update":{"post":{"tags":["ProfilesV2"],"summary":"Updates a QNX Device Profile.\r\nIf the CreateNewVersion key is empty or false, a new Profile version will not be created but AssignedSmartGroups, RootLocationGroup, AssignedGeofenceArea and AssignedSchedule will be saved and published.\r\nElse if it's true, new version of the profile will be created and published.","description":"v2","operationId":"ProfilesV2_UpdateQnxDeviceProfile","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"deviceProfile","in":"body","description":"QnxDeviceProfileEntity","required":true,"schema":{"$ref":"#/definitions/QnxDeviceProfileEntity"}},{"name":"Authorization","in":"header","description":"Authorization header","type":"string"},{"name":"aw-tenant-code","in":"header","description":"API key","type":"string"}],"responses":{}}},"/profiles/platforms/windowspc/update":{"post":{"tags":["ProfilesV2"],"summary":"Updates a Windows PC Device Profile.\r\nIf the CreateNewVersion key is empty or false, a new Profile version will not be created but AssignedSmartGroups, RootLocationGroup, AssignedGeofenceArea and AssignedSchedule will be saved and published.\r\nElse if it's true, new version of the profile will be created and published.","description":"v2","operationId":"ProfilesV2_UpdateWindowsPcDeviceProfile","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"deviceProfile","in":"body","description":"WindowsPcDeviceProfileEntity","required":true,"schema":{"$ref":"#/definitions/WindowsPcDeviceProfileEntity"}},{"name":"Authorization","in":"header","description":"Authorization header","type":"string"},{"name":"aw-tenant-code","in":"header","description":"API key","type":"string"}],"responses":{}}},"/profiles/platforms/winrt/update":{"put":{"tags":["ProfilesV2"],"summary":"Updates a Windows Desktop Device Profile.\r\nIf the CreateNewVersion key is empty or false, a new Profile version will not be created but AssignedSmartGroups, RootLocationGroup, AssignedGeofenceArea and AssignedSchedule will be saved and published.\r\nElse if it's true, new version of the profile will be created and published.","operationId":"ProfilesV2_UpdateWindowsDesktopDeviceProfile","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"deviceProfile","in":"body","description":"WindowsDesktopDeviceProfileEntity","required":true,"schema":{"$ref":"#/definitions/WindowsDesktopDeviceProfileEntity"}},{"name":"Authorization","in":"header","description":"Authorization header","type":"string"},{"name":"aw-tenant-code","in":"header","description":"API key","type":"string"}],"responses":{}}},"/profiles/platforms/WindowsPhone8/update":{"post":{"tags":["ProfilesV2"],"summary":"Updates a Windows Phone Device Profile.\r\nIf the CreateNewVersion key is empty or false, a new Profile version will not be created but AssignedSmartGroups, RootLocationGroup, AssignedGeofenceArea and AssignedSchedule will be saved and published.\r\nElse if it's true, new version of the profile will be created and published.","operationId":"ProfilesV2_UpdateWindowsPhoneDeviceProfile","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"deviceProfile","in":"body","description":"WindowsPhoneDeviceProfileEntity","required":true,"schema":{"$ref":"#/definitions/WindowsPhoneDeviceProfileEntity"}},{"name":"Authorization","in":"header","description":"Authorization header","type":"string"},{"name":"aw-tenant-code","in":"header","description":"API key","type":"string"}],"responses":{}}},"/profiles/search":{"get":{"tags":["ProfilesV2"],"summary":"Gets List of profiles based on the search criteria","description":"v2","operationId":"ProfilesV2_Search","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"organizationgroupid","in":"query","description":"Organization Group ID.","required":false,"type":"integer"},{"name":"platform","in":"query","description":"Platform name.","required":false,"type":"string"},{"name":"profiletype","in":"query","description":"Profile Type","required":false,"type":"string"},{"name":"status","in":"query","description":"Profile status (Active or Inactive)","required":false,"type":"string"},{"name":"searchtext","in":"query","description":"search text","required":false,"type":"string"},{"name":"orderby","in":"query","description":"Orderby parameter name.","required":false,"type":"string"},{"name":"sortorder","in":"query","description":"Sorting order. Values ASC or DESC. Defaults to ASC.","required":false,"type":"string"},{"name":"page","in":"query","description":"Page number.","required":false,"type":"integer"},{"name":"pagesize","in":"query","description":"Maximum results which should be returned in each page.","required":false,"type":"integer"},{"name":"includeandroidforwork","in":"query","description":"It will include androidforwork profiles","required":false,"type":"boolean"},{"name":"Authorization","in":"header","description":"Authorization header","type":"string"},{"name":"aw-tenant-code","in":"header","description":"API key","type":"string"}],"responses":{}}},"/profiles/resources/{resourceType}/resourcekeys":{"get":{"tags":["ProfilesV2"],"summary":"Gets Resource keys and advanced settings for the specified Resource type","description":"v2","operationId":"ProfilesV2_GetProfileResourceKeys","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"resourceType","in":"path","description":"ResourceType","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"Authorization header","type":"string"},{"name":"aw-tenant-code","in":"header","description":"API key","type":"string"}],"responses":{}}},"/profiles/resources/{id}":{"get":{"tags":["ProfilesV2"],"summary":"Gets a Resource for a given Resource ID.","description":"v2","operationId":"ProfilesV2_GetProfileResourceDetails","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"id","in":"path","description":"Resource ID","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"Authorization header","type":"string"},{"name":"aw-tenant-code","in":"header","description":"API key","type":"string"}],"responses":{}},"delete":{"tags":["ProfilesV2"],"summary":"Deletes the Resource identified by the Resource ID","description":"v2","operationId":"ProfilesV2_DeleteProfileResource","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"id","in":"path","description":"Resource ID","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"Authorization header","type":"string"},{"name":"aw-tenant-code","in":"header","description":"API key","type":"string"}],"responses":{}}},"/profiles/resources/{resourceType}":{"put":{"tags":["ProfilesV2"],"summary":"Updates the given Resource entity","description":"v2","operationId":"ProfilesV2_UpdateProfileResource","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"resourceType","in":"path","required":true,"type":"string"},{"name":"resource.name","in":"query","required":false,"type":"string"},{"name":"resource.description","in":"query","required":false,"type":"string"},{"name":"resource.id","in":"query","required":false,"type":"integer","format":"int32"},{"name":"resource.assignment.assignmentType","in":"query","required":false,"type":"string"},{"name":"resource.assignment.managedLocationGroupID","in":"query","required":false,"type":"integer","format":"int32"},{"name":"resource.assignment.assignedSmartGroups","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"name":"resource.assignment.excludedSmartGroups","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"name":"Authorization","in":"header","description":"Authorization header","type":"string"},{"name":"aw-tenant-code","in":"header","description":"API key","type":"string"}],"responses":{}},"post":{"tags":["ProfilesV2"],"summary":"Creates a Resource for the requested type","description":"v2","operationId":"ProfilesV2_CreateProfileResource","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"resourceType","in":"path","required":true,"type":"string"},{"name":"resource.name","in":"query","required":false,"type":"string"},{"name":"resource.description","in":"query","required":false,"type":"string"},{"name":"resource.id","in":"query","required":false,"type":"integer","format":"int32"},{"name":"resource.assignment.assignmentType","in":"query","required":false,"type":"string"},{"name":"resource.assignment.managedLocationGroupID","in":"query","required":false,"type":"integer","format":"int32"},{"name":"resource.assignment.assignedSmartGroups","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"name":"resource.assignment.excludedSmartGroups","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"name":"Authorization","in":"header","description":"Authorization header","type":"string"},{"name":"aw-tenant-code","in":"header","description":"API key","type":"string"}],"responses":{}}},"/profiles/resources/editassignment/{id}":{"put":{"tags":["ProfilesV2"],"summary":"Edit the smart-group assignments for a given Resource","description":"v2","operationId":"ProfilesV2_EditAssignment","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"resourceAssignmentModel","in":"body","description":"Resource Assignment model","required":true,"schema":{"$ref":"#/definitions/ResourceAssignmentModel"}},{"name":"id","in":"path","description":"Resource ID","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"Authorization header","type":"string"},{"name":"aw-tenant-code","in":"header","description":"API key","type":"string"}],"responses":{}}},"/profiles/express/resources/{resourceType}/resourcekeys":{"get":{"tags":["ProfilesV2"],"summary":"Gets Resource Keys for the specified Resource Type","description":"v2","operationId":"ProfilesV2_GetResourceKeys","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"resourceType","in":"path","description":"Resource Type","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"Authorization header","type":"string"},{"name":"aw-tenant-code","in":"header","description":"API key","type":"string"}],"responses":{}}},"/profiles/express/resources/{resourceType}":{"put":{"tags":["ProfilesV2"],"summary":"Updates requested Resource","operationId":"ProfilesV2_UpdateResource","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"resourceType","in":"path","required":true,"type":"string"},{"name":"resource.general.profileResourceId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"resource.general.name","in":"query","required":false,"type":"string"},{"name":"resource.general.description","in":"query","required":false,"type":"string"},{"name":"resource.general.managedLocationGroupID","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"Authorization header","type":"string"},{"name":"aw-tenant-code","in":"header","description":"API key","type":"string"}],"responses":{}},"post":{"tags":["ProfilesV2"],"summary":"Creates Resource of Requested Type","description":"v2","operationId":"ProfilesV2_CreateResource","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"resourceType","in":"path","required":true,"type":"string"},{"name":"resource.general.profileResourceId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"resource.general.name","in":"query","required":false,"type":"string"},{"name":"resource.general.description","in":"query","required":false,"type":"string"},{"name":"resource.general.managedLocationGroupID","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"Authorization header","type":"string"},{"name":"aw-tenant-code","in":"header","description":"API key","type":"string"}],"responses":{}}},"/profiles/express/resources/publishoptions":{"get":{"tags":["ProfilesV2"],"summary":"Get the options required to Publish a Resource","description":"v2","operationId":"ProfilesV2_GetResourcePublishOptions","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization header","type":"string"},{"name":"aw-tenant-code","in":"header","description":"API key","type":"string"}],"responses":{}}},"/profiles/express/resources/publish":{"post":{"tags":["ProfilesV2"],"summary":"Publish a Resource","description":"v2","operationId":"ProfilesV2_PublishResource","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"publishResourceModel","in":"body","description":"PublishResourceModel","required":true,"schema":{"$ref":"#/definitions/PublishProfileResourceEntity"}},{"name":"Authorization","in":"header","description":"Authorization header","type":"string"},{"name":"aw-tenant-code","in":"header","description":"API key","type":"string"}],"responses":{}}},"/smartgroups/{id}":{"get":{"tags":["SmartGroupsV2"],"summary":"New - Retrieves the Smart Group Details.","description":"v2","operationId":"SmartGroupsV2_LoadSmartGroup","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"id","in":"path","description":"The SmartGroup Identifier.","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"Authorization header","type":"string"},{"name":"aw-tenant-code","in":"header","description":"API key","type":"string"}],"responses":{}},"put":{"tags":["SmartGroupsV2"],"summary":"New - Updates the Users and User Groups of the specified Smart Group.","description":"v2","operationId":"SmartGroupsV2_UpdateSmartGroup","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"id","in":"path","description":"The SmartGroup Id.","required":true,"type":"integer","format":"int32"},{"name":"smartGroup","in":"body","description":"The SmartGroup details to be updated.","required":true,"schema":{"$ref":"#/definitions/SmartGroupV2Model"}},{"name":"Authorization","in":"header","description":"Authorization header","type":"string"},{"name":"aw-tenant-code","in":"header","description":"API key","type":"string"}],"responses":{}}},"/smartgroups":{"post":{"tags":["SmartGroupsV2"],"summary":"Create a SmartGroup with details passed.","operationId":"SmartGroupsV2_CreateSmartGroup","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"smartGroup","in":"body","description":"Smart Group details.","required":true,"schema":{"$ref":"#/definitions/SmartGroupV2Model"}},{"name":"type","in":"query","description":"Type is {harmony/airwatch}.","required":false,"type":"string"},{"name":"Authorization","in":"header","description":"Authorization header","type":"string"},{"name":"aw-tenant-code","in":"header","description":"API key","type":"string"}],"responses":{}}}},"definitions":{"RequestQuery":{"description":"Implementation for RequestQuery","type":"object","properties":{}},"DeviceSearchResultExtended":{"type":"object","properties":{"Devices":{"type":"array","items":{"$ref":"#/definitions/DeviceExtended"}},"Page":{"format":"int32","type":"integer"},"PageSize":{"format":"int32","type":"integer"},"Total":{"format":"int32","type":"integer"}}},"DeviceExtended":{"type":"object","properties":{"EasIds":{"$ref":"#/definitions/EasIds"},"Udid":{"type":"string"},"SerialNumber":{"type":"string"},"MacAddress":{"type":"string"},"Imei":{"type":"string"},"EasId":{"type":"string"},"AssetNumber":{"type":"string"},"DeviceFriendlyName":{"type":"string"},"LocationGroupId":{"$ref":"#/definitions/EntityReference"},"LocationGroupName":{"type":"string"},"UserId":{"$ref":"#/definitions/EntityReference"},"UserName":{"type":"string"},"UserEmailAddress":{"type":"string"},"Ownership":{"type":"string"},"PlatformId":{"$ref":"#/definitions/EntityReference"},"Platform":{"type":"string"},"ModelId":{"$ref":"#/definitions/EntityReference"},"Model":{"type":"string"},"OperatingSystem":{"type":"string"},"PhoneNumber":{"type":"string"},"LastSeen":{"format":"date-time","type":"string"},"EnrollmentStatus":{"type":"string"},"ComplianceStatus":{"type":"string"},"CompromisedStatus":{"type":"boolean"},"LastEnrolledOn":{"format":"date-time","type":"string"},"LastComplianceCheckOn":{"format":"date-time","type":"string"},"LastCompromisedCheckOn":{"format":"date-time","type":"string"},"ComplianceSummary":{"$ref":"#/definitions/ComplianceSummary"},"IsSupervised":{"type":"boolean"},"DeviceMCC":{"$ref":"#/definitions/DeviceMcc"},"IsRemoteManagementEnabled":{"type":"string"},"DataEncryptionYN":{"type":"string"},"AcLineStatus":{"format":"int32","type":"integer"},"VirtualMemory":{"format":"int64","type":"integer"},"OEMInfo":{"type":"string"},"DeviceCapacity":{"format":"double","type":"number"},"AvailableDeviceCapacity":{"format":"double","type":"number"},"LastSystemSampleTime":{"format":"date-time","type":"string"},"IsDeviceDNDEnabled":{"type":"boolean"},"IsDeviceLocatorEnabled":{"type":"boolean"},"IsCloudBackupEnabled":{"type":"boolean"},"IsActivationLockEnabled":{"type":"boolean"},"Id":{"$ref":"#/definitions/EntityId"}}},"EasIds":{"type":"object","properties":{"EasId":{"type":"array","items":{"type":"string"}}},"example":{"EasId":["test"]}},"EntityReference":{"type":"object","properties":{"Id":{"$ref":"#/definitions/EntityId"},"Name":{"type":"string"}}},"ComplianceSummary":{"type":"object","properties":{"DeviceCompliance":{"type":"array","items":{"$ref":"#/definitions/DeviceCompliance"}}}},"DeviceMcc":{"type":"object","properties":{"SIMMCC":{"type":"string"},"CurrentMCC":{"type":"string"}},"example":{"SIMMCC":"test","CurrentMCC":"test"}},"EntityId":{"type":"object","properties":{"Value":{"format":"int64","type":"integer","readOnly":true}},"example":{"Value":1}},"DeviceCompliance":{"type":"object","properties":{"CompliantStatus":{"type":"boolean"},"PolicyName":{"type":"string"},"PolicyDetail":{"type":"string"},"LastComplianceCheck":{"format":"date-time","type":"string"},"NextComplianceCheck":{"format":"date-time","type":"string"},"ActionTaken":{"type":"array","items":{"$ref":"#/definitions/ComplianceActionTaken"}},"Id":{"$ref":"#/definitions/EntityId"}}},"ComplianceActionTaken":{"type":"object","properties":{"ActionType":{"format":"int32","enum":[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15],"type":"integer"}},"example":{"ActionType":0}},"IActionResult":{"description":"interface for HttpActionResult","type":"object","properties":{"RequestQuery":{"$ref":"#/definitions/IRequestQuery","description":"Gets or sets the RequestQuery"},"RequestMessage":{"description":"Gets or sets the RequestMessage","type":"object","example":{"Version":{"Major":1,"Minor":1,"Build":-1,"Revision":-1,"MajorRevision":-1,"MinorRevision":-1},"Method":{"Method":"GET"},"RequestUri":"http://air-watch.com","Headers":[],"Properties":{}}},"HttpStatusCode":{"format":"int32","description":"Gets or sets HttpStatusCode","enum":[100,101,200,201,202,203,204,205,206,300,300,301,301,302,302,303,303,304,305,306,307,307,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,426,500,501,502,503,504,505],"type":"integer"},"Model":{"description":"Gets or sets Model","type":"object","example":{}},"Stream":{"$ref":"#/definitions/Stream","description":"Gets or sets Stream"},"ByteArray":{"format":"byte","description":"Gets or sets ByteArray","type":"string"},"FileName":{"description":"Gets or sets FileName {Will be set in the content-disposition header}","type":"string"},"MediaType":{"description":"Gets or sets MediaType","type":"string"},"OnStreamAvailable":{"description":"Gets or sets OnStreamAvailable","type":"object"},"ETagHeaderValue":{"$ref":"#/definitions/EntityTagHeaderValue","description":"Gets or sets ResponseHeaders"},"LocationHeaderValue":{"description":"Gets or sets LocationHeaderValue","type":"string"}}},"IRequestQuery":{"description":"Interface for IAwRequestQuery\r\nThis will hold all the required data for a request. Will be filled from ModelBinder","type":"object","properties":{"QueryParams":{"description":"Gets or sets Query Parameters. For e.g. any query string parameters will be extracted to key,value pair and stored here.","type":"object","additionalProperties":{"type":"string"}},"TenantContext":{"$ref":"#/definitions/ITenantContext","description":"Gets or sets IAwTenantContext. Will hold the tenant details, which will be filled as part of the tenant validation handler"},"RequestMethod":{"$ref":"#/definitions/HttpMethod","description":"Gets or sets RequestMethod. Will be used to write custom rules"},"ActionName":{"description":"Gets or sets ActionName","type":"string"},"AllowedUriQueryChars":{"description":"Gets or sets allowed Characters in Query String.","type":"array","items":{"type":"string"}}}},"Stream":{"type":"object","properties":{"__identity":{"type":"object","example":{}}}},"EntityTagHeaderValue":{"type":"object","properties":{"Tag":{"type":"string","readOnly":true},"IsWeak":{"type":"boolean","readOnly":true}}},"ITenantContext":{"description":"Contract for TenantContext. Will be exposed from RequestQuery and will be injected to every controller actions and Business method","type":"object","properties":{"TenantCode":{"description":"Gets or sets TenantCode. Uniquely identify the tenant for the request","type":"string"},"OrganizationgroupId":{"$ref":"#/definitions/EntityId","description":"Gets or sets Organization Group ID"}}},"HttpMethod":{"type":"object","properties":{"Method":{"type":"string","readOnly":true}}},"ProductDeviceDetailsSearchResult":{"type":"object","properties":{"Devices":{"type":"array","items":{"$ref":"#/definitions/ProductDeviceDetails"}},"Page":{"format":"int32","type":"integer"},"PageSize":{"format":"int32","type":"integer"},"Total":{"format":"int32","type":"integer"}}},"ProductDeviceDetails":{"type":"object","properties":{"DeviceId":{"format":"int32","type":"integer"},"Name":{"type":"string"},"LastJobStatus":{"type":"string"},"LastSeen":{"type":"string"}},"example":{"DeviceId":1,"Name":"test","LastJobStatus":"test","LastSeen":"test"}},"DeviceProfileV2Entity":{"type":"object","properties":{"General":{"$ref":"#/definitions/GeneralPayloadV2Entity"}},"example":{}},"GeneralPayloadV2Entity":{"type":"object","properties":{"ProfileId":{"format":"int32","type":"integer"},"Name":{"type":"string"},"Description":{"type":"string"},"ProfileScope":{"type":"string"},"Version":{"format":"int32","type":"integer"},"CreateNewVersion":{"type":"boolean"},"AssignmentType":{"type":"string"},"ProfileContext":{"type":"string"},"EnableProvisioning":{"type":"boolean"},"IsActive":{"type":"boolean"},"IsManaged":{"type":"boolean"},"Password":{"type":"string"},"AllowRemoval":{"type":"string"},"AssignedSmartGroups":{"type":"array","items":{"$ref":"#/definitions/SmartGroupEntity"}},"ExcludedSmartGroups":{"type":"array","items":{"$ref":"#/definitions/SmartGroupEntity"}},"ManagedLocationGroupID":{"format":"int32","type":"integer"},"AssignedGeofenceArea":{"type":"array","items":{"format":"int32","type":"integer"}},"AssignedSchedule":{"type":"array","items":{"format":"int32","type":"integer"}},"ExpirationDate":{"type":"string"}}},"SmartGroupEntity":{"type":"object","properties":{"SmartGroupId":{"format":"int32","type":"integer"},"Name":{"type":"string"}},"example":{"SmartGroupId":1,"Name":"test"}},"AndroidDeviceProfileV2Entity":{"type":"object","properties":{"Passcode":{"$ref":"#/definitions/AndroidPasscodePayloadV2Entity"},"WifiList":{"type":"array","items":{"$ref":"#/definitions/AndroidWifiPayloadV2Entity"}},"CredentialsList":{"type":"array","items":{"$ref":"#/definitions/AndroidCredentialsPayloadV2Entity"}},"EmailList":{"type":"array","items":{"$ref":"#/definitions/AndroidEmailPayloadV2Entity"}},"Restrictions":{"$ref":"#/definitions/AndroidRestrictionsPayloadV2Entity"},"VpnList":{"type":"array","items":{"$ref":"#/definitions/AndroidVpnPayloadV2Entity"}},"CustomSettingsList":{"type":"array","items":{"$ref":"#/definitions/AndroidCustomSettingsPayloadV2Entity"}},"ExchangeActiveSync":{"$ref":"#/definitions/AndroidEASPayloadV2Entity"},"AndroidForWorkSystemUpdates":{"$ref":"#/definitions/AndroidForWorkSystemUpdatesV2Entity"},"AndroidForWorkExchangeActiveSync":{"$ref":"#/definitions/AndroidForWorkEASPayloadV2Entity"},"AndroidForWorkChromeBrowser":{"$ref":"#/definitions/AndroidForWorkChromeBrowserPayloadV2Entity"},"AndroidForWorkRestrictions":{"$ref":"#/definitions/AndroidForWorkRestrictionsPayloadV2Entity"},"AndroidForWorkVpn":{"$ref":"#/definitions/AndroidForWorkVPNPayloadV2Entity"},"AndroidForWorkPasscode":{"$ref":"#/definitions/AndroidForWorkPasscodePayloadV2Entity"},"AndroidForWorkPermissions":{"$ref":"#/definitions/AndroidForWorkPermissionsPayloadV2Entity"},"AndroidForWorkSingleAppMode":{"$ref":"#/definitions/AndroidForWorkSingleAppModePayloadV2Entity"},"AndroidForWorkApplicationControl":{"$ref":"#/definitions/AndroidForWorkApplicationControlPayloadV2Entity"},"AndroidContainerVpnList":{"type":"array","items":{"$ref":"#/definitions/AndroidConatinerVPNPayloadV2Entity"}},"AndroidContainerCredentialsList":{"type":"array","items":{"$ref":"#/definitions/AndroidContainerCredentialsPayloadV2Entity"}},"BookmarkSettings":{"$ref":"#/definitions/AndroidBookmarkSettingsPayloadV2Entity"},"General":{"$ref":"#/definitions/GeneralPayloadV2Entity"}},"example":{}},"AndroidPasscodePayloadV2Entity":{"type":"object","properties":{"MinimumPasscodeLength":{"format":"int32","type":"integer"},"PasscodeContent":{"format":"int32","type":"integer"},"MaximumNumberOfFailedAttempts":{"type":"string"},"GracePeriodForPasscodeChange":{"format":"int32","type":"integer"},"MaximumRepeatCharacters":{"type":"string"},"MaximumLengthOfNumericSequences":{"type":"string"},"MinimumNumberOfNumericalDigits":{"type":"string"},"MinimumNumberOfLetters":{"format":"int32","type":"integer"},"MinimumNumberOfLowerCaseLetters":{"format":"int32","type":"integer"},"MinimumNumberOfUpperCaseLetters":{"format":"int32","type":"integer"},"MinimumNumberOfNonLetters":{"format":"int32","type":"integer"},"MinimumNumberOfSymbols":{"format":"int32","type":"integer"},"MaximumPasscodeAge":{"format":"int32","type":"integer"},"DeviceLockTimeoutInMinutes":{"format":"int32","type":"integer"},"PasscodeHistory":{"type":"string"},"EnablePasscodeVisibility":{"type":"boolean"},"AllowFingerprintUnlock":{"type":"boolean"},"RequireStorageEncryption":{"type":"boolean"},"RequireSDCardEncryption":{"type":"boolean"},"requireStorageEncryptionAlways":{"type":"boolean"},"requireStorageEncryptionNativeEmail":{"type":"boolean"},"RequirePasscode":{"type":"boolean"}},"example":{"MinimumPasscodeLength":1,"PasscodeContent":1,"MaximumNumberOfFailedAttempts":"test","GracePeriodForPasscodeChange":1,"MaximumRepeatCharacters":"test","MaximumLengthOfNumericSequences":"test","MinimumNumberOfNumericalDigits":"test","MinimumNumberOfLetters":1,"MinimumNumberOfLowerCaseLetters":1,"MinimumNumberOfUpperCaseLetters":1,"MinimumNumberOfNonLetters":1,"MinimumNumberOfSymbols":1,"MaximumPasscodeAge":1,"DeviceLockTimeoutInMinutes":1,"PasscodeHistory":"test","EnablePasscodeVisibility":true,"AllowFingerprintUnlock":true,"RequireStorageEncryption":true,"RequireSDCardEncryption":true,"requireStorageEncryptionAlways":true,"requireStorageEncryptionNativeEmail":true,"RequirePasscode":true}},"AndroidWifiPayloadV2Entity":{"type":"object","properties":{"ServiceSetIdentifier":{"type":"string"},"SecurityType":{"type":"string"},"Password":{"type":"string"},"SetAsActiveNetwork":{"type":"boolean"},"HiddenNetwork":{"type":"boolean"},"UseTwoFactorAuthentication":{"type":"boolean"},"SFAType":{"type":"string"},"TFAType":{"type":"string"},"proxyState":{"format":"int32","type":"integer"},"proxyPacUrl":{"type":"string"},"Identity":{"type":"string"},"AnonymousIdentity":{"type":"string"},"EnterpriseUsername":{"type":"string"},"EnterprisePassword":{"type":"string"},"IdentityCertificate":{"type":"string"},"RootCertificate":{"type":"string"},"TLSTrustedServerNames":{"type":"array","items":{"type":"string"}},"TLSTrustedServerFingerPrints":{"type":"array","items":{"type":"string"}},"CAPayloadCertificateName":{"type":"string"}},"example":{"ServiceSetIdentifier":"test","SecurityType":"test","Password":"test","SetAsActiveNetwork":true,"HiddenNetwork":true,"UseTwoFactorAuthentication":true,"SFAType":"test","TFAType":"test","proxyState":1,"proxyPacUrl":"test","Identity":"test","AnonymousIdentity":"test","EnterpriseUsername":"test","EnterprisePassword":"test","IdentityCertificate":"test","RootCertificate":"test","TLSTrustedServerNames":["test"],"TLSTrustedServerFingerPrints":["test"],"CAPayloadCertificateName":"test"}},"AndroidCredentialsPayloadV2Entity":{"type":"object","properties":{"CredentialSource":{"type":"string"},"CredentialName":{"type":"string"},"CertificateData":{"type":"string"},"CertificateID":{"format":"int32","type":"integer"},"CertificatePassword":{"type":"string"},"CertificateThumbprint":{"type":"string"},"CertificateType":{"type":"string"},"CertificateAuthority":{"format":"int32","type":"integer"},"CertificateTemplate":{"format":"int32","type":"integer"},"Smime":{"type":"string"},"Name":{"type":"string"}},"example":{"CredentialSource":"test","CredentialName":"test","CertificateData":"test","CertificateID":1,"CertificatePassword":"test","CertificateThumbprint":"test","CertificateType":"test","CertificateAuthority":1,"CertificateTemplate":1,"Smime":"test","Name":"test"}},"AndroidEmailPayloadV2Entity":{"type":"object","properties":{"EmailAccount":{"type":"string"},"EmailAddress":{"type":"string"},"EmailSyncInterval":{"format":"int32","type":"integer"},"SendersName":{"type":"string"},"EmailSignature":{"type":"string"},"SetAsDefaultAccount":{"type":"boolean"},"MaxEmailsToShow":{"format":"int32","type":"integer"},"AllowAttachments":{"type":"boolean"},"MaximumAttachmentSizeMb":{"type":"string"},"UseSSL":{"type":"boolean"},"UseTLS":{"type":"boolean"},"IncomingMailServerProtocol":{"type":"string"},"IncomingMailServerHostName":{"type":"string"},"IncomingMailServerPortNumber":{"type":"string"},"IncomingMailServerUsername":{"type":"string"},"IncomingMailServerPassword":{"type":"string"},"IncomingMailServerPathPrefix":{"type":"string"},"IgnoreSSLErrorsForIncomingEmail":{"type":"boolean"},"OutgoingMailServerUseSSL":{"type":"boolean"},"OutgoingMailServerUseTLS":{"type":"boolean"},"OutgoingMailServerProtocol":{"type":"string"},"OutgoingMailServerHostname":{"type":"string"},"OutgoingMailServerPortNumber":{"type":"string"},"OutgoingMailServerUsername":{"type":"string"},"OutgoingMailServerPassword":{"type":"string"},"OutgoingMailServerPathPrefix":{"type":"string"},"IgnoreSSLErrorsForOutgoingEmail":{"type":"boolean"}},"example":{"EmailAccount":"test","EmailAddress":"test","EmailSyncInterval":1,"SendersName":"test","EmailSignature":"test","SetAsDefaultAccount":true,"MaxEmailsToShow":1,"AllowAttachments":true,"MaximumAttachmentSizeMb":"test","UseSSL":true,"UseTLS":true,"IncomingMailServerProtocol":"test","IncomingMailServerHostName":"test","IncomingMailServerPortNumber":"test","IncomingMailServerUsername":"test","IncomingMailServerPassword":"test","IncomingMailServerPathPrefix":"test","IgnoreSSLErrorsForIncomingEmail":true,"OutgoingMailServerUseSSL":true,"OutgoingMailServerUseTLS":true,"OutgoingMailServerProtocol":"test","OutgoingMailServerHostname":"test","OutgoingMailServerPortNumber":"test","OutgoingMailServerUsername":"test","OutgoingMailServerPassword":"test","OutgoingMailServerPathPrefix":"test","IgnoreSSLErrorsForOutgoingEmail":true}},"AndroidRestrictionsPayloadV2Entity":{"type":"object","properties":{"AllowCamera":{"type":"boolean"},"AllowMicrophone":{"type":"boolean"},"AllowFactoryReset":{"type":"boolean"},"AllowAllTethering":{"type":"boolean"},"AllowWiFiTethering":{"type":"boolean"},"AllowBluetoothTethering":{"type":"boolean"},"AllowUSBTethering":{"type":"boolean"},"AllowUSBDebugging":{"type":"boolean"},"AllowUSBMassStorage":{"type":"boolean"},"AllowGoogleBackup":{"type":"boolean"},"AllowSDCardAccess":{"type":"boolean"},"AllowAccessToDeviceSettings":{"type":"boolean"},"AllowScreenCapture":{"type":"boolean"},"AllowMockLocations":{"type":"boolean"},"AllowClipboard":{"type":"boolean"},"AllowUSBMediaPlayer":{"type":"boolean"},"AllowBackgroundData":{"type":"boolean"},"AllowNFC":{"type":"boolean"},"AllowHomeKey":{"type":"boolean"},"AllowEmailAccountAddition":{"type":"boolean"},"AddAccountsToAdditionWhiteList":{"type":"boolean"},"WhitelistAdditionAccounts":{"type":"string"},"AddAccountsToAdditionBlackList":{"type":"boolean"},"BlacklistAdditionAccounts":{"type":"string"},"AllowEmailAccountRemoval":{"type":"boolean"},"AddAccountsToRemovalWhiteList":{"type":"boolean"},"WhitelistRemovalAccounts":{"type":"string"},"AddAccountsToRemovalBlackList":{"type":"boolean"},"BlacklistRemovalAccounts":{"type":"string"},"AllowUsb":{"type":"boolean"},"AllowAirplaneMode":{"type":"boolean"},"AllowAndroidMarket":{"type":"boolean"},"AllowYouTube":{"type":"boolean"},"AllowNativeAndroidBrowser":{"type":"boolean"},"AllowNonMarketAppInstallation":{"type":"boolean"},"AllowVoiceDialer":{"type":"boolean"},"AllowBluetooth":{"type":"boolean"},"AllowBluetoothDataTransfer":{"type":"boolean"},"AllowBluetoothPairing":{"type":"boolean"},"AllowBluetoothDiscoverableMode":{"type":"boolean"},"AllowBluetoothLimitedDiscoverableMode":{"type":"boolean"},"AllowOutgoingCallsViaBluetooth":{"type":"boolean"},"AllowDesktopConnectivityViaBluetooth":{"type":"boolean"},"DataConnection":{"format":"int32","type":"integer"},"AllowWiFiProfiles":{"type":"boolean"},"AllowWifiChanges":{"type":"boolean"},"AllowPromptForCredentials":{"type":"boolean"},"MinimumWiFiSecurityLevel":{"format":"int32","type":"integer"},"AllowAutomaticSyncOnRoaming":{"type":"boolean"},"AllowPushMessagesOnRoaming":{"type":"boolean"},"AllowDataUsageOnRoaming":{"type":"boolean"},"AllowGpsLocationServices":{"type":"boolean"},"AllowWirelessNetworkLocationServices":{"type":"boolean"},"AllowPassiveLocationServices":{"type":"boolean"},"AllowPopUps":{"type":"boolean"},"AllowCookies":{"type":"boolean"},"EnableAutofill":{"type":"boolean"},"EnableJavaScript":{"type":"boolean"},"ForceFraudWarning":{"type":"boolean"},"BlockedNetworks":{"type":"array","items":{"type":"string"}},"AllowNonEmergencyCalls":{"type":"boolean"},"AllowSendingSms":{"type":"boolean"},"AllowPopImapEmail":{"type":"boolean"},"AllowIncomingMms":{"type":"boolean"},"AllowOutgoingMms":{"type":"boolean"},"MaxDataUsageModels":{"type":"array","items":{"$ref":"#/definitions/AndroidMaxDataUsageEntity"}},"SetDeviceFont":{"type":"boolean"},"FontName":{"type":"string"},"SetDeviceFontSize":{"type":"boolean"},"FontSize":{"format":"int32","type":"integer"},"AllowGoogleCrashReport":{"type":"boolean"},"AllowOtaUpgrade":{"type":"boolean"},"AllowPowerOff":{"type":"boolean"},"AllowSdCardWrite":{"type":"boolean"},"AllowStatusBar":{"type":"boolean"},"AllowWallpaperChange":{"type":"boolean"},"AllowNativeVpn":{"type":"boolean"},"AllowRoamingVoiceCalls":{"type":"boolean"},"AllowAudioRecordingIfMicrophoneIsAllowed":{"type":"boolean"},"AllowVideoRecordingIfCameraIsAllowed":{"type":"boolean"},"AllowEndingActivityWhenLeftIdle":{"type":"boolean"},"AllowUserToSetBackgroundProcessLimit":{"type":"boolean"},"AllowUserToSetMobileDataLimit":{"type":"boolean"},"AllowSmsWithStorage":{"type":"boolean"},"AllowMmsWithStorage":{"type":"boolean"},"AllowWapPush":{"type":"boolean"},"AllowWifiDirect":{"type":"boolean"},"AllowSBeam":{"type":"boolean"},"AllowSVoice":{"type":"boolean"},"AllowAndroidBeam":{"type":"boolean"},"AllowCopyPasteBetweenDifferentApplications":{"type":"boolean"},"AllowUserToStopSystemSignedApplications":{"type":"boolean"},"AllowUsbHostStorage":{"type":"boolean"},"EnableSimPinLock":{"type":"boolean"},"AllowUnsecureWifi":{"type":"boolean"},"AllowAutoConnectionWifi":{"type":"boolean"},"AllowAccountSettings":{"type":"boolean"},"AllowApplicationSettings":{"type":"boolean"},"AllowDeveloperOptions":{"type":"boolean"},"AllowNotifications":{"type":"boolean"},"AllowOnlySecureVPNConnections":{"type":"boolean"},"AllowSystemBar":{"type":"boolean"},"AllowTaskManager":{"type":"boolean"},"AllowMenuKey":{"type":"boolean"},"AllowBackKey":{"type":"boolean"},"AllowSearchKey":{"type":"boolean"},"AllowVolumeKey":{"type":"boolean"},"AllowKeyguardFeatures":{"type":"boolean"},"AllowKeyguardTrustAgent":{"type":"boolean"},"AllowKeyguardCamera":{"type":"boolean"},"AllowKeyguardFingerprint":{"type":"boolean"},"AllowKeyguardNotifications":{"type":"boolean"},"AllowKeyguardUnredacted":{"type":"boolean"},"AllowUserCreation":{"type":"boolean"},"AllowMultipleUsers":{"type":"boolean"},"AllowUserRemoval":{"type":"boolean"}}},"AndroidVpnPayloadV2Entity":{"type":"object","properties":{"ConnectionType":{"type":"string"},"ConnectionName":{"type":"string"},"Server":{"type":"string"},"UserName":{"type":"string"},"SharedSecret":{"type":"string"},"IKEIdType":{"format":"int32","type":"integer"},"IKEIdValue":{"type":"string"},"Encryption":{"type":"boolean"},"PreSharedKey":{"type":"string"},"PayloadCertificateName":{"type":"string"},"Realm":{"type":"string"},"Role":{"type":"string"},"Password":{"type":"string"},"UseWebLogonForAuthentication":{"type":"boolean"},"GatewayUID":{"type":"string"},"EnableVPNOnDemand":{"type":"boolean"},"VPNEnabledWrapper":{"type":"string"},"WebsensePassword":{"type":"string"},"WebsenseUsername":{"type":"string"},"WebsenseServer":{"type":"string"}},"example":{"ConnectionType":"test","ConnectionName":"test","Server":"test","UserName":"test","SharedSecret":"test","IKEIdType":1,"IKEIdValue":"test","Encryption":true,"PreSharedKey":"test","PayloadCertificateName":"test","Realm":"test","Role":"test","Password":"test","UseWebLogonForAuthentication":true,"GatewayUID":"test","EnableVPNOnDemand":true,"VPNEnabledWrapper":"test","WebsensePassword":"test","WebsenseUsername":"test","WebsenseServer":"test"}},"AndroidCustomSettingsPayloadV2Entity":{"type":"object","properties":{"CustomSettings":{"type":"string"}},"example":{"CustomSettings":"test"}},"AndroidEASPayloadV2Entity":{"type":"object","properties":{"MailClient":{"format":"int32","type":"integer"},"AccountName":{"type":"string"},"ExchangeActiveSyncHost":{"type":"string"},"IgnoreSSLErrors":{"type":"boolean"},"UseSSL":{"type":"boolean"},"MakeThisAccountDefaultAccount":{"type":"boolean"},"Domain":{"type":"string"},"User":{"type":"string"},"EmailAddress":{"type":"string"},"Password":{"type":"string"},"IdentityCertificate":{"type":"string"},"PastDaysOfMailToSync":{"format":"int32","type":"integer"},"SyncInterval":{"format":"int32","type":"integer"},"PastDaysOfCalendarToSync":{"format":"int32","type":"integer"},"SyncMail":{"type":"boolean"},"AllowSyncCalendar":{"type":"boolean"},"AllowSyncContacts":{"type":"boolean"},"AllowSyncTasks":{"type":"boolean"},"EnableHTMLEmail":{"type":"boolean"},"EmailSignature":{"type":"string"},"ContactsApplication":{"format":"int32","type":"integer"},"CalendarApplication":{"format":"int32","type":"integer"},"RequirePasscode":{"type":"boolean"},"AuthenticationType":{"format":"int32","type":"integer"},"PasscodeComplexity":{"format":"int32","type":"integer"},"MinimumPasscodeLength":{"format":"int32","type":"integer"},"MinimumNumberOfComplexCharacters":{"format":"int32","type":"integer"},"MaximumPasscodeAge":{"format":"int32","type":"integer"},"PasscodeHistory":{"format":"int32","type":"integer"},"AutoLockMinutes":{"format":"int32","type":"integer"},"AutoLockWhenDeviceLocks":{"type":"boolean"},"MaximumNumberOfFailedAttempts":{"format":"int32","type":"integer"},"AllowCopyPaste":{"type":"boolean"},"AllowAttachments":{"type":"boolean"},"MaximumAttachmentSizeMb":{"type":"string"},"RestrictAttachmentsToBeOpenedInFollowingApps":{"type":"boolean"},"Applications":{"type":"array","items":{"$ref":"#/definitions/AndroidApplicationV2Entity"}},"RestrictDomains":{"type":"boolean"},"RestrictionType":{"format":"int32","type":"integer"},"DomainName":{"type":"array","items":{"type":"string"}},"UsingEnterpriseLicenseKey":{"type":"boolean"},"MaximumEmailTruncationSizeKb":{"format":"int32","type":"integer"},"RequireManualSyncWhenRoaming":{"type":"boolean"},"RequireDeviceEncryption":{"type":"boolean"},"RequireSDCardEncryption":{"type":"boolean"},"EnableSignatureEditing":{"type":"boolean"},"SamsungSyncInterval":{"format":"int32","type":"integer"},"SamsungPeakDays":{"format":"int32","type":"integer"},"PeakStartTime":{"type":"string"},"PeakEndTime":{"type":"string"},"SyncSchedulePeak":{"format":"int32","type":"integer"},"SyncScheduleOffPeak":{"format":"int32","type":"integer"},"SamsungSenderName":{"type":"string"},"SamsungUseSSL":{"type":"boolean"},"AlwaysVibrateOnEmailNotification":{"type":"boolean"},"VibrateOnNotificationWhenSettingIsSetToSilent":{"type":"boolean"},"DefaultAccount":{"type":"boolean"},"UseTLS":{"type":"boolean"},"EnableSecurityRestrictions":{"type":"boolean"},"DisableCopyingDataToPhonebook":{"type":"boolean"},"AllowSDCard":{"type":"boolean"},"AllowWidgets":{"type":"boolean"},"AllowEmailWidget":{"type":"boolean"},"AllowCalendarWidget":{"type":"boolean"},"AllowTaskWidget":{"type":"boolean"},"AllowUniversalWidget":{"type":"boolean"},"ShowDataOnLockScreenWidgets":{"type":"boolean"},"AllowSpeechNotifications":{"type":"boolean"},"ShowEmailInfoOnNotificationBar":{"type":"boolean"},"ShowCalendarInfoOnNotificationBar":{"type":"boolean"},"ShowTaskInfoOnNotificationBar":{"type":"boolean"},"DisableDataBackup":{"type":"boolean"},"DisableSettingsBackup":{"type":"boolean"},"HTCUseSSL":{"type":"boolean"},"AllowSyncEmail":{"type":"boolean"},"NativeClientOverride":{"type":"boolean"},"EnableAttachmentEncryption":{"type":"boolean"},"AttachmentRestrictedAppList":{"type":"string"},"UseSMIME":{"type":"boolean"},"SMIMECertPayloadName":{"type":"string"},"RequireSMIMEMessages":{"type":"boolean"},"RequireSignedSMIME":{"type":"boolean"},"AllowEmailForwarding":{"type":"boolean"},"AllowHTMLFormat":{"type":"boolean"},"AwEmailClientMaxEmailAgeFilter":{"format":"int32","type":"integer"},"AwEmailClientSyncInterval":{"format":"int32","type":"integer"},"WhiteListBlackListDomainName":{"type":"string"},"SuppressApplicationPIN":{"type":"boolean"},"MigrationHost":{"type":"string"},"LicenseKey":{"type":"string"},"AllowPersonalAndWorkContactsCombined":{"type":"boolean"},"AllowImportExport":{"type":"boolean"},"ShowCorporateContactsDetailsOnIncomingCalls":{"type":"boolean"},"AllowPersonalAndWorkCalendarsCombined":{"type":"boolean"},"Sunday":{"type":"boolean"},"Monday":{"type":"boolean"},"Tuesday":{"type":"boolean"},"Wednesday":{"type":"boolean"},"Thursday":{"type":"boolean"},"Friday":{"type":"boolean"},"Saturday":{"type":"boolean"}},"example":{"MailClient":1,"AccountName":"test","ExchangeActiveSyncHost":"test","IgnoreSSLErrors":true,"UseSSL":true,"MakeThisAccountDefaultAccount":true,"Domain":"test","User":"test","EmailAddress":"test","Password":"test","IdentityCertificate":"test","PastDaysOfMailToSync":1,"SyncInterval":1,"PastDaysOfCalendarToSync":1,"SyncMail":true,"AllowSyncCalendar":true,"AllowSyncContacts":true,"AllowSyncTasks":true,"EnableHTMLEmail":true,"EmailSignature":"test","ContactsApplication":3,"CalendarApplication":1,"RequirePasscode":true,"AuthenticationType":1,"PasscodeComplexity":1,"MinimumPasscodeLength":1,"MinimumNumberOfComplexCharacters":1,"MaximumPasscodeAge":1,"PasscodeHistory":1,"AutoLockMinutes":1,"AutoLockWhenDeviceLocks":true,"MaximumNumberOfFailedAttempts":1,"AllowCopyPaste":true,"AllowAttachments":true,"MaximumAttachmentSizeMb":"test","RestrictAttachmentsToBeOpenedInFollowingApps":true,"Applications":[{"Application":"test"}],"RestrictDomains":true,"RestrictionType":1,"DomainName":["test"],"UsingEnterpriseLicenseKey":true,"MaximumEmailTruncationSizeKb":1,"RequireManualSyncWhenRoaming":true,"RequireDeviceEncryption":true,"RequireSDCardEncryption":true,"EnableSignatureEditing":true,"SamsungSyncInterval":1,"SamsungPeakDays":127,"PeakStartTime":"test","PeakEndTime":"test","SyncSchedulePeak":1,"SyncScheduleOffPeak":1,"SamsungSenderName":"test","SamsungUseSSL":true,"AlwaysVibrateOnEmailNotification":true,"VibrateOnNotificationWhenSettingIsSetToSilent":true,"DefaultAccount":true,"UseTLS":true,"EnableSecurityRestrictions":true,"DisableCopyingDataToPhonebook":true,"AllowSDCard":true,"AllowWidgets":true,"AllowEmailWidget":true,"AllowCalendarWidget":true,"AllowTaskWidget":true,"AllowUniversalWidget":true,"ShowDataOnLockScreenWidgets":true,"AllowSpeechNotifications":true,"ShowEmailInfoOnNotificationBar":true,"ShowCalendarInfoOnNotificationBar":true,"ShowTaskInfoOnNotificationBar":true,"DisableDataBackup":true,"DisableSettingsBackup":true,"HTCUseSSL":true,"AllowSyncEmail":true,"NativeClientOverride":true,"EnableAttachmentEncryption":true,"AttachmentRestrictedAppList":"test","UseSMIME":true,"SMIMECertPayloadName":"test","RequireSMIMEMessages":true,"RequireSignedSMIME":true,"AllowEmailForwarding":true,"AllowHTMLFormat":true,"AwEmailClientMaxEmailAgeFilter":1,"AwEmailClientSyncInterval":1,"WhiteListBlackListDomainName":"test","SuppressApplicationPIN":true,"MigrationHost":"test","LicenseKey":"test","AllowPersonalAndWorkContactsCombined":true,"AllowImportExport":true,"ShowCorporateContactsDetailsOnIncomingCalls":true,"AllowPersonalAndWorkCalendarsCombined":true,"Sunday":true,"Monday":true,"Tuesday":true,"Wednesday":true,"Thursday":true,"Friday":true,"Saturday":true}},"AndroidForWorkSystemUpdatesV2Entity":{"type":"object","properties":{"InstallPolicyType":{"format":"int32","type":"integer"},"StartTime":{"format":"int32","type":"integer"},"EndTime":{"format":"int32","type":"integer"}},"example":{"InstallPolicyType":1,"StartTime":1,"EndTime":1}},"AndroidForWorkEASPayloadV2Entity":{"type":"object","properties":{"MailClient":{"format":"int32","type":"integer"},"Host":{"type":"string"},"RequireSSL":{"type":"boolean"},"EnableValidationOnSSLCertificates":{"type":"boolean"},"UseSMIME":{"type":"boolean"},"EmailMaxAttachmentSizeMB":{"format":"int32","type":"integer"},"Domain":{"type":"string"},"UserName":{"type":"string"},"EmailAddress":{"type":"string"},"Password":{"type":"string"},"EmailSignatureDefault":{"type":"string"},"WorkManagedSettings":{"$ref":"#/definitions/AndroidForWorkEASWorkManageSettings"},"AirWatchInboxSettings":{"$ref":"#/definitions/AndroidForWorkEASAirWatchInboxSettings"}},"example":{"MailClient":1,"Host":"test","RequireSSL":true,"EnableValidationOnSSLCertificates":true,"UseSMIME":true,"EmailMaxAttachmentSizeMB":1,"Domain":"test","UserName":"test","EmailAddress":"test","Password":"test","EmailSignatureDefault":"test"}},"AndroidForWorkChromeBrowserPayloadV2Entity":{"type":"object","properties":{"DefaultCookiesSetting":{"format":"int32","type":"integer"},"CookiesAllowedForUrls":{"type":"array","items":{"type":"string"}},"CookiesBlockedForUrls":{"type":"array","items":{"type":"string"}},"CookiesSessionOnlyForUrls":{"type":"array","items":{"type":"string"}},"DefaultImagesSetting":{"format":"int32","type":"integer"},"ImagesAllowedForUrls":{"type":"array","items":{"type":"string"}},"ImagesBlockedForUrls":{"type":"array","items":{"type":"string"}},"DefaultJavaScriptSetting":{"format":"int32","type":"integer"},"JavaScriptAllowedForUrls":{"type":"array","items":{"type":"string"}},"JavaScriptBlockedForUrls":{"type":"array","items":{"type":"string"}},"DefaultPopupsSetting":{"format":"int32","type":"integer"},"PopupsAllowedForUrls":{"type":"array","items":{"type":"string"}},"PopupsBlockedForUrls":{"type":"array","items":{"type":"string"}},"DefaultGeolocationSetting":{"format":"int32","type":"integer"},"DefaultSearchProviderEnabled":{"type":"boolean"},"DefaultSearchProviderName":{"type":"array","items":{"type":"string"}},"DefaultSearchProviderKeyword":{"type":"array","items":{"type":"string"}},"DefaultSearchProviderSearchURL":{"type":"array","items":{"type":"string"}},"DefaultSearchProviderSuggestURL":{"type":"array","items":{"type":"string"}},"DefaultSearchProviderInstantURL":{"type":"array","items":{"type":"string"}},"DefaultSearchProviderIconURL":{"type":"array","items":{"type":"string"}},"DefaultSearchProviderEncodings":{"type":"array","items":{"type":"string"}},"DefaultSearchProviderAlternateURLs":{"type":"array","items":{"type":"string"}},"DefaultSearchProviderSearchTermsReplacementKey":{"type":"array","items":{"type":"string"}},"DefaultSearchProviderImageURL":{"type":"array","items":{"type":"string"}},"DefaultSearchProviderNewTabURL":{"type":"array","items":{"type":"string"}},"DefaultSearchProviderSearchURLPostParams":{"type":"array","items":{"type":"string"}},"DefaultSearchProviderSuggestURLPostParams":{"type":"array","items":{"type":"string"}},"DefaultSearchProviderInstantURLPostParams":{"type":"array","items":{"type":"string"}},"DefaultSearchProviderImageURLPostParams":{"type":"array","items":{"type":"string"}},"PasswordManagerEnabled":{"type":"boolean"},"AlternateErrorPagesEnabled":{"type":"boolean"},"AutoFillEnabled":{"type":"boolean"},"DataCompressionProxyEnabled":{"type":"boolean"},"SafeBrowsingEnabled":{"type":"boolean"},"SavingBrowserHistoryDisabled":{"type":"boolean"},"DisableSafeBrowsingProceedAnyway":{"type":"boolean"},"DisableSpdy":{"type":"boolean"},"DnsPrefetchingEnabled":{"type":"boolean"},"EditBookmarksEnabled":{"type":"boolean"},"EnableDeprecatedWebPlatformFeatures":{"type":"array","items":{"type":"string"}},"ForceSafeSearch":{"type":"boolean"},"IncognitoModeAvailability":{"format":"int32","type":"integer"},"NetworkPredictionOptions":{"format":"int32","type":"integer"},"SearchSuggestEnabled":{"type":"boolean"},"SigninAllowed":{"type":"boolean"},"TranslateEnabled":{"type":"boolean"},"URLBlacklist":{"type":"array","items":{"type":"string"}},"URLWhitelist":{"type":"array","items":{"type":"string"}},"VendorKeysEnabled":{"type":"boolean"},"VendorConfigKey":{"type":"array","items":{"type":"string"}},"VendorConfigValue":{"type":"array","items":{"type":"string"}},"ProxyMode":{"type":"string"},"ProxyServer":{"type":"string"},"ProxyPacUrl":{"type":"string"},"ProxyBypassList":{"type":"string"},"ForceGoogleSafeSearch":{"type":"boolean"},"ForceYouTubeSafetyMode":{"type":"boolean"},"ContextualSearchEnabled":{"type":"boolean"},"PrintingEnabled":{"type":"boolean"},"ManagedBookmarks":{"type":"array","items":{"type":"string"}},"SSLVersionMin":{"type":"string"},"SSLVersionFallbackMin":{"type":"string"}},"example":{"DefaultCookiesSetting":1,"CookiesAllowedForUrls":["test"],"CookiesBlockedForUrls":["test"],"CookiesSessionOnlyForUrls":["test"],"DefaultImagesSetting":1,"ImagesAllowedForUrls":["test"],"ImagesBlockedForUrls":["test"],"DefaultJavaScriptSetting":1,"JavaScriptAllowedForUrls":["test"],"JavaScriptBlockedForUrls":["test"],"DefaultPopupsSetting":1,"PopupsAllowedForUrls":["test"],"PopupsBlockedForUrls":["test"],"DefaultGeolocationSetting":1,"DefaultSearchProviderEnabled":true,"DefaultSearchProviderName":["test"],"DefaultSearchProviderKeyword":["test"],"DefaultSearchProviderSearchURL":["test"],"DefaultSearchProviderSuggestURL":["test"],"DefaultSearchProviderInstantURL":["test"],"DefaultSearchProviderIconURL":["test"],"DefaultSearchProviderEncodings":["test"],"DefaultSearchProviderAlternateURLs":["test"],"DefaultSearchProviderSearchTermsReplacementKey":["test"],"DefaultSearchProviderImageURL":["test"],"DefaultSearchProviderNewTabURL":["test"],"DefaultSearchProviderSearchURLPostParams":["test"],"DefaultSearchProviderSuggestURLPostParams":["test"],"DefaultSearchProviderInstantURLPostParams":["test"],"DefaultSearchProviderImageURLPostParams":["test"],"PasswordManagerEnabled":true,"AlternateErrorPagesEnabled":true,"AutoFillEnabled":true,"DataCompressionProxyEnabled":true,"SafeBrowsingEnabled":true,"SavingBrowserHistoryDisabled":true,"DisableSafeBrowsingProceedAnyway":true,"DisableSpdy":true,"DnsPrefetchingEnabled":true,"EditBookmarksEnabled":true,"EnableDeprecatedWebPlatformFeatures":["test"],"ForceSafeSearch":true,"IncognitoModeAvailability":1,"NetworkPredictionOptions":1,"SearchSuggestEnabled":true,"SigninAllowed":true,"TranslateEnabled":true,"URLBlacklist":["test"],"URLWhitelist":["test"],"VendorKeysEnabled":true,"VendorConfigKey":["test"],"VendorConfigValue":["test"],"ProxyMode":"test","ProxyServer":"test","ProxyPacUrl":"test","ProxyBypassList":"test","ForceGoogleSafeSearch":true,"ForceYouTubeSafetyMode":true,"ContextualSearchEnabled":true,"PrintingEnabled":true,"ManagedBookmarks":["test"],"SSLVersionMin":"test","SSLVersionFallbackMin":"test"}},"AndroidForWorkRestrictionsPayloadV2Entity":{"type":"object","properties":{"AllowContactSharing":{"format":"int32","type":"integer"},"AllowCopyPaste":{"format":"int32","type":"integer"},"AllowNonWhitelistedIME":{"type":"boolean"},"RequiredIMEOptionList":{"type":"string"},"AllowNotifcationsInFull":{"format":"int32","type":"integer"},"AllowCamera":{"type":"boolean"},"AllowFactoryReset":{"type":"boolean"},"AllowBluetooth":{"type":"boolean"},"AllowUSBDebugging":{"type":"boolean"},"AllowWifiChanges":{"type":"boolean"},"AllowAllTethering":{"type":"boolean"},"AllowNonMarketAppInstall":{"type":"boolean"},"AllowUSBMassStorage":{"type":"boolean"},"InstallPolicyType":{"type":"boolean"},"AllowChrome":{"type":"boolean"},"AllowScreenCapture":{"type":"boolean"},"AllowAccountChanges":{"type":"boolean"},"AllowRemoveWorkAccount":{"type":"boolean"},"AllowOutgoingPhoneCalls":{"type":"boolean"},"AllowSMS":{"type":"boolean"},"AllowCredentialsChanges":{"type":"boolean"},"AllowKeyguardFeatures":{"type":"boolean"},"AllowKeyguardCamera":{"type":"boolean"},"AllowKeyguardNotifications":{"type":"boolean"},"AllowKeyguardFingerprint":{"type":"boolean"},"AllowKeyguardTrustAgent":{"type":"boolean"},"AllowKeyguardUnredacted":{"type":"boolean"},"AllowModifyingAppsSettings":{"type":"boolean"},"AllowInstallingApps":{"type":"boolean"},"AllowUninstallingApps":{"type":"boolean"},"AllowDisableAppVerify":{"type":"boolean"},"AllowUSBFileTransfer":{"type":"boolean"},"AllowVPNChanges":{"type":"boolean"},"AllowMobileChanges":{"type":"boolean"},"AllowWorkPersonalPaste":{"type":"boolean"},"AllowWorkToAccessPersonal":{"type":"boolean"},"AllowPersonalToAccessWork":{"type":"boolean"},"AllowPersonalShareWithWork":{"type":"boolean"},"AllowWorkShareWithPersonal":{"type":"boolean"},"AllowWorkContactsInPhone":{"type":"boolean"},"AllowWorkWidgetsToPersonal":{"type":"boolean"},"AllowContacts":{"type":"boolean"},"ForceScreenOnPluggedAC":{"type":"boolean"},"ForceScreenOnPluggedUSB":{"type":"boolean"},"ForceScreenOnPluggedWireless":{"type":"boolean"},"AllowStatusBar":{"type":"boolean"},"AllowKeyguard":{"type":"boolean"},"AllowAddingUsers":{"type":"boolean"},"AllowRemovingUsers":{"type":"boolean"},"AllowSafeBoot":{"type":"boolean"},"AllowNFC":{"type":"boolean"},"AllowManagedWifiChanges":{"type":"boolean"},"AllowDataRoaming":{"type":"boolean"},"AllowLocationAccess":{"format":"int32","type":"integer"},"AllowBluetoothContactSharing":{"type":"boolean"},"AllowWallpaperChange":{"type":"boolean"},"AllowUserIconChange":{"type":"boolean"},"AllowNonGoogleAccounts":{"type":"boolean"},"WhitelistApprovedAccessibilityServices":{"type":"boolean"},"AccessibilityServicesPermittedAppIds":{"type":"string"}},"example":{"AllowContactSharing":1,"AllowCopyPaste":1,"AllowNonWhitelistedIME":true,"RequiredIMEOptionList":"test","AllowNotifcationsInFull":1,"AllowCamera":true,"AllowFactoryReset":true,"AllowBluetooth":true,"AllowUSBDebugging":true,"AllowWifiChanges":true,"AllowAllTethering":true,"AllowNonMarketAppInstall":true,"AllowUSBMassStorage":true,"InstallPolicyType":true,"AllowChrome":true,"AllowScreenCapture":true,"AllowAccountChanges":true,"AllowRemoveWorkAccount":true,"AllowOutgoingPhoneCalls":true,"AllowSMS":true,"AllowCredentialsChanges":true,"AllowKeyguardFeatures":true,"AllowKeyguardCamera":true,"AllowKeyguardNotifications":true,"AllowKeyguardFingerprint":true,"AllowKeyguardTrustAgent":true,"AllowKeyguardUnredacted":true,"AllowModifyingAppsSettings":true,"AllowInstallingApps":true,"AllowUninstallingApps":true,"AllowDisableAppVerify":true,"AllowUSBFileTransfer":true,"AllowVPNChanges":true,"AllowMobileChanges":true,"AllowWorkPersonalPaste":true,"AllowWorkToAccessPersonal":true,"AllowPersonalToAccessWork":true,"AllowPersonalShareWithWork":true,"AllowWorkShareWithPersonal":true,"AllowWorkContactsInPhone":true,"AllowWorkWidgetsToPersonal":true,"AllowContacts":true,"ForceScreenOnPluggedAC":true,"ForceScreenOnPluggedUSB":true,"ForceScreenOnPluggedWireless":true,"AllowStatusBar":true,"AllowKeyguard":true,"AllowAddingUsers":true,"AllowRemovingUsers":true,"AllowSafeBoot":true,"AllowNFC":true,"AllowManagedWifiChanges":true,"AllowDataRoaming":true,"AllowLocationAccess":1,"AllowBluetoothContactSharing":true,"AllowWallpaperChange":true,"AllowUserIconChange":true,"AllowNonGoogleAccounts":true,"WhitelistApprovedAccessibilityServices":true,"AccessibilityServicesPermittedAppIds":"test"}},"AndroidForWorkVPNPayloadV2Entity":{"type":"object","properties":{"ConnectionType":{"type":"string"},"ConnectionName":{"type":"string"},"Server":{"type":"string"},"PerAppVPN":{"type":"boolean"},"EnableAlwaysOnVPN":{"type":"boolean"},"VPNLockDown":{"type":"boolean"},"UserName":{"type":"string"},"Password":{"type":"string"},"Realm":{"type":"string"},"Role":{"type":"string"},"UseWebLogonForAuthentication":{"type":"boolean"},"FipsMode":{"type":"boolean"},"AuthenticationType":{"format":"int32","type":"integer"},"EnableVPNOnDemand":{"type":"boolean"},"VPNEnabledWrapper":{"type":"string"},"GatewayUID":{"type":"string"},"VpnUUID":{"type":"string"},"PayloadCertificateName":{"type":"string"},"VendorKeys":{"type":"boolean"},"VendorConfigKey":{"type":"array","items":{"type":"string"}},"VendorConfigValue":{"type":"array","items":{"type":"string"}}},"example":{"ConnectionType":"test","ConnectionName":"test","Server":"test","PerAppVPN":true,"EnableAlwaysOnVPN":true,"VPNLockDown":true,"UserName":"test","Password":"test","Realm":"test","Role":"test","UseWebLogonForAuthentication":true,"FipsMode":true,"AuthenticationType":1,"EnableVPNOnDemand":true,"VPNEnabledWrapper":"test","GatewayUID":"test","VpnUUID":"test","PayloadCertificateName":"test","VendorKeys":true,"VendorConfigKey":["test"],"VendorConfigValue":["test"]}},"AndroidForWorkPasscodePayloadV2Entity":{"type":"object","properties":{"Device":{"$ref":"#/definitions/AndroidForWorkDevicePasscodePayloadV2Entity"},"Applications":{"$ref":"#/definitions/AndroidForWorkAppPasscodePayloadV2Entity"}},"example":{}},"AndroidForWorkPermissionsPayloadV2Entity":{"type":"object","properties":{"MasterRuntimePermission":{"type":"string"},"AppLevelRuntimePermissionsList":{"type":"array","items":{"$ref":"#/definitions/AndroidForWorkAppPermissionsV2Entity"}}},"example":{"MasterRuntimePermission":"test","AppLevelRuntimePermissionsList":[{"ProductId":"test","Kind":"test","Permission":[{"PermissionId":"test","Name":"test","Description":"test","State":"test","PermissionOption":1,"Kind":"test"}]}]}},"AndroidForWorkSingleAppModePayloadV2Entity":{"type":"object","properties":{"Apps":{"type":"array","items":{"$ref":"#/definitions/AndroidForWorkSingleAppEntity"}}},"example":{"Apps":[{"appName":"test","appId":"test"}]}},"AndroidForWorkApplicationControlPayloadV2Entity":{"type":"object","properties":{"PreventUninstallRequiredApps":{"type":"boolean"},"DisableAccessToBlacklistedApps":{"type":"boolean"},"EnableSystemAppsInsideAndroidforWork":{"type":"boolean"}},"example":{"PreventUninstallRequiredApps":true,"DisableAccessToBlacklistedApps":true,"EnableSystemAppsInsideAndroidforWork":true}},"AndroidConatinerVPNPayloadV2Entity":{"type":"object","properties":{"ClientType":{"format":"int32","type":"integer"},"ConnectionName":{"type":"string"},"ServerName":{"type":"string"},"UseAuthentication":{"type":"boolean"},"Username":{"type":"string"},"Password":{"type":"string"},"Realm":{"type":"string"},"Role":{"type":"string"},"ConnectionType":{"format":"int32","type":"integer"},"VpnAssignment":{"format":"int32","type":"integer"},"VPNApplicationsList":{"type":"array","items":{"type":"string"}},"EnableAdvancedConfigurations":{"type":"boolean"},"SplitTunnelType":{"format":"int32","type":"integer"},"AuthenticationType":{"format":"int32","type":"integer"},"MocanaSettings":{"$ref":"#/definitions/AndroidConatinerVPNMocanaSettings"},"PulseSecureSettings":{"$ref":"#/definitions/AndroidConatinerVPNPulseSecureSettings"},"NetMotionSettings":{"$ref":"#/definitions/AndroidContainerVpnNetMotionSettings"}},"example":{"ClientType":1,"ConnectionName":"test","ServerName":"test","UseAuthentication":true,"Username":"test","Password":"test","Realm":"test","Role":"test","ConnectionType":1,"VpnAssignment":1,"VPNApplicationsList":["test"],"EnableAdvancedConfigurations":true,"SplitTunnelType":1,"AuthenticationType":1}},"AndroidContainerCredentialsPayloadV2Entity":{"type":"object","properties":{"EnableTimaKeystore":{"type":"boolean"},"CredentialSource":{"type":"string"},"CredentialName":{"type":"string"},"CertificateData":{"type":"string"},"CertificateID":{"format":"int32","type":"integer"},"CertificatePassword":{"type":"string"},"CertificateThumbprint":{"type":"string"},"CertificateType":{"type":"string"},"CertificateAuthority":{"format":"int32","type":"integer"},"CertificateTemplate":{"format":"int32","type":"integer"},"Smime":{"type":"string"},"Name":{"type":"string"}},"example":{"EnableTimaKeystore":true,"CredentialSource":"test","CredentialName":"test","CertificateData":"test","CertificateID":1,"CertificatePassword":"test","CertificateThumbprint":"test","CertificateType":"test","CertificateAuthority":1,"CertificateTemplate":1,"Smime":"test","Name":"test"}},"AndroidBookmarkSettingsPayloadV2Entity":{"type":"object","properties":{"Icon":{"format":"int32","type":"integer"},"Label":{"type":"string"},"AddToHomescreen":{"type":"boolean"},"URL":{"type":"string"}},"example":{"Icon":1,"Label":"test","AddToHomescreen":true,"URL":"test"}},"AndroidMaxDataUsageEntity":{"type":"object","properties":{"AndroidUsageFrequency":{"type":"string"},"AndroidDataUsageSize":{"type":"string"},"Maximum":{"format":"int32","type":"integer"}}},"AndroidApplicationV2Entity":{"type":"object","properties":{"Application":{"type":"string"}},"example":{"Application":"test"}},"AndroidForWorkEASWorkManageSettings":{"type":"object","properties":{"ServerType":{"format":"int32","type":"integer"},"AllowContactsCalendarSync":{"type":"boolean"},"EnableVendorKeys":{"type":"boolean"},"VendorConfigKeys":{"type":"array","items":{"type":"string"}},"VendorConfigValues":{"type":"array","items":{"type":"string"}}},"example":{"ServerType":1,"AllowContactsCalendarSync":true,"EnableVendorKeys":true,"VendorConfigKeys":["test"],"VendorConfigValues":["test"]}},"AndroidForWorkEASAirWatchInboxSettings":{"type":"object","properties":{"IgnoreSSL":{"type":"boolean"},"AllowSingleExport":{"type":"boolean"},"AllowMultipleExport":{"type":"boolean"},"RequirePasscode":{"type":"boolean"},"SingleSignOn":{"type":"boolean"},"AuthenticationType":{"format":"int32","type":"integer"},"PasscodeComplexity":{"format":"int32","type":"integer"},"MinimumPasscodeLength":{"format":"int32","type":"integer"},"MaximumPasscodeAge":{"format":"int32","type":"integer"},"PasscodeHistory":{"format":"int32","type":"integer"},"AutoLockMinutes":{"format":"int32","type":"integer"},"AutoLockDeviceLock":{"type":"boolean"},"MaximumFailedAttempts":{"format":"int32","type":"integer"},"DisableCopyPaste":{"format":"int32","type":"integer"},"AllowAttachments":{"type":"boolean"},"MaxAttachmentSize":{"format":"int32","type":"integer"},"RestrictAttachmentInApps":{"type":"boolean"},"AttachmentRestrictedAppList":{"type":"array","items":{"type":"string"}},"AllowScreenCapture":{"type":"boolean"},"RestrictDomains":{"type":"boolean"},"RestrictionType":{"format":"int32","type":"integer"},"DomainNameList":{"type":"array","items":{"type":"string"}},"RestrictLinksInApps":{"type":"boolean"}},"example":{"IgnoreSSL":true,"AllowSingleExport":true,"AllowMultipleExport":true,"RequirePasscode":true,"SingleSignOn":true,"AuthenticationType":1,"PasscodeComplexity":1,"MinimumPasscodeLength":1,"MaximumPasscodeAge":1,"PasscodeHistory":1,"AutoLockMinutes":1,"AutoLockDeviceLock":true,"MaximumFailedAttempts":1,"DisableCopyPaste":1,"AllowAttachments":true,"MaxAttachmentSize":1,"RestrictAttachmentInApps":true,"AttachmentRestrictedAppList":["test"],"AllowScreenCapture":true,"RestrictDomains":true,"RestrictionType":1,"DomainNameList":["test"],"RestrictLinksInApps":true}},"AndroidForWorkDevicePasscodePayloadV2Entity":{"type":"object","properties":{"EnableDevicePasscodePolicy":{"type":"boolean"},"setPasswordMinimumLength":{"format":"int32","type":"integer"},"setPasswordQuality":{"format":"int32","type":"integer"},"setPasswordHistoryLength":{"format":"int32","type":"integer"},"setPasswordExpirationTimeout":{"format":"int64","type":"integer"},"setMaximumFailedPasswordsForWipe":{"format":"int32","type":"integer"},"setMaximumTimeToLock":{"format":"int32","type":"integer"},"minimumLetters":{"format":"int32","type":"integer"},"minimumLowerCase":{"format":"int32","type":"integer"},"minimumUpperCase":{"format":"int32","type":"integer"},"minimumNonLetter":{"format":"int32","type":"integer"},"minimumNumeric":{"format":"int32","type":"integer"},"minimumSymbols":{"format":"int32","type":"integer"}}},"AndroidForWorkAppPasscodePayloadV2Entity":{"type":"object","properties":{"EnableWorkPasscodePolicy":{"type":"boolean"},"AfwAppSetPasswordMinimumLength":{"format":"int32","type":"integer"},"AfwAppSetPasswordQuality":{"format":"int32","type":"integer"},"AfwAppSetPasswordHistoryLength":{"format":"int32","type":"integer"},"AfwAppSetPasswordExpirationTimeout":{"format":"int64","type":"integer"},"AfwAppSetMaximumFailedPasswordsForWipe":{"format":"int32","type":"integer"},"AfwAppSetMaximumTimeToLock":{"format":"int32","type":"integer"},"AfwAppMinimumLetters":{"format":"int32","type":"integer"},"AfwAppMinimumLowerCase":{"format":"int32","type":"integer"},"AfwAppMinimumUpperCase":{"format":"int32","type":"integer"},"AfwAppMinimumNonLetter":{"format":"int32","type":"integer"},"AfwAppMinimumNumeric":{"format":"int32","type":"integer"},"AfwAppMinimumSymbols":{"format":"int32","type":"integer"}}},"AndroidForWorkAppPermissionsV2Entity":{"type":"object","properties":{"ProductId":{"type":"string"},"Kind":{"type":"string"},"Permission":{"type":"array","items":{"$ref":"#/definitions/AndroidForWorkAppRuntimePermissionV2Entity"}}},"example":{"ProductId":"test","Kind":"test","Permission":[{"PermissionId":"test","Name":"test","Description":"test","State":"test","PermissionOption":1,"Kind":"test"}]}},"AndroidForWorkSingleAppEntity":{"type":"object","properties":{"appName":{"type":"string"},"appId":{"type":"string"}},"example":{"appName":"test","appId":"test"}},"AndroidConatinerVPNMocanaSettings":{"type":"object","properties":{"BackupServerName":{"type":"string"},"DefaultRouteEnabled":{"type":"boolean"},"IKEVersion":{"format":"int32","type":"integer"},"DeadPeerDetection":{"type":"boolean"},"PFSExchange":{"type":"boolean"},"SuiteB":{"type":"string"},"PhaseOneMode":{"type":"string"},"DhGroup":{"format":"int32","type":"integer"}},"example":{"BackupServerName":"test","DefaultRouteEnabled":true,"IKEVersion":1,"DeadPeerDetection":true,"PFSExchange":true,"SuiteB":"test","PhaseOneMode":"test","DhGroup":1}},"AndroidConatinerVPNPulseSecureSettings":{"type":"object","properties":{"ProxyType":{"format":"int32","type":"integer"},"Server":{"type":"string"},"Port":{"type":"string"},"ProxyUserName":{"type":"string"},"ProxyPassword":{"type":"string"},"PacUrl":{"type":"string"}},"example":{"ProxyType":1,"Server":"test","Port":"test","ProxyUserName":"test","ProxyPassword":"test","PacUrl":"test"}},"AndroidContainerVpnNetMotionSettings":{"type":"object","properties":{"ValidateServer":{"type":"boolean"},"ServerSuffix":{"type":"string"},"Domain":{"type":"string"},"DeviceName":{"type":"string"},"DebugLoggingEnabled":{"type":"boolean"},"ShowWarnings":{"type":"boolean"}},"example":{"ValidateServer":true,"ServerSuffix":"test","Domain":"test","DeviceName":"test","DebugLoggingEnabled":true,"ShowWarnings":true}},"AndroidForWorkAppRuntimePermissionV2Entity":{"type":"object","properties":{"PermissionId":{"type":"string"},"Name":{"type":"string"},"Description":{"type":"string"},"State":{"type":"string"},"PermissionOption":{"format":"int32","type":"integer"},"Kind":{"type":"string"}},"example":{"PermissionId":"test","Name":"test","Description":"test","State":"test","PermissionOption":1,"Kind":"test"}},"AppleDeviceProfileV2Entity":{"type":"object","properties":{"Passcode":{"$ref":"#/definitions/ApplePasscodePayloadV2Entity"},"EmailList":{"type":"array","items":{"$ref":"#/definitions/AppleEmailPayloadV2Entity"}},"WifiList":{"type":"array","items":{"$ref":"#/definitions/AppleWifiPayloadV2Entity"}},"CredentialsList":{"type":"array","items":{"$ref":"#/definitions/AppleCredentialsPayloadV2Entity"}},"ScepList":{"type":"array","items":{"$ref":"#/definitions/AppleScepPayloadV2Entity"}},"Restrictions":{"$ref":"#/definitions/AppleRestrictionsPayloadV2Entity"},"VpnList":{"type":"array","items":{"$ref":"#/definitions/AppleVpnPayloadV2Entity"}},"CustomSettingsList":{"type":"array","items":{"$ref":"#/definitions/AppleCustomSettingsPayloadV2Entity"}},"EASNativeMailClientList":{"type":"array","items":{"$ref":"#/definitions/AppleEASNativeMailClientPayloadV2Entity"}},"EASNitroDeskTouchDownList":{"type":"array","items":{"$ref":"#/definitions/AppleEASNitroDeskTouchDownPayloadV2Entity"}},"EasAwMailClient":{"$ref":"#/definitions/AppleEASAWMailClientPayloadV2Entity"},"TouchDownCredentialList":{"type":"array","items":{"$ref":"#/definitions/AppleEasTouchDownCredentialPayloadV2Entity"}},"AWMailCredentialList":{"type":"array","items":{"$ref":"#/definitions/AppleEASAWMailCredentialPayloadV2Entity"}},"SharedDevice":{"$ref":"#/definitions/AppleSharedDevicePayloadV2Entity"},"Notifications":{"$ref":"#/definitions/AppleNotificationPayloadV2Entity"},"HomeScreen":{"$ref":"#/definitions/AppleHomeScreenPayloadV2Entity"},"GoogleAccount":{"type":"array","items":{"$ref":"#/definitions/AppleGoogleAccountPayloadV2Entity"}},"Domains":{"$ref":"#/definitions/AppleDomainsPayloadV2Entity"},"WebClips":{"$ref":"#/definitions/AppleWebClipPayloadV2Entity"},"General":{"$ref":"#/definitions/GeneralPayloadV2Entity"}},"example":{"EmailList":[],"WifiList":[],"CredentialsList":[],"ScepList":[],"VpnList":[],"CustomSettingsList":[],"EASNativeMailClientList":[],"EASNitroDeskTouchDownList":[],"TouchDownCredentialList":[],"AWMailCredentialList":[],"GoogleAccount":[]}},"ApplePasscodePayloadV2Entity":{"type":"object","properties":{"RequirePasscodeOnDevice":{"type":"boolean"},"AllowSimpleValue":{"type":"boolean"},"RequireAlphanumericValue":{"type":"boolean"},"MinimumPasscodeLength":{"format":"int32","type":"integer"},"MinimumNumberOfComplexCharacters":{"format":"int32","type":"integer"},"MaximumPasscodeAge":{"type":"string"},"AutoLock":{"type":"string"},"PasscodeHistory":{"type":"string"},"GracePeriodForDeviceLock":{"format":"int32","type":"integer"},"MaximumNumberOfFailedAttempts":{"type":"string"}},"example":{"RequirePasscodeOnDevice":true,"AllowSimpleValue":true,"RequireAlphanumericValue":true,"MinimumPasscodeLength":1,"MinimumNumberOfComplexCharacters":1,"MaximumPasscodeAge":"test","AutoLock":"test","PasscodeHistory":"test","GracePeriodForDeviceLock":1,"MaximumNumberOfFailedAttempts":"test"}},"AppleEmailPayloadV2Entity":{"type":"object","properties":{"AccountDescription":{"type":"string"},"AccountType":{"type":"string"},"PathPrefix":{"type":"string"},"UserDisplayName":{"type":"string"},"EmailAddress":{"type":"string"},"PreventMovingMessages":{"type":"boolean"},"DisableRecentContactSync":{"type":"boolean"},"IncomingMailServerHostName":{"type":"string"},"IncomingMailServerPortNumber":{"type":"string"},"IncomingMailServerUseSSL":{"type":"boolean"},"IncomingMailServerUsername":{"type":"string"},"IncomingMailServerAuthentication":{"type":"string"},"IncomingPassword":{"type":"string"},"OutgoingMailServerHostName":{"type":"string"},"OutgoingMailServerPortNumber":{"type":"string"},"OutgoingMailServerAuthentication":{"type":"string"},"OutgoingMailServerUseSSL":{"type":"boolean"},"OutgoingMailServerUsername":{"type":"string"},"OutgoingPasswordSameAsIncoming":{"type":"boolean"},"OutgoingPassword":{"type":"string"},"PreventUseInThirdPartyApps":{"type":"boolean"},"UseSMIME":{"type":"boolean"},"SMIMECertificate":{"type":"string"},"SMIMEEncryptionCertificate":{"type":"string"}},"example":{"AccountDescription":"test","AccountType":"test","PathPrefix":"test","UserDisplayName":"test","EmailAddress":"test","PreventMovingMessages":true,"DisableRecentContactSync":true,"IncomingMailServerHostName":"test","IncomingMailServerPortNumber":"test","IncomingMailServerUseSSL":true,"IncomingMailServerUsername":"test","IncomingMailServerAuthentication":"test","IncomingPassword":"test","OutgoingMailServerHostName":"test","OutgoingMailServerPortNumber":"test","OutgoingMailServerAuthentication":"test","OutgoingMailServerUseSSL":true,"OutgoingMailServerUsername":"test","OutgoingPasswordSameAsIncoming":true,"OutgoingPassword":"test","PreventUseInThirdPartyApps":true,"UseSMIME":true,"SMIMECertificate":"test","SMIMEEncryptionCertificate":"test"}},"AppleWifiPayloadV2Entity":{"type":"object","properties":{"ServiceSetIdentifier":{"type":"string"},"HiddenNetwork":{"type":"boolean"},"SecurityType":{"type":"string"},"Password":{"type":"string"},"TLS":{"type":"boolean"},"TTLS":{"type":"boolean"},"LEAP":{"type":"boolean"},"PEAP":{"type":"boolean"},"EAPFAST":{"type":"boolean"},"EAPSIM":{"type":"boolean"},"ProvisionPAC":{"type":"boolean"},"ProvisionPACAnonymously":{"type":"boolean"},"UsePAC":{"type":"boolean"},"AllowTrustExceptions":{"type":"boolean"},"InnerIdentity":{"type":"string"},"UserPerConnectionPassword":{"type":"boolean"},"UserName":{"type":"string"},"UserPassword":{"type":"string"},"TrustedServerCertificateNames":{"type":"array","items":{"type":"string"}},"TrustedCertificates":{"type":"array","items":{"type":"string"}},"OuterIdentity":{"type":"string"},"IdentityCertificate":{"type":"string"},"AutoJoin":{"type":"boolean"},"ProxyType":{"type":"string"},"ProxyServer":{"type":"string"},"ProxyServerPort":{"format":"int32","type":"integer"},"ProxyUsername":{"type":"string"},"ProxyPassword":{"type":"string"},"ProxyUrl":{"type":"string"},"WiFiHotspot":{"type":"boolean"},"DomainName":{"type":"string"},"DisplayedOperatorName":{"type":"string"},"ServiceProviderRoamingEnabled":{"type":"boolean"},"RoamingConsortiumOrganizationID":{"type":"array","items":{"type":"string"}},"NetworkAccessId":{"type":"array","items":{"type":"string"}},"MccMnc":{"type":"array","items":{"type":"string"}},"EnableQoSMarking":{"type":"boolean"},"QoSMarkingAppleAudioVideoCalls":{"type":"boolean"},"WhitelistSpecificApps":{"type":"array","items":{"type":"string"}},"FastlaneQosMarking":{"format":"int32","type":"integer"},"ProxyPACFallbackAllowed":{"type":"boolean"}},"example":{"ServiceSetIdentifier":"test","HiddenNetwork":true,"SecurityType":"test","Password":"test","TLS":true,"TTLS":true,"LEAP":true,"PEAP":true,"EAPFAST":true,"EAPSIM":true,"ProvisionPAC":true,"ProvisionPACAnonymously":true,"UsePAC":true,"AllowTrustExceptions":true,"InnerIdentity":"test","UserPerConnectionPassword":true,"UserName":"test","UserPassword":"test","TrustedServerCertificateNames":["test"],"TrustedCertificates":["test"],"OuterIdentity":"test","IdentityCertificate":"test","AutoJoin":true,"ProxyType":"test","ProxyServer":"test","ProxyServerPort":1,"ProxyUsername":"test","ProxyPassword":"test","ProxyUrl":"test","WiFiHotspot":true,"DomainName":"test","DisplayedOperatorName":"test","ServiceProviderRoamingEnabled":true,"RoamingConsortiumOrganizationID":["test"],"NetworkAccessId":["test"],"MccMnc":["test"],"EnableQoSMarking":true,"QoSMarkingAppleAudioVideoCalls":true,"WhitelistSpecificApps":["test"],"FastlaneQosMarking":1,"ProxyPACFallbackAllowed":true}},"AppleCredentialsPayloadV2Entity":{"type":"object","properties":{"CertificateID":{"format":"int32","type":"integer"},"CredentialName":{"type":"string"},"CredentialSource":{"type":"string"},"CertificateAuthority":{"format":"int32","type":"integer"},"CertificateTemplate":{"format":"int32","type":"integer"},"Smime":{"type":"string"},"Name":{"type":"string"},"KeyUsage":{"type":"string"}},"example":{"CertificateID":1,"CredentialName":"test","CredentialSource":"test","CertificateAuthority":1,"CertificateTemplate":1,"Smime":"test","Name":"test","KeyUsage":"test"}},"AppleScepPayloadV2Entity":{"type":"object","properties":{"CredentialSource":{"type":"string"},"CertificateAuthority":{"format":"int32","type":"integer"},"CertificateTemplate":{"format":"int32","type":"integer"},"Name":{"type":"string"}},"example":{"CredentialSource":"test","CertificateAuthority":1,"CertificateTemplate":1,"Name":"test"}},"AppleRestrictionsPayloadV2Entity":{"type":"object","properties":{"AllowInstallingPublicApps":{"type":"boolean"},"AllowAppRemoval":{"type":"boolean"},"AllowUseOfCamera":{"type":"boolean"},"AllowExplicitMusicAndPodcasts":{"type":"boolean"},"AllowAutomaticSyncWhileRoaming":{"type":"boolean"},"AllowInAppPurchase":{"type":"boolean"},"AllowUseOfSafari":{"type":"boolean"},"AllowScreenCapture":{"type":"boolean"},"AllowFingerPrintForUnlock":{"type":"boolean"},"AllowFaceTime":{"type":"boolean"},"AllowVoiceDialing":{"type":"boolean"},"AllowUseOfYouTube":{"type":"boolean"},"AllowUseOfiTunesMusicStore":{"type":"boolean"},"ForceEncryptedBackups":{"type":"boolean"},"RatingApps":{"format":"int32","type":"integer"},"RatingMovies":{"format":"int32","type":"integer"},"RatingsRegion":{"type":"string"},"RatingTVShows":{"format":"int32","type":"integer"},"AcceptCookies":{"type":"string"},"EnableAutofill":{"type":"boolean"},"EnableJavaScript":{"type":"boolean"},"BlockPopUps":{"type":"boolean"},"ForceFraudWarning":{"type":"boolean"},"EnablePlugins":{"type":"boolean"},"AllowAddingGameCenterFriends":{"type":"boolean"},"AllowMultiplayerGaming":{"type":"boolean"},"ForceiTunesStorePasswordEntry":{"type":"boolean"},"AllowUserToAcceptUntrustedTlsCertificates":{"type":"boolean"},"AllowBackup":{"type":"boolean"},"AllowDocumentSync":{"type":"boolean"},"AllowAppSettingsSync":{"type":"boolean"},"AllowPhotoStream":{"type":"boolean"},"AllowDiagnosticDataToBeSentToApple":{"type":"boolean"},"AllowSiri":{"type":"boolean"},"AllowSiriWhileDeviceLocked":{"type":"boolean"},"EnableSiriProfanityFilter":{"type":"boolean"},"ShowUserGeneratedContentInSiri":{"type":"boolean"},"AllowUseOfImessage":{"type":"boolean"},"AllowPassbookWhileDeviceLocked":{"type":"boolean"},"AllowGameCenter":{"type":"boolean"},"AllowUseOfIbookstore":{"type":"boolean"},"IBooks":{"type":"string"},"AllowSharedPhotoStream":{"type":"boolean"},"AllowManualProfileInstallation":{"type":"boolean"},"AllowOpeningManagedAppDocumentsInUnmanagedApps":{"type":"boolean"},"AllowOpeningUnManagedAppDocumentsInManagedApps":{"type":"boolean"},"LimitAdTracking":{"type":"boolean"},"AllowAccountModification":{"type":"boolean"},"AllowAirDrop":{"type":"boolean"},"AllowChangesToFindMyFriends":{"type":"boolean"},"AllowKeychainSync":{"type":"boolean"},"AllowOverTheAirPKIUpdates":{"type":"boolean"},"AllowPairingWithNonConfiguratorHosts":{"type":"boolean"},"AllowChangesToCellularDataUsageForApps":{"type":"boolean"},"ShowControlCenterOnLockScreen":{"type":"boolean"},"ShowNotificationsViewOnLockScreen":{"type":"boolean"},"ShowTodayViewOnLockScreen":{"type":"boolean"},"Allowpasscodemodification":{"type":"boolean"},"AllowTouchIdModification":{"type":"boolean"},"AllowAppStoreicononHomescreen":{"type":"boolean"},"ShowApps":{"type":"array","items":{"type":"string"}},"HideApps":{"type":"array","items":{"type":"string"}},"Allowautomaticappdownloads":{"type":"boolean"},"AllowinternetresultsinSpotlight":{"type":"boolean"},"AllowconfiguringRestrictions":{"type":"boolean"},"AllowEraseAllContentsandSettings":{"type":"boolean"},"Allowdevicenamemodification":{"type":"boolean"},"Allowwallpapermodification":{"type":"boolean"},"RequirepasscodeonfirstAirPlaypairing":{"type":"boolean"},"EnforceAirDropasanunmanageddropdestination":{"type":"boolean"},"AllowAppleWatchpairing":{"type":"boolean"},"Allowkeyboardshortcuts":{"type":"boolean"},"AllowPredictiveKeyboard":{"type":"boolean"},"Allowautocorrectionforkeyboard":{"type":"boolean"},"Allowspellcheckforkeyboard":{"type":"boolean"},"Allowdefinitionlookupforkeyboard":{"type":"boolean"},"AllowNews":{"type":"boolean"},"AllowPodcasts":{"type":"boolean"},"Allowmanagedappstostoredata":{"type":"boolean"},"AllowbackingupEnterpriseBooks":{"type":"boolean"},"AllowsynchronizingEnterpriseBooksnotesandhiglights":{"type":"boolean"},"AllowiCloudphotolibrary":{"type":"boolean"},"Allowusertotrustunmanagedenterpriseapps":{"type":"boolean"},"EnforceWristDetectiononAppleWatch":{"type":"boolean"},"AllowHandoff":{"type":"boolean"},"AllowBluetoothSettingsModification":{"type":"boolean"},"AllowScreenObservationbyClassroom":{"type":"boolean"},"AllowDictation":{"type":"boolean"},"ForceWiFiWhitelisting":{"type":"boolean"}}},"AppleVpnPayloadV2Entity":{"type":"object","properties":{"ConnectionName":{"type":"string"},"ConnectionType":{"type":"string"},"CommunicationServer":{"type":"string"},"Account":{"type":"string"},"Realm":{"type":"string"},"Role":{"type":"string"},"EncryptionLevel":{"format":"int32","type":"integer"},"SendAllTraffic":{"type":"boolean"},"UserAuthentication":{"format":"int32","type":"integer"},"MachineAuthentication":{"format":"int32","type":"integer"},"GroupName":{"type":"string"},"PromptForPassword":{"type":"boolean"},"UseHybridAuthentication":{"type":"boolean"},"SharedSecret":{"type":"string"},"ProxyServerAutoConfigURL":{"type":"string"},"Proxy":{"type":"string"},"ProxyServer":{"type":"string"},
[...]
