{
  "swagger": "2.0",
  "info": {
    "version": "1",
    "title": "AirWatch Mobile Device Management REST API",
    "description": "AirWatch Mobile Device Management REST API V1"
  },
  "host": "apimain.ssdevrd.com",
  "basePath": "/api/mdm",
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/devices/{id}/apps": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "Retrieves application details of the device identified by device ID.",
        "description": "v1",
        "operationId": "Apps_DeviceAppsById",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The device ID.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page",
            "in": "query",
            "description": "The specific page number to get.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "Max records per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/devices/apps": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "Retrieves application details of the device identified by alternate id.",
        "description": "v1",
        "operationId": "Apps_DeviceAppsByAlternateId",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "searchBy",
            "in": "query",
            "description": "The alternate id type [Macaddress, Udid, Serialnumber, ImeiNumber]",
            "required": false,
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "description": "Device alternate id",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "The specific page number to get.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "Max records per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/devices/{id}/adminapps": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "Retrieves Admin applications details for passed DeviceID.",
        "description": "v1",
        "operationId": "Apps_AdminAppDetails",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The device ID.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/cachesettings/configuration": {
      "post": {
        "tags": [
          "CacheSettings"
        ],
        "summary": "Retrieves the Config XML for both MAG and VPN.",
        "operationId": "CacheSettings_GetCacheSettingsConfiguration",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "encryptionPassword",
            "in": "body",
            "description": "Random string passed by the caller for hashing",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GatewayEncryptionModel"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/education/cart": {
      "post": {
        "tags": [
          "Cart"
        ],
        "summary": "Saves a cart with device serials to a specified location group",
        "operationId": "Cart_SaveCart",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "cart",
            "in": "body",
            "description": "Details of the cart",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CartModel"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/education/cart/{cartid}": {
      "delete": {
        "tags": [
          "Cart"
        ],
        "summary": "Deletes a cart with device serials to a specified location group",
        "operationId": "Cart_DeleteCart",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "cartid",
            "in": "path",
            "description": "CartId",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/catalog/settings": {
      "get": {
        "tags": [
          "Catalog"
        ],
        "summary": "New - Retrieve direct enrollment settings for the requested User/Group ID.",
        "operationId": "Catalog_Settings",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/devices/{id}/certificates": {
      "get": {
        "tags": [
          "Certificates"
        ],
        "summary": "Retrieves certificate details of the device identified by device ID.",
        "description": "v1",
        "operationId": "Certificates_GetCertificatesByDevice",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The device ID.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page",
            "in": "query",
            "description": "The specific page number to get.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "Max records per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/devices/certificates": {
      "get": {
        "tags": [
          "Certificates"
        ],
        "summary": "Retrieves certificate details of the device identified by the alternate id.",
        "description": "v1",
        "operationId": "Certificates_GetCertificatesByAlternateId",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "searchBy",
            "in": "query",
            "description": "The alternate id type [Macaddress, Udid, Serialnumber, ImeiNumber]",
            "required": false,
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "description": "Device alternate id",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "The specific page number to get.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "Max records per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/education/class/{id}": {
      "delete": {
        "tags": [
          "Class"
        ],
        "summary": "Deletes the specified class.",
        "operationId": "Class_Delete",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The class identifier.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "locationGroupId",
            "in": "query",
            "description": "The location group id where you want to delete the class.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/education/class": {
      "get": {
        "tags": [
          "Class"
        ],
        "summary": "Load class details",
        "operationId": "Class_LoadClass",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "locationGroupId",
            "in": "query",
            "description": "The location group id where you want to load the class.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "classId",
            "in": "query",
            "description": "The id of class whose details you want to load.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          }
        ],
        "responses": {}
      },
      "post": {
        "tags": [
          "Class"
        ],
        "summary": "Save class details",
        "operationId": "Class_SaveClass",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "classModel",
            "in": "body",
            "description": "The class model.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClassModel"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/education/devices/{id}/apps": {
      "get": {
        "tags": [
          "ClassAssignment"
        ],
        "summary": "Provides list of applications that can be assigned to user's device",
        "operationId": "ClassAssignment_LoadApplicationsToBeShownForCurrentUser",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Device Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/education/classassignment": {
      "post": {
        "tags": [
          "ClassAssignment"
        ],
        "summary": "Assign apps to carts through class",
        "operationId": "ClassAssignment_AssignAppsToCarts",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "classAssignmentRequest",
            "in": "body",
            "description": "Assignment details for a class",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClassAssignmentRequestModel"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/devices/{deviceId}/commands": {
      "post": {
        "tags": [
          "Commands"
        ],
        "summary": "Executes command for device.",
        "description": "v1",
        "operationId": "Commands_Execute",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "description": "The AirWatch device id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "customCommandModel",
            "in": "body",
            "description": "Model containing the command XML passed to the API.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomCommandModel"
            }
          },
          {
            "name": "command",
            "in": "query",
            "description": "The command to execute [Lock, EnterpriseWipe, DeviceWipe, DeviceQuery, ClearPasscode, SyncDevice, StopAirPlay, ScheduleOsUpdate, CustomMdmCommand].",
            "required": false,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/devices/commands": {
      "post": {
        "tags": [
          "Commands"
        ],
        "summary": "Executes command for device by alternate id.",
        "description": "v1",
        "operationId": "Commands_ExecuteByAlternateId",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "customCommandModel",
            "in": "body",
            "description": "Model containing the command XML passed to the API.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomCommandModel"
            }
          },
          {
            "name": "command",
            "in": "query",
            "description": "The command to execute [Lock, EnterpriseWipe, DeviceWipe, DeviceQuery, ClearPasscode, SyncDevice, StopAirPlay, ScheduleOsUpdate].",
            "required": false,
            "type": "string"
          },
          {
            "name": "searchBy",
            "in": "query",
            "description": "The alternate id type [Macaddress, Udid, Serialnumber, ImeiNumber].",
            "required": false,
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "description": "The alternate id.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/devices/commands/finddevice": {
      "post": {
        "tags": [
          "Commands"
        ],
        "summary": "Executes finddevice command for device by alternate id.",
        "description": "v1",
        "operationId": "Commands_ExecuteFindDeviceByAlternateId",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "findDevice",
            "in": "body",
            "description": "The find device request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FindDevice"
            }
          },
          {
            "name": "searchBy",
            "in": "query",
            "description": "The alternate id type [Macaddress, Udid, Serialnumber, ImeiNumber].",
            "required": false,
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "description": "The alternate id.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/devices/{id}/commands/renamedevice": {
      "post": {
        "tags": [
          "Commands"
        ],
        "summary": "Executes RenameDevice command for device by alternate id.",
        "operationId": "Commands_ExecuteRenameDevice",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The alternate id.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "name",
            "in": "body",
            "description": "New passcode value which needs to be set in the device.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeviceName"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/devices/{id}/commands/changepasscode": {
      "post": {
        "tags": [
          "Commands"
        ],
        "summary": "Executes change passcode command for device id",
        "description": "v1",
        "operationId": "Commands_ExecuteChangeDevicePasscode",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The alternate id.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "passcode",
            "in": "body",
            "description": "New passcode value which needs to be set in the device.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DevicePasscode"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/devices/commands/changepasscode": {
      "post": {
        "tags": [
          "Commands"
        ],
        "summary": "Executes command for device by alternate id.",
        "description": "v1",
        "operationId": "Commands_ExecuteChangeDevicePasscodeByAlternateId",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "passcode",
            "in": "body",
            "description": "The change passcode request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DevicePasscode"
            }
          },
          {
            "name": "searchBy",
            "in": "query",
            "description": "The alternate id type [Macaddress, Udid, Serialnumber, ImeiNumber].",
            "required": false,
            "type": ""
          },
          {
            "name": "id",
            "in": "query",
            "description": "The alternate id.",
            "required": false,
            "type": ""
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/devices/commands/changeorganizationgroup": {
      "post": {
        "tags": [
          "Commands"
        ],
        "summary": "Changes the organization group to which, the device identifeied by the alternate id, is assigned.",
        "description": "v1",
        "operationId": "Commands_ChangeOrganizationGroupByAlternateId",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "searchBy",
            "in": "query",
            "description": "The alternate id type [Macaddress, Udid, Serialnumber, ImeiNumber].",
            "required": false,
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "description": "The alternate id of the device.",
            "required": false,
            "type": "string"
          },
          {
            "name": "organizationgroupid",
            "in": "query",
            "description": "The new organization group ID.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/devices/{deviceid}/commands/startairplay": {
      "post": {
        "tags": [
          "Commands"
        ],
        "summary": "Executes start airplay for a specific device.",
        "description": "v1",
        "operationId": "Commands_ExecuteStartAirPlay",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "deviceid",
            "in": "path",
            "description": "The AirWatch device id.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "startAirPlay",
            "in": "body",
            "description": "Start airplay for a device.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StartAirPlay"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/devices/commands/remotecontrol": {
      "post": {
        "tags": [
          "Commands"
        ],
        "summary": "Initiates the remote control action for the device identified by device ID, by sending the command string to Device-Agent through AWCM.",
        "description": "v1",
        "operationId": "Commands_ExecuteRemoteControl",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "searchBy",
            "in": "query",
            "description": "The alternate id type [Macaddress, Udid, Serialnumber].",
            "required": false,
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "description": "The alternate id.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/devices/{id}/commands/changeorganizationgroup/{organizationgroupid}": {
      "put": {
        "tags": [
          "Commands"
        ],
        "summary": "Changes the organization group to which the device is assigned.",
        "description": "v1",
        "operationId": "Commands_ChangeOrganizationGroup",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The AirWatch device id.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "organizationgroupid",
            "in": "path",
            "description": "The new organization group id.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/devices/commands/scheduleosupdate": {
      "post": {
        "tags": [
          "Commands"
        ],
        "summary": "Executes the Schedule Os Update command on specified iOS device which is supervised, DEP and has version &gt;= 9",
        "description": "v1",
        "operationId": "Commands_ExecuteScheduleOsUpdateByAlternateId",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "searchby",
            "in": "query",
            "description": "The alternate id type [Macaddress, Udid, Serialnumber, ImeiNumber, EasId, DeviceId].",
            "required": false,
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "description": "The alternate id.",
            "required": false,
            "type": "string"
          },
          {
            "name": "installaction",
            "in": "query",
            "description": "The install action type [Default, DownloadOnly, InstallASAP].",
            "required": false,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/devices/commands/bulk": {
      "post": {
        "tags": [
          "Commands"
        ],
        "summary": "Executes command for device by alternate id.",
        "operationId": "Commands_BulkExecute",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "bulkInput",
            "in": "body",
            "description": "The bulk input.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BulkInput"
            }
          },
          {
            "name": "command",
            "in": "query",
            "description": "The command to execute [EnterpriseWipe, LockDevice, ScheduleOsUpdate].",
            "required": false,
            "type": "string"
          },
          {
            "name": "searchby",
            "in": "query",
            "description": "The alternate id type [Macaddress, Udid, Serialnumber, ImeiNumber].",
            "required": false,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/devices/commands/bulk/scheduleosupdate": {
      "post": {
        "tags": [
          "Commands"
        ],
        "summary": "Executes the Schedule Os Update command on list of iOS devices which are supervised, DEP and has version &gt;= 9",
        "operationId": "Commands_BulkExecuteScheduleOsUpdate",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "bulkInput",
            "in": "body",
            "description": "The bulk input.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BulkInput"
            }
          },
          {
            "name": "searchby",
            "in": "query",
            "description": "The alternate id type [Macaddress, Udid, Serialnumber, ImeiNumber, EasId, DeviceId].",
            "required": false,
            "type": "string"
          },
          {
            "name": "installaction",
            "in": "query",
            "description": "Install action type [Default, DownloadOnly, InstallASAP].",
            "required": false,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/devices/{deviceId}/commands/vm": {
      "post": {
        "tags": [
          "Commands"
        ],
        "summary": "Sends an VM command to multiple vminstances of a device",
        "description": "v1",
        "operationId": "Commands_VmInstanceCommand",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "description": "Device Id.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "bulkInput",
            "in": "body",
            "description": "Bulk input containing multiple VmInstance Ids.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BulkInput"
            }
          },
          {
            "name": "vmcommand",
            "in": "query",
            "description": "The command for VmInstances to execute [VmLock, VmUnlock, VmWipe].",
            "required": false,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/devices/{id}/compliance": {
      "get": {
        "tags": [
          "Compliance"
        ],
        "summary": "Retrieves compliance details of the device identified by device ID.",
        "description": "v1",
        "operationId": "Compliance_GetComplianceByDevice",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The device ID.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page",
            "in": "query",
            "description": "The specific page number to get.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "Max records per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/devices/compliance": {
      "get": {
        "tags": [
          "Compliance"
        ],
        "summary": "Retrieves compliance details of the device identified by the alternate ID.",
        "description": "v1",
        "operationId": "Compliance_GetComplianceByAlternateId",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "searchBy",
            "in": "query",
            "description": "The alternate id type [Macaddress, Udid, Serialnumber, ImeiNumber]",
            "required": false,
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "description": "Device alternate id",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "The specific page number to get.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "Max records per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/complianceattributes/organizationgroupcomplianceattributes": {
      "get": {
        "tags": [
          "ComplianceAttributes"
        ],
        "summary": "Gets the list compliance attributes configured for an organizational group based on the vendor name.",
        "operationId": "ComplianceAttributes_GetComplianceAttributesByOrganizationGroup",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "vendorname",
            "in": "query",
            "description": "The vendor name.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/complianceattributes/devicecomplianceattributes": {
      "put": {
        "tags": [
          "ComplianceAttributes"
        ],
        "summary": "Saves a list of compliance attributes for a list of devices.\r\nAlso, evaluates compliance status for devices if admin has setup policies for these devices.",
        "operationId": "ComplianceAttributes_SaveDeviceComplianceAttributes",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "deviceComplianceAttributeListModel",
            "in": "body",
            "description": "The list of compliance attributes for a list of devices.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeviceComplianceAttributeListModel"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/complianceattributes/vendordetails/{id}": {
      "get": {
        "tags": [
          "ComplianceAttributes"
        ],
        "summary": "New - Retrieves the Vendor Details By Vendor details Id.",
        "operationId": "ComplianceAttributes_GetVendorDetailsByVendorDetailsId",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Vendor details Id.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      },
      "put": {
        "tags": [
          "ComplianceAttributes"
        ],
        "summary": "New - Updates the Vendor Details for a given vendor in AirWatch.",
        "operationId": "ComplianceAttributes_UpdateVendor",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Vendor details Id.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "vendorDetail",
            "in": "body",
            "description": "The vendor Detail.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VendorDetailsModel"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      },
      "delete": {
        "tags": [
          "ComplianceAttributes"
        ],
        "summary": "New - Deletes the Vendor details by vendor details Id.",
        "operationId": "ComplianceAttributes_DeleteVendor",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Vendor details Id.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/complianceattributes/vendordetails": {
      "post": {
        "tags": [
          "ComplianceAttributes"
        ],
        "summary": "New - Creates a vendor containing compliance attributes in AirWatch, to support Airwatch's integration with MSA partners.\r\nfor finding and remediating unauthorized or vulnerable applications, and configuration of endpoint security controls.",
        "operationId": "ComplianceAttributes_CreateVendor",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "vendorDetails",
            "in": "body",
            "description": "Vendor details.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VendorDetailsModel"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/compliancepolicy/search": {
      "get": {
        "tags": [
          "CompliancePolicy"
        ],
        "summary": "Searches for the CompliancePolicies with the search parameters passed",
        "operationId": "CompliancePolicy_Search",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "ogid",
            "in": "query",
            "description": "Organization group id which is similar to selected organization group selected in console.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "page",
            "in": "query",
            "description": "page number.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "Maximum results which should be returned in each page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/devices/{id}/content": {
      "get": {
        "tags": [
          "Contents"
        ],
        "summary": "Retrieves the content details of the device identified by device ID.",
        "description": "v1",
        "operationId": "Contents_GetContentsByDevice",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The device ID.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page",
            "in": "query",
            "description": "The specific page number to get.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "Max records per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/devices/content": {
      "get": {
        "tags": [
          "Contents"
        ],
        "summary": "Retrieves the content details of the device identified by alternate ID.",
        "description": "v1",
        "operationId": "Contents_GetContentsByAlternateId",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "searchBy",
            "in": "query",
            "description": "The alternate id type [Macaddress, Udid, Serialnumber, ImeiNumber]",
            "required": false,
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "description": "Device alternate id",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "The specific page number to get.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "Max records per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/devices/{id}/compromisereason": {
      "get": {
        "tags": [
          "DeviceCompromiseReason"
        ],
        "summary": "Gets the device compromised reason for the passed deviceId .",
        "operationId": "DeviceCompromiseReason_GetCompromisedReasonForDevice",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      },
      "post": {
        "tags": [
          "DeviceCompromiseReason"
        ],
        "summary": "Inserts compromise reason code for a specified device.",
        "operationId": "DeviceCompromiseReason_InsertCompromiseReasonCode",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "DeviceId.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "compromiseReasonList",
            "in": "body",
            "description": "The compromise Reason List.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeviceCompromiseReasonList"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/devices/customattribute/search": {
      "get": {
        "tags": [
          "DeviceCustomAttributes"
        ],
        "summary": "Searches for device custom attributes.",
        "description": "v1",
        "operationId": "DeviceCustomAttributes_DeviceCustomAttributeSearch",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "organizationgroupid",
            "in": "query",
            "description": "OrganizationGroup to be searched, user's OG is considered if not sent.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "deviceid",
            "in": "query",
            "description": "Device ID to search for",
            "required": false,
            "type": "integer"
          },
          {
            "name": "serialnumber",
            "in": "query",
            "description": "Device Serial Number to search for",
            "required": false,
            "type": "string"
          },
          {
            "name": "modifiedfrom",
            "in": "query",
            "description": "DateTime, Filters the custom attributes which are modified by after this datetime",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "modifiedtill",
            "in": "query",
            "description": "DateTime, Filters the custom attributes which are modified by before this datetime",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "page",
            "in": "query",
            "description": "int, End of window a custom attribute was seen",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "DateTime, End of window a custom attribute was seen",
            "required": false,
            "type": "integer"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/devices/customattribute/changereport": {
      "get": {
        "tags": [
          "DeviceCustomAttributes"
        ],
        "summary": "Searches for changes made to device custom attributes.",
        "description": "v1",
        "operationId": "DeviceCustomAttributes_DeviceCustomAttributeChangeReport",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "organizationgroupid",
            "in": "query",
            "description": "OrganizationGroup to be searched, user's OG is considered if not sent.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "deviceid",
            "in": "query",
            "description": "Device ID to search for",
            "required": false,
            "type": "integer"
          },
          {
            "name": "startdate",
            "in": "query",
            "description": "DateTime, Start of window to look for a custom attribute.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "enddate",
            "in": "query",
            "description": "DateTime, End of window a custom attribute was seen",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "page",
            "in": "query",
            "description": "int, End of window a custom attribute was seen",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "DateTime, End of window a custom attribute was seen",
            "required": false,
            "type": "integer"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/devices/{id}/customattributes": {
      "put": {
        "tags": [
          "DeviceCustomAttributes"
        ],
        "summary": "Updates the device custom attribute value if already present for a device, else adds the same to the device",
        "description": "v1",
        "operationId": "DeviceCustomAttributes_UpdateCustomAttributes",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Device Identifier",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "customAttributes",
            "in": "body",
            "description": "Custom Attribute name and value pairs",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeviceCustomAttributeListModel"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      },
      "delete": {
        "tags": [
          "DeviceCustomAttributes"
        ],
        "summary": "Deletes the device custom attributes",
        "description": "v1",
        "operationId": "DeviceCustomAttributes_DeleteCustomAttributesForDevice",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Device identifier",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "customAttributes",
            "in": "body",
            "description": "Custom attribute list",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteDeviceCustomAttributeListModel"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/devices/serialnumber/{serialnumber}/customattributes": {
      "put": {
        "tags": [
          "DeviceCustomAttributes"
        ],
        "summary": "Updates the device custom attribute value if already present for a device, else adds the same to the device",
        "description": "v1",
        "operationId": "DeviceCustomAttributes_UpdateCustomAttributesBySerialNr",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "serialnumber",
            "in": "path",
            "description": "Device Serialnumber",
            "required": true,
            "type": "string"
          },
          {
            "name": "customAttributes",
            "in": "body",
            "description": "Custom Attribute name and value pairs",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeviceCustomAttributeListModel"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      },
      "delete": {
        "tags": [
          "DeviceCustomAttributes"
        ],
        "summary": "Deletes the device custom attributes",
        "description": "v1",
        "operationId": "DeviceCustomAttributes_DeleteCustomAttributesBySerialNr",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "serialnumber",
            "in": "path",
            "description": "Device Serialnumber",
            "required": true,
            "type": "string"
          },
          {
            "name": "customAttributes",
            "in": "body",
            "description": "Custom attribute list",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteDeviceCustomAttributeListModel"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/devices/assetnumber/{assetnumber}/customattributes": {
      "put": {
        "tags": [
          "DeviceCustomAttributes"
        ],
        "summary": "Updates the device custom attribute value if already present for a device, else adds the same to the device",
        "description": "v1",
        "operationId": "DeviceCustomAttributes_UpdateCustomAttributesByAssetNr",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "assetnumber",
            "in": "path",
            "description": "Device Assetnumber",
            "required": true,
            "type": "string"
          },
          {
            "name": "customAttributes",
            "in": "body",
            "description": "Custom Attribute name and value pairs",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeviceCustomAttributeListModel"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/dep/profiles/{profileUuid}": {
      "get": {
        "tags": [
          "DeviceEnrollmentProgramV1"
        ],
        "summary": "New - Get DEP profile based on the profile UUID.",
        "operationId": "DeviceEnrollmentProgramV1_ViewSharedMdmProfileData",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;version=1"
        ],
        "parameters": [
          {
            "name": "profileUuid",
            "in": "path",
            "description": "The DEP profile uuid.",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      },
      "put": {
        "tags": [
          "DeviceEnrollmentProgramV1"
        ],
        "summary": "New - Edit an existing DEP profile.",
        "operationId": "DeviceEnrollmentProgramV1_EditDepProfile",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;version=1"
        ],
        "parameters": [
          {
            "name": "depProfileModel",
            "in": "body",
            "description": "The dep profile model.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MdmEnrollmentProgramApiModel"
            }
          },
          {
            "name": "profileUuid",
            "in": "path",
            "description": "The DEP profile Uuid.",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      },
      "delete": {
        "tags": [
          "DeviceEnrollmentProgramV1"
        ],
        "summary": "New - Delete DEP profile based on the profile UUID.",
        "operationId": "DeviceEnrollmentProgramV1_DeleteMdmEnrollmentProgramData",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;version=1"
        ],
        "parameters": [
          {
            "name": "profileUuid",
            "in": "path",
            "description": "The DEP profile uuid.",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/dep/profiles": {
      "post": {
        "tags": [
          "DeviceEnrollmentProgramV1"
        ],
        "summary": "New - Add a new DEP profile.",
        "operationId": "DeviceEnrollmentProgramV1_AddDepProfile",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;version=1"
        ],
        "parameters": [
          {
            "name": "depProfileModel",
            "in": "body",
            "description": "The dep profile model.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MdmEnrollmentProgramApiModel"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/dep/certificates/{certId}": {
      "get": {
        "tags": [
          "DeviceEnrollmentProgramV1"
        ],
        "summary": "New - Get DEP certificate to upload in the DEP portal.",
        "operationId": "DeviceEnrollmentProgramV1_GetDepCertificate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;version=1"
        ],
        "parameters": [
          {
            "name": "certId",
            "in": "path",
            "description": "The certificate id.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/dep/certificates/{organizationGroupId}": {
      "post": {
        "tags": [
          "DeviceEnrollmentProgramV1"
        ],
        "summary": "New - Generate a new DEP certificate.",
        "operationId": "DeviceEnrollmentProgramV1_SaveDepCertificate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;version=1"
        ],
        "parameters": [
          {
            "name": "organizationGroupId",
            "in": "path",
            "description": "The organization Group Id.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/dep/accounts/{organizationGroupId}": {
      "post": {
        "tags": [
          "DeviceEnrollmentProgramV1"
        ],
        "summary": "New - Create a new DEP account for the organization group ID.",
        "operationId": "DeviceEnrollmentProgramV1_SaveDepAuthenticationEntity",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;version=1"
        ],
        "parameters": [
          {
            "name": "organizationGroupId",
            "in": "path",
            "description": "The location Group Id.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "depAccountCreationModel",
            "in": "body",
            "description": "The dep Account Creation Model.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DepAccountCreationApiModel"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      },
      "delete": {
        "tags": [
          "DeviceEnrollmentProgramV1"
        ],
        "summary": "New - Deletes DEP and associated DEP profiles for the given organization group ID.",
        "operationId": "DeviceEnrollmentProgramV1_DeleteDepAuthenticationEntity",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;version=1"
        ],
        "parameters": [
          {
            "name": "organizationGroupId",
            "in": "path",
            "description": "The organization Group Id.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/dep/groups/{groupUuid}/devices": {
      "get": {
        "tags": [
          "DeviceEnrollmentProgramV1"
        ],
        "summary": "New - Gets all Apple Device Enrollment Program devices at organization group.",
        "description": "Returns all the Apple Device Enrollment Program devices that have been synced into AirWatch for the given organization group.",
        "operationId": "DeviceEnrollmentProgramV1_GetDepDevices",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;version=1"
        ],
        "parameters": [
          {
            "name": "groupUuid",
            "in": "path",
            "description": "Organization group UUID to perform the operation on.(Required)",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DeviceEnrollmentProgramDevicesResponseV1Model"
              }
            }
          },
          "404": {
            "description": "1. {5053 : Device Enrollment Program account not found for the given organization group UUID.}2. {5054 : No organization group found for the given organization group UUID.}",
            "schema": {
              "$ref": "#/definitions/BaseExceptionModel"
            }
          }
        }
      },
      "put": {
        "tags": [
          "DeviceEnrollmentProgramV1"
        ],
        "summary": "New - Fetches or syncs Apple Device Enrollment Program devices at organization group.",
        "description": "Fetches or syncs devices from the Apple server associated with the token uploaded in the given organization group based on the action flag.",
        "operationId": "DeviceEnrollmentProgramV1_ReconcileDepDevices",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;version=1"
        ],
        "parameters": [
          {
            "name": "groupUuid",
            "in": "path",
            "description": "Organization group UUID to perform the operation on.(Required)",
            "required": true,
            "type": "string"
          },
          {
            "name": "action",
            "in": "query",
            "description": "Action flag is used to determine if the fetch or sync action must be performed for the devices.(Required)",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "api/mdm/dep/groups/{groupUuid}/devices",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "1. {5055 : Action can be either Sync or Fetch.}",
            "schema": {
              "$ref": "#/definitions/BaseExceptionModel"
            }
          },
          "404": {
            "description": "1. {5053 : Device Enrollment Program account not found for the given organization group UUID.}2. {5054 : No organization group found for the given organization group UUID.}",
            "schema": {
              "$ref": "#/definitions/BaseExceptionModel"
            }
          }
        }
      }
    },
    "/devices/{id}/finddevice": {
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Sends a Find command to the device identified by device ID.",
        "description": "v1",
        "operationId": "Devices_FindDevice",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The AirWatch device ID.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "findDevice",
            "in": "body",
            "description": "The command parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FindDevice"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {},
        "deprecated": true
      }
    },
    "/devices/macaddress/{macaddress}/finddevice": {
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Sends a Find command to the device identified by MAC address.",
        "description": "v1",
        "operationId": "Devices_FindDeviceByMacAddress",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "macaddress",
            "in": "path",
            "description": "The MAC address of the device.",
            "required": true,
            "type": "string"
          },
          {
            "name": "findDevice",
            "in": "body",
            "description": "The command parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FindDevice"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {},
        "deprecated": true
      }
    },
    "/devices/serialnumber/{serialnumber}/finddevice": {
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Sends a Find command to the device identified by serial number.",
        "description": "v1",
        "operationId": "Devices_FindDeviceBySerialNumber",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "serialnumber",
            "in": "path",
            "description": "The serial number of the device.",
            "required": true,
            "type": "string"
          },
          {
            "name": "findDevice",
            "in": "body",
            "description": "The command parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FindDevice"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {},
        "deprecated": true
      }
    },
    "/devices/udid/{udid}/finddevice": {
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Sends a Find command to the device identified by UDID.",
        "description": "v1",
        "operationId": "Devices_FindDeviceByUdid",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "udid",
            "in": "path",
            "description": "The UDID of the device.",
            "required": true,
            "type": "string"
          },
          {
            "name": "findDevice",
            "in": "body",
            "description": "The command parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FindDevice"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {},
        "deprecated": true
      }
    },
    "/devices/{id}/sendmessage": {
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Sends a push notification to the device identified by device ID. If not enrolled, sends an SMS message instead.",
        "description": "v1",
        "operationId": "Devices_SendMessage",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The device ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "genericMessage",
            "in": "body",
            "description": "The message to send.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericMessage"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {},
        "deprecated": true
      }
    },
    "/devices/macaddress/{macaddress}/sendmessage": {
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Sends a push notification to the device identified by MAC address. If not enrolled, sends an SMS message instead.",
        "description": "v1",
        "operationId": "Devices_SendMessageByMac",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "macaddress",
            "in": "path",
            "description": "The MAC address of the device.",
            "required": true,
            "type": "string"
          },
          {
            "name": "genericMessage",
            "in": "body",
            "description": "The message to send.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericMessage"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {},
        "deprecated": true
      }
    },
    "/devices/udid/{udid}/sendmessage": {
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Sends a push notification to the device identified by UDID. If not enrolled, sends an SMS message instead.",
        "description": "v1",
        "operationId": "Devices_SendMessageByUdid",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "udid",
            "in": "path",
            "description": "The UDID of the device.",
            "required": true,
            "type": "string"
          },
          {
            "name": "genericMessage",
            "in": "body",
            "description": "The message to send.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericMessage"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {},
        "deprecated": true
      }
    },
    "/devices/serialnumber/{serialnumber}/sendmessage": {
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Sends a push notification to the device identified by serial number. If not enrolled, sends an SMS message instead.",
        "description": "v1",
        "operationId": "Devices_SendMessageBySerialNumber",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "serialnumber",
            "in": "path",
            "description": "The serial number of the device.",
            "required": true,
            "type": "string"
          },
          {
            "name": "genericMessage",
            "in": "body",
            "description": "The message to send.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericMessage"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {},
        "deprecated": true
      }
    },
    "/devices/{id}/changepasscode": {
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Changes the passcode of device which is used for unlocking it",
        "description": "v1",
        "operationId": "Devices_ChangeDevicePasscode",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Device identifier for which passcode needs to be changed",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "passcode",
            "in": "body",
            "description": "New passcode value which needs to be set in the device",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DevicePasscode"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {},
        "deprecated": true
      }
    },
    "/devices/macaddress": {
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Retrieves information about multiple devices identified by MAC address.",
        "description": "v1",
        "operationId": "Devices_GetDevicesByBulkMacAddress",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "bulkInput",
            "in": "body",
            "description": "Bulk input containing multiple device MAC addresses.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BulkInput"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {},
        "deprecated": true
      }
    },
    "/devices/serialnumber": {
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Retrieves information about multiple devices identified by serial number.",
        "description": "v1",
        "operationId": "Devices_GetDevicesByBulkSerialNumber",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "bulkInput",
            "in": "body",
            "description": "Bulk input containing multiple device serial numbers.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BulkInput"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {},
        "deprecated": true
      }
    },
    "/devices/udid": {
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Retrieves information about multiple devices identified by UDID.",
        "description": "v1",
        "operationId": "Devices_GetDevicesByBulkUdid",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "bulkInput",
            "in": "body",
            "description": "Bulk input containing multiple device UDIDs.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BulkInput"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {},
        "deprecated": true
      }
    },
    "/devices/sendmessage/sms": {
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Sends an SMS to multiple devices identified by device ID.",
        "description": "v1",
        "operationId": "Devices_BulkSendMessageSms",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "smsMessage",
            "in": "body",
            "description": "An object containing the message and phone number, and multiple device IDs.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SmsMessage"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {},
        "deprecated": true
      }
    },
    "/devices/macaddress/sendmessage/sms": {
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Sends an SMS to multiple devices identified by MAC address.",
        "description": "v1",
        "operationId": "Devices_BulkSendMessageSmsByMac",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "smsMessage",
            "in": "body",
            "description": "An object containing the message and phone number, and multiple MAC addresses.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SmsMessage"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {},
        "deprecated": true
      }
    },
    "/devices/udid/sendmessage/sms": {
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Sends an SMS to multiple devices identified by UDID.",
        "description": "v1",
        "operationId": "Devices_BulkSendMessageSmsByUdid",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "smsMessage",
[...]
