{"swagger":"2.0","info":{"version":"2","title":"MDM API V2"},"host":"cc92.ssdevrd.com","basePath":"/api/mdm","schemes":["https","http"],"paths":{"/devices/search":{"get":{"tags":["DevicesV2"],"summary":"Find relevant devices using various criteria.","description":"Returns details of relevant devices belonging to an enrollment user matching specified criteria, where results are ranked/sorted using the specified orderby criteria.\r\n<br />\r\nseensince and lastseen fields accept the following Valid DateTime formats :\r\nyyyy/MM/dd, yyyy-MM-dd, MM/dd/yyyy, MM-dd-yyyy, yyyy/MM/dd HH:mm:ss.fff,\r\nyyyy-MM-dd HH:mm:ss.fff, MM/dd/yyyy HH:mm:ss.fff, MM-dd-yyyy HH:mm:ss.fff, yyyy/MM/ddTHH:mm:ss.fff,\r\nyyyy-MM-ddTHH:mm:ss.fff, MM/dd/yyyyTHH:mm:ss.fff, MM-dd-yyyyTHH:mm:ss.fff, yyyy-MM-dd HH-mm-ss-tt,\r\nyyyy-MM-ddTHH-mm-ss-tt.","operationId":"DevicesV2_Search","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"user","in":"query","description":"Filters devices based on enrolled username","required":false,"type":"string","default":""},{"name":"model","in":"query","description":"Filters devices based on model. For example iPhone","required":false,"type":"string","default":""},{"name":"platform","in":"query","description":"Filters devices based on platform. For example Apple","required":false,"type":"string","default":""},{"name":"lastseen","in":"query","description":"Filters devices based on date when they were lastseen","required":false,"type":"string","format":"date-time","default":""},{"name":"ownership","in":"query","description":"Filters devices based on ownership type. One of C, E, S or Undefined","required":false,"type":"string","default":""},{"name":"lgid","in":"query","description":"Limits the search to given OrganizationGroup, defaults to user's OrganizationGroup","required":false,"type":"integer","default":""},{"name":"compliantstatus","in":"query","description":"Filters devices based on specified compliant status. One of Compliant, NonCompliant or NotAvailable","required":false,"type":"string","default":""},{"name":"seensince","in":"query","description":"Filters devices based on date when they were seen after given date","required":false,"type":"string","format":"date-time","default":""},{"name":"page","in":"query","description":"Filters search result to return results based on page number. Page numbering is 0 based and omitting this parameter will return first page","required":false,"type":"integer","default":""},{"name":"pagesize","in":"query","description":"Limits the number of search results per page. Defaults to 500","required":false,"type":"integer","default":""},{"name":"orderby","in":"query","description":"Sort results based on given field. One of model, lastseen, ownership, platform, deviceid etc. Defaults to deviceid","required":false,"type":"string","default":""},{"name":"sortorder","in":"query","description":"Sort order of results.One of ASC or DESC. Defaults to ASC.","required":false,"type":"string","default":""}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DeviceSearchResultExtended"}},"400":{"description":"1.{6: Organization Group with id : {0} not found or Admin user does not have access to it.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/devices/{id}/enrollmentuser/{enrollmentuserid}":{"patch":{"tags":["DevicesV2"],"summary":"New - Check out the device to enrollment User","description":"v2","operationId":"DevicesV2_CheckOutDeviceToUser","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"id","in":"path","description":"Device Identifier","required":true,"type":"integer","format":"int32"},{"name":"enrollmentuserid","in":"path","description":"Enrollment User Identifier","required":true,"type":"integer","format":"int32"}],"responses":{},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/devices/{uuid}/osupdate":{"get":{"tags":["DevicesV2"],"summary":"New - Retrieves available OS updates for a device","description":"Retieves a list of all available OS and software updates for the device specified by the device UUID.","operationId":"DevicesV2_GetOSUpdatesByUUID","consumes":["application/json","application/xml"],"produces":["application/json;version=2"],"parameters":[{"name":"uuid","in":"path","description":"Identifier for a device. Ex. 827BE1C5AEC05C378C61C44103E9D3FCB2EC354D(Required)","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OSUpdateResultModel"}},"404":{"description":"1. {5061: Device not found for specified UUID.} ","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/devices/{uuid}":{"get":{"tags":["DevicesV2"],"summary":"New - Get basic details about the device","description":"Get basic information about the device based on the unique identifer passed in the path. The response contains hypermedia links, which can be followed to get more information about the device. The API returns a 404 - NotFound if the device is not available.","operationId":"DevicesV2_GetByUuid","consumes":["application/json","application/xml"],"produces":["application/json;version=2"],"parameters":[{"name":"uuid","in":"path","description":"Device identifier(Required)","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetDeviceResponseV2Model"}},"404":{"description":"1. {5061: Device not found} ","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/policyengine/devices/{deviceId}":{"put":{"tags":["PolicyEngineV2"],"summary":"New - process all the applicable products for a device","description":"It processes all the applicable products for an input device. Performs necessary checks and updates device product compliance status, views inventory and creates content for the device. Also, updates job statistics.","operationId":"PolicyEngineV2_ProcessDevice","consumes":["application/json"],"produces":["application/json;version=2"],"parameters":[{"name":"deviceId","in":"path","description":"device id that needs to be processed by Policy Engine(Required)","required":true,"type":"string"},{"name":"fastTrack","in":"query","description":"fast track flag is to prioritize tasks like install application and intall file actions over other tasks","required":false,"type":"boolean","default":""}],"responses":{"202":{"description":"Accepted"},"404":{"description":"1. {5002 : Device not found for specified id: deviceId}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"422":{"description":"1012 - Unprocessable Entity1. {fastTrack : fastTrack should be boolean}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/policyengine/products/{productId}/devices/{deviceId}":{"get":{"tags":["PolicyEngineV2"],"summary":"New - gets the device product compliance status","description":"It returns the device product compliance status e.g. (Unknown, Compliant, NonCompliantInProgress, NonCompliantFailed, NonCompliantTimedOut, NonCompliantMustPush, NonCompliantDependent, NonCompliantOutRank, UndeterminedOffline)","operationId":"PolicyEngineV2_GetDeviceProductComplianceStatus","consumes":["application/json"],"produces":["application/json;version=2"],"parameters":[{"name":"productId","in":"path","description":"product id whose status needs to be returned(Required)","required":true,"type":"string"},{"name":"deviceId","in":"path","description":"device id whose status needs to be returned(Required)","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DeviceProductComplianceStatusV2Model"}},"404":{"description":"1. {5050 : Product not found for specified id: productId}2. {5002 : Device not found for specified id: deviceId}3. {5051 : Compliance Status not found for productId: {productId} and deviceId: {deviceId}}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true},"put":{"tags":["PolicyEngineV2"],"summary":"New - process a product for a device","description":"It processes a product for an input device. Performs necessary checks and updates device product compliance status, views inventory and creates content for the device. Also, updates job statistics.","operationId":"PolicyEngineV2_ProcessDeviceProduct","consumes":["application/json"],"produces":["application/json;version=2"],"parameters":[{"name":"productId","in":"path","description":"product id that needs to be processed by Policy Engine(Required)","required":true,"type":"string"},{"name":"deviceId","in":"path","description":"device id that needs to be processed by Policy Engine(Required)","required":true,"type":"string"},{"name":"fastTrack","in":"query","description":"fast track flag is to prioritize tasks like install application and intall file actions over other tasks","required":false,"type":"boolean","default":""}],"responses":{"202":{"description":"Accepted","schema":{"$ref":"#/definitions/DeviceProductResponseV2Model"}},"404":{"description":"1. {5050 : Product not found for specified id: productId}2. {5002 : Device not found for specified id: deviceId}3. {5051 : Compliance Status not found for productId: {productId} and deviceId: {deviceId}}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"422":{"description":"1012 - Unprocessable Entity1. {fastTrack : fastTrack should be boolean}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/policyengine/products/{productId}":{"patch":{"tags":["PolicyEngineV2"],"summary":"New - process a product to activate/deactivate for all the applicable devices","description":"For activate, It processes the input product for all the devices in assigned smart groups. It also updates device product compliance status and job statistics. For deactivate, It updates the queued jobs of the input product and mark them for deletion. Also, gets the list of delivered jobs for the input product and updates device product job status to be cancelled.","operationId":"PolicyEngineV2_ProcessProduct","consumes":["application/json","application/json-patch+json"],"produces":["application/json;version=2"],"parameters":[{"name":"productId","in":"path","description":"product id that needs to be processed by Policy Engine(Required)","required":true,"type":"string"},{"name":"patchModel","in":"body","description":"product model for payload(Required)","required":true,"schema":{"$ref":"#/definitions/ProductsPatchV2ModelPatch","externalDocs":{"description":"JSON Patch documentation","url":"https://tools.ietf.org/html/rfc6902"}}},{"name":"force","in":"query","description":"force flag for activate product to decide whether to force reprocess device product job or not","required":false,"type":"boolean","default":""},{"name":"fastTrack","in":"query","description":"fast track flag is to prioritize tasks like install application and intall file actions over other tasks","required":false,"type":"boolean","default":""}],"responses":{"202":{"description":"Accepted"},"404":{"description":"1. {5050 : Product not found for specified id: productId}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"422":{"description":"1012 - Unprocessable Entity1. {force : force should be boolean}2. {fastTrack : fastTrack should be boolean}3. {operations : only replace is supported}4. {status : status should be boolean}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/policyengine/productset/{productSetId}/devices/{deviceId}":{"put":{"tags":["PolicyEngineV2"],"summary":"New - process a device for a product Set","description":"It processes a product set for an input device. Performs necessary checks and updates device product compliance status, views inventory and creates content for the device. Also, updates job statistics.","operationId":"PolicyEngineV2_ProcessDeviceProductSet","consumes":["application/json"],"produces":["application/json;version=2"],"parameters":[{"name":"productSetId","in":"path","description":"product set id that needs to be processed by Policy Engine(Required)","required":true,"type":"string"},{"name":"deviceId","in":"path","description":"device id that needs to be processed by Policy Engine(Required)","required":true,"type":"string"},{"name":"fastTrack","in":"query","description":"fast track flag is to prioritize tasks like install application and intall file actions over other tasks","required":false,"type":"boolean","default":""}],"responses":{"202":{"description":"Accepted"},"404":{"description":"1. {5051 : ProductSet not found for specified id: productSetId}2. {5002 : Device not found for specified id: deviceId}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"422":{"description":"1012 - Unprocessable Entity1. {fastTrack : fastTrack should be boolean}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/policyengine/productset/{productSetId}":{"put":{"tags":["PolicyEngineV2"],"summary":"New - process a product set for all the applicable devices","description":"It processes the input product set for all the devices in assigned smart groups. It also updates device product compliance status and job statistics.","operationId":"PolicyEngineV2_ProcessProductSet","consumes":["application/json"],"produces":["application/json;version=2"],"parameters":[{"name":"productSetId","in":"path","description":"product set id that needs to be processed by Policy Engine(Required)","required":true,"type":"string"},{"name":"force","in":"query","description":"force flag for activate product set to decide whether to force reprocess device product job or not","required":false,"type":"boolean","default":""},{"name":"fastTrack","in":"query","description":"fast track flag is to prioritize tasks like install application and intall file actions over other tasks","required":false,"type":"boolean","default":""}],"responses":{"202":{"description":"Accepted"},"404":{"description":"1. {5051 : ProductSet not found for specified id: productSetId}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"422":{"description":"1012 - Unprocessable Entity1. {force: force should be boolean}2. {fastTrack : fastTrack should be boolean}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/products/{id}/compliant":{"get":{"tags":["ProductsV2"],"summary":"Returns the details of the Devices which are Product Compliant .","description":"Returns the details of the Devices which are Product Compliant<br />\r\n            Device details includes <br />\r\n            DeviceID,<br />\r\n            Name,<br />\r\n            LastJobStatus,<br />\r\n            LastSeen<br />","operationId":"ProductsV2_ProductCompliantDevices","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"id","in":"path","description":"Identfier of the Product of which ProductCompliant Device details needs to be retrieved(Required).","required":true,"type":"integer","format":"int32"},{"name":"page","in":"query","description":"Specific page number to get. 0 based index","required":false,"type":"integer","default":""},{"name":"pagesize","in":"query","description":"Maximum records per page. Default 500","required":false,"type":"integer","default":""}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ProductDeviceDetailsSearchResult"}},"404":{"description":"Product with {id} not found or User does not have access to it.","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/products/{id}/inprogress":{"get":{"tags":["ProductsV2"],"summary":"Returns the details of the Device for which Provisioning is In-Progress.","description":"Returns the details of the Devices which provisioning is in-progress.<br />\r\n            Device details includes <br />\r\n            DeviceID,<br />\r\n            Name,<br />\r\n            LastJobStatus,<br />\r\n            LastSeen<br />","operationId":"ProductsV2_InprogressProductDevices","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"id","in":"path","description":"Identfier of the Product of which ProductCompliant Device details needs to be retrieved(Required)","required":true,"type":"integer","format":"int32"},{"name":"page","in":"query","description":"Specific page number to get. 0 based index","required":false,"type":"integer","default":""},{"name":"pagesize","in":"query","description":"Maximum results which should be returned in each page.","required":false,"type":"integer","default":""}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ProductDeviceDetailsSearchResult"}},"404":{"description":"Product with {id} not found or User does not have access to it.","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/products/{id}/failed":{"get":{"tags":["ProductsV2"],"summary":"Returns the details of the Device for which Provisioning is Failed.","description":"Returns the details of the Devices for which Provisioning is Failed<br />\r\n            Device details includes <br />\r\n            DeviceID,<br />\r\n            Name,<br />\r\n            LastJobStatus,<br />\r\n            LastSeen<br />","operationId":"ProductsV2_FailedProductDevices","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"id","in":"path","description":"Identfier of the Product of which ProductCompliant Device details needs to be retrieved(Required)","required":true,"type":"integer","format":"int32"},{"name":"page","in":"query","description":"Specific page number to get. 0 based index","required":false,"type":"integer","default":""},{"name":"pagesize","in":"query","description":"Maximum records per page. Default 500.","required":false,"type":"integer","default":""}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ProductDeviceDetailsSearchResult"}},"404":{"description":"Product with {id} not found or User does not have access to it.","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/products/{id}/assigned":{"get":{"tags":["ProductsV2"],"summary":"Returns the details of the Device for which Provisioning is Assigned.","description":"Returns the details of the Device for which Provisioning is Assigned.<br />\r\n            Device details includes <br />\r\n            DeviceID,<br />\r\n            Name,<br />\r\n            LastJobStatus,<br />\r\n            LastSeen<br />","operationId":"ProductsV2_AssignedProductDevices","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"id","in":"path","description":"Identfier of the Product(Required)","required":true,"type":"integer","format":"int32"},{"name":"seensince","in":"query","description":"Filters devices such that devices with last seen after this date will be returned.\r\n            Valid DateTime formats includes as below:\r\n            yyyy/MM/dd,yyyy-MM-dd,MM/dd/yyyy,MM-dd-yyyy,\r\n            yyyy/MM/dd HH:mm:ss.fff,yyyy-MM-dd HH:mm:ss.fff,\r\n            MM/dd/yyyy HH:mm:ss.fff,MM-dd-yyyy HH:mm:ss.fff,\r\n            yyyy/MM/ddTHH:mm:ss.fff,yyyy-MM-ddTHH:mm:ss.fff,\r\n            MM/dd/yyyyTHH:mm:ss.fff,MM-dd-yyyyTHH:mm:ss.fff,\r\n            yyyy-MM-dd HH-mm-ss-tt,yyyy-MM-ddTHH-mm-ss-tt.","required":false,"type":"string","format":"date-time","default":""},{"name":"lastjobupdatefrom","in":"query","description":"Filters devices on lastjobstatus DateTime.\r\n            Valid DateTime formats includes as below:\r\n            yyyy/MM/dd,yyyy-MM-dd,MM/dd/yyyy,MM-dd-yyyy,\r\n            yyyy/MM/dd HH:mm:ss.fff,yyyy-MM-dd HH:mm:ss.fff,\r\n            MM/dd/yyyy HH:mm:ss.fff,MM-dd-yyyy HH:mm:ss.fff,\r\n            yyyy/MM/ddTHH:mm:ss.fff,yyyy-MM-ddTHH:mm:ss.fff,\r\n            MM/dd/yyyyTHH:mm:ss.fff,MM-dd-yyyyTHH:mm:ss.fff,\r\n            yyyy-MM-dd HH-mm-ss-tt,yyyy-MM-ddTHH-mm-ss-tt.","required":false,"type":"string","format":"date-time","default":""},{"name":"page","in":"query","description":"Specific page number to get. 0 based index","required":false,"type":"integer","default":""},{"name":"pagesize","in":"query","description":"Maximum records per page. Default 500","required":false,"type":"integer","default":""}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ProductDeviceDetailsSearchResult"}},"404":{"description":"Product with {id} not found or User does not have access to it.","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/profiles/platforms/{platform}/payloads/{payload}/getpayloadkeys":{"get":{"tags":["ProfilesV2"],"summary":"Gets PayloadKeys","description":"Gets PayloadKeys for the specified Platform and Payload","operationId":"ProfilesV2_GetPayloadKeys","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"platform","in":"path","description":"Platform Name (Required)","required":true,"type":"string"},{"name":"payload","in":"path","description":"Payload Name (Required)","required":true,"type":"string"},{"name":"contextType","in":"query","description":"Context Type","required":false,"type":"string","default":""}],"responses":{"200":{"description":"Payload keys for the specified platform and payload","schema":{"$ref":"#/definitions/DeviceProfileV2Entity"}},"400":{"description":"Bad Request 1.{5005: Context type is not valid.} 2.{400: Invalid input.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/profiles/{profileId}":{"get":{"tags":["ProfilesV2"],"summary":"Gets Device Profile","description":"Gets Device Profile Details identified by the Profile Id","operationId":"ProfilesV2_GetDeviceProfileDetails","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"profileId","in":"path","description":"Profile Id (Required)","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DeviceProfileV2Entity "}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/profiles/platforms/android/create":{"post":{"tags":["ProfilesV2"],"summary":"Creates an ANDROID Device Profile","description":"v2","operationId":"ProfilesV2_CreateAndroidDeviceProfile","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"deviceProfile","in":"body","description":"AndroidDeviceProfileEntity","required":true,"schema":{"$ref":"#/definitions/AndroidDeviceProfileV2Entity"}}],"responses":{},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/profiles/platforms/apple/create":{"post":{"tags":["ProfilesV2"],"summary":"Creates an Apple iOS device profile","description":"Creates an Apple device profile containing a number of settings that you can specify, including : Passcode, Restrictions, VPN, Wi-Fi, Email, EAS, SCEP, Credentials, Custom Settings, etc.","operationId":"ProfilesV2_CreateAppleDeviceProfile","consumes":["application/json"],"produces":["application/json;version=2"],"parameters":[{"name":"deviceProfile","in":"body","description":"Apple Device Profile V2 Entity","required":true,"schema":{"$ref":"#/definitions/AppleDeviceProfileV2Entity"}}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}},"400":{"description":"1. {400 : Resource's organization group : {id} not found or user does not have access to this organization group.}, 2. {400 : SmartGroup with Id {id} not found or user does not have access to it.}, 3. {400 : TimeSchedule with Schedule Id {id} not found or user does have access to it.}, 4. {400 : GeoFencing Area with AreaId {id} not found or user does have access to it.}, 5. {400 : Education is not enabled on the given LocationGroup.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/profiles/platforms/appleosx/create":{"post":{"tags":["ProfilesV2"],"summary":"Creates an Apple macOS device Profile","description":"Creates an Apple macOS device profile containing a number of settings that you can specify, including : Passcode, Restrictions, Network, Email, Dock, SCEP, Credentials, Custom Settings, etc.","operationId":"ProfilesV2_CreateAppleOsXDeviceProfile","consumes":["application/json"],"produces":["application/json;version=2"],"parameters":[{"name":"deviceProfile","in":"body","description":"Apple macOS Device Profile Entity","required":true,"schema":{"$ref":"#/definitions/AppleOsXDeviceProfileEntity"}}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}},"400":{"description":"1. {400 : Resource's organization group : {id} not found or user does not have access to this organization group.}, 2. {400 : SmartGroup with Id {id} not found or user does not have access to it.}, 3. {400 : TimeSchedule with Schedule Id {id} not found or user does have access to it.}, 4. {400 : GeoFencing Area with AreaId {id} not found or user does have access to it.}, 5. {400 : Education is not enabled on the given LocationGroup.}, 6. {33 : Feature for rotation recovery key is currently turned off}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"403":{"description":"1. {5093 : Admin is not authorized to rotate the recovery key}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"422":{"description":"1. {422 : Value should be 0 or an integer between 15 and 90}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/profiles/platforms/qnx/create":{"post":{"tags":["ProfilesV2"],"summary":"Creates a Provisioning Enabled QNX Device Profile","description":"Creates a new QNX profile with provisioning enabled.<br>With provisioning enabled, the profiles will be linked to products and will be assigned to devices using policy engine.</br>","operationId":"ProfilesV2_CreateQnxDeviceProfile","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"deviceProfile","in":"body","description":"The profile details like Name, scope, custom attribute name, value and Id","required":true,"schema":{"$ref":"#/definitions/QnxDeviceProfileEntity"}}],"responses":{"200":{"description":"OK"},"400":{"description":"1. {400: Profile name is invalid or User does not have access to update it.}2. {400: Resource's organization group :{0} not found or user does not have access to this organization group.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/profiles/platforms/windowspc/create":{"post":{"tags":["ProfilesV2"],"summary":"Creates a Windows PC Device Profile","description":"v2","operationId":"ProfilesV2_CreateWindowsPcDeviceProfile","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"deviceProfile","in":"body","description":"WindowsPcDeviceProfileEntity","required":true,"schema":{"$ref":"#/definitions/WindowsPcDeviceProfileEntity"}}],"responses":{},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/profiles/platforms/winrt/create":{"post":{"tags":["ProfilesV2"],"summary":"Creates a Windows Desktop Device Profile","operationId":"ProfilesV2_CreateWindowsDesktopDeviceProfile","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"deviceProfile","in":"body","description":"WindowsDesktopDeviceProfileEntity","required":true,"schema":{"$ref":"#/definitions/WindowsDesktopDeviceProfileEntity"}}],"responses":{"200":{"description":"OK"},"400":{"description":"1. {400: Resource's organization group :{id} not found or user does not have access to this organization group.}, 2. {400: SmartGroup with Id {0} not found or user does not have access to it.}, 3. {400: TimeSchedule with Schedule Id {id} not found or user does have access to it.}, 4. {400: GeoFencing Area with AreaId {id} not found or user does have access to it.} ","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/profiles/platforms/WindowsPhone8/create":{"post":{"tags":["ProfilesV2"],"summary":"Creates a Windows Phone Device Profile","operationId":"ProfilesV2_CreateWindowsPhoneDeviceProfile","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"deviceProfile","in":"body","description":"WindowsPhoneDeviceProfileEntity","required":true,"schema":{"$ref":"#/definitions/WindowsPhoneDeviceProfileEntity"}}],"responses":{},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/profiles/platforms/android/update":{"post":{"tags":["ProfilesV2"],"summary":"Updates an ANDROID Device Profile.\r\nIf the CreateNewVersion key is empty or false, a new Profile version will not be created but AssignedSmartGroups, RootLocationGroup, AssignedGeofenceArea and AssignedSchedule will be saved and published.\r\nElse if it's true, new version of the profile will be created and published.","description":"v2","operationId":"ProfilesV2_UpdateAndroidDeviceProfile","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"deviceProfile","in":"body","description":"AndroidDeviceProfileEntity","required":true,"schema":{"$ref":"#/definitions/AndroidDeviceProfileV2Entity"}}],"responses":{},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/profiles/platforms/apple/update":{"post":{"tags":["ProfilesV2"],"summary":"Updates an Apple iOS device profile","description":"Updates an Apple device profile identified by its numeric ID.","operationId":"ProfilesV2_UpdateAppleDeviceProfile","consumes":["application/json"],"produces":["application/json;version=2"],"parameters":[{"name":"deviceProfile","in":"body","description":"Apple Device Profile V2 Entity","required":true,"schema":{"$ref":"#/definitions/AppleDeviceProfileV2Entity"}}],"responses":{"200":{"description":"OK"},"400":{"description":"1. {400 : Mandatory input parameter missing. Mandatory params : {id}}, 2. {400 : Profile not found or User does not have access to the Profile.}, 3. {400 : Resource's organization group :{id} not found or user does not have access to this organization group.}, 4. {400 : Profile name is invalid or User does not have access to update it.}, 5. {400 : SmartGroup with Id {id} not found or user does not have access to it.}, 6. {400 : TimeSchedule with Schedule Id {id} not found or user does have access to it.}, 7. {400 : GeoFencing Area with AreaId {id} not found or user does have access to it.}, 8. {400 : Education is not enabled on the given LocationGroup.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/profiles/platforms/appleosx/update":{"post":{"tags":["ProfilesV2"],"summary":"Updates an Apple macOS device Profile","description":"Updates an Apple macOS device profile identified by its numeric ID.","operationId":"ProfilesV2_UpdateAppleOsXDeviceProfile","consumes":["application/json"],"produces":["application/json;version=2"],"parameters":[{"name":"deviceProfile","in":"body","description":"Apple macOS Device Profile Entity","required":true,"schema":{"$ref":"#/definitions/AppleOsXDeviceProfileEntity"}}],"responses":{"200":{"description":"OK"},"400":{"description":"1. {400 : Mandatory input parameter missing. Mandatory params : {id}}, 2. {400 : Profile not found or User does not have access to the Profile.}, 3. {400 : Resource's organization group :{id} not found or user does not have access to this organization group.}, 4. {400 : Profile name is invalid or User does not have access to update it.}, 5. {400 : SmartGroup with Id {id} not found or user does not have access to it.}, 6. {400 : TimeSchedule with Schedule Id {id} not found or user does have access to it.}, 7. {400 : GeoFencing Area with AreaId {id} not found or user does have access to it.}, 8. {400 : Education is not enabled on the given LocationGroup.}, 9. {33 : Feature for rotation recovery key is currently turned off}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"403":{"description":"1. {5093 : Admin is not authorized to rotate the recovery key}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"422":{"description":"1. {422 : Value should be 0 or an integer between 15 and 90}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/profiles/platforms/qnx/update":{"post":{"tags":["ProfilesV2"],"summary":"Updates the custom attributes details of existing QNX Device Profile.","description":"Updates the details of existing QNX profiles. <br> The details majorly include the custom attribute name, value and application group.</br>","operationId":"ProfilesV2_UpdateQnxDeviceProfile","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"deviceProfile","in":"body","description":"Payload containing the details of the profile to be updated.","required":true,"schema":{"$ref":"#/definitions/QnxDeviceProfileEntity"}}],"responses":{"200":{"description":"OK"},"400":{"description":"1. {400: Profile name is invalid or User does not have access to update it.}2. {400: Resource's organization group :{0} not found or user does not have access to this organization group.}3. {400: Mandatory input parameter missing. Mandatory params : General.ProfileId.} 4. {400: Profile not found or User does not have access to the Profile.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/profiles/platforms/windowspc/update":{"post":{"tags":["ProfilesV2"],"summary":"Updates a Windows PC Device Profile.","description":"If the CreateNewVersion key is empty or false, a new Profile version will not be created but AssignedSmartGroups, RootLocationGroup, AssignedGeofenceArea and AssignedSchedule will be saved and published.\r\nElse if it's true, new version of the profile will be created and published.","operationId":"ProfilesV2_UpdateWindowsPcDeviceProfile","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"deviceProfile","in":"body","description":"Windowspc profile to be updated(Required)","required":true,"schema":{"$ref":"#/definitions/WindowsPcDeviceProfileEntity"}}],"responses":{"200":{"description":"OK"},"400":{"description":"BadRequest 1.{400: Profile not found or User does not have access to the Profile.} 2.{400: Mandatory input parameter missing. Mandatory params :General.ProfileId.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/profiles/platforms/winrt/update":{"put":{"tags":["ProfilesV2"],"summary":"Updates a Windows Desktop Device Profile.\r\nIf the CreateNewVersion key is empty or false, a new Profile version will not be created but AssignedSmartGroups, RootLocationGroup, AssignedGeofenceArea and AssignedSchedule will be saved and published.\r\nElse if it's true, new version of the profile will be created and published.","operationId":"ProfilesV2_UpdateWindowsDesktopDeviceProfile","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"deviceProfile","in":"body","description":"WindowsDesktopDeviceProfileEntity","required":true,"schema":{"$ref":"#/definitions/WindowsDesktopDeviceProfileEntity"}}],"responses":{"200":{"description":"OK"},"400":{"description":"1. {400 : Mandatory input parameter missing. Mandatory params : {General.ProfileId.}}, 2. {400 : Profile not found or User does not have access to the Profile.}, 3. {400 : Resource's organization group :{id} not found or user does not have access to this organization group.}, 4. {400 : Profile name is invalid or User does not have access to update it.}, 5. {400 : SmartGroup with Id {id} not found or user does not have access to it.}, 6. {400 : TimeSchedule with Schedule Id {id} not found or user does have access to it.}, 7. {400 : GeoFencing Area with AreaId {id} not found or user does have access to it.} ","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/profiles/platforms/WindowsPhone8/update":{"post":{"tags":["ProfilesV2"],"summary":"Updates a Windows Phone Device Profile.\r\nIf the CreateNewVersion key is empty or false, a new Profile version will not be created but AssignedSmartGroups, RootLocationGroup, AssignedGeofenceArea and AssignedSchedule will be saved and published.\r\nElse if it's true, new version of the profile will be created and published.","operationId":"ProfilesV2_UpdateWindowsPhoneDeviceProfile","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"deviceProfile","in":"body","description":"WindowsPhoneDeviceProfileEntity","required":true,"schema":{"$ref":"#/definitions/WindowsPhoneDeviceProfileEntity"}}],"responses":{},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/profiles/search":{"get":{"tags":["ProfilesV2"],"summary":"Gets List of profiles based on the search criteria","description":"The search result will contain basic profile's basic informations","operationId":"ProfilesV2_Search","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"organizationgroupid","in":"query","description":"Organization Group ID.","required":false,"type":"integer","default":""},{"name":"platform","in":"query","description":"Platform name.","required":false,"type":"string","default":""},{"name":"profiletype","in":"query","description":"Profile Type","required":false,"type":"string","default":""},{"name":"status","in":"query","description":"Profile status (Active or Inactive)","required":false,"type":"string","default":""},{"name":"searchtext","in":"query","description":"search text","required":false,"type":"string","default":""},{"name":"orderby","in":"query","description":"Orderby parameter name.","required":false,"type":"string","default":""},{"name":"sortorder","in":"query","description":"Sorting order. Values ASC or DESC. Defaults to ASC.","required":false,"type":"string","default":""},{"name":"page","in":"query","description":"Page number.","required":false,"type":"integer","default":""},{"name":"pagesize","in":"query","description":"Maximum results which should be returned in each page.","required":false,"type":"integer","default":""},{"name":"includeandroidforwork","in":"query","description":"It will include androidforwork profiles","required":false,"type":"boolean","default":""}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ProfileSearchResultV2Entity"}},"204":{"description":"No Content"},"400":{"description":"BadRequest 1.{5005: Profile Type is Invalid.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/profiles/resources/{resourceType}/resourcekeys":{"get":{"tags":["ProfilesV2"],"summary":"Gets Resource keys and advanced settings for the specified Resource type","description":"Gets Resource keys and advanced settings for the specified Resource type","operationId":"ProfilesV2_GetProfileResourceKeys","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"resourceType","in":"path","description":"ResourceType (Required)","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request 1.{5005: Resource type is not valid.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/profiles/resources/{id}":{"get":{"tags":["ProfilesV2"],"summary":"Gets a Resource for a given Resource ID.","description":"Gets a Resource for a given Resource ID.","operationId":"ProfilesV2_GetProfileResourceDetails","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"id","in":"path","description":"Resource ID (Required)","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ProfileResourceModel"}},"400":{"description":"Bad Request 1.{5029: Profile Resource Id is not valid.} 2.{400- Profile not found or User does not have access to the Profile.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]},"delete":{"tags":["ProfilesV2"],"summary":"Deletes the Resource identified by the Resource ID","description":"Deletes the Resource identified by the Resource ID","operationId":"ProfilesV2_DeleteProfileResource","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"id","in":"path","description":"Resource ID (Required)","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request 1.{400: Mandatory input parameter missing. Mandatory params :General.ProfileId.} 2.{400- Profile not found or User does not have access to the Profile.} 3.{400- Profiles can't be deleted via Resource API.} 4.{400- Resource's organization group :{0} not found or user does not have access to this organization group.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/profiles/resources/{resourceType}":{"put":{"tags":["ProfilesV2"],"summary":"Updates the given Resource entity","description":"Updates the passed in Resource Entity(VPN/Wifi/EAS entity)","operationId":"ProfilesV2_UpdateProfileResource","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"resourceType","in":"path","required":true,"type":"string"},{"name":"resource.name","in":"query","description":"Resource name","required":false,"type":"string"},{"name":"resource.description","in":"query","description":"Resource description","required":false,"type":"string"},{"name":"resource.id","in":"query","description":"Resource id","required":false,"type":"integer","format":"int32"},{"name":"resource.assignment.assignmentType","in":"query","description":"Assignment Type for Resource.","required":false,"type":"string"},{"name":"resource.assignment.managedLocationGroupID","in":"query","description":"Root Organization Group Id.","required":false,"type":"integer","format":"int32"},{"name":"resource.assignment.assignedSmartGroups","in":"query","description":"Gets or sets the SmartGroups need to be assigned.","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"name":"resource.assignment.excludedSmartGroups","in":"query","description":"Gets or sets the SmartGroups need to be excluded.","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request 1.{5029: Profile Resource Id is not valid.} 2.{400- Resource's organization group :{0} not found or user does not have access to this organization group.} 3.{5029- SmartGroup with Id {0} not found or user does not have access to it.} 4.{5029: Unable to process the Profile Resource.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]},"post":{"tags":["ProfilesV2"],"summary":"Creates a Resource for the requested type","description":"Creates a Resource for the passed in Resource Type(VPN/Wifi/EAS)","operationId":"ProfilesV2_CreateProfileResource","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"resourceType","in":"path","required":true,"type":"string"},{"name":"resource.name","in":"query","description":"Resource name","required":false,"type":"string"},{"name":"resource.description","in":"query","description":"Resource description","required":false,"type":"string"},{"name":"resource.id","in":"query","description":"Resource id","required":false,"type":"integer","format":"int32"},{"name":"resource.assignment.assignmentType","in":"query","description":"Assignment Type for Resource.","required":false,"type":"string"},{"name":"resource.assignment.managedLocationGroupID","in":"query","description":"Root Organization Group Id.","required":false,"type":"integer","format":"int32"},{"name":"resource.assignment.assignedSmartGroups","in":"query","description":"Gets or sets the SmartGroups need to be assigned.","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"name":"resource.assignment.excludedSmartGroups","in":"query","description":"Gets or sets the SmartGroups need to be excluded.","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ProfileResourceModel"}},"400":{"description":"Bad Request 1.{5029: Unable to process the Profile Resource.} 2.{400- Resource's organization group :{0} not found or user does not have access to this organization group.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/profiles/resources/editassignment/{id}":{"put":{"tags":["ProfilesV2"],"summary":"Edit the Smart Group assignments for a given Resource","description":"Edit the Smart Group assignments for a given Resource","operationId":"ProfilesV2_EditAssignment","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"resourceAssignmentModel","in":"body","description":"Resource Assignment model (Required)","required":true,"schema":{"$ref":"#/definitions/ResourceAssignmentModel"}},{"name":"id","in":"path","description":"Resource ID (Required)","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request 1.{5016: Unable to process the Profile Resource.} 2.{400- Resource's organization group :{0} not found or user does not have access to this organization group.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/profiles/express/resources/{resourceType}/resourcekeys":{"get":{"tags":["ProfilesV2"],"summary":"Gets Resource Keys for the specified Resource Type","description":"Gets Resource Keys for the specified Resource Type (EXCHANGEACTIVESYNC, WIFI, VPN, etc)","operationId":"ProfilesV2_GetResourceKeys","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"resourceType","in":"path","description":"Resource Type (EXCHANGEACTIVESYNC, WIFI, VPN, etc)","required":true,"type":"string"}],"responses":{"200":{"description":"OK"}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/profiles/express/resources/{resourceType}":{"put":{"tags":["ProfilesV2"],"summary":"Updates requested Resource","operationId":"ProfilesV2_UpdateResource","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"resourceType","in":"path","required":true,"type":"string"},{"name":"resource.general.profileResourceId","in":"query","description":"ProfileId","required":false,"type":"integer","format":"int32"},{"name":"resource.general.name","in":"query","description":"Name","required":false,"type":"string"},{"name":"resource.general.description","in":"query","description":"Description","required":false,"type":"string"},{"name":"resource.general.managedLocationGroupID","in":"query","description":"The ID of the RootLocationGroup","required":false,"type":"integer","format":"int32"}],"responses":{"201":{"description":"Created"},"400":{"description":"Bad Request 1.{400: Profile not found or User does not have access to the Profile.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true},"post":{"tags":["ProfilesV2"],"summary":"Creates Resource of requested type","description":"Creates Resources of requested type (EXCHANGEACTIVESYNC, WIFI, VPN, etc)","operationId":"ProfilesV2_CreateResource","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"resourceType","in":"path","required":true,"type":"string"},{"name":"resource.general.profileResourceId","in":"query","description":"ProfileId","required":false,"type":"integer","format":"int32"},{"name":"resource.general.name","in":"query","description":"Name","required":false,"type":"string"},{"name":"resource.general.description","in":"query","description":"Description","required":false,"type":"string"},{"name":"resource.general.managedLocationGroupID","in":"query","description":"The ID of the RootLocationGroup","required":false,"type":"integer","format":"int32"}],"responses":{"201":{"description":"Created"}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/profiles/express/resources/publishoptions":{"get":{"tags":["ProfilesV2"],"summary":"Get the options required to Publish a Resource","description":"Get the options required to Publish a Resource for Platforms Android, Apple, AppleOsX, WindowsDesktop and WindowsPhone.","operationId":"ProfilesV2_GetResourcePublishOptions","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[],"responses":{"200":{"description":"OK"}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/profiles/express/resources/publish":{"post":{"tags":["ProfilesV2"],"summary":"Publish a Resource","description":"Publish Resource with the provided Resource Model for the Devices assigned to the Resource.","operationId":"ProfilesV2_PublishResource","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"publishResourceModel","in":"body","description":"PublishResourceModel","required":true,"schema":{"$ref":"#/definitions/PublishProfileResourceEntity"}}],"responses":{"200":{"description":"OK"}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/profiles/platforms/appletv":{"post":{"tags":["ProfilesV2"],"summary":"New - Create a new profile for apple tv.","description":"Create a new profile for apple tv with configuration of SingleAppMode or ConferenceRoomDisplay payload.","operationId":"ProfilesV2_CreateAppleTvProfiles","consumes":["application/json"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"appleTvDeviceProfileV2Entity","in":"body","description":"Apple tv device profile to be created.(Required)","required":true,"schema":{"$ref":"#/definitions/AppleTvDeviceProfileV2Entity"}}],"responses":{"201":{"description":"Created","headers":{"Location":{"description":"api/mdm/profiles/{profileId}","type":"integer"}}},"422":{"description":"{1012 : Unprocessable profile entity please see the error details.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/profiles/platforms/appletv/{profileId}":{"put":{"tags":["ProfilesV2"],"summary":"New - Update an existing profile for apple tv","description":"Update an existing profile for apple tv with new configuration of payloads","operationId":"ProfilesV2_UpdateAppleTvProfiles","consumes":["application/json"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"AppleTvDeviceProfileV2Entity","in":"body","description":"Apple tv device profile to be updated(Required)","required":true,"schema":{"$ref":"#/definitions/AppleTvDeviceProfileV2Entity"}},{"name":"profileId","in":"path","description":"Profile id","required":true,"type":"integer","format":"int32"}],"responses":{"204":{"description":"No Content"},"422":{"description":"{1012 : Unprocessable profile entity please see the error details.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/profiles/platforms/epson":{"post":{"tags":["ProfilesV2"],"summary":"New - Create a new profile for Epson printer.","description":"Create a new profile for epson printer with configuration SCEP","operationId":"ProfilesV2_CreateEpsonPrinterProfiles","consumes":["application/json"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"epsonPrinterProfileModel","in":"body","description":"Epson printer device profile to be created.(Required)","required":true,"schema":{"$ref":"#/definitions/EpsonPrinterProfileV2Model"}}],"responses":{"201":{"description":"Created","headers":{"Location":{"description":"api/mdm/profiles/{profileId}","type":"string"}}},"422":{"description":"{1012 : Unprocessable profile entity please see the error details.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/profiles/platforms/epson/{profileId}":{"put":{"tags":["ProfilesV2"],"summary":"New - Update the existing printer profile for Epson.","description":"Update the existing Epson printer profile","operationId":"ProfilesV2_UpdateEpsonPrinterProfiles","consumes":["application/json"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"epsonPrinterProfileModel","in":"body","description":"Epson device profile to be updated.(Required)","required":true,"schema":{"$ref":"#/definitions/EpsonPrinterProfileV2Model"}},{"name":"profileId","in":"path","description":"Profile id","required":true,"type":"integer","format":"int32"}],"responses":{"204":{"description":"No Content"},"422":{"description":"{1012 : Unprocessable profile entity please see the error details.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/smartgroups/{id}":{"get":{"tags":["SmartGroupsV2"],"summary":"New - Retrieves the Smart Group Details.","description":"v2","operationId":"SmartGroupsV2_LoadSmartGroup","consumes":["application/json"],"produces":["application/json;version=2"],"parameters":[{"name":"id","in":"path","description":"The SmartGroup Identifier.","required":true,"type":"integer","format":"int32"}],"responses":{},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true},"put":{"tags":["SmartGroupsV2"],"summary":"New - Updates the Users and User Groups of the specified Smart Group.","description":"v2","operationId":"SmartGroupsV2_UpdateSmartGroup","consumes":["application/json"],"produces":["application/json;version=2"],"parameters":[{"name":"id","in":"path","description":"The SmartGroup Id.","required":true,"type":"integer","format":"int32"},{"name":"smartGroup","in":"body","description":"The SmartGroup details to be updated.","required":true,"schema":{"$ref":"#/definitions/SmartGroupV2Model"}}],"responses":{},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/smartgroups":{"post":{"tags":["SmartGroupsV2"],"summary":"Create a SmartGroup with details passed.","operationId":"SmartGroupsV2_CreateSmartGroup","consumes":["application/json"],"produces":["application/json;version=2"],"parameters":[{"name":"smartGroup","in":"body","description":"Smart Group details.","required":true,"schema":{"$ref":"#/definitions/SmartGroupV2Model"}},{"name":"type","in":"query","description":"Type is {harmony/airwatch}.","required":false,"type":"string","default":""}],"responses":{},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/smartgroups/{uuid}":{"patch":{"tags":["SmartGroupsV2"],"summary":"New - Partially updates Smart Group criteria.","description":" Partially updates Smart Group criteria by adding or removing values to rules like Organization groups, user groups, etc.                         \r\n------------Example--------------  \r\n[\r\n  {op: \"add\", path: \"/smartGroupsOperationsV2/organizationGroups\", value: \"069DC0E2-D4E2-E611-8114-005056AF67FF, 069DC0E2-D4E2-E611-8114-005056AF67FF\"},\r\n  {op: \"remove\", path: \"/smartGroupsOperationsV2/users\", value: \"069DC0E2-D4E2-E611-8114-005056AF67FF, 069DC0E2-D4E2-E611-8114-005056AF67FF\"},\r\n  {op: \"add\", path: \"/smartGroupsOperationsV2/devices\", value: \"069DC0E2-D4E2-E611-8114-005056AF67FF\"},\r\n  {op: \"add\", path: \"/smartGroupsOperationsV2/tags\", value: \"123, 345\"},\r\n  {op: \"remove\", path: \"/smartGroupsOperationsV2/platforms\", value: \"WindowsMobile, Apple, BlackBerry, Android, Athena, Motorola, WindowsPhone, WindowsPc, AppleOsX, WindowsPhone8, WinRT, BlackBerry10, AppleTv, Qnx, ChromeBook, Tizen, ChromeOS\"}     \r\n]     \r\n-------------Platforms--------------  \r\n\"WindowsMobile, Apple, BlackBerry, Android, Athena, Motorola, WindowsPhone, WindowsPc, AppleOsX, WindowsPhone8, WinRT, BlackBerry10, AppleTv, Qnx, ChromeBook, Tizen, ChromeOS\"    \r\n-----------Ownerships-------------    \r\n\r\n \"CorporateDedicated, CorporateShared, EmployeeOwned, AllOwnerships\"","operationId":"SmartGroupsV2_PartialUpdateSmartGroup","consumes":["application/json"],"produces":["application/json;version=2"],"parameters":[{"name":"uuid","in":"path","description":"Smart Group unique identifier(Required)","required":true,"type":"string","format":"uuid"},{"name":"smartGroupsOperations","in":"body","description":"Model containing operation type, resource path and value. Supports add and remove operations.(Required)","required":true,"schema":{"$ref":"#/definitions/SmartGroupsOperationsV2ModelPatch","externalDocs":{"description":"JSON Patch documentation","url":"https://tools.ietf.org/html/rfc6902"}}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SmartGroupPatchResponseV2Model"}},"400":{"description":"1. {6: Invalid Rules for Smart group of type UserDevice} ","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"404":{"description":"1. {5032: Smart Group is not found} ","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"422":{"description":"1012 - Unprocessable Entity 1. {UserGroup: The field cannot be null or empty} 2. {UserGroup: Invalid Uuid format} 3. {User: The field cannot be null or empty} 4. {User: Invalid Uuid format} 5. {OrganizationGroup: The field cannot be null or empty} 6. {OrganizationGroup: Invalid Uuid format} 7. {Platform: The field cannot be null or empty} 8. {Platform: Invalid Platform} 9. {Tag: The field cannot be null or empty} 10. {Tag: Tag Id should be an integer} 11. {Ownership: The field cannot be null or empty}  12. {Ownership: Invalid Ownership} 13. {Operations: Supported Operations are Add & Remove} ","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}}},"definitions":{"RequestQuery":{"description":"Implementation for RequestQuery","type":"object","properties":{}},"IActionResult":{"description":"interface for HttpActionResult","type":"object","properties":{"RequestQuery":{"$ref":"#/definitions/IRequestQuery","description":"Gets or sets the RequestQuery","xml":{"name":"RequestQuery"}},"RequestMessage":{"description":"Gets or sets the RequestMessage","type":"object","xml":{"name":"RequestMessage"}},"HttpStatusCode":{"format":"int32","description":"Gets or sets HttpStatusCode","enum":[100,101,200,201,202,203,204,205,206,300,300,301,301,302,302,303,303,304,305,306,307,307,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,426,500,501,502,503,504,505],"type":"integer","xml":{"name":"HttpStatusCode"}},"Model":{"description":"Gets or sets Model","type":"object","xml":{"name":"Model"}},"Stream":{"$ref":"#/definitions/Stream","description":"Gets or sets Stream","xml":{"name":"Stream"}},"PartialContentRange":{"$ref":"#/definitions/RangeHeaderValue","description":"Gets or sets partial content range","xml":{"name":"PartialContentRange"}},"ByteArray":{"format":"byte","description":"Gets or sets ByteArray","type":"string","xml":{"name":"ByteArray"}},"FileName":{"description":"Gets or sets FileName {Will be set in the content-disposition header}","type":"string","xml":{"name":"FileName"}},"MediaType":{"description":"Gets or sets MediaType","type":"string","xml":{"name":"MediaType"}},"OnStreamAvailable":{"description":"Gets or sets OnStreamAvailable","type":"object","xml":{"name":"OnStreamAvailable"}},"ETagHeaderValue":{"$ref":"#/definitions/EntityTagHeaderValue","description":"Gets or sets ETagHeaderValue","xml":{"name":"ETagHeaderValue"}},"AcceptsByteRanges":{"description":"Gets or sets a value which indicates whether a range byte request for a stream is accepted or not","type":"boolean","xml":{"name":"AcceptsByteRanges"}},"SendETagHeaderValue":{"description":"Gets or sets the option to include ETagHeaderValue","type":"boolean","xml":{"name":"SendETagHeaderValue"}},"LocationHeaderValue":{"description":"Gets or sets LocationHeaderValue","type":"string","xml":{"name":"LocationHeaderValue"}},"CacheControlValue":{"$ref":"#/definitions/CacheControlHeaderValue","description":"Gets or sets CacheControlValue","xml":{"name":"CacheControlValue"}},"ContentLength":{"format":"int64","description":"Gets or sets ContentLength","type":"integer","xml":{"name":"ContentLength"}},"ResponseDateTimeFormat":{"description":"DateTime format for response","type":"string","xml":{"name":"ResponseDateTimeFormat"}}}},"IRequestQuery":{"description":"Interface for IAwRequestQuery\r\nThis will hold all the required data for a request. Will be filled from ModelBinder","type":"object","properties":{"QueryParams":{"description":"Gets or sets Query Parameters. For e.g. any query string parameters will be extracted to key,value pair and stored here.","type":"object","additionalProperties":{"type":"string"},"xml":{"name":"QueryParams"}},"TenantContext":{"$ref":"#/definitions/ITenantContext","description":"Gets or sets IAwTenantContext. Will hold the tenant details, which will be filled as part of the tenant validation handler","xml":{"name":"TenantContext"}},"RequestMethod":{"$ref":"#/definitions/HttpMethod","description":"Gets or sets RequestMethod. Will be used to write custom rules","xml":{"name":"RequestMethod"}},"ActionName":{"description":"Gets or sets ActionName","type":"string","xml":{"name":"ActionName"}},"AllowedUriQueryChars":{"description":"Gets or sets allowed Characters in Query String.","type":"array","items":{"type":"string"},"xml":{"name":"AllowedUriQueryChars"}}}},"Stream":{"type":"object","properties":{"__identity":{"type":"object"}}},"RangeHeaderValue":{"type":"object","properties":{"Unit":{"type":"string","xml":{"name":"Unit"}},"Ranges":{"type":"array","items":{"$ref":"#/definitions/RangeItemHeaderValue"},"readOnly":true,"xml":{"name":"Ranges"}}}},"EntityTagHeaderValue":{"type":"object","properties":{"Tag":{"type":"string","readOnly":true,"xml":{"name":"Tag"}},"IsWeak":{"type":"boolean","readOnly":true,"xml":{"name":"IsWeak"}}}},"CacheControlHeaderValue":{"type":"object","properties":{"NoCache":{"type":"boolean","xml":{"name":"NoCache"}},"NoCacheHeaders":{"type":"array","items":{"type":"string"},"readOnly":true,"xml":{"name":"NoCacheHeaders"}},"NoStore":{"type":"boolean","xml":{"name":"NoStore"}},"MaxAge":{"type":"string","xml":{"name":"MaxAge"}},"SharedMaxAge":{"type":"string","xml":{"name":"SharedMaxAge"}},"MaxStale":{"type":"boolean","xml":{"name":"MaxStale"}},"MaxStaleLimit":{"type":"string","xml":{"name":"MaxStaleLimit"}},"MinFresh":{"type":"string","xml":{"name":"MinFresh"}},"NoTransform":{"type":"boolean","xml":{"name":"NoTransform"}},"OnlyIfCached":{"type":"boolean","xml":{"name":"OnlyIfCached"}},"Public":{"type":"boolean","xml":{"name":"Public"}},"Private":{"type":"boolean","xml":{"name":"Private"}},"PrivateHeaders":{"type":"array","items":{"type":"string"},"readOnly":true,"xml":{"name":"PrivateHeaders"}},"MustRevalidate":{"type":"boolean","xml":{"name":"MustRevalidate"}},"ProxyRevalidate":{"type":"boolean","xml":{"name":"ProxyRevalidate"}},"Extensions":{"type":"array","items":{"$ref":"#/definitions/NameValueHeaderValue"},"readOnly":true,"xml":{"name":"Extensions"}}}},"ITenantContext":{"description":"Contract for TenantContext. Will be exposed from RequestQuery and will be injected to every controller actions and Business method","type":"object","properties":{"TenantCode":{"description":"Gets or sets TenantCode. Uniquely identify the tenant for the request","type":"string","xml":{"name":"TenantCode"}},"OrganizationgroupId":{"$ref":"#/definitions/EntityId","description":"Gets or sets Organization Group ID","xml":{"name":"OrganizationgroupId"}}}},"HttpMethod":{"type":"object","properties":{"Method":{"type":"string","readOnly":true,"xml":{"name":"Method"}}}},"RangeItemHeaderValue":{"type":"object","properties":{"From":{"format":"int64","type":"integer","readOnly":true,"xml":{"name":"From"}},"To":{"format":"int64","type":"integer","readOnly":true,"xml":{"name":"To"}}}},"NameValueHeaderValue":{"type":"object","properties":{"Name":{"type":"string","readOnly":true,"xml":{"name":"Name"}},"Value":{"type":"string","xml":{"name":"Value"}}}},"EntityId":{"type":"object","properties":{"Value":{"format":"int64","type":"integer","readOnly":true,"xml":{"name":"Value"}}}},"DeviceSearchResultExtended":{"description":"Holds the details of response for device search","type":"object","properties":{"Devices":{"description":"Gets or sets List of device details resulted in the search operation","type":"array","items":{"$ref":"#/definitions/DeviceExtended"},"xml":{"name":"Devices"}},"Page":{"format":"int32","type":"integer","xml":{"name":"Page"}},"PageSize":{"format":"int32","type":"integer","xml":{"name":"PageSize"}},"Total":{"format":"int32","type":"integer","xml":{"name":"Total"}}},"xml":{"name":"DeviceSearchResult","namespace":"http://www.air-watch.com/servicemodel/resources"},"example":{"Devices":[{"EasIds":{"EasId":["Text value"]},"Udid":"827BE1C5AEC05C378C61C44103E9D3FCB2EC354D","SerialNumber":"R51G844T90R","MacAddress":"485A3F880798","Imei":"356766060039613","EasId":"6Q93UFOQ7H0K39JPMFPTEMJQ3K","AssetNumber":"827BE1C5AEC05C378C61C44103E9D3FCB2EC354D","DeviceFriendlyName":"users iPhone iOS 10.3.2 ","LocationGroupId":{"Id":{"Value":1},"Uuid":"8a09f9ee-607f-47ee-8a14-4bf89ae4a141","Name":"Text value"},"LocationGroupName":"locationgroup1","UserId":{},"UserName":"user1","UserEmailAddress":"user1@vmware.com","Ownership":"C","PlatformId":{},"Platform":"Apple","ModelId":{},"Model":"iPhone","OperatingSystem":"10.3.2","PhoneNumber":"+14045550100","LastSeen":"2018-04-19T19:34:31.4188828-04:00","EnrollmentStatus":"Enrolled","ComplianceStatus":"Compliant","CompromisedStatus":true,"LastEnrolledOn":"2018-04-19T19:34:31.4188828-04:00","LastComplianceCheckOn":"2018-04-19T19:34:31.4188828-04:00","LastCompromisedCheckOn":"2018-04-19T19:34:31.4188828-04:00","ComplianceSummary":{"DeviceCompliance":[{"CompliantStatus":true,"PolicyName":"application list compliance policy","PolicyDetail":"compliance policy for device compromised status including application list contains rule","LastComplianceCheck":"2018-04-19T19:34:31.4188828-04:00","NextComplianceCheck":"2018-04-19T19:34:31.4188828-04:00","ActionTaken":[{"ActionType":0}],"Id":{"Value":0},"Uuid":"06dda611-5511-4150-9f11-75faf055e7b6"}]},"IsSupervised":true,"DeviceMCC":{"SIMMCC":"404","CurrentMCC":"310"},"IsRemoteManagementEnabled":"abcd","DataEncryptionYN":"Y","AcLineStatus":1,"VirtualMemory":2,"OEMInfo":"abcd","DeviceCapacity":1.0,"AvailableDeviceCapacity":1.0,"LastSystemSampleTime":"2018-04-19T19:34:31.4188828-04:00","IsDeviceDNDEnabled":true,"IsDeviceLocatorEnabled":true,"IsCloudBackupEnabled":true,"IsActivationLockEnabled":true,"IsNetworkTethered":true,"BatteryLevel":"abcd","IsRoaming":true,"LastNetworkLANSampleTime":"2018-04-19T19:34:31.4188828-04:00","LastBluetoothSampleTime":"2018-04-19T19:34:31.4188828-04:00","SystemIntegrityProtectionEnabled":true,"ProcessorArchitecture":5,"UserApprovedEnrollment":true,"EnrolledViaDEP":true,"Id":{"Value":0},"Uuid":"2ce71b84-ad1d-4799-ae0a-ece3260924c1"}],"Page":1,"PageSize":2,"Total":3}},"EasIds":{"description":"Wrapper to contain EAS ids of the device","type":"object","properties":{"EasId":{"description":"Unique identifiers for mail client","type":"array","items":{"type":"string"},"xml":{"name":"EasId"}}}},"EntityReference":{"type":"object","properties":{"Id":{"$ref":"#/definitions/EntityId","xml":{"name":"Id"}},"Uuid":{"format":"uuid","type":"string","xml":{"name":"Uuid"}},"Name":{"type":"string","xml":{"name":"Name"}}},"xml":{"name":"EntityReference","namespace":"http://www.air-watch.com/servicemodel/resources"}},"ComplianceSummary":{"description":"This entity represents ComplianceSummary.","type":"object","properties":{"DeviceCompliance":{"description":"Device compliance details.","type":"array","items":{"$ref":"#/definitions/DeviceCompliance"},"xml":{"name":"DeviceCompliance"}}},"xml":{"name":"ComplianceSummary","namespace":"http://www.air-watch.com/servicemodel/resources"}},"DeviceMcc":{"description":"Device Mobile Country Code","type":"object","properties":{"SIMMCC":{"description":"SIM Mobile Country Code","type":"string","xml":{"name":"SIMMCC"}},"CurrentMCC":{"description":"Device Current Mobile Country Code","type":"string","xml":{"name":"CurrentMCC"}}},"xml":{"name":"DeviceMCC","namespace":"http://www.air-watch.com/servicemodel/resources"}},"EntityId ":{"type":"object","properties":{"Value":{"format":"int64","type":"integer","readOnly":true,"xml":{"name":"Value"}}},"xml":{"name":"Id"}},"DeviceCompliance":{"description":"This represent the Device Certificate details","type":"object","properties":{"CompliantStatus":{"description":"Compliance status of the device.","type":"boolean","xml":{"name":"CompliantStatus"}},"PolicyName":{"description":"Policy name","type":"string","xml":{"name":"PolicyName"}},"PolicyDetail":{"description":"Policy details","type":"string","xml":{"name":"PolicyDetail"}},"LastComplianceCheck":{"format":"date-time","description":"Last compliance check","type":"string","xml":{"name":"LastComplianceCheck"}},"NextComplianceCheck":{"format":"date-time","description":"Next compliance check","type":"string","xml":{"name":"NextComplianceCheck"}},"ActionTaken":{"description":"Compliance action.","type":"array","items":{"$ref":"#/definitions/ComplianceActionTaken"},"xml":{"name":"ActionTaken"}},"Id":{"$ref":"#/definitions/EntityId ","xml":{"name":"Id"}},"Uuid":{"format":"uuid","type":"string","xml":{"name":"Uuid"}}}},"ComplianceActionTaken":{"description":"This represent the Device Certificate details","type":"object","properties":{"ActionType":{"format":"int32","description":"Compliance action type","enum":[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15],"type":"integer","xml":{"name":"ActionType"}}}},"EasIds ":{"description":"Wrapper to contain EAS ids of the device","type":"object","properties":{"EasId":{"description":"Unique identifiers for mail client","type":"array","items":{"type":"string"},"xml":{"name":"EasId"}}},"xml":{"name":"EasIds"}},"EntityReference ":{"type":"object","properties":{"Id":{"$ref":"#/definitions/EntityId","xml":{"name":"Id"}},"Uuid":{"format":"uuid","type":"string","xml":{"name":"Uuid"}},"Name":{"type":"string","xml":{"name":"Name"}}},"xml":{"name":"LocationGroupId"}},"EntityReference  ":{"type":"object","properties":{"Id":{"$ref":"#/definitions/EntityId","xml":{"name":"Id"}},"Uuid":{"format":"uuid","type":"string","xml":{"name":"Uuid"}},"Name":{"type":"string","xml":{"name":"Name"}}},"xml":{"name":"UserId"}},"EntityReference   ":{"type":"object","properties":{"Id":{"$ref":"#/definitions/EntityId","xml":{"name":"Id"}},"Uuid":{"format":"uuid","type":"string","xml":{"name":"Uuid"}},"Name":{"type":"string","xml":{"name":"Name"}}},"xml":{"name":"PlatformId"}},"EntityReference    ":{"type":"object","properties":{"Id":{"$ref":"#/definitions/EntityId","xml":{"name":"Id"}},"Uuid":{"format":"uuid","type":"string","xml":{"name":"Uuid"}},"Name":{"type":"string","xml":{"name":"Name"}}},"xml":{"name":"ModelId"}},"ComplianceSummary ":{"description":"This entity represents ComplianceSummary.","type":"object","properties":{"DeviceCompliance":{"description":"Device compliance details.","type":"array","items":{"$ref":"#/definitions/DeviceCompliance"},"xml":{"name":"DeviceCompliance"}}},"xml":{"name":"ComplianceSummary"}},"DeviceMcc ":{"description":"Device Mobile Country Code","type":"object","properties":{"SIMMCC":{"description":"SIM Mobile Country Code","type":"string","xml":{"name":"SIMMCC"}},"CurrentMCC":{"description":"Device Current Mobile Country Code","type":"string","xml":{"name":"CurrentMCC"}}},"xml":{"name":"DeviceMCC"}},"EntityId  ":{"type":"object","properties":{"Value":{"format":"int64","type":"integer","readOnly":true,"xml":{"name":"Value"}}},"xml":{"name":"Id"}},"DeviceExtended":{"description":"This entity represents core device attributes.","type":"object","properties":{"EasIds":{"$ref":"#/definitions/EasIds ","description":"Unique identifiers for devices mail client","xml":{"name":"EasIds"}},"Udid":{"description":"The device's unique identifier.","type":"string","xml":{"name":"Udid"}},"SerialNumber":{"description":"The serial number reported by the device.","type":"string","xml":{"name":"SerialNumber"}},"MacAddress":{"description":"Macaddress of the device","type":"string","xml":{"name":"MacAddress"}},"Imei":{"description":"The device IMEI hardware identifier.","type":"string","xml":{"name":"Imei"}},"EasId":{"description":"The device's Eas Id.","type":"string","xml":{"name":"EasId"}},"AssetNumber":{"description":"The device asset number.","type":"string","xml":{"name":"AssetNumber"}},"DeviceFriendlyName":{"description":"The friendly name.","type":"string","xml":{"name":"DeviceFriendlyName"}},"LocationGroupId":{"$ref":"#/definitions/EntityReference ","description":"Link to the location group the device belongs to.","xml":{"name":"LocationGroupId"}},"LocationGroupName":{"description":"The location group name.","type":"string","xml":{"name":"LocationGroupName"}},"UserId":{"$ref":"#/definitions/EntityReference  ","description":"The user the device is assigned to.","xml":{"name":"UserId"}},"UserName":{"description":"The user name the device is assigned to.","type":"string","xml":{"name":"UserName"}},"UserEmailAddress":{"description":"Email Address of the User","type":"string","xml":{"name":"UserEmailAddress"}},"Ownership":{"description":"The device ownership status. I.e. Corporate, Employee, Shared.","type":"string","xml":{"name":"Ownership"}},"PlatformId":{"$ref":"#/definitions/EntityReference   ","description":"The device platform id.","xml":{"name":"PlatformId"}},"Platform":{"description":"The platform. E.g.: iOS, BlackBerry, Android, etc..","type":"string","xml":{"name":"Platform"}},"ModelId":{"$ref":"#/definitions/EntityReference    ","description":"The device model id.","xml":{"name":"ModelId"}},"Model":{"description":"The device model.","type":"string","xml":{"name":"Model"}},"OperatingSystem":{"description":"The operating system including version.","type":"string","xml":{"name":"OperatingSystem"}},"PhoneNumber":{"description":"Phone number, if available.","type":"string","xml":{"name":"PhoneNumber"}},"LastSeen":{"format":"date-time","description":"The time the device last reported any status with AirWatch.","type":"string","xml":{"name":"LastSeen"}},"EnrollmentStatus":{"description":"Gives Enrollment status of the device","type":"string","xml":{"name":"EnrollmentStatus"}},"ComplianceStatus":{"description":"This gives Compliance status of the device.","type":"string","xml":{"name":"ComplianceStatus"}},"CompromisedStatus":{"description":"This gives Compromised status of the device. Value is true if device is compromised otherwise false","type":"boolean","xml":{"name":"CompromisedStatus"}},"LastEnrolledOn":{"format":"date-time","description":"This gives the Date-Time of last enrollment date","type":"string","xml":{"name":"LastEnrolledOn"}},"LastComplianceCheckOn":{"format":"date-time","description":"This gives the Date-time of when the last compliance check was performed","type":"string","xml":{"name":"LastComplianceCheckOn"}},"LastCompromisedCheckOn":{"format":"date-time","description":"It gives the Date-time of when the last Compromised data was received.","type":"string","xml":{"name":"LastCompromisedCheckOn"}},"ComplianceSummary":{"$ref":"#/definitions/ComplianceSummary ","description":"Compliance details of the device","xml":{"name":"ComplianceSummary"}},"IsSupervised":{"description":"This gives information about whether the device is supervised or not.","type":"boolean","xml":{"name":"IsSupervised"}},"DeviceMCC":{"$ref":"#/definitions/DeviceMcc ","description":"Information about Device Mobile Country Code i.e.,SIM and Current Mobile Country Code.","xml":{"name":"DeviceMcc"}},"IsRemoteManagementEnabled":{"description":"Flag which indicates whether Remote Management[MotoRC] is enabled in Device or not","type":"string","xml":{"name":"IsRemoteManagementEnabled"}},"DataEncryptionYN":{"description":"Whether there is data protection enabled or not","type":"string","xml":{"name":"DataEncryptionYN"}},"AcLineStatus":{"format":"int32","description":"Power Status\r\n<para>0 indicates Battery </para><para>1 indicates AC Power</para>","type":"integer","xml":{"name":"AcLineStatus"}},"VirtualMemory":{"format":"int64","description":"Virtual Memory","type":"integer","xml":{"name":"VirtualMemory"}},"OEMInfo":{"description":"OEM Info of the device.","type":"string","xml":{"name":"OEMInfo"}},"DeviceCapacity":{"format":"double","description":"Total Device Capacity of the device.","type":"number","xml":{"name":"DeviceCapacity"}},"AvailableDeviceCapacity":{"format":"double","description":"Available Device Capacity of the device.","type":"number","xml":{"name":"AvailableDeviceCapacity"}},"LastSystemSampleTime":{"format":"date-time","description":"Last System Sample time of the device.","type":"string","xml":{"name":"LastSystemSampleTime"}},"IsDeviceDNDEnabled":{"description":"This gives information about whether the device is in do not disturb mode or not.","type":"boolean","xml":{"name":"IsDeviceDNDEnabled"}},"IsDeviceLocatorEnabled":{"description":"This gives information about whether the device locator is enabled or not.","type":"boolean","xml":{"name":"IsDeviceLocatorEnabled"}},"IsCloudBackupEnabled":{"description":"This gives information about whether the device cloud backup is enabled or not.","type":"boolean","xml":{"name":"IsCloudBackupEnabled"}},"IsActivationLockEnabled":{"description":"This gives information about whether the device activation lock is enabled or not.","type":"boolean","xml":{"name":"IsActivationLockEnabled"}},"IsNetworkTethered":{"description":"This gives information about whether the iOS device is network tethered or not.","type":"boolean","xml":{"name":"IsNetworkTethered"}},"BatteryLevel":{"description":"This gives information about battery level of the iOS device.","type":"string","xml":{"name":"BatteryLevel"}},"IsRoaming":{"description":"This gives information about roaming status of the device.","type":"boolean","xml":{"name":"IsRoaming"}},"LastNetworkLANSampleTime":{"format":"date-time","description":"Last Network LAN Sample time of the device.","type":"string","xml":{"name":"LastNetworkLANSampleTime"}},"LastBluetoothSampleTime":{"format":"date-time","description":"Last Bluetooth Sample time of the device.","type":"string","xml":{"name":"LastBluetoothSampleTime"}},"SystemIntegrityProtectionEnabled":{"description":"This gives information about whether system integrity protection is enabled on a macOS device.","type":"boolean","xml":{"name":"SystemIntegrityProtectionEnabled"}},"ProcessorArchitecture":{"format":"int32","description":"This gives information about processor Architecure reported by the device.","type":"integer","xml":{"name":"ProcessorArchitecture"}},"UserApprovedEnrollment":{"description":"Flag to check if user has approved installation of MDM profile.","type":"boolean","xml":{"name":"UserApprovedEnrollment"}},"EnrolledViaDEP":{"description":"This key will tell us if the device is enrolled via DEP.","type":"boolean","xml":{"name":"EnrolledViaDEP"}},"Id":{"$ref":"#/definitions/EntityId  ","xml":{"name":"Id"}},"Uuid":{"format":"uuid","type":"string","xml":{"name":"Uuid"}}},"xml":{"name":"Device","namespace":"http://www.air-watch.com/servicemodel/resources"}},"BaseExceptionModel":{"description":"Base model for exception","type":"object","properties":{"errorCode":{"format":"int32","description":"Application error code","type":"integer","xml":{"name":"ErrorCode"}},"message":{"description":"Friendly error message","type":"object","xml":{"name":"Message"}},"activityId":{"format":"uuid","description":"TransactionId of the request","type":"string","xml":{"name":"ActivityId"}}},"xml":{"name":"AirWatchFaultContract","namespace":"http://www.air-watch.com/"}},"OSUpdateResultModel":{"description":"The OS update result model containing the list of updates for the given device identifier.","type":"object","properties":{"OSUpdateList":{"description":"The list of OS updates available for a device","type":"array","items":{"$ref":"#/definitions/OSUpdateModel"},"xml":{"name":"OSUpdateList"}},"id":{"format":"int32","description":"Identifier","type":"integer","xml":{"name":"Id"}},"uuid":{"format":"uuid","description":"Gets or sets current objects UUID","type":"string","xml":{"name":"Uuid"}}},"example":{"OSUpdateList":[{"productKey":"12DX536","humanReadableName":"iOS 11.1.3","productName":"iOS","version":"9.0.1","build":"13A999","isPreview":false,"downloadSize":1.1,"installSize":2.1,"isCritical":false,"isConfigurationDataUpdate":false,"isFirmwareUpdate":true,"restartRequired":false,"allowsInstallLater":true,"appIdentifiersToClose":["Text value"],"id":1234,"uuid":"0366b9de-fd5c-4309-beda-3e192e16f6b0"}],"id":1234,"uuid":"8787243f-90cd-4641-a4eb-f93fc77ee682"}},"OSUpdateModel":{"description":"The details of the available OS update","type":"object","properties":{"productKey":{"description":"The unique product key of the update","type":"string","xml":{"name":"ProductKey"}},"humanReadableName":{"description":"The common name of the update","type":"string","xml":{"name":"HumanReadableName"}},"productName":{"description":"The product name of the update","type":"string","xml":{"name":"ProductName"}},"version":{"description":"The version of the update","type":"string","xml":{"name":"Version"}},"build":{"description":"The build number of the update","type":"string","xml":{"name":"Build"}},"isPreview":{"description":"Preview or beta version of the update","type":"boolean","xml":{"name":"IsPreview"}},"downloadSize":{"format":"float","description":"Storage size needed to download the software update. Floating point number of bytes.","type":"number","xml":{"name":"DownloadSize"}},"installSize":{"format":"float","description":"Storage size needed to install the software update. Floating point number of bytes.","type":"number","xml":{"name":"InstallSize"}},"isCritical":{"description":"Set to true if this update is considered critical. Defaults to false.","type":"boolean","xml":{"name":"IsCritical"}},"isConfigurationDataUpdate":{"description":"Set to true if this is an update to a configuration file. Defaults to false (macOS only).","type":"boolean","xml":{"name":"IsConfigurationDataUpdate"}},"isFirmwareUpdate":{"description":"Set to true if this is an update to firmware. Defaults to false (macOS only).","type":"boolean","xml":{"name":"IsFirmwareUpdate"}},"restartRequired":{"description":"Set to true if the device restarts after this update is installed. Defaults to false.","type":"boolean","xml":{"name":"RestartRequired"}},"allowsInstallLater":{"description":"Set to true if the update is eligible for InstallLater. Defaults to true.","type":"boolean","xml":{"name":"AllowsInstallLater"}},"appIdentifiersToClose":{"description":"Each entry represents an app identifier that is closed to install this update (macOS only).","type":"array","items":{"type":"string"},"xml":{"name":"AppIdentifiersToClose"}},"id":{"format":"int32","description":"Identifier","type":"integer","xml":{"name":"Id"}},"uuid":{"format":"uuid","description":"Gets or sets current objects UUID","type":"string","xml":{"name":"Uuid"}}}},"GetDeviceResponseV2Model":{"description":"Contains basic details of the device","type":"object","properties":{"udid":{"description":"UDID of the device","type":"string","xml":{"name":"Udid"}},"serialNumber":{"description":"Serial number of the device","type":"string","xml":{"name":"SerialNumber"}},"macAddress":{"description":"MacAddress of the device","type":"string","xml":{"name":"MacAddress"}},"imei":{"description":"Device IMEI hardware identifier","type":"string","xml":{"name":"Imei"}},"friendlyName":{"description":"Friendly name of the device","type":"string","xml":{"name":"FriendlyName"}},"totalStorageBytes":{"description":"Total storage capacity in bytes","type":"string","xml":{"name":"TotalStorageBytes"}},"availableStorageBytes":{"description":"Available storage capacity in bytes","type":"string","xml":{"name":"AvailableStorageBytes"}},"batteryLevelPercentage":{"description":"Battery level of the iOS device in percentage","type":"string","xml":{"name":"BatteryLevelPercentage"}},"computerName":{"description":"Desktop name of the device","type":"string","xml":{"name":"ComputerName"}},"supervised":{"description":"Supervised status of the device","type":"boolean","xml":{"name":"Supervised"}},"dataEncrypted":{"description":"Data encryption status","type":"boolean","xml":{"name":"DataEncrypted"}},"platformInfo":{"$ref":"#/definitions/GetPlatformDetailsResponseV2Model","description":"Contains basic details about the device platform","xml":{"name":"PlatformInfo"}},"carrierInfo":{"$ref":"#/definitions/GetDeviceCarrierDetailsResponseV2Model","description":"Contains carrier details about the device platform","xml":{"name":"CarrierInfo"}},"enrollmentInfo":{"$ref":"#/definitions/GetDeviceEnrollmentDetailsResponseV2Model","description":"Contains enrollment details of the device","xml":{"name":"EnrollmentInfo"}},"Links":{"description":"List of hypermedia link.","type":"array","items":{"$ref":"#/definitions/Link"},"readOnly":true,"xml":{"name":"Links","wrapped":true}},"id":{"format":"int32","description":"Identifier","type":"integer","xml":{"name":"Id"}},"uuid":{"format":"uuid","description":"Gets or sets current objects UUID","type":"string","xml":{"name":"Uuid"}}},"xml":{"name":"Info","namespace":"http://www.air-watch.com/webapi/resources"},"example":{"udid":"827BE1C5AEC05C378C61C44103E9D3FCB2EC354D","serialNumber":"R51G844T90R","macAddress":"485A3F880798","imei":"356766060039613","friendlyName":"My iPhone iOS 10.3.2","totalStorageBytes":"68719476736","availableStorageBytes":"34359738368","batteryLevelPercentage":"80","computerName":"WindowsPC","supervised":true,"dataEncrypted":true,"platformInfo":{"deviceType":"Apple","platformName":"iOS","modelName":"MD200LL","osVersion":"10.3.2"},"carrierInfo":{"phoneNumber":"+14045550100","roamingEnabled":true},"enrollmentInfo":{"enrollmentStatus":"UNKNOWN","compliant":true,"enrollmentTimestamp":"2018-04-19T19:34:31.7312614-04:00","lastSeenTimestamp":"2018-04-19T19:34:31.7468796-04:00","ownership":"CORPORATE","organizationGroupId":"bf83189f-2794-4413-8665-e085ea83f81c","organizationGroupName":"locationgroup1","userName":"user1","userEmailAddress":"user1@vmware.com"},"Links":[],"id":1234,"uuid":"4d665a2f-71ad-4b62-a458-6ddc7dadf8ea"}},"GetPlatformDetailsResponseV2Model":{"description":"Contains model details of the device","type":"object","properties":{"deviceType":{"description":"Type of the device (e.g. Apple, Android, WindowsPc etc)","type":"string","xml":{"name":"DeviceType"}},"platformName":{"description":"Name of the platform","type":"string","xml":{"name":"PlatformName"}},"modelName":{"description":"Model of the device","type":"string","xml":{"name":"ModelName"}},"osVersion":{"description":"Version of the operating system installed on the device","type":"string","xml":{"name":"OsVersion"}}}},"GetDeviceCarrierDetailsResponseV2Model":{"description":"Contains carrier details about the device","type":"object","properties":{"phoneNumber":{"description":"Phone number of the device","type":"string","xml":{"name":"PhoneNumber"}},"roamingEnabled":{"description":"Roaming status of the device","type":"boolean","xml":{"name":"RoamingEnabled"}}}},"GetDeviceEnrollmentDetailsResponseV2Model":{"description":"Contains enrollment details of the device","type":"object","properties":{"enrollmentStatus":{"format":"int32","description":"Enrollment status of the device","enum":[0,1,2,3,4,5,6,7,8,9,10,11,12],"type":"integer","xml":{"name":"EnrollmentStatus"}},"compliant":{"description":"Compliance status of the device","type":"boolean","xml":{"name":"Compliant"}},"enrollmentTimestamp":{"format":"date-time","description":"Date-Time of last enrollment date","type":"string","xml":{"name":"EnrollmentTimestamp"}},"lastSeenTimestamp":{"format":"date-time","description":"Time the device last reported any status","type":"string","xml":{"name":"LastSeenTimestamp"}},"ownership":{"format":"int32","description":"Ownership type of the device","enum":[0,1,2,3],"type":"integer","xml":{"name":"Ownership"}},"organizationGroupId":{"format":"uuid","description":"Id of the organization group","type":"string","xml":{"name":"OrganizationGroupId"}},"organizationGroupName":{"description":"Organization group name where the device is enrolled","type":"string","xml":{"name":"OrganizationGroupName"}},"userName":{"description":"User name of the device","type":"string","xml":{"name":"UserName"}},"userEmailAddress":{"description":"User's email address of the device","type":"string","xml":{"name":"UserEmailAddress"}}}},"Link":{"description":"The link.","type":"object","properties":{"Rel":{"description":"Relational links.","type":"string","xml":{"name":"Rel"}},"Href":{"description":"Hyper text reference.","type":"string","xml":{"name":"Href"}},"Title":{"description":"Title of the link.","type":"string","xml":{"name":"Title"}}},"xml":{"name":"Link","namespace":"http://www.air-watch.com/webapi/resources"}},"DeviceProductComplianceStatusV2Model":{"description":"model to return device product compliance status","type":"object","properties":{"status":{"description":"status of device product compliance","type":"string","xml":{"name":"Status"}},"id":{"format":"int32","description":"Identifier","type":"integer","xml":{"name":"Id"}},"uuid":{"format":"uuid","description":"Gets or sets current objects UUID","type":"string","xml":{"name":"Uuid"}}},"example":{"status":"Compliant","id":1234,"uuid":"9e7ba25a-641c-40ee-8c07-1354e2c87deb"}},"DeviceProductResponseV2Model":{"description":"response model to return device compliance status and url to get the latest status","type":"object","properties":{"status":{"description":"device product compliance status","type":"string","xml":{"name":"Status"}},"url":{"description":"url to get the latest device product compliance status","type":"string","xml":{"name":"Url"}},"id":{"format":"int32","description":"Identifier","type":"integer","xml":{"name":"Id"}},"uuid":{"format":"uuid","description":"Gets or sets current objects UUID","type":"string","xml":{"name":"Uuid"}}},"example":{"status":"Compliant","url":"/products/{productId}/devices/{deviceId}","id":1234,"uuid":"cd7ab28d-49b3-4ee6-a116-ca6d3e28e1b8"}},"PatchDocument[ProductsPatchV2Model]":{"description":"Custom PatchDocument used with Web API","type":"object","properties":{"Operations":{"type":"array","items":{"$ref":"#/definitions/Operation[ProductsPatchV2Model]"},"readOnly":true,"xml":{"name":"Operations"}}}},"Operation[ProductsPatchV2Model]":{"type":"object","properties":{"value":{"type":"object","xml":{"name":"value"}},"path":{"type":"string","xml":{"name":"path"}},"op":{"type":"string","xml":{"name":"op"}},"from":{"type":"string","xml":{"name":"from"}}}},"ProductsPatchV2Model":{"description":"model for patch payload","type":"object","properties":{"status":{"description":"identifier to process an activate or deactiavte a Product","type":"boolean","xml":{"name":"Status"}}}},"ProductsPatchV2ModelPatch":{"description":"model for patch payload","type":"object","properties":{"status":{"description":"identifier to process an activate or deactiavte a Product","type":"boolean","xml":{"name":"Status"}}},"example":[{"value":"text","path":"/property","op":"add"},{"value":2,"path":"/propertyName","op":"replace"},{"path":"/property","op":"remove"},{"path":"/toProperty","op":"move","from":"/fromProperty"},{"value":"text","path":"/arrayProperty/-","op":"add"},{"path":"/arrayProperty/0","op":"remove"},{"path":"/arrayProperty/0","op":"move","from":"/arrayProperty/2"}]},"ProductDeviceDetailsSearchResult":{"description":"This holds the result set of Product search operation","type":"object","properties":{"Devices":{"description":"Property that holds the details of list of device returned during search operation.\r\nDetails include<br />\r\n  DeviceID,<br />\r\n  Name,<br />\r\n  LastJobStatus,<br />\r\n  LastSeen","type":"array","items":{"$ref":"#/definitions/ProductDeviceDetails"},"xml":{"name":"Devices","wrapped":true}},"Page":{"format":"int32","type":"integer","xml":{"name":"Page"}},"PageSize":{"format":"int32","type":"integer","xml":{"name":"PageSize"}},"Total":{"format":"int32","type":"integer","xml":{"name":"Total"}}},"xml":{"name":"ProductDeviceDetailsSearchResult","namespace":"http://www.air-watch.com/servicemodel/resources"},"example":{"Devices":[{"DeviceId":123,"Name":"Windows 10Windows Desktop 10.0.1425","LastJobStatus":"Unknown","LastSeen":"7/16/2017 9:46:33 PM"}],"Page":1,"PageSize":2,"Total":3}},"ProductDeviceDetails":{"description":"The class holds the details of device with a particular policy identifier.","type":"object","properties":{"DeviceId":{"format":"int32","description":"Unique identifer used to identify a device and the policy number.","type":"integer","xml":{"name":"DeviceId"}},"Name":{"description":"Name of a device under a particular policy .","type":"string","xml":{"name":"Name"}},"LastJobStatus":{"description":"Status of last job executed on the device.","type":"string","xml":{"name":"LastJobStatus"}},"LastSeen":{"description":"Date and time the device was seen last seen active.","type":"string","xml":{"name":"LastSeen"}}},"xml":{"name":"Device","namespace":"http://www.air-watch.com/servicemodel/resources"}},"DeviceProfileV2Entity":{"description":"This will be the base class for all the Device Profiles pertaining to different Platforms(Android, Apple, etc.)\r\nAll Paltform specific Device Profile Entities should inherit this class\r\nIt is not essential that this class has members, it just serves as a base entity that will be returned from the API calls to the Client code","type":"object","properties":{"General":{"$ref":"#/definitions/GeneralPayloadV2Entity"}},"xml":{"name":"DeviceProfileEntity","namespace":"http://www.air-watch.com/servicemodel/v2/resources"},"example":{"General":{"ProfileId":1,"Name":"Text value","Description":"Text value","ProfileScope":"Production","Version":6,"CreateNewVersion":true,"AssignmentType":"Auto","ProfileContext":"Text value","EnableProvisioning":true,"IsActive":true,"IsManaged":true,"Password":"Text value","AllowRemoval":"WithAuthorization","AssignedSmartGroups":[{"SmartGroupId":1,"Name":"Text value"}],"ExcludedSmartGroups":[{"SmartGroupId":1,"Name":"Text value"}],"ManagedLocationGroupID":21,"AssignedGeofenceArea":[1],"AssignedSchedule":[1],"ExpirationDate":"4/19/2018"}}},"GeneralPayloadV2Entity":{"type":"object","properties":{"ProfileId":{"format":"int32","description":"ProfileId","type":"integer","xml":{"name":"ProfileId"}},"Name":{"description":"Name","type":"string","xml":{"name":"Name"}},"Description":{"description":"Description","type":"string","xml":{"name":"Description"}},"ProfileScope":{"description":"Device Profile Scope.","type":"string","xml":{"name":"ProfileScope"}},"Version":{"format":"int32","description":"Version","type":"integer","xml":{"name":"Version"}},"CreateNewVersion":{"description":"Add New Version","type":"boolean","xml":{"name":"CreateNewVersion"}},"AssignmentType":{"description":"Assignment Type","type":"string","xml":{"name":"AssignmentType"}},"ProfileContext":{"type":"string","xml":{"name":"ProfileContext"}},"EnableProvisioning":{"description":"Flag to indicate Profile will be used for Product Provisioning. Valid values: true, false","type":"boolean","xml":{"name":"EnableProvisioning"}},"IsActive":{"description":"Flag to indicate Profile Status.","type":"boolean","xml":{"name":"IsActive"}},"IsManaged":{"description":"Is Managed","type":"boolean","xml":{"name":"IsManaged"}},"Password":{"description":"Unlock Password","type":"string","xml":{"name":"Password"}},"AllowRemoval":{"type":"string","xml":{"name":"AllowRemoval"}},"AssignedSmartGroups":{"type":"array","items":{"$ref":"#/definitions/SmartGroupEntity"},"xml":{"name":"AssignedSmartGroups","wrapped":true}},"ExcludedSmartGroups":{"type":"array","items":{"$ref":"#/definitions/SmartGroupEntity"},"xml":{"name":"ExcludedSmartGroups","wrapped":true}},"ManagedLocationGroupID":{"format":"int32","description":"The ID of the RootLocationGroup","type":"integer","xml":{"name":"ManagedLocationGroupID"}},"AssignedGeofenceArea":{"type":"array","items":{"format":"int32","type":"integer"},"xml":{"name":"AssignedGeofenceArea","wrapped":true}},"AssignedSchedule":{"type":"array","items":{"format":"int32","type":"integer"},"xml":{"name":"AssignedSchedule","wrapped":true}},"ExpirationDate":{"description":"Expiration Date of the Profile [Applicable for Apple Profiles].","type":"string","xml":{"name":"ExpirationDate"}}},"xml":{"name":"GeneralPayloadEntity","namespace":"http://www.air-watch.com/servicemodel/v2/resources"}},"SmartGroupEntity":{"type":"object","proper
[...]
