{"swagger":"2.0","info":{"version":"1","title":"System API V1"},"host":"cc92.ssdevrd.com","basePath":"/api/system","schemes":["https","http"],"paths":{"/admins/{adminName}/certificates":{"post":{"tags":["AdminCertificatesV1"],"summary":"New - Generates an admin certificate for a given admin.","description":"Based on unique admin username admin is selected and if certificate is not presented for admin, then the certificate is created and associated with the admin. Note that if the certificate is present already then certificate will not be overridden.","operationId":"AdminCertificatesV1_AddAdminCertificate","consumes":["application/json","application/xml"],"produces":["application/json;version=1"],"parameters":[{"name":"adminName","in":"path","description":"username of admin(Required)","required":true,"type":"string"},{"name":"AdminCertificateModel","in":"body","description":"password for the new certificate(Required)","required":true,"schema":{"$ref":"#/definitions/AdminUserCertificateModel"}}],"responses":{"202":{"description":"Accepted"},"400":{"description":"1.{6090: Bad request}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"403":{"description":"Forbidden 1.{6078: User does not have permission to perform this operation.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"404":{"description":"1.{6000: Admin not found}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"409":{"description":"1.{6091: Certificate already exist for admin}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"500":{"description":"1.{6092: Unable to save certificate}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true},"patch":{"tags":["AdminCertificatesV1"],"summary":"New - Deletes or retrieves an admin certificate for an given administrator","description":" Deletes or retrieves an admin certificate for a given administrator Operation to support removal and retrieval of certificate:\r\n* **test** - Use this operation to retrieve admin certificate\r\n* ** remove** - Use this operation to remove certificate association from admin.","operationId":"AdminCertificatesV1_PatchAdminCertificate","consumes":["application/json","application/xml"],"produces":["application/json;version=1"],"parameters":[{"name":"adminName","in":"path","description":"name of admin user(Required)","required":true,"type":"string"},{"name":"patchModel","in":"body","description":"administrator username(Required)","required":true,"schema":{"$ref":"#/definitions/AdminUserCertificateModelPatch","externalDocs":{"description":"JSON Patch documentation","url":"https://tools.ietf.org/html/rfc6902"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"string"}}},"204":{"description":"No Content"},"400":{"description":"1.{6090: Bad request}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"403":{"description":"Forbidden 1.{6078: User does not have permission to perform this operation.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"404":{"description":"1.{6000: Admin not found}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"409":{"description":"1.{6091: Certificate already exist for admin}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"500":{"description":"1.{6092: Unable to save certificate}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/admins/{adminId}/favorites":{"get":{"tags":["AdminFavoritesV1"],"summary":"New - Get favorites list for an admin","description":"Returns set of saved favorites in sorted order by sortOder of link filtering out links which are not accessible based on organization group permissions.","operationId":"AdminFavoritesV1_Get","consumes":["application/json"],"produces":["application/json;version=1"],"parameters":[{"name":"adminId","in":"path","description":"Identifier for an admin on behalf of whom operation is to be performed(Required)","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/FavoritesListV1Model"}},"403":{"description":"Forbidden 1.{6078: User does not have permission to perform this operation.} ","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"404":{"description":"Not Found 1.{6000: Admin not found} ","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true},"post":{"tags":["AdminFavoritesV1"],"summary":"New - Add a new favorite to the favorites list","description":"Save a given link/page in admin favorites list.","operationId":"AdminFavoritesV1_Post","consumes":["application/json"],"produces":["application/json;version=1"],"parameters":[{"name":"adminId","in":"path","description":"Identifier for an admin on behalf of whom operation is to be performed(Required)","required":true,"type":"string"},{"name":"favoriteRequest","in":"body","description":"New favorite to be added into favorites list. Favorite would have url, name(friendly name) and sortOrder.(Required)","required":true,"schema":{"$ref":"#/definitions/AddFavoritesRequestV1Model"}}],"responses":{"201":{"description":"Created","headers":{"Location":{"description":"/api/system/admins/{adminId}/favorites/{favoriteId}","type":"string"}}},"403":{"description":"Forbidden 1.{6078: User does not have permission to perform this operation}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"404":{"description":"Not Found 1.{6000: Admin not found}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/admins/{adminId}/favorites/{favoriteId}":{"get":{"tags":["AdminFavoritesV1"],"summary":"New - Get details for given favorite","description":"Provides favorite details like displayName, url for a given favorite id","operationId":"AdminFavoritesV1_GetById","consumes":["application/json"],"produces":["application/json;version=1"],"parameters":[{"name":"favoriteId","in":"path","description":"Id of favorite entity to be removed from list(Required)","required":true,"type":"integer","format":"int32"},{"name":"adminId","in":"path","description":"Identifier for an admin on behalf of whom operation is to be performed(Required)","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/FavoritesV1Model"}},"403":{"description":"Forbidden 1.{6078: User does not have permission to perform this operation.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"404":{"description":"Not Found 1.{6000: Admin not found} 2.{6077: Favorite not found}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true},"delete":{"tags":["AdminFavoritesV1"],"summary":"New - Delete a favorite from favorites list","description":"Remove a favorite from favorties list of admin.","operationId":"AdminFavoritesV1_Delete","consumes":["application/json"],"produces":["application/json;version=1"],"parameters":[{"name":"favoriteId","in":"path","description":"Id of favorite entity to be removed from list(Required)","required":true,"type":"integer","format":"int32"},{"name":"adminId","in":"path","description":"Identifier for an admin on behalf of whom operation is to be performed(Required)","required":true,"type":"string"}],"responses":{"204":{"description":"No Content"},"403":{"description":"Forbidden 1.{6078: User does not have permission to perform this operation.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"404":{"description":"Not Found 1.{6000: Admin not found} 2.{6077: Favorite not found}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/admins/permissions":{"get":{"tags":["AdminPermissionsV1"],"summary":"New - Get permissions for given admin","description":"Get admin allowed permissions considering admin's active role along with privacy and SKU conditions for the OG which this admin belongs to","operationId":"AdminPermissionsV1_Get","consumes":["application/json"],"produces":["application/json;version=1"],"parameters":[{"name":"adminId","in":"query","description":"Optional adminId for which permissions to be fetched otherwise permissions are fetched for current admin","required":false,"type":"string","default":""}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AdminPermissionsV1Model"}},"403":{"description":"Forbidden 1. {6078: User does not have permission to perform this operation}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"404":{"description":"Not Found 1.{6000: Admin not found}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/groups/{uuid}/reports/{exportUuid}":{"get":{"tags":["AdminReportsV1"],"summary":"New - Exports the requested report for given export ID.","description":"Exports the requested report for given export ID. Exported report will be available for admin who generated the report earlier.","operationId":"AdminReportsV1_DownloadReport","consumes":["application/json"],"produces":["text/csv;version=1"],"parameters":[{"name":"uuid","in":"path","description":"Organization Group UUID.(Required)","required":true,"type":"string","format":"uuid"},{"name":"exportUuid","in":"path","description":"ID of exported report.(Required)","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Stream"}},"400":{"description":"BadRequest 1.{6: Invalid Input - Resource's organization group not found or user does not have access to this organization group.} ","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"403":{"description":"Forbidden  1.{6092: User does not have permission to view this report.} ","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"404":{"description":"1.{6127: Report with specified Export ID not found.} ","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/admin/roles/{id}":{"get":{"tags":["AdminRoles"],"summary":"Retrieves the existing role","description":"Performs necessary checks and get all the information of the role based on role id.","operationId":"AdminRoles_GetRole","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"id","in":"path","description":"Role Id (Required)","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RolePermissionModel"}},"400":{"description":"1. { 400: Invalid Role Id:{RoleId} }","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true},"put":{"tags":["AdminRoles"],"summary":"Update name of an existing role","description":"Performs necessary checks and updates the name of the existing role based on the role id.","operationId":"AdminRoles_UpdateRole","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"id","in":"path","description":"ID of the role to be updated (Required)","required":true,"type":"integer","format":"int32"},{"name":"role","in":"body","description":"Role with new name (Required)","required":true,"schema":{"$ref":"#/definitions/Role "}}],"responses":{"200":{"description":"OK"},"400":{"description":"1. { 400: Role Name already exists:{NewRoleName} }2. { 400: Invalid Role Id:{RoleId} }3. { 400: Seeded Role Names cannot be edited:{RoleId} }","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/admin/roles":{"put":{"tags":["AdminRoles"],"summary":"Updates an existing role with the new set of permissions","description":"Performs necessary checks and updates the existing role based on the role id.","operationId":"AdminRoles_UpdateRole","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"rolePermission","in":"body","description":"The Permissions associated with a role","required":true,"schema":{"$ref":"#/definitions/RolePermissionModel"}}],"responses":{"200":{"description":"OK"}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true},"post":{"tags":["AdminRoles"],"summary":"Creates a new role with the given permissions","description":"Performs necessary checks and create a new role for the given input.","operationId":"AdminRoles_CreateRole","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"rolePermission","in":"body","description":"The Permissions associated with a role","required":true,"schema":{"$ref":"#/definitions/RolePermissionModel"}}],"responses":{"201":{"description":"Created"}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/admins/search":{"get":{"tags":["AdminsV1"],"summary":"Searches for Admin users using the query information provided.","description":"Performs necessary checks and search for the admin users based on the request query.","operationId":"AdminsV1_Search","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"firstname","in":"query","description":"The First name to search for.","required":false,"type":"string","default":""},{"name":"lastname","in":"query","description":"The Last name to search for.","required":false,"type":"string","default":""},{"name":"email","in":"query","description":"The Email Address to search for.","required":false,"type":"string","default":""},{"name":"organizationgroupid","in":"query","description":"The Organization Group Id to search for.","required":false,"type":"integer","default":""},{"name":"role","in":"query","description":"The Role name to search for.","required":false,"type":"string","default":""},{"name":"username","in":"query","description":"The User name to search for.","required":false,"type":"string","default":""},{"name":"orderby","in":"query","description":"Order the results by this attribute.","required":false,"type":"string","default":""},{"name":"page","in":"query","description":"The specific page number to get.","required":false,"type":"integer","default":""},{"name":"pagesize","in":"query","description":"Maximum records per page.","required":false,"type":"integer","default":""},{"name":"sortorder","in":"query","description":"Sorting order. Allowed values are ASC or DESC. Defaults to ASC if this attribute is not specified.","required":false,"type":"string","default":""}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AdminSearchResult"}},"204":{"description":"NoContent"},"400":{"description":"1. { 400: Resource's organization group :{OGId} not found or user does not have access to this organization group. }","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/admins/{id}":{"get":{"tags":["AdminsV1"],"summary":"Retrieves information about the specified admin user.","description":"Performs necessary checks and get all the information of the Admin based on admin id.","operationId":"AdminsV1_Get","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"id","in":"path","description":"The admin user ID (Required)","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AdminUser"}},"400":{"description":"1. { 400: User not found or does not have access to retrieve the details }","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"404":{"description":"1. { 404: Requested admin was not found or user is not authorized to access it.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/admins/{id}/delete":{"delete":{"tags":["AdminsV1"],"summary":"Deletes the specified admin user.","description":"Performs necessary checks and delete all the information of the Admin based on admin id.","operationId":"AdminsV1_Delete","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"id","in":"path","description":"The admin user ID (Required)","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK"},"400":{"description":"1. { 400: User not found or does not have access to retrieve the details }","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/admins/addadminuser":{"post":{"tags":["AdminsV1"],"summary":"Creates a new admin user.","description":"Performs necessary checks and Create a new Admin.","operationId":"AdminsV1_Put","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"adminUser","in":"body","description":"The admin user resource to create (Required)","required":true,"schema":{"$ref":"#/definitions/AdminUser "}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EntityId"}},"400":{"description":"1. { 400: UserName already exists. }2. { 400: Email Address is not valid. }3. { 400: Location Group {OGId} not found or user does not have access to it }4. { 400: LocationGroupId {OGId} is not valid }5. { 400: UserName cannot be null or empty. }6. { 400: User Not Found in Directory }7. { 400: Admin User should be associated with atleast one role, please add role to the user. }8. { 400: The TimeZone value : {TimeZoneId} is invalid. }9. { 400: Invalid Locale name. }10. { 400: Duplicate role mapping is found between Location Group id {OGId} and Role id {RoleId} }","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/admins/{id}/update":{"post":{"tags":["AdminsV1"],"summary":"Updates the specified admin user.","description":"Performs necessary checks and Update the Admin properties based on Id.","operationId":"AdminsV1_UpdateAdminUser","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"id","in":"path","description":"The admin user ID (Required)","required":true,"type":"integer","format":"int32"},{"name":"adminUser","in":"body","description":"The updated admin user details.","required":true,"schema":{"$ref":"#/definitions/AdminUser  "}}],"responses":{"200":{"description":"OK"},"400":{"description":"1. { 400: User not found or does not have access to retrieve the details }1. { 400: UserName already exists. }2. { 400: Email Address is not valid. }3. { 400: Location Group {OGId} not found or user does not have access to it }4. { 400: LocationGroupId {OGId} is not valid }","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"404":{"description":"1. { 404: Requested admin was not found or user is not authorized to access it.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/admins/{id}/changepassword":{"post":{"tags":["AdminsV1"],"summary":"Changes the specified admin user's password.","description":"Performs necessary checks and update the password for an existing admin.","operationId":"AdminsV1_ChangePassword","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"id","in":"path","description":"The admin user ID (Required)","required":true,"type":"integer","format":"int32"},{"name":"adminuser","in":"body","description":"The admin user details. (Required)","required":true,"schema":{"$ref":"#/definitions/AdminUser   "}}],"responses":{"200":{"description":"OK"},"400":{"description":"1. { 400: User not found or does not have access to retrieve the details }2. { 400: Password cannot be null, empty, or whitespace }3. { 400: Password does not meet complexity requirements }","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"401":{"description":"1. { 401: LDAP / AD users passwords cannot be changed }","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"404":{"description":"1. { 404: Requested admin was not found or user is not authorized to access it.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/admins/{id}/addrole":{"post":{"tags":["AdminsV1"],"summary":"Adds a role to the specified admin user.","description":"Performs necessary checks and add an role for an existing admin.","operationId":"AdminsV1_AddRoleToUser","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"id","in":"path","description":"The admin user ID (Required)","required":true,"type":"integer","format":"int32"},{"name":"role","in":"body","description":"The role to add. (Required)","required":true,"schema":{"$ref":"#/definitions/RoleModel  "}}],"responses":{"200":{"description":"OK"},"400":{"description":"1. { 400: User not found or does not have access to retrieve the details }2. { 400: Role {RoleId} not found or user does not have access to it }3. { 400: Location Group {OGId} not found or user does not have access to it }4. { 400: Duplicate role association is found between Location Group id {OGId} and Role id {RoleId} for the requesting user }","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"404":{"description":"1. { 404: Requested admin was not found or user is not authorized to access it.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/admins/{id}/removerole":{"post":{"tags":["AdminsV1"],"summary":"Removes a role from the specified admin user.","description":"Performs necessary checks and remove an role from an existing admin.","operationId":"AdminsV1_RemoveRoleFromUser","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"id","in":"path","description":"The admin user ID. (Required)","required":true,"type":"integer","format":"int32"},{"name":"role","in":"body","description":"The role to remove. (Required)","required":true,"schema":{"$ref":"#/definitions/RoleModel   "}}],"responses":{"200":{"description":"OK"},"400":{"description":"1. { 400: User not found or does not have access to retrieve the details }2. { 400: Role {RoleId} not found or user does not have access to it }3. { 400: Location Group {OGId} not found or user does not have access to it }4. { 400: Role cannot be removed 5. {400: Role cannot be removed, atleast one role should be associated with the admin user {AdminId} }","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"404":{"description":"1. { 404: Requested admin was not found or user is not authorized to access it.}2. { 404: Requested admin role was not found or user is not authorized to access it. }","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/android/{id}/IsSecurityEnabled":{"post":{"tags":["Android"],"summary":"Checks whether the android security is enabled for the given OG","operationId":"Android_IsSecurityEnabled","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"id","in":"path","description":"OG ID","required":true,"type":"integer","format":"int32"}],"responses":{},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/groups/{id}/androidwork":{"get":{"tags":["AndroidWork"],"summary":"Gets the Android Work Settings for Passed Location Group","description":"Gets the Android Work Settings for Passed Location Group and Settings consists of EnterpriseId, ServiceAccountAdminEmail, ServiceAccountEmail and ServiceAccountClientId","operationId":"AndroidWork_GetAndroidWorkSettings","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"id","in":"path","description":"LocationGroup Id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AndroidWorkSetupModel"}},"404":{"description":"NotFound 1.{6071:Android Work Not configured}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true},"post":{"tags":["AndroidWork"],"summary":"Save the Android work settings.","description":"Mock and save the Android work settings if all the parameters are available. Enabling the Android for Work for OG enables Android for Work features like adding Android for Work profiles on OG but not actually enables adding apps from Google.","operationId":"AndroidWork_SaveAndroidWorkSettings","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"androidWorkSetupModel","in":"body","description":"The Parameter for Android Work set up Model","required":true,"schema":{"$ref":"#/definitions/AndroidWorkSetupModel"}},{"name":"id","in":"path","description":"The location group id .","required":true,"type":"integer","format":"int32"}],"responses":{"201":{"description":"Created"},"400":{"description":"1.{6013: Invalid BlobId}, 2.{6013: Certificate Password is required but it is empty or null in input}, 3.{6013: Certificate password mismatches with uploaded certificate}, 4.{6027: Uploaded certificate mismatches with the AW certificate request}, 5.{6013: Invalid file format}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/groups/{groupId}/androidwork/enrollmentrestrictions":{"get":{"tags":["AndroidWorkSettingsV1"],"summary":"New - Returns an Android Enterprise Enrollment Restriction at a nearest parent organization group.","description":"* This API returns an Android Enterprise Enrollment Restriction at a nearest parent organization group.","operationId":"AndroidWorkSettingsV1_GetAndroidWorkEnrollmentRestriction","consumes":["application/json"],"produces":["application/json;version=1"],"parameters":[{"name":"groupId","in":"path","description":"Unique Identifier for the organization group(Required)","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/EnrollmentRestrictionsResponseV1Model"}},"204":{"description":"No Content"},"412":{"description":"{5057: Android Enterprise is not enabled for this Organization Group}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true},"post":{"tags":["AndroidWorkSettingsV1"],"summary":"New - Creates a new Android Enterprise Enrollment Restriction at a given organization group.","description":"* This API creates or edits an Android Work Enrollment Restriction at a given organization group.","operationId":"AndroidWorkSettingsV1_AddEditAndroidWorkEnrollmentRestriction","consumes":["application/json"],"produces":["application/json;version=1"],"parameters":[{"name":"groupId","in":"path","description":"Unique Identifier for the organization group(Required)","required":true,"type":"string","format":"uuid"},{"name":"enrollmentRestrictionInputModel","in":"body","description":"Request body containing Android Work Enrollment Restriction settings(Required)","required":true,"schema":{"$ref":"#/definitions/EnrollmentRestrictionsInputV1Model"}}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/EnrollmentRestrictionsResponseV1Model"}},"403":{"description":"{11: User has no access to the SmartGroup or SmartGroup cannot be assigned to Product.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"412":{"description":"{5057: Android Enterprise is not enabled for this Organization Group}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true},"delete":{"tags":["AndroidWorkSettingsV1"],"summary":"New - Deletes an Android Enterprise Enrollment Restriction at a given organization group.","description":"* This API deletes an Android Enterprise Enrollment Restriction at a given organization group.","operationId":"AndroidWorkSettingsV1_DeleteAndroidWorkEnrollmentRestriction","consumes":["application/json"],"produces":["application/json;version=1"],"parameters":[{"name":"groupId","in":"path","description":"Unique Identifier for the organization group(Required)","required":true,"type":"string","format":"uuid"}],"responses":{"204":{"description":"No Content"}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/groups/{id}/apns":{"get":{"tags":["Apns"],"summary":"Method to Create APNs Certificate Request.","description":"Returns the status of the APNs Configuration for an Organization Group. \r\nUpload certificate Blob Id is -1 when APNs is already Configured for the Organization Group","operationId":"Apns_ApnsCertificate","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"id","in":"path","description":"This is the Organization Group Identifier also known as GroupID. Typically used during enrollment (Required)","required":true,"type":"integer","format":"int32"},{"name":"force","in":"query","description":"Option to force generate APNs Cert Request","required":false,"type":"boolean","default":""}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApnsSetupModel "}},"400":{"description":"Bad Request. 1. {6019: User doesn't have access to the organization group} 2. {6066: Action Restricted due to the current setting of Child permission in the parent organization} 3. {6066: Value must be True or False}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"503":{"description":"Service Unavailable. 1. {6013: AirWatch certificate portal is not available} ","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]},"post":{"tags":["Apns"],"summary":"Method to Save the APNs Configuration for an Organization Group","description":"This endpoint is applicable after the APNs certificate Blob(.pem) is uploaded to the AirWatch server.","operationId":"Apns_SaveApnsCertificate","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"apnsSetupModel","in":"body","description":"Parameter for APNs Setup Model (Required)","required":true,"schema":{"$ref":"#/definitions/ApnsSetupModel  "}},{"name":"id","in":"path","description":"This is the Organization Group Identifier also known as GroupID. Typically used during enrollment (Required)","required":true,"type":"integer","format":"int32"}],"responses":{"201":{"description":"Created"},"400":{"description":"Bad Request. 1. {6019: User doesn't have access to the organization group} 2. {6066: Action Restricted due to the current setting of Child permission in the parent organization} 3. {6066: Invalid APNs Generation Status Id} 4. {6013: Invalid BlobId of the certificate} 5. {6013: Certificate Password is required but it is empty or null in input} 6. {6013: Certificate password mismatches with uploaded certificate} 7. {6013: Uploaded certificate mismatches with the AW certificate request} 8. {6013: Certificate Expired} 9. {6013: Certificate must have a private key} 10. {6013: Invalid file format}11. {6027: Topic of uploaded certificate for renewal mismatches with existing certificate}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]},"patch":{"tags":["Apns"],"summary":"New - Update the APNs Configuration for an Organization Group","description":"This endpoint is applicable after APNs is configured on the AirWatch server.","operationId":"Apns_UpdateApnsCertificate","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"apnsConfigurationModel","in":"body","description":"Parameter for APNs Configuration Model","required":true,"schema":{"$ref":"#/definitions/ApnsConfigurationModel "}},{"name":"id","in":"path","description":"The OrganizationGroup Identifier (Required)","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request. 1. {6019: User doesn't have access to the organization group} 2. {6066: Action Restricted due to the current setting of Child permission in the parent organization} 3. {6066: The permissions for the APNS certificate in this organization group is Overridden Only} 4. {6013: No APNs certificates were found on the group} ","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/groups/{id}/apns/details":{"get":{"tags":["Apns"],"summary":"New - Method to get the status of the APNs Configuration for an Organization Group","description":"This endpoint is to get the details of APNs certificate Blob(.pem) uploaded to the AirWatch server.","operationId":"Apns_ApnsCertificateDetail","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"id","in":"path","description":"The OrganizationGroup Identifier (Required)","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApnsCertificateModel"}},"400":{"description":"Bad Request. 1. {6013: No APNs certificates found on the group} ","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/groups/{ogid}/storage":{"get":{"tags":["AppContent"],"summary":"Fetches Application and Content storage informations for Organization Group.","description":"Provides application and content storage information for the specified Organization Group.","operationId":"AppContent_GetAppContentStorageInfo","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"ogid","in":"path","description":"The Organization Group ID.(Required)","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AppContentStorageEntity"}},"400":{"description":"1.{6 : Organization Group not found or Admin user does not have access to it.","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"404":{"description":"1.{8 : No Records Found for the OG.","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/users/{id}/apps":{"get":{"tags":["Apps"],"summary":"Retrieves Apps Based on user","operationId":"Apps_GetAppsByUser","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"id","in":"path","description":"User Id","required":true,"type":"integer","format":"int32"}],"responses":{},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/authorizationtokens/action/verify":{"post":{"tags":["AuthorizationTokensV1"],"summary":"New - Verifies an authorization token is valid and is issued to the requesting identity","description":"* This API verifies an authorization token is valid and is issued to the requesting identity","operationId":"AuthorizationTokensV1_VerifyToken","consumes":["application/json"],"produces":["application/json;version=1"],"parameters":[{"name":"deviceOtaTokenModel","in":"body","description":"Request body containing the token to verify and the uuid of the device its scoped to(Required)","required":true,"schema":{"$ref":"#/definitions/TokenVerificationRequestV1Model"}},{"name":"tokenType","in":"query","description":"String identifier for token type.\r\n            Accepted value (future support for more values):\r\n            + DeviceOneTimeAuth - One-Time Authorization Token For Devices(Required)","required":true,"type":"string","default":""}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TokenVerificationResponseV1Model"}},"404":{"description":"{ 6098 : Invalid authorization token type } ","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"CmsAuth":[]}],"x-internalApi":true}},"/authorizationtokens":{"post":{"tags":["AuthorizationTokensV1"],"summary":"New - Gets the authorization token for AirWatch Admin","description":"This api is used to generate the authorization token than can be used by any client to communicate with the REST Api's.","operationId":"AuthorizationTokensV1_GetJWTToken","consumes":["application/json"],"produces":["application/json;version=1"],"parameters":[{"name":"getAccessTokenRequest","in":"body","description":"The credentials for the admin against whom the auth token is generated. The model contains username and password of the corresponding user.(Required)","required":true,"schema":{"$ref":"#/definitions/GetAccessTokenRequestV1Model"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/GetAccessTokenResponseV1Model"}},"401":{"description":"Unauthorized  1.{1005: Client credentials validation failure.}  2.{1029: OAuth Token is expired} ","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[],"x-internalApi":true}},"/autodiscovery":{"get":{"tags":["Autodiscovery"],"summary":"New - Fetches all the registered domains in AirWatch which are eligible to be pushed to vIDM","description":"Returns all the registered domains in AirWatch which are eligible to be pushed to vIDM. <br /> VMware Identity Manager(vIDM) is an identity as a service (IDaaS) offering that provides single sign-on (SSO) capabilities and user-based controls for web, cloud and mobile applications.","operationId":"Autodiscovery_AutodiscoveryDomainFetch","consumes":["application/json"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AutoDiscoveryModel "}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true},"post":{"tags":["Autodiscovery"],"summary":"New - Create the domain in vIDM","description":"Create the domain in vIDM if the domain is already registered with AirWatch or else register it with AirWatch and do not push it to vIDM. <br /> VMware Identity Manager(vIDM) is an identity as a service (IDaaS) offering that provides single sign-on (SSO) capabilities and user-based controls for web, cloud and mobile applications.","operationId":"Autodiscovery_AutoDiscoveryDomainCreate","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"autoDiscoveryModel","in":"body","description":"autoDiscovery Model","required":true,"schema":{"$ref":"#/definitions/AutoDiscoveryModel  "}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BulkResponse"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/blueprints":{"get":{"tags":["Blueprints"],"summary":"Get Action Method for fetching blueprints for an Organization Group.\r\nOnly Applicable to Express Provisioned Organization Groups.","operationId":"Blueprints_GetBluePrints","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[],"responses":{},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true},"post":{"tags":["Blueprints"],"summary":"Saves the Blueprint\r\nOnly Applicable to Express Provisioned Organization Groups.","operationId":"Blueprints_SaveBlueprint","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"blueprintModel","in":"body","description":"blueprintModel","required":true,"schema":{"$ref":"#/definitions/BlueprintModel"}}],"responses":{},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/blueprints/{id}":{"get":{"tags":["Blueprints"],"summary":"Retrieves the blueprint details of a blueprint in an Organization Group.\r\nOnly Applicable to Express Provisioned Organization Groups.","operationId":"Blueprints_GetBlueprintDetails","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"id","in":"path","description":"id of blueprint","required":true,"type":"integer","format":"int32"}],"responses":{},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true},"delete":{"tags":["Blueprints"],"summary":"Delete Action Method for deleting blueprint having particular blueprintId\r\nOnly Applicable to Express Provisioned Organization Groups.","operationId":"Blueprints_DeleteBluePrint","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"id","in":"path","description":"Id of blueprint to be deleted","required":true,"type":"integer","format":"int32"}],"responses":{},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true},"patch":{"tags":["Blueprints"],"summary":"Modifies Name and AssignmentType of the Blueprint.\r\nOnly Applicable to Express Provisioned Organization Groups.","operationId":"Blueprints_UpdateBlueprint","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"id","in":"path","description":"Id of blueprint to be deleted","required":true,"type":"integer","format":"int32"},{"name":"blueprintModel","in":"body","description":"blueprintModel contains the properties of instance to be patched","required":true,"schema":{"$ref":"#/definitions/BlueprintModel"}}],"responses":{},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/blueprints/{id}/apps":{"post":{"tags":["Blueprints"],"summary":"Links the specified Blueprint with provided Apps.\r\nIf the Blueprint is already published, then Apps will be published asynchronously in some other process.\r\nOnly Applicable to Express Provisioned Organization Groups.","operationId":"Blueprints_LinkWithApps","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"id","in":"path","description":"id of blueprint","required":true,"type":"integer","format":"int32"},{"name":"apps","in":"body","description":"list of Apps","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/AppModel"}}}],"responses":{},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/blueprints/{id}/resources":{"get":{"tags":["Blueprints"],"summary":"Retrieves resources for a blueprint.\r\nOnly Applicable to Express Provisioned Organization Groups.","operationId":"Blueprints_GetResource","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"id","in":"path","description":"Id of blueprint","required":true,"type":"integer","format":"int32"}],"responses":{},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true},"post":{"tags":["Blueprints"],"summary":"Links the specified Blueprint with provided resource.\r\nIf the Blueprint is already published, then resource will be published.\r\nOnly Applicable to Express Provisioned Organization Groups.","operationId":"Blueprints_LinkWithResources","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"id","in":"path","description":"id of blueprint","required":true,"type":"integer","format":"int32"},{"name":"resourceModel","in":"body","description":"Model for Resource","required":true,"schema":{"$ref":"#/definitions/BlueprintResourceModel"}}],"responses":{},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/blueprints/{id}/resources/{resourceid}":{"delete":{"tags":["Blueprints"],"summary":"De links a resource from a particular blueprint\r\nOnly Applicable to Express Provisioned Organization Groups.","operationId":"Blueprints_DelinkResource","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"id","in":"path","description":"Id of blueprint","required":true,"type":"integer","format":"int32"},{"name":"resourceid","in":"path","description":"Id of Resource","required":true,"type":"integer","format":"int32"}],"responses":{},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/blueprints/{id}/users":{"get":{"tags":["Blueprints"],"summary":"Retrieves Users for a blueprint.\r\nOnly Applicable to Express Provisioned Organization Groups.","operationId":"Blueprints_GetUsers","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"id","in":"path","description":"id of blueprint","required":true,"type":"integer","format":"int32"}],"responses":{},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true},"post":{"tags":["Blueprints"],"summary":"Links the specified Blueprint with the provided users\r\nOnly Applicable to Express Provisioned Organization Groups.","operationId":"Blueprints_LinkUsersToBlueprint","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"id","in":"path","description":"id of blueprint","required":true,"type":"integer","format":"int32"},{"name":"blueprintUsersModel","in":"body","description":"Model for users list","required":true,"schema":{"$ref":"#/definitions/BlueprintUsersModel"}}],"responses":{},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/blueprints/{id}/policies/{policyId}":{"post":{"tags":["Blueprints"],"summary":"Link Policies to Blueprint","operationId":"Blueprints_LinkPoliciesToBlueprint","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"id","in":"path","description":"Blueprint Id","required":true,"type":"integer","format":"int32"},{"name":"policyId","in":"path","description":"policy Id","required":true,"type":"integer","format":"int32"}],"responses":{},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/blueprints/{id}/publish":{"post":{"tags":["Blueprints"],"summary":"Publish the Blueprint","operationId":"Blueprints_PublishBlueprint","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"id","in":"path","description":"Id","required":true,"type":"integer","format":"int32"}],"responses":{},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/blueprints/{id}/usergroups":{"get":{"tags":["Blueprints"],"summary":"Retrieves UserGroups for a blueprint.\r\nOnly Applicable to Express Provisioned Organization Groups.","operationId":"Blueprints_GetUserGroups","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"id","in":"path","description":"id of blueprint","required":true,"type":"integer","format":"int32"}],"responses":{},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true},"post":{"tags":["Blueprints"],"summary":"Links the specified Blueprint with the provided user groups.\r\nOnly Applicable to Express Provisioned Organization Groups.","operationId":"Blueprints_LinkUserGroupsToBlueprint","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"id","in":"path","description":"id of blueprint","required":true,"type":"integer","format":"int32"},{"name":"blueprintUserGroupsModel","in":"body","description":"Model for User groups","required":true,"schema":{"$ref":"#/definitions/BlueprintUserGroupsModel"}}],"responses":{},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/blueprints/{id}/users/delete":{"post":{"tags":["Blueprints"],"summary":"De Links the specified Blueprint from users.\r\nOnly Applicable to Express Provisioned Organization Groups.","operationId":"Blueprints_DelinkUsersFromBlueprint","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"id","in":"path","description":"id of blueprint","required":true,"type":"integer","format":"int32"},{"name":"blueprintUsersModel","in":"body","description":"Model for blueprint user list","required":true,"schema":{"$ref":"#/definitions/BlueprintUsersModel"}}],"responses":{},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/blueprints/{id}/usergroups/delete":{"post":{"tags":["Blueprints"],"summary":"De Links the specified Blueprint from UserGroups.\r\nOnly Applicable to Express Provisioned Organization Groups.","operationId":"Blueprints_DelinkUserGroupsFromBlueprint","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"id","in":"path","description":"id of blueprint","required":true,"type":"integer","format":"int32"},{"name":"blueprintUserGroupsModel","in":"body","description":"Model for user groups list","required":true,"schema":{"$ref":"#/definitions/BlueprintUserGroupsModel"}}],"responses":{},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/blueprints/{id}/Policies":{"get":{"tags":["Blueprints"],"summary":"Get Policies Associated with the Blueprint","operationId":"Blueprints_GetPolicies","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"id","in":"path","description":"Blueprint Id","required":true,"type":"integer","format":"int32"}],"responses":{},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/blueprints/{id}/purchasedapps":{"post":{"tags":["Blueprints"],"summary":"New - Save the assignment of the licences for a list of Purchased Apps and adds them to the Blueprint.\r\nIf the App is already present, edits the assignment of the licences accordingly.","operationId":"Blueprints_SavePurchasedApps","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"id","in":"path","description":"Blueprint Id","required":true,"type":"integer","format":"int32"},{"name":"appModel","in":"body","description":"Model with the List of Applications","required":true,"schema":{"$ref":"#/definitions/PurchasedApplicationViewModel"}}],"responses":{},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true},"delete":{"tags":["Blueprints"],"summary":"New - Removes the License allocation from the purchased App and delinks the app from the Blueprint.","operationId":"Blueprints_DeletePurchasedApp","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"id","in":"path","description":"Blueprint Id","required":true,"type":"integer","format":"int32"},{"name":"appid","in":"query","description":"Id of the purchased Application to be removed","required":false,"type":"integer","default":""}],"responses":{},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/groups/{uuid}/branding":{"get":{"tags":["BrandingV1"],"summary":"New - Get Branding for an organization group","description":"Returns branding theme url, custom css, primary logo url, logo url which are accessible based on organization group permissions.","operationId":"BrandingV1_Get","consumes":["application/json"],"produces":["application/json;version=1"],"parameters":[{"name":"uuid","in":"path","description":"Identifier for an organization group on which operation is to be executed.(Required)","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BrandingV1Model"}},"403":{"description":"Forbidden 1.{6078: User does not have permission to perform this operation.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"404":{"description":"Not Found 1.{ 6008: Organization group not found }","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/groups/{uuid}/certificateauthorities":{"get":{"tags":["CertificateAuthorityV1"],"summary":"New - Gets the certificate authorities list corresponding to organization group.","description":"Certificate authority is an entity that issues digital certificates which certifies the ownership of a public key by the named subject of the certificate. This api gets the list of certificate authorities which are configured for the given organization group.","operationId":"CertificateAuthorityV1_Get","consumes":["application/json"],"produces":["application/json;version=1"],"parameters":[{"name":"uuid","in":"path","description":"This is the Organization Group identifier also known as GroupID. Typically used during enrollment.(Required)","required":true,"type":"string","format":"uuid"},{"name":"requireCert","in":"query","description":"This flag when set to true returns only the certificateauthorities with atleast one certficate present.(default set to false)","required":false,"type":"string","default":""}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/CertificateAuthorityV1Model"}}},"403":{"description":"Forbidden  1.{6: User does not have access to organization group} ","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true},"post":{"tags":["CertificateAuthorityV1"],"summary":"New - Configures Certificate authority for AirWatch","description":"Certificate authority is an entity that issues digital certificates which certifies the ownership of a public key by the named subject of the certificate.This API configures Certificate authority in AirWatch.","operationId":"CertificateAuthorityV1_Post","consumes":["application/json"],"produces":["application/json;version=1"],"parameters":[{"name":"uuid","in":"path","description":"This is the organization Group identifier also known as Group ID(Required)","required":true,"type":"string","format":"uuid"}],"responses":{"201":{"description":"Created","headers":{"Location":{"description":"/api/system/groups/{uuid}/certificateauthorities/status","type":"string"}}},"400":{"description":"BadRequest  1.{6008: Location Group Not Found}  2.{6094: vIDM not configured}  3.{6099: Could not save settings}  4.{6113: Certificate Authority already configured} ","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/groups/{uuid}/certificateauthorities/status":{"get":{"tags":["CertificateAuthorityV1"],"summary":"New - Gets the certificate authority configuration status corresponding to organization group.","description":"Certificate authority is an entity that issues digital certificates which certifies the ownership of a public key by the named subject of the certificate. This api checks whether certificate authority is configured at the given Organization Group.","operationId":"CertificateAuthorityV1_GetConfigurationStatus","consumes":["application/json"],"produces":["application/json;version=1"],"parameters":[{"name":"uuid","in":"path","description":"This is the Organization Group identifier also known as GroupID. Typically used during enrollment.(Required)","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"403":{"description":"Forbidden  1.{6: User does not have access to organization group} ","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/groups/{uuid}/certificates":{"get":{"tags":["CertificatesV1"],"summary":"New - Returns the list certificate entitys associated with the given location group and usage type.","description":"v1","operationId":"CertificatesV1_GetLocationGroupCertificates","consumes":["application/json"],"produces":["application/json;version=1"],"parameters":[{"name":"uuid","in":"path","description":"Organization group unique identifier","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/CertificateV1Model"}}},"400":{"description":"BadRequest 1. {6 : Invalid Input - Resource's organization group not found or user does not have access to this organization group}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]}],"x-internalApi":true},"post":{"tags":["CertificatesV1"],"summary":"New - Create or export a certificate associated with an Organization Group","description":"Returns a certificate associated with Organization Group identified by usagetype in the format of byte array","operationId":"CertificatesV1_GenerateCertificate","consumes":["application/json"],"produces":["application/json;version=1"],"parameters":[{"name":"uuid","in":"path","description":"Organization Group unique identifier(Required)","required":true,"type":"string","format":"uuid"},{"name":"certificateModel","in":"body","description":"Contains certificate password details(Required)","required":true,"schema":{"$ref":"#/definitions/CertificateV1Model"}},{"name":"usagetype","in":"query","description":"Intended purpose of the certificate(Required)","required":true,"type":"","default":""}],"responses":{"200":{"description":"OK","schema":{"format":"byte","type":"string"}},"201":{"description":"Created","schema":{"format":"byte","type":"string"}},"400":{"description":"BadRequest1. {6 : Invalid Input - Resource's organization group not found or user does not have access to this organization group}2. {6082 : CertificateGenerationFailed - Cannot generate certificate at Global}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"404":{"description":"NotFound1.{6083: Certificate does not exist}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"422":{"description":"1012 - Unprocessable Entity1. {UsageType : UsageType is not present or undefined.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"500":{"description":"InternalServerError1.{6080: CertificateDeleteFailed - Failed to clear certificate}2.{6082: CertificateGenerationFailed - Failed to generate certificate}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]}],"x-internalApi":true},"delete":{"tags":["CertificatesV1"],"summary":"New - Deletes a certificate associated with Organization Group","description":"Deletes a certificate associated with Organization Group identified by usagetype","operationId":"CertificatesV1_Delete","consumes":["application/json"],"produces":["application/json;version=1"],"parameters":[{"name":"uuid","in":"path","description":"Organization Group unique identifier(Required)","required":true,"type":"string","format":"uuid"},{"name":"usagetype","in":"query","description":"Intended purpose of the certificate(Required)","required":true,"type":"string","default":""}],"responses":{"204":{"description":"NoContent"},"400":{"description":"BadRequest1. {6 : Invalid Input - Resource's organization group not found or user does not have access to this organization group}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"404":{"description":"NotFound1.{6083: Certificate does not exist}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"422":{"description":"1012 - Unprocessable Entity1. {UsageType : UsageType is not present or undefined.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"500":{"description":"InternalServerError1.{6080: CertificateDeleteFailed - Failed to clear certificate}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]}],"x-internalApi":true}},"/groups/{uuid}/certificates/upload":{"post":{"tags":["CertificatesV1"],"summary":"New - Saves an uploaded certificate associated with Organization Group","description":"Creates a new certificate associated with Organization Group and returns certificateID","operationId":"CertificatesV1_UploadCertificate","consumes":["multipart/form-data"],"produces":["application/json;version=1"],"parameters":[{"name":"uuid","in":"path","description":"Organization Group unique identifier(Required)","required":true,"type":"string","format":"uuid"}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/CertificateV1Model"}},"400":{"description":"BadRequest 1. {6 : Invalid Input - Resource's organization group not found or user does not have access to this organization group}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"422":{"description":"Unprocessable Entity 1. {6123 : Certificate payload is invalid} 2. {6066 : This certificate cannot be uploaded. Allowed types are pfx, p12 and cert.} 3. {6121 : Certificate password cannot be empty for pfx certificate.} 4. {6122 : Certificate password is incorrect.} 5. {6124 : Certificate is expired.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]}],"x-internalApi":true}},"/certificates/securechannel":{"get":{"tags":["CertificatesV1"],"summary":"New - Returns the DER-encoded Secure Channel certificate","description":"Exports the Secure Channel certificate configured for this AirWatch  instance andd returns the public certificate (without the private key)  as an X509 DER-encoded structure","operationId":"CertificatesV1_GetSecureChannelCertificate","consumes":["application/json"],"produces":["application/json;version=1"],"parameters":[],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"string"}}},"404":{"description":"NotFound 1.{6083: Secure channel certificate does not exist or is not configured} ","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]}],"x-internalApi":true}},"/groups/{uuid}/certificateauthority/{certificateAuthorityName}/certificatetemplates":{"get":{"tags":["CertificateTemplateV1"],"summary":"New - Gets the certificate templates list corresponding to organization group for given certificate authority.","description":"Certificate template contains the various certificate properties like Subject Name, Certificate Authority etc. This api gets the list of certificate templates which are configured for the given certificate authority.","operationId":"CertificateTemplateV1_GetByCertificateAuthority","consumes":["application/json"],"produces":["application/json;version=1"],"parameters":[{"name":"uuid","in":"path","description":"This is the Organization Group identifier also known as GroupID. Typically used during enrollment.(Required)","required":true,"type":"string","format":"uuid"},{"name":"certificateAuthorityName","in":"path","description":"Certificate authority name for which templates has to be filtered.(Required)","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/CertificateTemplateV1Model"}}},"403":{"description":"Forbidden 1.{6: User does not have access to organization group}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"404":{"description":"Not Found 1.{6089: Certificate authority does not exist at this organization group}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/groups/{id}/certificatetemplates/mapping":{"post":{"tags":["CertificateTemplateV1"],"summary":"New - Saves the certificate template mapping at given organization group.","description":"Certificate template contains the various certificate properties like Subject Name, Certificate Authority etc. This api saves the mapping for certificate template at given organization group.","operationId":"CertificateTemplateV1_PostMapping","consumes":["application/json"],"produces":["application/json;version=1"],"parameters":[{"name":"id","in":"path","description":"This is the Organization Group identifier also known as GroupID. Typically used during enrollment.(Required)","required":true,"type":"integer","format":"int32"},{"name":"certificateTemplateMappingModel","in":"body","description":"This model contains properties for certificate template mapping with organization group.(Required)","required":true,"schema":{"$ref":"#/definitions/CertificateTemplateMappingV1Model"}}],"responses":{"201":{"description":"Created"},"403":{"description":"Forbidden 1.{6: User does not have access to organization group} 2.{6090: User does not have access to certificate template}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/groups/{id}/certificatetemplates/mapping/{certificateTemplateId}":{"delete":{"tags":["CertificateTemplateV1"],"summary":"New - Deletes the certificate template mapping at given organization group.","description":"Certificate template contains the various certificate properties like Subject Name, Certificate Authority etc. This api deletes the certificate template mapping for passed certificate template id at given organization group.","operationId":"CertificateTemplateV1_DeleteMapping","consumes":["application/json"],"produces":["application/json;version=1"],"parameters":[{"name":"id","in":"path","description":"This is the Organization Group identifier also known as GroupID.         Typically used during enrollment.(Required)","required":true,"type":"integer","format":"int32"},{"name":"certificateTemplateId","in":"path","description":"Certificate template id.(Required)","required":true,"type":"integer","format":"int32"}],"responses":{"204":{"description":"No Content"},"403":{"description":"Forbidden 1.{6: User does not have access to organization group} 2.{6090: User does not have access to certificate template}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/groups/{uuid}/certificatetemplate/status":{"get":{"tags":["CertificateTemplateV1"],"summary":"New - Gets the certificate template configuration status corresponding to organization group.","description":"Certificate template contains the various certificate properties like Subject Name, Certificate Authority etc. This api checks whether certificate template is configured at given organization group.","operationId":"CertificateTemplateV1_GetConfigurationStatus","consumes":["application/json"],"produces":["application/json;version=1"],"parameters":[{"name":"uuid","in":"path","description":"This is the Organization Group identifier also known as GroupID. Typically used during enrollment.(Required)","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"403":{"description":"Forbidden 1.{6: User does not have access to organization group}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/groups/{uuid}/certauthority/{certificateAuthorityId}/certificatetemplates":{"get":{"tags":["CertificateTemplateV1"],"summary":"New - Gets the certificate templates list corresponding to organization group for given certificate authority.","description":"Certificate template contains the various certificate properties like Subject Name, Certificate Authority etc. This api gets the list of certificate templates which are configured for the given certificate authority.","operationId":"CertificateTemplateV1_LoadTemplatesForCertAuthority","consumes":["application/json"],"produces":["application/json;version=1"],"parameters":[{"name":"uuid","in":"path","description":"This is the Organization Group identifier also known as GroupID. Typically used during enrollment.(Required)","required":true,"type":"string","format":"uuid"},{"name":"certificateAuthorityId","in":"path","description":"Certificate authority Id for which templates has to be filtered.(Required)","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/CertificateTemplateV1Model"}}},"403":{"description":"Forbidden  1.{6: User does not have access to organization group}   ","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"404":{"description":"Not Found  1.{6089: Certificate authority does not exist at this organization group} ","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/groups/{uuid}/settings/consolesession":{"get":{"tags":["ConsoleSessionSettingsV1"],"summary":"New - Get Airwatch Console application session settings.","description":"Get Airwatch Console application session settings including session timeout, forced timeout, allow multiple session etc.","operationId":"ConsoleSessionSettingsV1_Get","consumes":["application/json"],"produces":["application/json;version=1"],"parameters":[{"name":"uuid","in":"path","description":"Identifier for an organization group for which settings is to be retrieved.(Required)","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ConsoleSessionSettingsV1Model"}},"400":{"description":"Bad Request  1.{ 6: Organization Group with id: {0} not found or Admin user does not have access to it.} ","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"404":{"description":"Not Found  1.{ 6008: Organization group not found } ","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/customattributes/create":{"post":{"tags":["CustomAttributes"],"summary":"Creates a custom attribute definition in AirWatch","description":"Creates a custom attibute for the organization group. Multiple values can be added to a custom attribute with this API.","operationId":"CustomAttributes_SaveCustomAttribute","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"customAttribute","in":"body","description":"Entity defining a custom attribute to be added (Required)","required":true,"schema":{"$ref":"#/definitions/CustomAttributeModel "}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EntityId"}},"400":{"description":"1.{Bad Request - Resource's organization group :{} not found or user does not have access to this organization group.} 2.{1018: Invalid input. The argument cannot be null}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/customattributes/search":{"get":{"tags":["CustomAttributes"],"summary":"Search custom attributes","description":"Searches Custom Attributes based on name, page and pagesize.","operationId":"CustomAttributes_Search","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"organizationgroupid","in":"query","description":"Organization Group Identifer","required":false,"type":"integer","default":""},{"name":"name","in":"query","description":"Custom Attribute Name","required":false,"type":"string","default":""},{"name":"page","in":"query","description":"Specific page number to get. 0 based index","required":false,"type":"integer","default":""},{"name":"pagesize","in":"query","description":"Maximumm records per page. Default 500","required":false,"type":"integer","default":""}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CustomAttributeSearchResult"}},"204":{"description":"No content"},"400":{"description":"1.{6: Resource's organization group: {} not found or user does not have access to this organization group.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/customreports/refreshtoken":{"get":{"tags":["CustomReportsV1"],"summary":"New - Gets the Custom Reports refresh token for an organization group","description":"This api generates the Custom Report refresh token valid at the user's topmost Customer Organization Group. The token is valid for 5 minutes.","operationId":"CustomReportsV1_GetRefreshToken","consumes":["application/json"],"produces":["application/json;version=1"],"parameters":[],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CustomReportTokenV1Model"}},"400":{"description":"BadRequest 1.{ 6070: Customer Group not found.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"403":{"description":"Forbidden 1.{ 6078: User does not have permission to perform this operation.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"ApiKeyAuth":[]}]}},"/users/registercontainerdevice":{"post":{"tags":["DeviceRegistrationV1"],"summary":"Creates container device with the query infomration passed in the request","operationId":"DeviceRegistrationV1_RegisterContainerDevice","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"workspaceModel","in":"body","description":"vmWorkspace information","required":true,"schema":{"$ref":"#/definitions/VmWorkspaceModel"}}],"responses":{},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/users/registeruserdevices":{"post":{"tags":["DeviceRegistrationV1"],"summary":"Registers users and devices provided in the request","description":"v1","operationId":"DeviceRegistrationV1_RegisterUserDevices","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"deviceUserDetails","in":"body","description":"User and Device details","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/DeviceUserDetails"}}}],"responses":{},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/users/registereddevices/deletebyassetnumber":{"post":{"tags":["DeviceRegistrationV1"],"summary":"Deletes the registered devices identified by Asset number","description":"v1","operationId":"DeviceRegistrationV1_DeleteRegisteredDevicesByAssetNumber","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"bulkInput","in":"body","description":"List of devices identified by Asset number","required":true,"schema":{"$ref":"#/definitions/BulkInput"}}],"responses":{},"deprecated":true,"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/users/registereddevices/deletebyserialnumber":{"post":{"tags":["DeviceRegistrationV1"],"summary":"Deletes the registered devices identified by serial number","description":"v1","operationId":"DeviceRegistrationV1_DeleteRegisteredDevicesBySerialNumber","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"bulkInput","in":"body","description":"List of devices identified by serial number","required":true,"schema":{"$ref":"#/definitions/BulkInput"}}],"responses":{},"deprecated":true,"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/users/registereddevices/deletebyudid":{"post":{"tags":["DeviceRegistrationV1"],"summary":"Deletes the registered devices identified by UDID","description":"v1","operationId":"DeviceRegistrationV1_DeleteRegisteredDevicesByUdid","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"bulkInput","in":"body","description":"List of devices identified by UDID","required":true,"schema":{"$ref":"#/definitions/BulkInput"}}],"responses":{},"deprecated":true,"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/users/registereddevices/delete":{"post":{"tags":["DeviceRegistrationV1"],"summary":"Delete the registered devices","description":"Delete the registered devices identified by [Asset number] or [Udid] or [Serialnumber]\r\n            (Formats: Udid: 6bf0f04c73681fbecfc3eb4f13cbf05b, SerialNumber: RZ1G124JZ6W, AssetNumber: ea856771ba6277bfca16528a79c5ce1f)","operationId":"DeviceRegistrationV1_DeleteRegisteredDevices","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"httpRequest","in":"query","description":"Holds request entity coming through call pipeline","required":true,"type":"object"},{"name":"bulkInput","in":"body","description":"List of devices identified by Asset number/Udid/SerialNumber","required":true,"schema":{"$ref":"#/definitions/BulkInput"}},{"name":"searchby","in":"query","description":"The identifier type must be one of the following [ Udid, Serialnumber, AssetNumber](Required)","required":true,"type":"string","default":""},{"name":"username","in":"query","description":"User name with which the device is enrolled","required":false,"type":"string","default":""}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BulkResponse"}},"422":{"description":"1. {1012 Unprocessable Entity} {bulkInput.BulkValues Message: The BulkValues field is required.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/users/enrollmenttoken/search":{"get":{"tags":["DeviceRegistrationV1"],"summary":"Search for Enrollment Token and Device details","description":"Search for Enrollment Token and Device details using the query information provided.","operationId":"DeviceRegistrationV1_EnrollmentTokenSearch","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"username","in":"query","description":"UserName of the Enrollment User for whom Enrollment Tokens needs to be searched.","required":false,"type":"string","default":""},{"name":"userid","in":"query","description":"Identifier of the Enrollment User for whom Enrollment Tokens needs to be searched.","required":false,"type":"integer","default":""},{"name":"organizationgroupid","in":"query","description":"Identifier of the Organization Group where Enrollment Tokens needs to be searched.","required":false,"type":"integer","default":""},{"name":"organizationgroup","in":"query","description":"Organization Group Name where Enrollment Tokens needs to be searched.","required":false,"type":"string","default":""},{"name":"serialnumber","in":"query","description":"Serial number of device for which Enrollment Tokens to be retrieved. Eg:RZ1G124JZ6W","required":false,"type":"string","default":""},{"name":"assetnumber","in":"query","description":"Asset Number of device for which Enrollment Tokens to be retrieved.  Eg:ea856771ba6277bfca16528a79c5ce1f","required":false,"type":"string","default":""},{"name":"enrollmentstatusid","in":"query","description":"EnrollmentStatusID of device for which Enrollment Tokens to be retrieved.","required":false,"type":"integer","default":""},{"name":"compliancestatusid","in":"query","description":"ComplianceStatus of device for which Enrollment Tokens to be retrieved.","required":false,"type":"integer","default":""}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EnrollmentTokensModel"}},"204":{"description":"No Content"},"400":{"description":"400 : Resource's organization group :{organizationgroupid} not found or user does not have access to this organization group.","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/users/{id}/registerdevice":{"post":{"tags":["DeviceRegistrationV1"],"summary":"Register a device to enrollment user.","description":"Register a device to the specified enrollment user.","operationId":"DeviceRegistrationV1_RegisterDeviceForUser","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"id","in":"path","description":"The enrollment user Id","required":true,"type":"integer","format":"int32"},{"name":"registerDeviceDetails","in":"body","description":"The device details to register.","required":true,"schema":{"$ref":"#/definitions/RegisterDeviceDetailsModel"}}],"responses":{"200":{"description":"OK"},"400":{"description":"1. {400 : Custom Attributes can be created only at Customer Organization Group. Organization Group ID:registerDeviceDetails.LocationGroupId is not of type Customer.} 2. {400 : Resource's organization group :registerDeviceDetails.LocationGroupId not found or user does not have access to this organization group.} 3. {5092 : Input already specified value for this custom attribute. (Name:{} Application:{})}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/users/enrolleddevices/search":{"get":{"tags":["DeviceRegistrationV1"],"summary":"Retrieves enrolled device details","description":"Retrieves enrolled device details for the query information provided in the request\r\n            <br />\r\n            *seensince, seentill, enrolledsince and enrolledtill* fields accept the following\r\n            Valid DateTime formats : yyyy/MM/dd, yyyy-MM-dd, MM/dd/yyyy, MM-dd-yyyy, yyyy/MM/dd HH:mm:ss.fff,\r\n            yyyy-MM-dd HH:mm:ss.fff, MM/dd/yyyy HH:mm:ss.fff, MM-dd-yyyy HH:mm:ss.fff, yyyy/MM/ddTHH:mm:ss.fff,\r\n            yyyy-MM-ddTHH:mm:ss.fff, MM/dd/yyyyTHH:mm:ss.fff, MM-dd-yyyyTHH:mm:ss.fff, yyyy-MM-dd HH-mm-ss-tt, yyyy-MM-ddTHH-mm-ss-tt.","operationId":"DeviceRegistrationV1_RetrieveEnrolledDevices","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"organizationgroupid","in":"query","description":"Organization Group Identifier in which device details will be retrieved.","required":false,"type":"integer","default":""},{"name":"organizationgroup","in":"query","description":"Organization Group Name search parameter in which device details will be retrieved.","required":false,"type":"string","default":""},{"name":"platform","in":"query","description":"Platform filter for the device details to be retrieved.","required":false,"type":"string","default":""},{"name":"customattributes","in":"query","description":"List of custom attribute names [separated by comma (,)] for which values should be returned.","required":false,"type":"string","default":""},{"name":"serialnumber","in":"query","description":"Device serialnumber for which values should be returned.","required":false,"type":"string","default":""},{"name":"seensince","in":"query","description":"SeenSince DateTime, devices registered after the seensince datetime will be returned if present.","required":false,"type":"string","format":"date-time","default":""},{"name":"seentill","in":"query","description":"SeenTill DateTime, devices registered till the seentill datetime will be returned if present.","required":false,"type":"string","format":"date-time","default":""},{"name":"enrolledsince","in":"query","description":"EnrolledSince DateTime, devices enrolled after the enrolledsince datetime will be returned if present.","required":false,"type":"string","format":"date-time","default":""},{"name":"enrolledtill","in":"query","description":"EnrolledTill DateTime, devices enrolled till the enrolledtill datetime will be returned if present.","required":false,"type":"string","format":"date-time","default":""}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EnrolledDevices"}},"204":{"description":"No Content","schema":{"$ref":"#/definitions/EnrolledDevices"}},"400":{"description":"1. {400 : Resource's organization group :{organizationgroupid} not found or user does not have access to this organization group.} 2. {400 : Custom Attribute Name should be a maximum of 255 characters.} 3. {400 : Platform is Invalid.} 4. {400 : SeenSince should be less than SeenTill. But, {seensince} is greater than {seentill}.} 5. {400 : EnrolledSince should be less than EnrolledTill. {enrolledsince} is greater than {enrolledtill}.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/users/registereddevices/search":{"get":{"tags":["DeviceRegistrationV1"],"summary":"Retrieves registered device details","description":"Retrieves registered device details for the query information provided in the request\r\n            <br />\r\n            *seensince and seentill* fields accept the following\r\n            Valid DateTime formats : yyyy/MM/dd, yyyy-MM-dd, MM/dd/yyyy, MM-dd-yyyy, yyyy/MM/dd HH:mm:ss.fff,\r\n            yyyy-MM-dd HH:mm:ss.fff, MM/dd/yyyy HH:mm:ss.fff, MM-dd-yyyy HH:mm:ss.fff, yyyy/MM/ddTHH:mm:ss.fff,\r\n            yyyy-MM-ddTHH:mm:ss.fff, MM/dd/yyyyTHH:mm:ss.fff, MM-dd-yyyyTHH:mm:ss.fff, yyyy-MM-dd HH-mm-ss-tt, yyyy-MM-ddTHH-mm-ss-tt.","operationId":"DeviceRegistrationV1_RetrieveRegisteredDevices","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"organizationgroupid","in":"query","description":"Organization Group Identifier in which device details will be retrieved.","required":false,"type":"integer","default":""},{"name":"organizationgroup","in":"query","description":"Organization Group Name search parameter in which device details will be retrieved.","required":false,"type":"string","default":""},{"name":"platform","in":"query","description":"Platform filter for the device details to be retrieved.","required":false,"type":"string","default":""},{"name":"customattributes","in":"query","description":"List of custom attribute names [separated by comma (,)] for which values should be returned.","required":false,"type":"string","default":""},{"name":"assetnumber","in":"query","description":"Asset number filter for the device details to be retrieved. Eg: ea856771ba6277bfca16528a79c5ce1f","required":false,"type":"string","default":""},{"name":"seensince","in":"query","description":"SeenSince DateTime, devices registered after the seensince datetime will be returned if present.","required":false,"type":"string","format":"date-time","default":""},{"name":"seentill","in":"query","description":"SeenTill DateTime, devices registered till the seentill datetime will be returned if present.","required":false,"type":"string","format":"date-time","default":""}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RegisteredDevices"}},"204":{"description":"No Content"},"400":{"description":"{Platform is Invalid.}1. {SeenSince should be less than SeenTill. But, {seensince} is greater than {seentill}.}2.","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/users/{id}/devices":{"get":{"tags":["Devices"],"summary":"Retrieves Devices Based on user","description":"v1","operationId":"Devices_GetDevicesByUserId","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"id","in":"path","description":"User Id","required":true,"type":"integer","format":"int32"}],"responses":{},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/diagnostics/registerada":{"post":{"tags":["Diagnostics"],"summary":"Registers ADA(AirWatch Diagnostics Agent) with AirWatch.","description":"This endpoint registers AirWatch Diagnostics Agent with AirWatch. <br /> ADA(AirWatch Diagnostics Agent) is a windows service that will send application sample data that it should monitor to AirWatch database and execute commands on these applications.","operationId":"Diagnostics_RegisterAda","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"adaInfo","in":"body","description":"Object containing information about ADA such as client id, host name, friendly name, IP address and organization group","required":true,"schema":{"$ref":"#/definitions/AdaEntity"}}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}},"400":{"description":"1.{6: Invalid ADA Details}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/diagnostics/adauid/{adauid}/registerservices":{"post":{"tags":["Diagnostics"],"summary":"Registers the services to be monitored by the ADA.","description":"This endpoint registers different types of services that needs to be monitored by AirWatch Diagnostics Agent. <br /> Possible types of services are Website, WindowsService, SystemService, Msmq, Iis, Awcm and ADA. <br /> ADA(AirWatch Diagnostics Agent) is a windows service that will send application sample data that it should monitor to AirWatch database and execute commands on these applications.","operationId":"Diagnostics_RegisterServices","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"adauid","in":"path","description":"ADA Uid. [Example: \"404bb50f-aa0f-47fc-ac64-af711aed11ed\"]","required":true,"type":"string"},{"name":"monitoringEntity","in":"body","description":"Services to be monitored","required":true,"schema":{"$ref":"#/definitions/AwMonitoringEntity"}}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"400":{"description":"1.{6: ADA Uid cannot be null or empty} 2.{6: Invalid applications entity}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/diagnostics/adauid/{adauid}/getadaconfiguration":{"get":{"tags":["Diagnostics"],"summary":"Gets the configuration deatils of ADA(SamplingFequency, CommandPollingFrequency)","description":"Returns the configuration details of ADA such as sampling frequency and command polling frequency. <br /> ADA(AirWatch Diagnostics Agent) is a windows service that will send application sample data that it should monitor to AirWatch database and execute commands on these applications.","operationId":"Diagnostics_GetAdaConfiguration","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"adauid","in":"path","description":"ADA UID. [Example: \"404bb50f-aa0f-47fc-ac64-af711aed11ed\"]","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AdaConfigurationEntity"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/diagnostics/savesample":{"post":{"tags":["Diagnostics"],"summary":"Saves sample data from the ADA.","description":"This endpoint saves the sample data from ADA. <br /> Sample data is the sample of application/servicce which is monitored by ADA. <br /> ADA(AirWatch Diagnostics Agent) is a windows service that will send application sample data that it should monitor to AirWatch database and execute commands on these applications.","operationId":"Diagnostics_SaveSample","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"sampleEntity","in":"body","description":"Sample Entities to save","required":true,"schema":{"$ref":"#/definitions/AdaSampleEntity"}}],"responses":{"200":{"description":"OK"},"400":{"description":"1.{6009: Mandatory input parameter is missing.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/diagnostics/adauid/{adauid}/GetAdaCommands":{"get":{"tags":["Diagnostics"],"summary":"Gets the list of commands for the ADA","description":"Returns the list of different types of ADA Commands executed. <br /> The possible types of ADA commands are Start, Stop, Restart, Purge, InitiateLogsUpload, Sync and ChangeLogLevel. <br /> ADA(AirWatch Diagnostics Agent) is a windows service that will send application sample data that it should monitor to AirWatch database and execute commands on these applications.","operationId":"Diagnostics_GetAdaCommands","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"adauid","in":"path","description":"ADA Uid. [Example: \"404bb50f-aa0f-47fc-ac64-af711aed11ed\"]","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AdaCommandEntity"}},"400":{"description":"1.{6: Invalid Uid}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/diagnostics/UpdateAdaCommandStatus":{"post":{"tags":["Diagnostics"],"summary":"Updates command status","description":"This endpoint updates status of ADA command. <br /> Possible command statuses are Success, Failed, NotImplemented, ErrorInAda and InProgress. <br /> ADA(AirWatch Diagnostics Agent) is a windows service that will send application sample data that it should monitor to AirWatch database and execute commands on these applications.","operationId":"Diagnostics_UpdateAdaCommandStatus","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"applicationCommandStatusEntity","in":"body","description":"command status","required":true,"schema":{"$ref":"#/definitions/ApplicationCommandStatusEntity"}}],"responses":{"200":{"description":"OK"},"400":{"description":"1.{6009: Application Command Status is not provided.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/diagnostics/maplogfiletoservice":{"post":{"tags":["Diagnostics"],"summary":"Maps log file to service\\application identified from commandid.","description":"This endpoint maps log file to service/application identified by Command Id","operationId":"Diagnostics_MapLogFileToService","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"logFileMappingEntity","in":"body","description":"Mapping information of service\\application from ADA","required":true,"schema":{"$ref":"#/definitions/LogFileMappingEntity"}}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"400":{"description":"1.{6009: Log file mapping entity is not provided} 2.{6: Invalid BlobId.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/diagnostics/updateloglevel":{"post":{"tags":["Diagnostics"],"summary":"Updates log level of service\\application identified from commandid.","description":"This endpoint updates the log level of service/application identified by Command Id. <br /> Possible log levels are All, Off, Error, Warning, Information, Verbose and Debug","operationId":"Diagnostics_UpdateLogLevel","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"logLevelMappingEntity","in":"body","description":"Mapping information of service\\application from ADA","required":true,"schema":{"$ref":"#/definitions/LogLevelMappingEntity"}}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"400":{"description":"1.{6009: Log level mapping entity is not provided.} 2.{6: Invalid LogLevel.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/system/uploadblob":{"post":{"tags":["DiagnosticsBlob"],"summary":"Upload the blob data to a repository.","description":"This endpoint uploads the blob data identified by file name to the repository","operationId":"DiagnosticsBlob_UploadBlob","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"filename","in":"query","description":"The name of the file being uploaded (Required)","required":true,"type":"string","default":""},{"name":"organizationgroupid","in":"query","description":"The id of the organization group in which the file needs to be uploaded.","required":false,"type":"integer","default":""}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/EntityId"}},"400":{"description":"1.{6: Resource's organization group :123 not found or user does not have access to this organization group.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/system/downloadblob/{blobId}":{"get":{"tags":["DiagnosticsBlob"],"summary":"Download a file based on blobId.","description":"This endpoint downloads a file identified by blobId","operationId":"DiagnosticsBlob_DownloadBlob","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"blobId","in":"path","description":"The blob id of the file to download","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ManagementStatus"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/users/registereddevices/serialnumber/{serialnumber}/createcustomattributes":{"post":{"tags":["EnrollmentCustomAttributes"],"summary":"Creates multiple new device custom attributes for a registered device.","description":"Creates new device custom attributes for regisered devices. Device Serial number is used as the key to find the device.","operationId":"EnrollmentCustomAttributes_CreateCustomAttributesForRegDevices","consumes":["application/json","application/xml"],"produces":["application/json;version=1","application/xml;version=1"],"parameters":[{"name":"serialnumber","in":"path","description":"Device Serial number  
[...]
