{"swagger":"2.0","info":{"version":"2","title":"System API V2"},"host":"apimain.ssdevrd.com","basePath":"/api/system","schemes":["https","http"],"paths":{"/users/registercontainerdevice":{"post":{"tags":["DeviceRegistrationV2"],"summary":"Creates container device with the query infomration passed in the request","operationId":"DeviceRegistrationV2_RegisterContainerDevice","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"workspaceModel","in":"body","description":"vmWorkspace information","required":true,"schema":{"$ref":"#/definitions/VmWorkspaceModel"}},{"name":"Authorization","in":"header","description":"Authorization header","type":"string"},{"name":"aw-tenant-code","in":"header","description":"API key","type":"string"}],"responses":{}}},"/users/registeruserdevices":{"post":{"tags":["DeviceRegistrationV2"],"summary":"Register users and devices provided in the request\r\npreserving the appropriate user type and the Location Group in the request","operationId":"DeviceRegistrationV2_RegisterUserDevices","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"deviceUserDetails","in":"body","description":"User and Device details","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/DeviceUserDetails"}}},{"name":"Authorization","in":"header","description":"Authorization header","type":"string"},{"name":"aw-tenant-code","in":"header","description":"API key","type":"string"}],"responses":{}}},"/groups/{id}":{"post":{"tags":["OrganizationGroups"],"summary":"Creates a new organization group.","description":"v2","operationId":"OrganizationGroups_Post","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"id","in":"path","description":"The parent OrganizationGroup Identifier.","required":true,"type":"integer","format":"int32"},{"name":"locationGroup","in":"body","description":"The OrganizationGroup resource to be created.","required":true,"schema":{"$ref":"#/definitions/LocationGroupModel"}},{"name":"Authorization","in":"header","description":"Authorization header","type":"string"},{"name":"aw-tenant-code","in":"header","description":"API key","type":"string"}],"responses":{}}},"/groups/search":{"get":{"tags":["OrganizationGroups"],"summary":"Searches for organization groups using the query information provided.","description":"v2","operationId":"OrganizationGroups_OrganizationGroupSearch","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"name","in":"query","description":"The OrganizationGroup name.","required":false,"type":"string"},{"name":"type","in":"query","description":"The OrganizationGroup type.","required":false,"type":"string"},{"name":"groupid","in":"query","description":"The organization group identifier[Activation code] to search for.[Exact match is performed for this attribute]","required":false,"type":"string"},{"name":"orderby","in":"query","description":"Orders the results based on this attribute-value[Valid values are: Id/Name/GroupId/LocationGroupType]","required":false,"type":"string"},{"name":"page","in":"query","description":"Page number.","required":false,"type":"integer"},{"name":"pagesize","in":"query","description":"Records per page.","required":false,"type":"integer"},{"name":"sortorder","in":"query","description":"Sorting order. Allowed values are ASC or DESC. Defaults to ASC if this attribute is not specified.","required":false,"type":"string"},{"name":"Authorization","in":"header","description":"Authorization header","type":"string"},{"name":"aw-tenant-code","in":"header","description":"API key","type":"string"}],"responses":{}}}},"definitions":{"VmWorkspaceModel":{"type":"object","properties":{"udid":{"type":"string"},"userId":{"type":"string"},"appBundleId":{"type":"string"},"platformId":{"format":"int32","type":"integer"},"deviceOs":{"type":"string"},"deviceModel":{"type":"string"},"deviceModelIdentifier":{"type":"string"},"isDeviceAfwCertified":{"type":"boolean"},"deviceOemInfo":{"type":"string"},"groupId":{"type":"string"},"domainGroupId":{"type":"string"}},"example":{"udid":"test","userId":"test","appBundleId":"test","platformId":1,"deviceOs":"test","deviceModel":"test","deviceModelIdentifier":"test","isDeviceAfwCertified":true,"deviceOemInfo":"test","groupId":"test","domainGroupId":"test"}},"RequestQuery":{"description":"Implementation for RequestQuery","type":"object","properties":{}},"RegisterContainerResponse":{"type":"object","properties":{"HmacToken":{"type":"string"},"GroupId":{"type":"string"},"AuthenticationGroup":{"type":"string"},"DeviceServicesUrl":{"type":"string"}},"example":{"HmacToken":"test","GroupId":"test","AuthenticationGroup":"test","DeviceServicesUrl":"test"}},"DeviceUserDetails":{"type":"object","properties":{"UserName":{"type":"string"},"Password":{"type":"string"},"FirstName":{"type":"string"},"LastName":{"type":"string"},"Email":{"type":"string"},"DeviceMACAddress":{"type":"string"},"DeviceSerialNumber":{"type":"string"},"TokenType":{"format":"int32","type":"integer"}},"example":{"UserName":"test","Password":"test","FirstName":"test","LastName":"test","Email":"test","DeviceMACAddress":"test","DeviceSerialNumber":"test","TokenType":1}},"DeviceTokenDetails":{"type":"object","properties":{"MACAddress":{"type":"string"},"SerialNumber":{"type":"string"},"EnrollmentToken":{"type":"string"}},"example":{"MACAddress":"test","SerialNumber":"test","EnrollmentToken":"test"}},"LocationGroupModel":{"description":"Location Group Model","type":"object","properties":{"Name":{"description":"Gets or sets the location group name.","type":"string"},"GroupId":{"description":"Gets or sets The location group's tenant code.","type":"string"},"LocationGroupType":{"description":"Gets or sets Location group type like Business segment, Customer etc...","type":"string"},"Country":{"description":"Gets or sets Country name like United States, India etc.","type":"string"},"Locale":{"description":"Gets or sets Locale information for Location Group like","type":"string"},"AddDefaultLocation":{"description":"Gets or sets This tells whether default location to be created while creating Location Group","type":"string"},"CreatedOn":{"description":"Gets or sets Date and time when Location group was created.","type":"string"},"LgLevel":{"format":"int32","description":"Gets or sets Location Group Hierarchy level, like 0[Operating Location group], 1[immediate children],2 etc... This value is valid when retrieving children for location group.","type":"integer"},"Users":{"description":"Gets or sets This contains total number of Enrollment users in this Location Group","type":"string"},"Admins":{"description":"Gets or sets This contains total number of Admin users in this Location Group","type":"string"},"Devices":{"description":"Gets or sets This contains total nummber of devices in this Location group","type":"string"},"EnableRestApiAccess":{"description":"Gets or sets a value indicating whether enable rest api access.","type":"boolean"},"id":{"format":"int32","description":"Identifier","type":"integer"}},"example":{"Name":"test","GroupId":"test","LocationGroupType":"test","Country":"test","Locale":"test","AddDefaultLocation":"test","CreatedOn":"test","LgLevel":1,"Users":"test","Admins":"test","Devices":"test","EnableRestApiAccess":true,"id":1}},"OrganizationGroupResponseModel":{"description":"The organization group response model.","type":"object","properties":{"Id":{"format":"int32","description":"Gets or sets the id.","type":"integer"},"RestApiAccess":{"$ref":"#/definitions/RestApiAccessStatusModel","description":"Gets or sets the rest api status."}},"example":{"Id":1}},"RestApiAccessStatusModel":{"description":"The rest api status model.","type":"object","properties":{"Status":{"format":"int32","description":"Gets or sets the rest api status.","enum":[0,1],"type":"integer"},"DefaultAdminApiKey":{"description":"Gets or sets the default admin api key.","type":"string"},"EnrollmentUserApiKey":{"description":"Gets or sets the enrollment user api key.","type":"string"}},"example":{"Status":0,"DefaultAdminApiKey":"test","EnrollmentUserApiKey":"test"}},"OrganizationGroupPagedSearchResultModel":{"description":"Organization Group Paged Search Results.","type":"object","properties":{"OrganizationGroups":{"description":"Gets or sets the Organization Groups","type":"array","items":{"$ref":"#/definitions/OrganizationGroupModel"}},"AdditionalInfo":{"$ref":"#/definitions/HypermediaModel","description":"Gets or sets Hypermedia content for the result"},"TotalResults":{"format":"int32","description":"Gets or sets Total Result","type":"integer"}}},"OrganizationGroupModel":{"type":"object","properties":{"Id":{"format":"int32","type":"integer"},"Name":{"type":"string"},"GroupId":{"type":"string"},"LocationGroupType":{"type":"string"},"Country":{"type":"string"},"Locale":{"type":"string"},"AddDefaultLocation":{"type":"string"},"CreatedOn":{"type":"string"},"LgLevel":{"format":"int32","type":"integer"},"Users":{"type":"string"},"Admins":{"type":"string"},"Devices":{"type":"string"},"ConcurrencyId":{"type":"string"}},"example":{"Id":1,"Name":"test","GroupId":"test","LocationGroupType":"test","Country":"test","Locale":"test","AddDefaultLocation":"test","CreatedOn":"test","LgLevel":1,"Users":"test","Admins":"test","Devices":"test","ConcurrencyId":"test"}},"HypermediaModel":{"description":"The aw hypermedia model.","type":"object","properties":{"Links":{"description":"Gets the links.","type":"array","items":{"$ref":"#/definitions/Link"},"readOnly":true},"id":{"format":"int32","description":"Identifier","type":"integer"}},"example":{"Links":[],"id":1}},"Link":{"description":"The link.","type":"object","properties":{"Rel":{"description":"Gets or sets the relational links.","type":"string"},"Href":{"description":"Gets or sets the HREF.","type":"string"},"Title":{"description":"Gets or sets the title.","type":"string"}},"example":{"Rel":"test","Href":"test","Title":"test"}}}}