{"swagger":"2.0","info":{"version":"2","title":"System API V2"},"host":"cc92.ssdevrd.com","basePath":"/api/system","schemes":["https","http"],"paths":{"/admins/{uuid}":{"get":{"tags":["AdminsV2"],"summary":"New - Retrieves information about the specified admin user.","description":"Performs necessary checks and get all the information of the Admin based on admin udid.","operationId":"AdminsV2_Get","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"uuid","in":"path","description":"Admin user UUID(Required).","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AdminUser"}},"400":{"description":"1. { 400: User not found or does not have access to retrieve the details }","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"404":{"description":"1. { 404: Requested admin was not found or user is not authorized to access it.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]},"put":{"tags":["AdminsV2"],"summary":"New - Updates the specified admin user.","description":"Performs necessary checks and Update the Admin properties based on Id.","operationId":"AdminsV2_Update","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"uuid","in":"path","description":"The admin user UUID(Required).","required":true,"type":"string","format":"uuid"},{"name":"admin","in":"body","description":"The updated admin user details.","required":true,"schema":{"$ref":"#/definitions/AdminV2Model"}}],"responses":{"200":{"description":"OK"},"400":{"description":"1. { 400: User not found or does not have access to retrieve the details }1. { 400: UserName already exists. }2. { 400: Email Address is not valid. }3. { 400: Location Group {OGId} not found or user does not have access to it }4. { 400: LocationGroupId {OGId} is not valid }","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"404":{"description":"1. { 404: Requested admin was not found or user is not authorized to access it.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]},"delete":{"tags":["AdminsV2"],"summary":"New - Deletes the specified admin user.","description":"V2","operationId":"AdminsV2_Delete","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"uuid","in":"path","description":"Admin user UUID to be deleted(Required)","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK"},"400":{"description":"1. { 400: Requested 'admin' was not found or user is not authorized to access it }","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/admins":{"post":{"tags":["AdminsV2"],"summary":"New - Creates a new admin user.","description":"Performs necessary checks and Create a new Admin.","operationId":"AdminsV2_Create","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"admin","in":"body","description":"The admin user resource to create (Required)","required":true,"schema":{"$ref":"#/definitions/AdminV2Model"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EntityId"}},"400":{"description":"1. { 400: UserName already exists. }2. { 400: Email Address is not valid. }3. { 400: Location Group {OGId} not found or user does not have access to it }4. { 400: LocationGroupId {OGId} is not valid }5. { 400: UserName cannot be null or empty. }6. { 400: User Not Found in Directory }7. { 400: Admin User should be associated with atleast one role, please add role to the user. }8. { 400: The TimeZone value : {TimeZoneId} is invalid. }9. { 400: Invalid Locale name. }10. { 400: Duplicate role mapping is found between Location Group id {OGId} and Role id {RoleId} }","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/admins/search":{"get":{"tags":["AdminsV2"],"summary":"New - Searches for Admin users using the query information provided.","description":"Performs necessary checks and search for the admin users based on the request query.","operationId":"AdminsV2_Search","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"firstname","in":"query","description":"The First name to search for.","required":false,"type":"string","default":""},{"name":"lastname","in":"query","description":"The Last name to search for.","required":false,"type":"string","default":""},{"name":"email","in":"query","description":"The Email Address to search for.","required":false,"type":"string","default":""},{"name":"organizationgroupid","in":"query","description":"The Organization Group Id to search for.","required":false,"type":"integer","default":""},{"name":"role","in":"query","description":"The Role name to search for.","required":false,"type":"string","default":""},{"name":"username","in":"query","description":"The User name to search for.","required":false,"type":"string","default":""},{"name":"orderby","in":"query","description":"Order the results by this attribute.","required":false,"type":"string","default":""},{"name":"page","in":"query","description":"The specific page number to get.","required":false,"type":"integer","default":""},{"name":"pagesize","in":"query","description":"Maximum records per page.","required":false,"type":"integer","default":""},{"name":"sortorder","in":"query","description":"Sorting order. Allowed values are ASC or DESC. Defaults to ASC if this attribute is not specified.","required":false,"type":"string","default":""}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AdminSearchResult"}},"204":{"description":"NoContent"},"400":{"description":"1. { 400: Resource's organization group :{OGId} not found or user does not have access to this organization group. }","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/admins/{uuid}/password":{"put":{"tags":["AdminsV2"],"summary":"New - Changes the specified admin user's password.","description":"Performs necessary checks and update the password for an existing admin.","operationId":"AdminsV2_ChangePassword","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"uuid","in":"path","description":"The admin user udid (Required)","required":true,"type":"string","format":"uuid"},{"name":"adminuser","in":"body","description":"The admin user details.","required":true,"schema":{"$ref":"#/definitions/AdminUser "}}],"responses":{"200":{"description":"OK"},"400":{"description":"1. { 400: User not found or does not have access to retrieve the details }2. { 400: Password cannot be null, empty, or whitespace }3. { 400: Password does not meet complexity requirements }","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"401":{"description":"1. { 401: LDAP / AD users passwords cannot be changed }","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"404":{"description":"1. { 404: Requested admin was not found or user is not authorized to access it.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/groups/{organizationGroupUuid}/admins/{adminUserUuid}/roles/{roleUuid}":{"put":{"tags":["AdminsV2"],"summary":"New - Adds a role to the specified admin user.","description":"Performs necessary checks and add an role for an existing admin.","operationId":"AdminsV2_AddRoleToUser","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"organizationGroupUuid","in":"path","description":"Location group UUID string (Required)","required":true,"type":"string","format":"uuid"},{"name":"adminUserUuid","in":"path","description":"Admin user UUID (Required)","required":true,"type":"string","format":"uuid"},{"name":"roleUuid","in":"path","description":"Role UUID to be added (Required)","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK"},"400":{"description":"1. { 400: User not found or does not have access to retrieve the details }2. { 400: Role {RoleId} not found or user does not have access to it }3. { 400: Location Group {OGId} not found or user does not have access to it }4. { 400: Admin user already has this role. ","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"404":{"description":"1. { 404: Requested admin was not found or user is not authorized to access it.}","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]},"delete":{"tags":["AdminsV2"],"summary":"New - Removes a role from the specified admin user.","description":"Performs necessary checks and remove an role from an existing admin.","operationId":"AdminsV2_RemoveRoleFromUser","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"organizationGroupUuid","in":"path","description":"Location group UUID string (Required)","required":true,"type":"string","format":"uuid"},{"name":"adminUserUuid","in":"path","description":"Admin user UUID (Required)","required":true,"type":"string","format":"uuid"},{"name":"roleUuid","in":"path","description":"Role UUID to be deleted (Required)","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK"},"400":{"description":"1. { 400: User not found or does not have access to retrieve the details }2. { 400: Role {RoleId} not found or user does not have access to it }3. { 400: Location Group {OGId} not found or user does not have access to it }4. { 400: Role cannot be removed 5. {400: Role cannot be removed, atleast one role should be associated with the admin user {AdminId} }","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"404":{"description":"1. { 404: Requested admin was not found or user is not authorized to access it.}2. { 404: Requested admin role was not found or user is not authorized to access it. }","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/users/registercontainerdevice":{"post":{"tags":["DeviceRegistrationV2"],"summary":"Creates container device with the query infomration passed in the request","operationId":"DeviceRegistrationV2_RegisterContainerDevice","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"workspaceModel","in":"body","description":"vmWorkspace information","required":true,"schema":{"$ref":"#/definitions/VmWorkspaceModel"}}],"responses":{},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/users/registeruserdevices":{"post":{"tags":["DeviceRegistrationV2"],"summary":"Register users and devices provided in the request\r\npreserving the appropriate user type and the Location Group in the request","operationId":"DeviceRegistrationV2_RegisterUserDevices","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"deviceUserDetails","in":"body","description":"User and Device details","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/DeviceUserDetails"}}}],"responses":{},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}],"x-internalApi":true}},"/eventnotifications":{"post":{"tags":["EventNotificationsV2"],"summary":"New - Creates a new Event Notification rule with events to subscribe to.","description":"v1","operationId":"EventNotificationsV2_CreateEventNotificationRule","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"model","in":"body","description":"The Event Notification Model.","required":true,"schema":{"$ref":"#/definitions/EventNotificationModel"}}],"responses":{},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/eventnotifications/search":{"get":{"tags":["EventNotificationsV2"],"summary":"New - Searches Event Notifications based on the query information provided.","operationId":"EventNotificationsV2_Search","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"targetname","in":"query","description":"The Target Name.","required":false,"type":"string","default":""},{"name":"organizationgroupid","in":"query","description":"The OrganizationGroup Identifier.","required":false,"type":"string","default":""},{"name":"status","in":"query","description":"The Event Notification status [Active, Inactive].","required":false,"type":"string","default":""},{"name":"orderby","in":"query","description":"Sorts the response based on this attribute [TargetName, TargetUrl, FormatType, UserName, Active].","required":false,"type":"string","default":""},{"name":"sortorder","in":"query","description":"Sorting order. Values ASC or DESC. Defaults to ASC..","required":false,"type":"string","default":""},{"name":"page","in":"query","description":"Page number.","required":false,"type":"integer","default":""},{"name":"pagesize","in":"query","description":"Number of Records per page.","required":false,"type":"integer","default":""}],"responses":{},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/eventnotifications/{uuid}":{"get":{"tags":["EventNotificationsV2"],"summary":"New - Retrieves details of an Event Notification Rule identified by EventNotification Id.","operationId":"EventNotificationsV2_GetEventNotificationById","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"uuid","in":"path","description":"The Event Notification GUID.","required":true,"type":"string","format":"uuid"}],"responses":{},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]},"put":{"tags":["EventNotificationsV2"],"summary":"New - Updates an Event Notification Rule identified by the Event Notification Id.","operationId":"EventNotificationsV2_UpdateEventNotificationRule","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"uuid","in":"path","description":"The Event Notification GUID.","required":true,"type":"string","format":"uuid"},{"name":"model","in":"body","description":"The Event Notification Model.","required":true,"schema":{"$ref":"#/definitions/EventNotificationModel"}}],"responses":{},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]},"delete":{"tags":["EventNotificationsV2"],"summary":"New - Deletes an Event Notification Rule identified by the Event Notification Id.","description":"v1","operationId":"EventNotificationsV2_DeleteEventNotificationRule","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"uuid","in":"path","description":"The Event Notification GUID.","required":true,"type":"string","format":"uuid"}],"responses":{},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/groups/{id}":{"post":{"tags":["OrganizationGroups"],"summary":"Creates a new organization group.","description":"Create a new organization group","operationId":"OrganizationGroups_Post","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"id","in":"path","description":"The parent OrganizationGroup Identifier.","required":true,"type":"integer","format":"int32"},{"name":"locationGroup","in":"body","description":"The OrganizationGroup resource to be created.","required":true,"schema":{"$ref":"#/definitions/OrganizationGroup "}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OrganizationGroupResponseModel"}},"400":{"description":"1. {6 : Invalid Input - cannot create organization group with invalid input}","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"403":{"description":"1. {5093 : Admin Is Not Authorized - Admin does not have permission to create Partner type Organization Group. }, 2. {5093 : Admin Is Not Authorized - Admin does not have permission to create Customer type Organization Group. }","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/groups/search":{"get":{"tags":["OrganizationGroups"],"summary":"Searches for organization groups using the query information provided.","description":"Search organization by the given parameter","operationId":"OrganizationGroups_OrganizationGroupSearch","consumes":["application/json","application/xml"],"produces":["application/json;version=2","application/xml;version=2"],"parameters":[{"name":"name","in":"query","description":"The OrganizationGroup name, such as \"Global\".","required":false,"type":"string","default":""},{"name":"type","in":"query","description":"The OrganizationGroup type. (eg. \"Container\",\"Customer\",\"Partner\")","required":false,"type":"string","default":""},{"name":"groupid","in":"query","description":"The organization group identifier[Activation code] to search for.[Exact match is performed for this attribute]","required":false,"type":"string","default":""},{"name":"orderby","in":"query","description":"Orders the results based on this attribute-value[Valid values are: Id/Name/GroupId/LocationGroupType]","required":false,"type":"string","default":""},{"name":"page","in":"query","description":"Specific page number to get. 0 based index","required":false,"type":"integer","default":""},{"name":"pagesize","in":"query","description":"Maximum records per page. Default 500","required":false,"type":"integer","default":""},{"name":"sortorder","in":"query","description":"Sorting order. Allowed values are ASC or DESC. Defaults to ASC if this attribute is not specified.","required":false,"type":"string","default":""}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OrganizationGroupPagedSearchResultModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/users":{"post":{"tags":["UsersV2"],"summary":"New - Create an enrollment user","description":"Create an enrollment user with attributes including externalId, userName, password, firstName, lastName, displayName, userPrincipalName, emailAddress, phoneNumber, mobileNumber, messageType, messageTemplateUuid, enrollmentRoleUuid, status, securityType, deviceStagingEnabled, deviceStagingType, organizationGroupUuid and enrollmentOrganizationGroupUuid","operationId":"UsersV2_Create","consumes":["application/json"],"produces":["application/json;version=2"],"parameters":[{"name":"user","in":"body","description":"Enrollment user attributes(Required)","required":true,"schema":{"$ref":"#/definitions/CreateEnrollmentUserV2Model"}}],"responses":{"201":{"description":"Created","headers":{"Location":{"description":"users/{uuid}","type":"string"}}},"400":{"description":"Bad Request 1. {6: Resource's organization group :{ } not found or user does not have access to this organization group. } 2. {5081: { } authentication is not enabled at organization group: { }. } 3. {5086: Directory service is not configured for organization group { }.} 4. {5087: Unable to create a directory enrollment user when LDAP type is none and SAML is disabled at organization group { }. } 5. {5088: The directory enrollment user { } is required with LDAP type is none and SAML is enabled at organization group { }. } 6. {400: User not found in Directory. } 7. {5066: Error occurred during password enforcement: { }. } 8. {5082: Enrollment user { } exists at organization group { }. } 9. {5083: Enrollment role { } is not valid. } 10. {5084: Default enrollment role is not found at organization group: { }. } 11. {5085: Enrollment message template: { } is not valid. } ","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"403":{"description":"Forbidden 1.{1011: User doesn't have sufficient permissions to perform this operation.} ","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"422":{"description":"1012 - Unprocessable Entity 1. {SecurityType: SecurityType is not valid. Available options are basic, directory and authenticationProxy.} 2. {Password: Password is required for the { } enrollment user.} 3. {Password: Password cannot be greater than 128 characters.} 4. {FirstName: FirstName is required for the { } enrollment user.} 5. {LastName: LastName is required for the { } enrollment user.} 6. {EmailAddress: EmailAddress is required for the { } enrollment user.} 7. {EmailAddress: EmailAddress is not valid.} 8. {MessageType: MessageType is not valid. Available options are None, Email and SMS.} 9. {MobileNumber: MobileNumber is required for SMS notification.} 10. {MobileNumber: MobileNumber is not valid.} 11. {PhoneNumber: PhoneNumber is not valid.}   12. {DeviceStagingType: DeviceStagingType is not valid. Available options are StagingDisabled, SingleUserStagingStandard, SingleUserStagingAdvanced, MultipleUserStaging, MultipleUserStagingSingleUserStandard and MultipleUserStagingSingleUserAdvanced.} ","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}},"/users/{uuid}":{"get":{"tags":["UsersV2"],"summary":"New - Read an enrollment user by UUID","description":"Read an enrollment user attributes including uuid, externalId, domain, userName, firstName, lastName, displayName, fullName, userPrincipalName, emailAddress, phoneNumber, mobileNumber, emailUserName, messageType, messageTemplateUuid, enrollmentRoleUuid, status, securityType, deviceStagingType, enrolledDeviceCount, organizationGroupUuid, enrollmentOrganizationGroupUuid, customAttribute1, customAttribute2, customAttribute3, customAttribute4 and customAttribute5","operationId":"UsersV2_Read","consumes":["application/json"],"produces":["application/json;version=2"],"parameters":[{"name":"uuid","in":"path","description":"Identifier of an enrollment user(Required)","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ReadEnrollmentUserV2Model"}},"403":{"description":"Forbidden 1. {1011: User doesn't have sufficient permissions to perform this operation.} ","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"404":{"description":"Not Found 1. {12: Enrollment User not found : { } } ","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]},"put":{"tags":["UsersV2"],"summary":"New - Update an enrollment user by UUID","description":"Update the enrollment user with attributes including password, firstName, lastName, displayName, emailAddress, phoneNumber, mobileNumber, messageType, messageTemplateUuid, enrollmentRoleUuid and enrollmentOrganizationGroupUuid","operationId":"UsersV2_Update","consumes":["application/json"],"produces":["application/json;version=2"],"parameters":[{"name":"uuid","in":"path","description":"Identifier of an enrollment user(Required)","required":true,"type":"string","format":"uuid"},{"name":"user","in":"body","description":"Enrollment user attributes(Required)","required":true,"schema":{"$ref":"#/definitions/UpdateEnrollmentUserV2Model"}}],"responses":{"200":{"description":"OK","headers":{"Location":{"description":"users/{uuid}","type":"string"}}},"400":{"description":"Bad Request 1. {5066: Error occurred during password enforcement: { }. } 2. {6: Enrollment organization group: { } not found or user does not have access to the organization group. } ","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"403":{"description":"Forbidden 1.{1011: User doesn't have sufficient permissions to perform this operation.} ","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"404":{"description":"Not Found  1. {12: Enrollment User not found : { } } ","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"422":{"description":"1012 - Unprocessable Entity 1. {EmailAddress: EmailAddress is not valid.} 2. {PhoneNumber: PhoneNumber is not valid.} 3. {MobileNumber: MobileNumber is required for SMS notification.} 4. {MobileNumber: MobileNumber is not valid.} 5. {EnrollmentOrganizationGroupUuid: EnrollmentOrganizationGroupUuid has to be a guid value.} 6. {EnrollmentRoleUuid: EnrollmentRoleUuid has to be a guid value.} 7. {MessageType: MessageType is not valid. Available options are None, Email and SMS.} 8. {MessageTemplateUuid: MessageTemplateUuid has to be a guid value.} 9. {Password: Password cannot be greater than 128 characters.} ","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]},"delete":{"tags":["UsersV2"],"summary":"New - Delete an enrollment user by UUID","description":"Delete an enrollment user by UUID","operationId":"UsersV2_Delete","consumes":["application/json"],"produces":["application/json;version=2"],"parameters":[{"name":"uuid","in":"path","description":"Identifier of an enrollment user(Required)","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request 1. {9. User has enrolled devices, cant be deleted.} ","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"403":{"description":"Forbidden 1. {2: User doesn't have sufficient permissions to perform this operation.} ","schema":{"$ref":"#/definitions/BaseExceptionModel"}},"404":{"description":"Not Found 1. {12: Enrollment User not found : { } } ","schema":{"$ref":"#/definitions/BaseExceptionModel"}}},"security":[{"BasicAuth":[]},{"CmsAuth":[]},{"ApiKeyAuth":[]}]}}},"definitions":{"IActionResult":{"description":"interface for HttpActionResult","type":"object","properties":{"RequestQuery":{"$ref":"#/definitions/IRequestQuery","description":"Gets or sets the RequestQuery","xml":{"name":"RequestQuery"}},"RequestMessage":{"description":"Gets or sets the RequestMessage","type":"object","xml":{"name":"RequestMessage"}},"HttpStatusCode":{"format":"int32","description":"Gets or sets HttpStatusCode","enum":[100,101,200,201,202,203,204,205,206,300,300,301,301,302,302,303,303,304,305,306,307,307,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,426,500,501,502,503,504,505],"type":"integer","xml":{"name":"HttpStatusCode"}},"Model":{"description":"Gets or sets Model","type":"object","xml":{"name":"Model"}},"Stream":{"$ref":"#/definitions/Stream","description":"Gets or sets Stream","xml":{"name":"Stream"}},"PartialContentRange":{"$ref":"#/definitions/RangeHeaderValue","description":"Gets or sets partial content range","xml":{"name":"PartialContentRange"}},"ByteArray":{"format":"byte","description":"Gets or sets ByteArray","type":"string","xml":{"name":"ByteArray"}},"FileName":{"description":"Gets or sets FileName {Will be set in the content-disposition header}","type":"string","xml":{"name":"FileName"}},"MediaType":{"description":"Gets or sets MediaType","type":"string","xml":{"name":"MediaType"}},"OnStreamAvailable":{"description":"Gets or sets OnStreamAvailable","type":"object","xml":{"name":"OnStreamAvailable"}},"ETagHeaderValue":{"$ref":"#/definitions/EntityTagHeaderValue","description":"Gets or sets ETagHeaderValue","xml":{"name":"ETagHeaderValue"}},"AcceptsByteRanges":{"description":"Gets or sets a value which indicates whether a range byte request for a stream is accepted or not","type":"boolean","xml":{"name":"AcceptsByteRanges"}},"SendETagHeaderValue":{"description":"Gets or sets the option to include ETagHeaderValue","type":"boolean","xml":{"name":"SendETagHeaderValue"}},"LocationHeaderValue":{"description":"Gets or sets LocationHeaderValue","type":"string","xml":{"name":"LocationHeaderValue"}},"CacheControlValue":{"$ref":"#/definitions/CacheControlHeaderValue","description":"Gets or sets CacheControlValue","xml":{"name":"CacheControlValue"}},"ContentLength":{"format":"int64","description":"Gets or sets ContentLength","type":"integer","xml":{"name":"ContentLength"}},"ResponseDateTimeFormat":{"description":"DateTime format for response","type":"string","xml":{"name":"ResponseDateTimeFormat"}}}},"IRequestQuery":{"description":"Interface for IAwRequestQuery\r\nThis will hold all the required data for a request. Will be filled from ModelBinder","type":"object","properties":{"QueryParams":{"description":"Gets or sets Query Parameters. For e.g. any query string parameters will be extracted to key,value pair and stored here.","type":"object","additionalProperties":{"type":"string"},"xml":{"name":"QueryParams"}},"TenantContext":{"$ref":"#/definitions/ITenantContext","description":"Gets or sets IAwTenantContext. Will hold the tenant details, which will be filled as part of the tenant validation handler","xml":{"name":"TenantContext"}},"RequestMethod":{"$ref":"#/definitions/HttpMethod","description":"Gets or sets RequestMethod. Will be used to write custom rules","xml":{"name":"RequestMethod"}},"ActionName":{"description":"Gets or sets ActionName","type":"string","xml":{"name":"ActionName"}},"AllowedUriQueryChars":{"description":"Gets or sets allowed Characters in Query String.","type":"array","items":{"type":"string"},"xml":{"name":"AllowedUriQueryChars"}}}},"Stream":{"type":"object","properties":{"__identity":{"type":"object"}}},"RangeHeaderValue":{"type":"object","properties":{"Unit":{"type":"string","xml":{"name":"Unit"}},"Ranges":{"type":"array","items":{"$ref":"#/definitions/RangeItemHeaderValue"},"readOnly":true,"xml":{"name":"Ranges"}}}},"EntityTagHeaderValue":{"type":"object","properties":{"Tag":{"type":"string","readOnly":true,"xml":{"name":"Tag"}},"IsWeak":{"type":"boolean","readOnly":true,"xml":{"name":"IsWeak"}}}},"CacheControlHeaderValue":{"type":"object","properties":{"NoCache":{"type":"boolean","xml":{"name":"NoCache"}},"NoCacheHeaders":{"type":"array","items":{"type":"string"},"readOnly":true,"xml":{"name":"NoCacheHeaders"}},"NoStore":{"type":"boolean","xml":{"name":"NoStore"}},"MaxAge":{"type":"string","xml":{"name":"MaxAge"}},"SharedMaxAge":{"type":"string","xml":{"name":"SharedMaxAge"}},"MaxStale":{"type":"boolean","xml":{"name":"MaxStale"}},"MaxStaleLimit":{"type":"string","xml":{"name":"MaxStaleLimit"}},"MinFresh":{"type":"string","xml":{"name":"MinFresh"}},"NoTransform":{"type":"boolean","xml":{"name":"NoTransform"}},"OnlyIfCached":{"type":"boolean","xml":{"name":"OnlyIfCached"}},"Public":{"type":"boolean","xml":{"name":"Public"}},"Private":{"type":"boolean","xml":{"name":"Private"}},"PrivateHeaders":{"type":"array","items":{"type":"string"},"readOnly":true,"xml":{"name":"PrivateHeaders"}},"MustRevalidate":{"type":"boolean","xml":{"name":"MustRevalidate"}},"ProxyRevalidate":{"type":"boolean","xml":{"name":"ProxyRevalidate"}},"Extensions":{"type":"array","items":{"$ref":"#/definitions/NameValueHeaderValue"},"readOnly":true,"xml":{"name":"Extensions"}}}},"ITenantContext":{"description":"Contract for TenantContext. Will be exposed from RequestQuery and will be injected to every controller actions and Business method","type":"object","properties":{"TenantCode":{"description":"Gets or sets TenantCode. Uniquely identify the tenant for the request","type":"string","xml":{"name":"TenantCode"}},"OrganizationgroupId":{"$ref":"#/definitions/EntityId","description":"Gets or sets Organization Group ID","xml":{"name":"OrganizationgroupId"}}}},"HttpMethod":{"type":"object","properties":{"Method":{"type":"string","readOnly":true,"xml":{"name":"Method"}}}},"RangeItemHeaderValue":{"type":"object","properties":{"From":{"format":"int64","type":"integer","readOnly":true,"xml":{"name":"From"}},"To":{"format":"int64","type":"integer","readOnly":true,"xml":{"name":"To"}}}},"NameValueHeaderValue":{"type":"object","properties":{"Name":{"type":"string","readOnly":true,"xml":{"name":"Name"}},"Value":{"type":"string","xml":{"name":"Value"}}}},"EntityId":{"type":"object","properties":{"Value":{"format":"int64","type":"integer","readOnly":true,"xml":{"name":"Value"}}},"example":{"Value":1}},"RoleModel":{"description":"Represents role of admin user.","type":"object","properties":{"Id":{"format":"int32","description":"Role Identifier","type":"integer","xml":{"name":"Id"}},"Uuid":{"format":"uuid","description":"Role UUID","type":"string","xml":{"name":"Uuid"}},"Name":{"description":"Name of role","type":"string","xml":{"name":"Name"}},"Description":{"description":"Description of role","type":"string","xml":{"name":"Description"}},"LocationGroup":{"description":"Location Group of role","type":"string","xml":{"name":"LocationGroup"}},"LocationGroupId":{"description":"Location Group Id of role","type":"string","xml":{"name":"LocationGroupId"}},"OrganizationGroupUuid":{"description":"Organization Group UUID of role","type":"string","xml":{"name":"OrganizationGroupUuid"}},"IsActive":{"description":"Flag to indicate whether the role is active or not.","type":"boolean","xml":{"name":"IsActive"}},"UserLinkId":{"format":"int32","description":"UserLink ID for the role to OG mapping.","type":"integer","xml":{"name":"UserLinkId"}}},"xml":{"name":"RoleModel","namespace":"http://www.air-watch.com/servicemodel/resources"}},"RoleModel ":{"description":"Represents role of admin user.","type":"object","properties":{"Id":{"format":"int32","description":"Role Identifier","type":"integer","xml":{"name":"Id"}},"Uuid":{"format":"uuid","description":"Role UUID","type":"string","xml":{"name":"Uuid"}},"Name":{"description":"Name of role","type":"string","xml":{"name":"Name"}},"Description":{"description":"Description of role","type":"string","xml":{"name":"Description"}},"LocationGroup":{"description":"Location Group of role","type":"string","xml":{"name":"LocationGroup"}},"LocationGroupId":{"description":"Location Group Id of role","type":"string","xml":{"name":"LocationGroupId"}},"OrganizationGroupUuid":{"description":"Organization Group UUID of role","type":"string","xml":{"name":"OrganizationGroupUuid"}},"IsActive":{"description":"Flag to indicate whether the role is active or not.","type":"boolean","xml":{"name":"IsActive"}},"UserLinkId":{"format":"int32","description":"UserLink ID for the role to OG mapping.","type":"integer","xml":{"name":"UserLinkId"}}},"xml":{"name":"Role"}},"EntityId ":{"type":"object","properties":{"Value":{"format":"int64","type":"integer","readOnly":true,"xml":{"name":"Value"}}},"xml":{"name":"Id"}},"AdminUser":{"description":"Represents an admin account.","type":"object","properties":{"UserName":{"description":"User Name of admin.","type":"string","xml":{"name":"UserName"}},"Password":{"description":"Admin user password.","maxLength":50,"minLength":0,"type":"string","xml":{"name":"Password"}},"FirstName":{"description":"First Name of admin user","type":"string","xml":{"name":"FirstName"}},"LastName":{"description":"Last Name of admin user","type":"string","xml":{"name":"LastName"}},"Email":{"description":"Admin user email address","type":"string","xml":{"name":"Email"}},"LocationGroup":{"description":"Location group of the admin user","type":"string","xml":{"name":"LocationGroup"}},"LocationGroupId":{"description":"Location group id of the admin user","type":"string","xml":{"name":"LocationGroupId"}},"OrganizationGroupUuid":{"description":"Organization group UUID of the admin user","type":"string","xml":{"name":"OrganizationGroupUuid"}},"TimeZone":{"description":"Time zone","type":"string","xml":{"name":"TimeZone"}},"Locale":{"description":"Locale","type":"string","xml":{"name":"Locale"}},"InitialLandingPage":{"description":"Initial landing page","type":"string","xml":{"name":"InitialLandingPage"}},"LastLoginTimeStamp":{"format":"date-time","description":"Last login time stamp of admin user","type":"string","xml":{"name":"LastLoginTimeStamp"}},"Roles":{"description":"Roles associated with the admin user","type":"array","items":{"$ref":"#/definitions/RoleModel ","xml":{"name":"Role"}},"xml":{"name":"Roles","wrapped":true}},"IsActiveDirectoryUser":{"description":"Flag to indicate whether the admin user is LDAP/AD user","type":"boolean","xml":{"name":"IsActiveDirectoryUser"}},"RequiresPasswordChange":{"description":"Flag to indicate whether the admin user requires to change the password on next login","type":"boolean","xml":{"name":"RequiresPasswordChange"}},"MessageType":{"format":"int32","description":"Gets or sets message type","enum":[0,1,2,-1],"type":"integer","xml":{"name":"MessageType"}},"MessageTemplateId":{"format":"int32","description":"Gets or sets message template id","type":"integer","xml":{"name":"MessageTemplateId"}},"ExternalId":{"description":"Gets or sets external id","type":"string","xml":{"name":"ExternalId"}},"Id":{"$ref":"#/definitions/EntityId ","xml":{"name":"Id"}},"Uuid":{"format":"uuid","type":"string","xml":{"name":"Uuid"}}},"xml":{"name":"AdminUser","namespace":"http://www.air-watch.com/servicemodel/resources"},"example":{"UserName":"TempAdmin","Password":"******","FirstName":"Temp","LastName":"Temp","Email":"noreply@vmware.com","LocationGroup":"Global","LocationGroupId":"Global","OrganizationGroupUuid":"Text value","TimeZone":"GMT","Locale":"en-us","InitialLandingPage":"Devices > Dashboard","LastLoginTimeStamp":"2018-04-19T15:43:56.3672495-04:00","Roles":[{"Id":10001,"Uuid":"c620de7e-7402-4d80-bafb-f0cc95c6eb22","Name":"Temp Administrator","Description":"Temp Administrator","LocationGroup":"Global","LocationGroupId":"Global","OrganizationGroupUuid":"Text value","IsActive":true,"UserLinkId":10001}],"IsActiveDirectoryUser":true,"RequiresPasswordChange":false,"MessageType":0,"MessageTemplateId":15,"ExternalId":"c91a9f19-2032-4a8d-ab87-3a0ce579268e","Id":{"Value":1},"Uuid":"08916e9a-5cf3-416d-a8d8-3ba896fb0ab9"}},"BaseExceptionModel":{"description":"Base model for exception","type":"object","properties":{"errorCode":{"format":"int32","description":"Application error code","type":"integer","xml":{"name":"ErrorCode"}},"message":{"description":"Friendly error message","type":"object","xml":{"name":"Message"}},"activityId":{"format":"uuid","description":"TransactionId of the request","type":"string","xml":{"name":"ActivityId"}}},"xml":{"name":"AirWatchFaultContract","namespace":"http://www.air-watch.com/"}},"AdminV2Model":{"description":"Represents an admin user V2","type":"object","properties":{"username":{"description":"Name of the admin user","type":"string","xml":{"name":"Username"}},"password":{"description":"Password of the admin user","type":"string","xml":{"name":"Password"}},"firstName":{"description":"FirstName of the admin user","type":"string","xml":{"name":"FirstName"}},"lastName":{"description":"LastName of the admin user","type":"string","xml":{"name":"LastName"}},"email":{"description":"Email address of the admin user","type":"string","xml":{"name":"Email"}},"timeZone":{"description":"Time zone","type":"string","xml":{"name":"TimeZone"}},"locale":{"description":"Culture code","type":"string","xml":{"name":"Locale"}},"initialLandingPage":{"description":"Initial landing page of AirWatch console","type":"string","xml":{"name":"InitialLandingPage"}},"isActiveDirectoryUser":{"description":"Flag to indicate whether the admin user is LDAP/AD user","type":"boolean","xml":{"name":"IsActiveDirectoryUser"}},"requiresPasswordChange":{"description":"Flag to indicate whether the admin user requires to change the password on next login","type":"boolean","xml":{"name":"RequiresPasswordChange"}},"roles":{"description":"Roles associated with the admin user","type":"array","items":{"$ref":"#/definitions/RoleV2Model"},"xml":{"name":"Roles"}},"messageTemplateId":{"format":"int32","description":"Gets or sets message template ID","type":"integer","xml":{"name":"MessageTemplateId"}},"messageTemplateUuid":{"format":"uuid","description":"Gets or sets message template UUID","type":"string","xml":{"name":"MessageTemplateUuid"}},"messageType":{"format":"int32","description":"Gets or sets message type","enum":[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,25,26,27,28,29,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46],"type":"integer","xml":{"name":"MessageType"}},"vIDMElevationStatus":{"format":"int32","description":"Gets or sets elevation status","enum":[1,2],"type":"integer","xml":{"name":"ElevationStatus"}},"organizationGroupId":{"format":"int32","description":"Gets or sets organization group ID","type":"integer","xml":{"name":"OrganizationGroupId"}},"organizationGroupUuid":{"format":"uuid","description":"Gets or sets organization group UUID","type":"string","xml":{"name":"OrganizationGroupUuid"}},"id":{"format":"int32","description":"Identifier","type":"integer","xml":{"name":"Id"}},"uuid":{"format":"uuid","description":"Gets or sets current objects UUID","type":"string","xml":{"name":"Uuid"}}}},"RoleV2Model":{"description":"Contains admin user role information","type":"object","properties":{"name":{"description":"Name of the role","type":"string","xml":{"name":"Name"}},"organizationGroupId":{"format":"int32","description":"Gets or sets organization group ID","type":"integer","xml":{"name":"OrganizationGroupId"}},"organizationGroupUuid":{"format":"uuid","description":"Gets or sets organization group UUID","type":"string","xml":{"name":"OrganizationGroupUuid"}},"id":{"format":"int32","description":"Identifier","type":"integer","xml":{"name":"Id"}},"uuid":{"format":"uuid","description":"Gets or sets current objects UUID","type":"string","xml":{"name":"Uuid"}}}},"RequestQuery":{"description":"Implementation for RequestQuery","type":"object","properties":{}},"AdminSearchResult":{"type":"object","properties":{"Admins":{"description":"Array of Admin Users.","type":"array","items":{"$ref":"#/definitions/AdminUser"},"xml":{"name":"Admins","wrapped":true}},"Page":{"format":"int32","type":"integer","xml":{"name":"Page"}},"PageSize":{"format":"int32","type":"integer","xml":{"name":"PageSize"}},"Total":{"format":"int32","type":"integer","xml":{"name":"Total"}}},"xml":{"name":"AdminSearchResult","namespace":"http://www.air-watch.com/servicemodel/resources"},"example":{"Admins":[{"UserName":"TempAdmin","Password":"******","FirstName":"Temp","LastName":"Temp","Email":"noreply@vmware.com","LocationGroup":"Global","LocationGroupId":"Global","OrganizationGroupUuid":"Text value","TimeZone":"GMT","Locale":"en-us","InitialLandingPage":"Devices > Dashboard","LastLoginTimeStamp":"2018-04-19T15:43:56.4925108-04:00","Roles":[{"Id":10001,"Uuid":"602c13ad-ba43-4229-a357-bee023846d8d","Name":"Temp Administrator","Description":"Temp Administrator","LocationGroup":"Global","LocationGroupId":"Global","OrganizationGroupUuid":"Text value","IsActive":true,"UserLinkId":10001}],"IsActiveDirectoryUser":true,"RequiresPasswordChange":false,"MessageType":0,"MessageTemplateId":15,"ExternalId":"c91a9f19-2032-4a8d-ab87-3a0ce579268e","Id":{"Value":1},"Uuid":"060dbfa2-2e47-48e7-a087-6eddecb25ce5"}],"Page":1,"PageSize":2,"Total":3}},"AdminUser ":{"title":"AdminUser","description":"Represents an admin account.","type":"object","properties":{"Password":{"description":"Admin user password.","maxLength":50,"minLength":0,"type":"string","xml":{"name":"Password"}},"OrganizationGroupUuid":{"description":"Organization group UUID of the admin user","type":"string","xml":{"name":"OrganizationGroupUuid"}},"RequiresPasswordChange":{"description":"Flag to indicate whether the admin user requires to change the password on next login","type":"boolean","xml":{"name":"RequiresPasswordChange"}},"MessageType":{"format":"int32","description":"Gets or sets message type","enum":[0,1,2,-1],"type":"integer","xml":{"name":"MessageType"}},"MessageTemplateId":{"format":"int32","description":"Gets or sets message template id","type":"integer","xml":{"name":"MessageTemplateId"}},"ExternalId":{"description":"Gets or sets external id","type":"string","xml":{"name":"ExternalId"}},"Uuid":{"format":"uuid","type":"string","xml":{"name":"Uuid"}}},"xml":{"name":"AdminUser","namespace":"http://www.air-watch.com/servicemodel/resources"},"example":{"Password":"******","OrganizationGroupUuid":"Text value","LastLoginTimeStamp":"0001-01-01T00:00:00","IsActiveDirectoryUser":false,"RequiresPasswordChange":false,"MessageType":0,"MessageTemplateId":15,"ExternalId":"c91a9f19-2032-4a8d-ab87-3a0ce579268e","Id":{"Value":0},"Uuid":"22a2452f-3c9b-43be-92a9-6440a0633361"}},"VmWorkspaceModel":{"description":"VmWorkspace device details","type":"object","properties":{"udid":{"description":"Gets or sets the udid","type":"string","xml":{"name":"udid"}},"userId":{"description":"Gets or sets the username","type":"string","xml":{"name":"userId"}},"appBundleId":{"description":"Gets or sets the bundleId","type":"string","xml":{"name":"appBundleId"}},"platformId":{"format":"int32","description":"Gets or sets the platformId","type":"integer","xml":{"name":"platformId"}},"deviceOs":{"description":"Gets or sets the device Os","type":"string","xml":{"name":"deviceOs"}},"deviceModel":{"description":"Gets or sets the device Model","type":"string","xml":{"name":"deviceModel"}},"deviceModelIdentifier":{"description":"/// Gets or sets the device Model Identifier","type":"string","xml":{"name":"deviceModelIdentifier"}},"isDeviceAfwCertified":{"description":"Gets or sets the AFW device status","type":"boolean","xml":{"name":"isDeviceAfwCertified"}},"deviceOemInfo":{"description":"Gets or sets the Device OEM Info","type":"string","xml":{"name":"deviceOemInfo"}},"groupId":{"description":"Gets or sets the Group ID","type":"string","xml":{"name":"groupId"}},"domainGroupId":{"description":"Gets or sets the Group ID","type":"string","xml":{"name":"domainGroupId"}}},"xml":{"name":"VmWorkspaceModel","namespace":"http://www.air-watch.com/servicemodel/resources"},"example":{"udid":"Text value","userId":"Text value","appBundleId":"Text value","platformId":4,"deviceOs":"Text value","deviceModel":"Text value","deviceModelIdentifier":"Text value","isDeviceAfwCertified":true,"deviceOemInfo":"Text value","groupId":"Text value","domainGroupId":"Text value"}},"RegisterContainerResponse":{"type":"object","properties":{"HmacToken":{"type":"string","xml":{"name":"HmacToken"}},"GroupId":{"type":"string","xml":{"name":"GroupId"}},"AuthenticationGroup":{"type":"string","xml":{"name":"AuthenticationGroup"}},"DeviceServicesUrl":{"type":"string","xml":{"name":"DeviceServicesUrl"}}}},"DeviceUserDetails":{"description":"Details containing the user and device details which needs to be registered in Airwatch","type":"object","properties":{"UserName":{"description":"Username of enrollment User","type":"string","xml":{"name":"UserName"}},"Password":{"description":"Password of Enrollment User","type":"string","xml":{"name":"Password"}},"FirstName":{"description":"User's FirstName","type":"string","xml":{"name":"FirstName"}},"LastName":{"description":"User's LastName","type":"string","xml":{"name":"LastName"}},"Email":{"description":"User's Email Address","type":"string","xml":{"name":"Email"}},"DeviceMACAddress":{"description":"Device MAC Address","type":"string","xml":{"name":"DeviceMACAddress"}},"DeviceSerialNumber":{"description":"Serial Number of Device","type":"string","xml":{"name":"DeviceSerialNumber"}},"TokenType":{"format":"int32","description":"Type of Token to be generated.","type":"integer","xml":{"name":"TokenType"}}},"xml":{"name":"DeviceUserDetails","namespace":"http://www.air-watch.com/servicemodel/resources"},"example":[{"UserName":"Text value","Password":"Text value","FirstName":"Text value","LastName":"Text value","Email":"Text value","DeviceMACAddress":"Text value","DeviceSerialNumber":"Text value","TokenType":8}]},"DeviceTokenDetails":{"description":"Device Token details","type":"object","properties":{"MACAddress":{"description":"Device MAC Address","type":"string","xml":{"name":"MACAddress"}},"SerialNumber":{"description":"Device Serial Number","type":"string","xml":{"name":"SerialNumber"}},"EnrollmentToken":{"description":"Enrollment Token for the device","type":"string","xml":{"name":"EnrollmentToken"}}},"xml":{"name":"DeviceTokenDetails","namespace":"http://www.air-watch.com/servicemodel/resources"}},"EventNotificationModel":{"description":"The Event Notification model.","type":"object","properties":{"TargetName":{"description":"The Friendly name of the Target URL.","type":"string","xml":{"name":"TargetName"}},"TargetUrl":{"description":"The URL to send the event notifications to.","type":"string","xml":{"name":"TargetUrl"}},"Username":{"description":"The username required to access the Target URL.","type":"string","xml":{"name":"Username"}},"Password":{"description":"The Password required to access the Target URL.","type":"string","xml":{"name":"Password"}},"Format":{"format":"int32","description":"The format of the POST message: XML(0) or Json(1).","enum":[0,1],"type":"integer","xml":{"name":"Format"}},"IsActive":{"description":"Indicates whether event notification's have been set to active or inactive.","type":"boolean","xml":{"name":"IsActive"}},"DeviceEvents":{"$ref":"#/definitions/DeviceEventsModel","description":"Device events that could occur for a device.","xml":{"name":"DeviceEvents"}},"organizationGroupId":{"format":"int32","description":"Gets or sets organization group ID","type":"integer","xml":{"name":"OrganizationGroupId"}},"organizationGroupUuid":{"format":"uuid","description":"Gets or sets organization group UUID","type":"string","xml":{"name":"OrganizationGroupUuid"}},"id":{"format":"int32","description":"Identifier","type":"integer","xml":{"name":"Id"}},"uuid":{"format":"uuid","description":"Gets or sets current objects UUID","type":"string","xml":{"name":"Uuid"}}},"xml":{"name":"EventNotification","namespace":"http://www.air-watch.com/servicemodel/resources"},"example":{"TargetName":"TestEventTargetName","TargetUrl":"https://examplenotificationurl.com","Username":"ExampleUser","Password":"Pa$$word","Format":1,"IsActive":true,"DeviceEvents":{"Enrollment":true,"UnenrolledEnterpriseWipe":true,"Wipe":true,"CompromisedStatusChange":true,"Delete":true,"ComplianceStatusChange":true,"DeviceAttributes":{"AssetNumber":true,"FriendlyName":true,"OrganizationGroup":true,"UserEmailAddress":true,"Ownership":true,"OperatingSystem":true,"PhoneNumber":true,"DeviceMCC":true}},"organizationGroupId":1234,"organizationGroupUuid":"aae39fe3-4d9c-4e97-a471-312c22867c0b","id":1234,"uuid":"24e07ba9-f219-4f9f-aac6-894fdf60e746"}},"DeviceEventsModel":{"description":"The Device Events model.","type":"object","properties":{"Enrollment":{"description":"Indicates whether an outbound event has been triggered to set the enrollment status of a device.","type":"boolean","xml":{"name":"Enrollment"}},"UnenrolledEnterpriseWipe":{"description":"Indicates whether an outbound event has been triggered to unenroll and perform an enterpirse wipe on a device.","type":"boolean","xml":{"name":"UnenrolledEnterpriseWipe"}},"Wipe":{"description":"Indicates whether an outbound event has been triggered to wipe a device.","type":"boolean","xml":{"name":"Wipe"}},"CompromisedStatusChange":{"description":"Indicates whether an outbound event has been triggered for a change in the setting of a compromised device.","type":"boolean","xml":{"name":"CompromisedStatusChange"}},"Delete":{"description":"Indicates whether an outbound event has been triggered for a deletion of the device.","type":"boolean","xml":{"name":"Delete"}},"ComplianceStatusChange":{"description":"Indicates whether an outbound event has changed the compliance status for a device.","type":"boolean","xml":{"name":"ComplianceStatusChange"}},"DeviceAttributes":{"$ref":"#/definitions/DeviceAttributesModel","description":"Device attribute properties that have been changed. These properties are triggered by an outbound event call.","xml":{"name":"DeviceAttributes"}}},"xml":{"name":"DeviceEvents","namespace":"http://www.air-watch.com/servicemodel/resources"}},"DeviceAttributesModel":{"description":"The device attributes model.","type":"object","properties":{"AssetNumber":{"description":"Indicates whether an outbound event has been triggered for a device asset number.","type":"boolean","xml":{"name":"AssetNumber"}},"FriendlyName":{"description":"Indicates whether an outbound event has been triggered for a device friendly name.","type":"boolean","xml":{"name":"FriendlyName"}},"OrganizationGroup":{"description":"Indicates whether an outbound event has triggered a changed organization group for a device.","type":"boolean","xml":{"name":"OrganizationGroup"}},"UserEmailAddress":{"description":"Indicates whether an outbound event has been triggered for a existing user email address.","type":"boolean","xml":{"name":"UserEmailAddress"}},"Ownership":{"description":"Indicates whether an outbound event has been triggered for ownership of a device.","type":"boolean","xml":{"name":"Ownership"}},"OperatingSystem":{"description":"Indicates whether an outbound event has been triggered for a device's operating system.","type":"boolean","xml":{"name":"OperatingSystem"}},"PhoneNumber":{"description":"Indicates whether an outbound event has been triggered for a device's phone number.","type":"boolean","xml":{"name":"PhoneNumber"}},"DeviceMCC":{"description":"Indicates whether an outbound event has been triggered for a device's MCC.","type":"boolean","xml":{"name":"DeviceMCC"}}},"xml":{"name":"DeviceAttributes","namespace":"http://www.air-watch.com/servicemodel/resources"}},"BaseModel":{"description":"Base class for ViewModels","type":"object","properties":{"id":{"format":"int32","description":"Identifier","type":"integer","xml":{"name":"Id"}},"uuid":{"format":"uuid","description":"Gets or sets current objects UUID","type":"string","xml":{"name":"Uuid"}}}},"HypermediaModel":{"description":"The aw hypermedia model.","type":"object","properties":{"Links":{"description":"List of hypermedia link.","type":"array","items":{"$ref":"#/definitions/Link"},"readOnly":true,"xml":{"name":"Links","wrapped":true}},"id":{"format":"int32","description":"Identifier","type":"integer","xml":{"name":"Id"}},"uuid":{"format":"uuid","description":"Gets or sets current objects UUID","type":"string","xml":{"name":"Uuid"}}},"xml":{"name":"Info","namespace":"http://www.air-watch.com/webapi/resources"}},"Link":{"description":"The link.","type":"object","properties":{"Rel":{"description":"Relational links.","type":"string","xml":{"name":"Rel"}},"Href":{"description":"Hyper text reference.","type":"string","xml":{"name":"Href"}},"Title":{"description":"Title of the link.","type":"string","xml":{"name":"Title"}}},"xml":{"name":"Link","namespace":"http://www.air-watch.com/webapi/resources"}},"HypermediaModel ":{"description":"The aw hypermedia model.","type":"object","properties":{"Links":{"description":"List of hypermedia link.","type":"array","items":{"$ref":"#/definitions/Link"},"readOnly":true,"xml":{"name":"Links","wrapped":true}},"id":{"format":"int32","description":"Identifier","type":"integer","xml":{"name":"Id"}},"uuid":{"format":"uuid","description":"Gets or sets current objects UUID","type":"string","xml":{"name":"Uuid"}}},"xml":{"name":"AdditionalInfo"}},"EventNotificationsPagedSearchResultModel":{"description":"Event Notifications Paged Search Results.","type":"object","properties":{"EventNotifications":{"description":"Gets or sets the Event Notifications.","type":"array","items":{"$ref":"#/definitions/EventNotificationModel"},"xml":{"name":"EventNotifications","wrapped":true}},"AdditionalInfo":{"$ref":"#/definitions/HypermediaModel ","description":"Gets or sets Hypermedia content for the result","xml":{"name":"Hypermedia"}},"TotalResults":{"format":"int32","description":"Gets or sets Total Result","type":"integer","xml":{"name":"TotalResults"}}},"xml":{"name":"EventNotificationsSearchResult","namespace":"http://www.air-watch.com/servicemodel/resources"}},"LocationModel":{"description":"This entity represents a location.","type":"object","properties":{"InternalName":{"description":"Gets or sets The location Internal name.","type":"string","xml":{"name":"InternalName"}},"DisplayName":{"description":"Gets or sets The location display name.","type":"string","xml":{"name":"DisplayName"}},"LocationType":{"format":"int32","description":"Gets or sets Location Type id like 17[Field], 16[Corporate office] etc..","type":"integer","xml":{"name":"LocationType"}},"IsActive":{"format":"int32","description":"Gets or sets Value is true if location is active else false","type":"integer","xml":{"name":"IsActive"}},"Status":{"format":"int32","description":"Gets or sets Status id of location like 100[Complete], 80[Installed]","type":"integer","xml":{"name":"Status"}},"Timezone":{"format":"int32","description":"Gets or sets Timezone id of Location like 62[EST, GMT-5.00] etc..","type":"integer","xml":{"name":"Timezone"}},"PrimaryLocationGroupId":{"format":"int32","description":"Gets or sets Primary location group of location","type":"integer","xml":{"name":"PrimaryLocationGroupId"}},"id":{"format":"int32","description":"Identifier","type":"integer","xml":{"name":"Id"}},"uuid":{"format":"uuid","description":"Gets or sets current objects UUID","type":"string","xml":{"name":"Uuid"}}},"xml":{"name":"LocationModel","namespace":"http://www.air-watch.com/webapi/resources"}},"LocationModel ":{"description":"This entity represents a location.","type":"object","properties":{"InternalName":{"description":"Gets or sets The location Internal name.","type":"string","xml":{"name":"InternalName"}},"DisplayName":{"description":"Gets or sets The location display name.","type":"string","xml":{"name":"DisplayName"}},"LocationType":{"format":"int32","description":"Gets or sets Location Type id like 17[Field], 16[Corporate office] etc..","type":"integer","xml":{"name":"LocationType"}},"IsActive":{"format":"int32","description":"Gets or sets Value is true if location is active else false","type":"integer","xml":{"name":"IsActive"}},"Status":{"format":"int32","description":"Gets or sets Status id of location like 100[Complete], 80[Installed]","type":"integer","xml":{"name":"Status"}},"Timezone":{"format":"int32","description":"Gets or sets Timezone id of Location like 62[EST, GMT-5.00] etc..","type":"integer","xml":{"name":"Timezone"}},"PrimaryLocationGroupId":{"format":"int32","description":"Gets or sets Primary location group of location","type":"integer","xml":{"name":"PrimaryLocationGroupId"}},"id":{"format":"int32","description":"Identifier","type":"integer","xml":{"name":"Id"}},"uuid":{"format":"uuid","description":"Gets or sets current objects UUID","type":"string","xml":{"name":"Uuid"}}},"xml":{"name":"location"}},"OrganizationGroup":{"description":"Location Group Model","type":"object","properties":{"Name":{"description":"Location group name.","type":"string","xml":{"name":"Name"}},"GroupId":{"description":"The location group's tenant code.","type":"string","xml":{"name":"GroupId"}},"LocationGroupType":{"description":"Location group type like Business segment, Customer etc...","type":"string","xml":{"name":"LocationGroupType"}},"Country":{"description":"Country name like United States, India etc.","type":"string","xml":{"name":"Country"}},"Locale":{"description":"Gets or sets Locale information for Location Group like","type":"string","xml":{"name":"Locale"}},"AddDefaultLocation":{"description":"This tells whether default location to be created while creating Location Group","type":"string","xml":{"name":"AddDefaultLocation"}},"CreatedOn":{"description":"Date and time when Location group was created.","type":"string","xml":{"name":"CreatedOn"}},"Users":{"description":"This contains total number of Enrollment users in this Location Group","type":"string","xml":{"name":"Users"}},"Admins":{"description":"This contains total number of Admin users in this Location Group","type":"string","xml":{"name":"Admins"}},"Devices":{"description":"This contains total nummber of devices in this Location group","type":"string","xml":{"name":"Devices"}},"EnableRestApiAccess":{"description":"This is a value indicating whether enable rest api access.","type":"boolean","xml":{"name":"EnableRestApiAccess"}},"location":{"$ref":"#/definitions/LocationModel ","description":"Gets or sets location details of a locationgroup","xml":{"name":"Location"}},"id":{"format":"int32","description":"Identifier","type":"integer","xml":{"name":"Id"}},"uuid":{"format":"uuid","description":"Gets or sets current objects UUID","type":"string","xml":{"name":"Uuid"}}},"xml":{"name":"OrganizationGroup","namespace":"http://www.air-watch.com/webapi/resources"}},"RestApiAccessStatusModel":{"description":"The rest api status model.","type":"object","properties":{"Status":{"format":"int32","description":"Gets or sets the rest api status.","enum":[0,1],"type":"integer","xml":{"name":"Status"}},"DefaultAdminApiKey":{"description":"Gets or sets the default admin api key.","type":"string","xml":{"name":"DefaultAdminApiKey"}},"EnrollmentUserApiKey":{"description":"Gets or sets the enrollment user api key.","type":"string","xml":{"name":"EnrollmentUserApiKey"}}},"xml":{"name":"RestApiStatus","namespace":"http://www.air-watch.com/webapi/resources"}},"RestApiAccessStatusModel ":{"description":"The rest api status model.","type":"object","properties":{"Status":{"format":"int32","description":"Gets or sets the rest api status.","enum":[0,1],"type":"integer","xml":{"name":"Status"}},"DefaultAdminApiKey":{"description":"Gets or sets the default admin api key.","type":"string","xml":{"name":"DefaultAdminApiKey"}},"EnrollmentUserApiKey":{"description":"Gets or sets the enrollment user api key.","type":"string","xml":{"name":"EnrollmentUserApiKey"}}},"xml":{"name":"RestApiAccess"}},"OrganizationGroupResponseModel":{"description":"The organization group response model.","type":"object","properties":{"Id":{"format":"int32","description":"Gets or sets the id.","type":"integer","xml":{"name":"Id"}},"Uuid":{"format":"uuid","description":"Gets or sets the location group guid value","type":"string","xml":{"name":"Uuid"}},"RestApiAccess":{"$ref":"#/definitions/RestApiAccessStatusModel ","description":"Gets or sets the rest api status.","xml":{"name":"RestApiAccess"}}},"xml":{"name":"OrganizationGroup","namespace":"http://www.air-watch.com/webapi/resources"},"example":{"Id":1,"Uuid":"320af889-ae25-41d9-b3b4-8f5b7950dcd5","RestApiAccess":{"Status":0,"DefaultAdminApiKey":"Text value","EnrollmentUserApiKey":"Text value"}}},"OrganizationGroup ":{"title":"OrganizationGroup","description":"Location Group Model","type":"object","properties":{"Name":{"description":"Location group name.","type":"string","xml":{"name":"Name"}},"GroupId":{"description":"The location group's tenant code.","type":"string","xml":{"name":"GroupId"}},"LocationGroupType":{"description":"Location group type like Business segment, Customer etc...","type":"string","xml":{"name":"LocationGroupType"}},"Country":{"description":"Country name like United States, India etc.","type":"string","xml":{"name":"Country"}},"Locale":{"description":"Gets or sets Locale information for Location Group like","type":"string","xml":{"name":"Locale"}},"AddDefaultLocation":{"description":"This tells whether default location to be created while creating Location Group","type":"string","xml":{"name":"AddDefaultLocation"}},"EnableRestApiAccess":{"description":"This is a value indicating whether enable rest api access.","type":"boolean","xml":{"name":"EnableRestApiAccess"}}},"xml":{"name":"OrganizationGroup","namespace":"http://www.air-watch.com/webapi/resources"},"example":{"Name":"Global","GroupId":"group_name","LocationGroupType":"Container","Country":"United State","Locale":"en_US","AddDefaultLocation":"true","EnableRestApiAccess":true}},"OrganizationGroupModel":{"type":"object","properties":{"Id":{"format":"int32","type":"integer","xml":{"name":"Id"}},"Uuid":{"format":"uuid","type":"string","xml":{"name":"Uuid"}},"Name":{"type":"string","xml":{"name":"Name"}},"GroupId":{"type":"string","xml":{"name":"GroupId"}},"LocationGroupType":{"type":"string","xml":{"name":"LocationGroupType"}},"Country":{"type":"string","xml":{"name":"Country"}},"Locale":{"type":"string","xml":{"name":"Locale"}},"AddDefaultLocation":{"type":"string","xml":{"name":"AddDefaultLocation"}},"CreatedOn":{"type":"string","xml":{"name":"CreatedOn"}},"LgLevel":{"format":"int32","type":"integer","xml":{"name":"LgLevel"}},"Users":{"type":"string","xml":{"name":"Users"}},"Admins":{"type":"string","xml":{"name":"Admins"}},"Devices":{"type":"string","xml":{"name":"Devices"}},"ConcurrencyId":{"type":"string","xml":{"name":"ConcurrencyId"}}}},"OrganizationGroupModel ":{"type":"object","properties":{"Id":{"format":"int32","type":"integer","xml":{"name":"Id"}},"Uuid":{"format":"uuid","type":"string","xml":{"name":"Uuid"}},"Name":{"type":"string","xml":{"name":"Name"}},"GroupId":{"type":"string","xml":{"name":"GroupId"}},"LocationGroupType":{"type":"string","xml":{"name":"LocationGroupType"}},"Country":{"type":"string","xml":{"name":"Country"}},"Locale":{"type":"string","xml":{"name":"Locale"}},"AddDefaultLocation":{"type":"string","xml":{"name":"AddDefaultLocation"}},"CreatedOn":{"type":"string","xml":{"name":"CreatedOn"}},"LgLevel":{"format":"int32","type":"integer","xml":{"name":"LgLevel"}},"Users":{"type":"string","xml":{"name":"Users"}},"Admins":{"type":"string","xml":{"name":"Admins"}},"Devices":{"type":"string","xml":{"name":"Devices"}},"ConcurrencyId":{"type":"string","xml":{"name":"ConcurrencyId"}}},"xml":{"name":"LocationGroupModel"}},"HypermediaModel  ":{"description":"The aw hypermedia model.","type":"object","properties":{"Links":{"description":"List of hypermedia link.","type":"array","items":{"$ref":"#/definitions/Link"},"readOnly":true,"xml":{"name":"Links","wrapped":true}},"id":{"format":"int32","description":"Identifier","type":"integer","xml":{"name":"Id"}},"uuid":{"format":"uuid","description":"Gets or sets current objects UUID","type":"string","xml":{"name":"Uuid"}}},"xml":{"name":"AdditionalInfo"}},"OrganizationGroupPagedSearchResultModel":{"description":"Organization Group Paged Search Results.","type":"object","properties":{"OrganizationGroups":{"description":"Gets or sets the Organization Groups","type":"array","items":{"$ref":"#/definitions/OrganizationGroupModel ","xml":{"name":"LocationGroupModel"}},"xml":{"name":"OrganizationGroups","wrapped":true}},"AdditionalInfo":{"$ref":"#/definitions/HypermediaModel  ","description":"Gets or sets Hypermedia content for the result","xml":{"name":"Hypermedia"}},"TotalResults":{"format":"int32","description":"Gets or sets Total Result","type":"integer","xml":{"name":"TotalResults"}}},"xml":{"name":"OrganizationGroupPagedSearchResult","namespace":"http://www.air-watch.com/webapi/resources"},"example":{"OrganizationGroups":[{"Id":1,"Uuid":"c8d02574-3eb6-45d8-8c65-9317b2729e70","Name":"Text value","GroupId":"Text value","LocationGroupType":"Text value","Country":"Text value","Locale":"Text value","AddDefaultLocation":"Text value","CreatedOn":"Text value","LgLevel":8,"Users":"Text value","Admins":"Text value","Devices":"Text value","ConcurrencyId":"Text value"}],"AdditionalInfo":{"Links":[],"id":1234,"uuid":"e00827b7-c8b3-47a1-bd78-056ae84b2fc2"},"TotalResults":1}},"CreateEnrollmentUserV2Model":{"description":"Request model to represent the enrollment user create attributes","required":["userName","securityType"],"type":"object","properties":{"externalId":{"description":"Enrollment user external id","type":"string","xml":{"name":"ExternalId"}},"userName":{"description":"Enrollment user username","type":"string","xml":{"name":"UserName"}},"password":{"description":"Enrollment user password","type":"string","xml":{"name":"Password"}},"firstName":{"description":"Enrollment user firstname","type":"string","xml":{"name":"FirstName"}},"lastName":{"description":"Enrollment user lastname","type":"string","xml":{"name":"LastName"}},"displayName":{"description":"Enrollment user displayname","type":"string","xml":{"name":"DisplayName"}},"userPrincipalName":{"description":"Enrollment user userprincipalname","type":"string","xml":{"name":"UserPrincipalName"}},"emailAddress":{"description":"Enrollment user email address","type":"string","xml":{"name":"EmailAddress"}},"phoneNumber":{"description":"Enrollment user phone number","type":"string","xml":{"name":"PhoneNumber"}},"mobileNumber":{"description":"Enrollment user mobile number","type":"string","xml":{"name":"MobileNumber"}},"messageType":{"description":"Enrollment user message type, available options are None, Email and SMS.","type":"string","xml":{"name":"MessageType"}},"messageTemplateUuid":{"format":"uuid","description":"Enrollment user message template uuid","type":"string","xml":{"name":"MessageTemplateUuid"}},"enrollmentRoleUuid":{"format":"uuid","description":"Enrollment user role uuid","type":"string","xml":{"name":"EnrollmentRoleUuid"}},"status":{"description":"Enrollment user status, indicating whether enrollment user is active","type":"boolean","xml":{"name":"Status"}},"securityType":{"description":"Enrollment user security type, available options are basic, directory and authenticationProxy.","type":"string","xml":{"name":"SecurityType"}},"deviceStagingEnabled":{"description":"Enrollment user device staging enabled","type":"boolean","xml":{"name":"DeviceStagingEnabled"}},"deviceStagingType":{"description":"Enrollment user device staging type, available options are StagingDisabled, SingleUserStagingStandard, SingleUserStagingAdvanced, MultipleUserStaging, MultipleUserStagingSingleUserStandard and MultipleUserStagingSingleUserAdvanced.","type":"string","xml":{"name":"DeviceStagingType"}},"organizationGroupUuid":{"format":"uuid","description":"Enrollment user organization group uuid","type":"string","xml":{"name":"OrganizationGroupUuid"}},"enrollmentOrganizationGroupUuid":{"format":"uuid","description":"Enrollment user enrollment organization group uuid","type":"string","xml":{"name":"EnrollmentOrganizationGroupUuid"}},"CustomAttribute1":{"description":"The enrollment user custom attribute 1","type":"string","xml":{"name":"CustomAttribute1"}},"CustomAttribute2":{"description":"The enrollment user custom attribute 2","type":"string","xml":{"name":"CustomAttribute2"}},"CustomAttribute3":{"description":"The enrollment user custom attribute 3","type":"string","xml":{"name":"CustomAttribute3"}},"CustomAttribute4":{"description":"The enrollment user custom attribute 4","type":"string","xml":{"name":"CustomAttribute4"}},"CustomAttribute5":{"description":"The enrollment user custom attribute 5","type":"string","xml":{"name":"CustomAttribute5"}}},"example":{"externalId":"e559e7df-4ba0-4891-9fcd-8574c1770d34","userName":"username","password":"password","firstName":"firstname","lastName":"lastname","displayName":"displayname","userPrincipalName":"noreply@vmware.com","emailAddress":"noreply@vmware.com","phoneNumber":"1-111-111-1111","mobileNumber":"+1(111)-111-1111","messageType":"Email","messageTemplateUuid":"043b4a8b-8ac3-44f1-a767-271bf79b8b87","enrollmentRoleUuid":"797fc656-b091-45b6-a95a-abc8e3837966","status":true,"securityType":"directory","deviceStagingEnabled":false,"deviceStagingType":"StagingDisabled","organizationGroupUuid":"e975c03e-0e23-443a-a24a-b113aa2959ad","enrollmentOrganizationGroupUuid":"a5e5f90c-b64c-4490-9d28-4b7807e1f4da","CustomAttribute1":"CustomAttribute1","CustomAttribute2":"CustomAttribute2","CustomAttribute3":"CustomAttribute3","CustomAttribute4":"CustomAttribute4","CustomAttribute5":"CustomAttribute5"}},"ReadEnrollmentUserV2Model":{"description":"Response model to represent an enrollment user read attributes","type":"object","properties":{"uuid":{"format":"uuid","description":"Enrollment user uuid","type":"string","xml":{"name":"Uuid"}},"externalId":{"description":"Enrollment user external id","type":"string","xml":{"name":"ExternalId"}},"domain":{"description":"Enrollment user domain","type":"string","xml":{"name":"Domain"}},"userName":{"description":"Enrollment user username","type":"string","xml":{"name":"UserName"}},"firstName":{"description":"Enrollment user firstname","type":"string","xml":{"name":"FirstName"}},"lastName":{"description":"Enrollment user lastname","type":"string","xml":{"name":"LastName"}},"displayName":{"description":"Enrollment user displayname","type":"string","xml":{"name":"DisplayName"}},"fullName":{"description":"Enrollment user fullname","type":"string","xml":{"name":"FullName"}},"userPrincipalName":{"description":"Enrollment user userprincipalname","type":"string","xml":{"name":"UserPrincipalName"}},"emailAddress":{"description":"Enrollment user email address","type":"string","xml":{"name":"EmailAddress"}},"phoneNumber":{"description":"Enrollment user phone number","type":"string","xml":{"name":"PhoneNumber"}},"mobileNumber":{"description":"Enrollment user mobile number","type":"string","xml":{"name":"MobileNumber"}},"emailUserName":{"description":"Enrollment user email username","type":"string","xml":{"name":"EmailUserName"}},"messageType":{"description":"Enrollment user message type, available options are None, Email and SMS.","type":"string","xml":{"name":"MessageType"}},"enrollmentRoleUuid":{"format":"uuid","description":"Enrollment user role uuid","type":"string","xml":{"name":"EnrollmentRoleUuid"}},"status":{"description":"Enrollment user status, indicating whether enrollment user is active","type":"boolean","xml":{"name":"Status"}},"securityType":{"description":"Enrollment user security type, available options are basic, directory and authenticationProxy.","type":"string","xml":{"name":"SecurityType"}},"deviceStagingType":{"description":"Enrollment user device staging type, available options are StagingDisabled, SingleUserStagingStandard, SingleUserStagingAdvanced, MultipleUserStaging, MultipleUserStagingSingleUserStandard and MultipleUserStagingSingleUserAdvanced.","type":"string","xml":{"name":"DeviceStagingType"}},"enrolledDeviceCount":{"format":"int32","description":"Enrollment user enrolled device count","type":"integer","xml":{"name":"EnrolledDeviceCount"}},"organizationGroupUuid":{"format":"uuid","description":"Enrollment user organization group uuid","type":"string","xml":{"name":"OrganizationGroupUuid"}},"enrollmentOrganizationGroupUuid":{"format":"uuid","description":"Enrollment user enrollment organization group uuid","type":"string","xml":{"name":"EnrollmentOrganizationGroupUuid"}},"customAttribute1":{"description":"Enrollment user customattribute1","type":"string","xml":{"name":"CustomAttribute1"}},"customAttribute2":{"description":"Enrollment user customattribute2","type":"string","xml":{"name":"CustomAttribute2"}},"customAttribute3":{"description":"Enrollment user customattribute3","type":"string","xml":{"name":"CustomAttribute3"}},"customAttribute4":{"description":"Enrollment user customattribute4","type":"string","xml":{"name":"CustomAttribute4"}},"customAttribute5":{"description":"Enrollment user customattribute5","type":"string","xml":{"name":"CustomAttribute5"}}},"example":{"uuid":"07af6581-6c0d-4f37-aed5-73383dd210a8","externalId":"e559e7df-4ba0-4891-9fcd-8574c1770d34","domain":"vmware.com","userName":"username","firstName":"firstname","lastName":"lastname","displayName":"displayname","fullName":"fullname","userPrincipalName":"noreply@vmware.com","emailAddress":"noreply@vmware.com","phoneNumber":"1-111-111-1111","mobileNumber":"+1(111)-111-1111","emailUserName":"noreply@vmware.com","messageType":"Email","enrollmentRoleUuid":"39d202ad-198a-41ff-a9e3-9176c955c6e3","status":true,"securityType":"directory","deviceStagingType":"StagingDisabled","enrolledDeviceCount":1,"organizationGroupUuid":"8f32425f-ee40-4326-b690-c173d0412c60","enrollmentOrganizationGroupUuid":"fe0be8a8-6c9f-4447-b370-bc2ed1b54526","customAttribute1":"customattribute1","customAttribute2":"customattribute2","customAttribute3":"customattribute3","customAttribute4":"customattribute4","customAttribute5":"customattribute5"}},"UpdateEnrollmentUserV2Model":{"description":"Model to represent Enrollment User for updating","type":"object","properties":{"password":{"description":"Enrollment user password","type":"string","xml":{"name":"Password"}},"firstName":{"description":"Enrollment user first name","type":"string","xml":{"name":"FirstName"}},"lastName":{"description":"Enrollment user last name","type":"string","xml":{"name":"LastName"}},"displayName":{"description":"Enrollment user display name","type":"string","xml":{"name":"DisplayName"}},"emailAddress":{"description":"Enrollment user email address","type":"string","xml":{"name":"EmailAddress"}},"phoneNumber":{"description":"Enrollment user phone number","type":"string","xml":{"name":"PhoneNumber"}},"mobileNumber":{"description":"Enrollment user mobile number","type":"string","xml":{"name":"MobileNumber"}},"messageType":{"description":"Message Type, available options are None, Email and SMS.","type":"string","xml":{"name":"MessageType"}},"messageTemplateUuid":{"format":"uuid","description":"Enrollment user message Template uuid","type":"string","xml":{"name":"MessageTemplateUuid"}},"deviceStagingEnabled":{"description":"Enrollment user device staging enabled","type":"boolean","xml":{"name":"DeviceStagingEnabled"}},"deviceStagingType":{"description":"Enrollment user device staging type","type":"string","xml":{"name":"DeviceStagingType"}},"enrollmentRoleUuid":{"format":"uuid","description":"Enrollment user role Uuid","type":"string","xml":{"name":"EnrollmentRoleUuid"}},"enrollmentOrganizationGroupUuid":{"format":"uuid","description":"Enrollment user enrollment organization group uuid","type":"string","xml":{"name":"EnrollmentOrganizationGroupUuid"}},"CustomAttribute1":{"description":"The enrollment user custom attribute 1","type":"string","xml":{"name":"CustomAttribute1"}},"CustomAttribute2":{"description":"The enrollment user custom attribute 2","type":"string","xml":{"name":"CustomAttribute2"}},"CustomAttribute3":{"description":"The enrollment user custom attribute 3","type":"string","xml":{"name":"CustomAttribute3"}},"CustomAttribute4":{"description":"The enrollment user custom attribute 4","type":"string","xml":{"name":"CustomAttribute4"}},"CustomAttribute5":{"description":"The enrollment user custom attribute 5","type":"string","xml":{"name":"CustomAttribute5"}}},"example":{"password":"Password1","firstName":"Firstname","lastName":"Lastname","displayName":"displayName","emailAddress":"noreply@vmware.com","phoneNumber":"5551234567","mobileNumber":"5551234567","messageType":"Email","messageTemplateUuid":"8c73d7e8-d226-4ab1-b0b3-a555763bd173","deviceStagingEnabled":false,"deviceStagingType":"StagingDisabled","enrollmentRoleUuid":"8a00f700-d23d-4d3d-823f-e46c899280ad","enrollmentOrganizationGroupUuid":"917f5f9a-1d67-47f4-ab3d-7c82cbd53c04","CustomAttribute1":"CustomAttribute1","CustomAttribute2":"CustomAttribute2","CustomAttribute3":"CustomAttribute3","CustomAttribute4":"CustomAttribute4","CustomAttribute5":"CustomAttribute5"}}},"securityDefinitions":{"BasicAuth":{"type":"basic"},"ApiKeyAuth":{"type":"apiKey","description":"API Key","name":"aw-tenant-code","in":"header"},"GroupIdAuth":{"type":"apiKey","description":"Group ID","name":"aw-groupid","in":"header"},"OAuth":{"type":"oauth2","flow":"accessCode","authorizationUrl":"https://example.com/oauth/authorize","tokenUrl":"https://example.com/oauth/token","scopes":{"read":"Grants read access","write":"Grants write access","admin":"Grants read and write access to administrative information"}},"CmsAuth":{"type":"apiKey","description":"CMS Authentication","name":"Authorization","in":"header"}}}