{
  "swagger": "2.0",
  "info": {
    "version": "1",
    "title": "AirWatch Organization Group Management (System) REST API",
    "description": "AirWatch Organization Group Management (System) REST API V1"
  },
  "host": "apimain.ssdevrd.com",
  "basePath": "/api/system",
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/admins/{adminId}/favorites": {
      "get": {
        "tags": [
          "AdminFavoritesV1"
        ],
        "summary": "New - Get favorites list for an admin",
        "description": "Returns set of saved favorites in sorted order by sortOder of link filtering out links which are not accessible based on organization group permissions.",
        "operationId": "AdminFavoritesV1_Get",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;version=1"
        ],
        "parameters": [
          {
            "name": "adminId",
            "in": "path",
            "description": "Identifier for an admin on behalf of whom operation is to be performed(Required)",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FavoritesListV1Model"
            }
          },
          "403": {
            "description": "Forbidden 1.{6078: User does not have permission to perform this operation.} ",
            "schema": {
              "$ref": "#/definitions/BaseExceptionModel"
            }
          },
          "404": {
            "description": "Not Found 1.{6000: Admin not found} ",
            "schema": {
              "$ref": "#/definitions/BaseExceptionModel"
            }
          }
        }
      },
      "post": {
        "tags": [
          "AdminFavoritesV1"
        ],
        "summary": "New - Add a new favorite to the favorites list",
        "description": "Save a given link/page in admin favorites list.",
        "operationId": "AdminFavoritesV1_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;version=1"
        ],
        "parameters": [
          {
            "name": "adminId",
            "in": "path",
            "description": "Identifier for an admin on behalf of whom operation is to be performed(Required)",
            "required": true,
            "type": "string"
          },
          {
            "name": "favoriteRequest",
            "in": "body",
            "description": "New favorite to be added into favorites list. Favorite would have url, name(friendly name) and sortOrder.(Required)",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddFavoritesRequestV1Model"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "Location": {
                "description": "/api/system/admins/{adminId}/favorites/{favoriteId}",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "Forbidden 1.{6078: User does not have permission to perform this operation}",
            "schema": {
              "$ref": "#/definitions/BaseExceptionModel"
            }
          },
          "404": {
            "description": "Not Found 1.{6000: Admin not found}",
            "schema": {
              "$ref": "#/definitions/BaseExceptionModel"
            }
          }
        }
      }
    },
    "/admins/{adminId}/favorites/{favoriteId}": {
      "get": {
        "tags": [
          "AdminFavoritesV1"
        ],
        "summary": "New - Get details for given favorite",
        "description": "Provides favorite details like displayName, url for a given favorite id",
        "operationId": "AdminFavoritesV1_GetById",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;version=1"
        ],
        "parameters": [
          {
            "name": "favoriteId",
            "in": "path",
            "description": "Id of favorite entity to be removed from list(Required)",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "adminId",
            "in": "path",
            "description": "Identifier for an admin on behalf of whom operation is to be performed(Required)",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FavoritesV1Model"
            }
          },
          "403": {
            "description": "Forbidden 1.{6078: User does not have permission to perform this operation.}",
            "schema": {
              "$ref": "#/definitions/BaseExceptionModel"
            }
          },
          "404": {
            "description": "Not Found 1.{6000: Admin not found} 2.{6077: Favorite not found}",
            "schema": {
              "$ref": "#/definitions/BaseExceptionModel"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "AdminFavoritesV1"
        ],
        "summary": "New - Delete a favorite from favorites list",
        "description": "Remove a favorite from favorties list of admin.",
        "operationId": "AdminFavoritesV1_Delete",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;version=1"
        ],
        "parameters": [
          {
            "name": "favoriteId",
            "in": "path",
            "description": "Id of favorite entity to be removed from list(Required)",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "adminId",
            "in": "path",
            "description": "Identifier for an admin on behalf of whom operation is to be performed(Required)",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "403": {
            "description": "Forbidden 1.{6078: User does not have permission to perform this operation.}",
            "schema": {
              "$ref": "#/definitions/BaseExceptionModel"
            }
          },
          "404": {
            "description": "Not Found 1.{6000: Admin not found} 2.{6077: Favorite not found}",
            "schema": {
              "$ref": "#/definitions/BaseExceptionModel"
            }
          }
        }
      }
    },
    "/admins/permissions": {
      "get": {
        "tags": [
          "AdminPermissionsV1"
        ],
        "summary": "New - Get permissions for given admin",
        "description": "Get admin allowed permissions considering admin's active role along with privacy and SKU conditions for the OG which this admin belongs to",
        "operationId": "AdminPermissionsV1_Get",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;version=1"
        ],
        "parameters": [
          {
            "name": "adminId",
            "in": "query",
            "description": "Optional adminId for which permissions to be fetched otherwise permissions are fetched for current admin",
            "required": false,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AdminPermissionsV1Model"
            }
          },
          "403": {
            "description": "Forbidden 1. {6078: User does not have permission to perform this operation}",
            "schema": {
              "$ref": "#/definitions/BaseExceptionModel"
            }
          },
          "404": {
            "description": "Not Found 1.{6000: Admin not found}",
            "schema": {
              "$ref": "#/definitions/BaseExceptionModel"
            }
          }
        }
      }
    },
    "/admin/roles/{id}": {
      "get": {
        "tags": [
          "AdminRoles"
        ],
        "summary": "Retrieves the existing role",
        "operationId": "AdminRoles_GetRole",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the role",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      },
      "put": {
        "tags": [
          "AdminRoles"
        ],
        "summary": "Update name of an existing role",
        "operationId": "AdminRoles_UpdateRole",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the role to be updated",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "role",
            "in": "body",
            "description": "Role with new name",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Role"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/admin/roles": {
      "put": {
        "tags": [
          "AdminRoles"
        ],
        "summary": "Updates an existing role with the new set of permissions",
        "operationId": "AdminRoles_UpdateRole",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "rolePermission",
            "in": "body",
            "description": "The Permissions associated with a role",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RolePermissionModel"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      },
      "post": {
        "tags": [
          "AdminRoles"
        ],
        "summary": "Creates a new role with the given permissions",
        "operationId": "AdminRoles_CreateRole",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "rolePermission",
            "in": "body",
            "description": "The Permissions associated with a role",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RolePermissionModel"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/admins/{id}": {
      "get": {
        "tags": [
          "AdminUsers"
        ],
        "summary": "Retrieves information about the specified admin user.",
        "description": "v1",
        "operationId": "AdminUsers_Get",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The admin user ID.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/admins/{id}/delete": {
      "delete": {
        "tags": [
          "AdminUsers"
        ],
        "summary": "Deletes the specified admin user.",
        "description": "v1",
        "operationId": "AdminUsers_Delete",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The admin user ID.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/admins/addadminuser": {
      "post": {
        "tags": [
          "AdminUsers"
        ],
        "summary": "Creates a new admin user.",
        "description": "v1",
        "operationId": "AdminUsers_Put",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "adminUser",
            "in": "body",
            "description": "The admin user resource to create.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AdminUser"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/admins/{id}/update": {
      "post": {
        "tags": [
          "AdminUsers"
        ],
        "summary": "Updates the specified admin user.",
        "description": "v1",
        "operationId": "AdminUsers_UpdateAdminUser",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The admin user ID.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "adminUser",
            "in": "body",
            "description": "The updated admin user details.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AdminUser"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/admins/search": {
      "get": {
        "tags": [
          "AdminUsers"
        ],
        "summary": "Searches for Admin users using the query information provided.",
        "description": "v1",
        "operationId": "AdminUsers_Search",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "firstname",
            "in": "query",
            "description": "The First name to search for.",
            "required": false,
            "type": "string"
          },
          {
            "name": "lastname",
            "in": "query",
            "description": "The Last name to search for.",
            "required": false,
            "type": "string"
          },
          {
            "name": "email",
            "in": "query",
            "description": "The Email Address to search for.",
            "required": false,
            "type": "string"
          },
          {
            "name": "organizationgroupid",
            "in": "query",
            "description": "The Organization Group Id to search for.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "role",
            "in": "query",
            "description": "The Role name to search for.",
            "required": false,
            "type": "string"
          },
          {
            "name": "username",
            "in": "query",
            "description": "The User name to search for.",
            "required": false,
            "type": "string"
          },
          {
            "name": "orderby",
            "in": "query",
            "description": "Order the results by this attribute.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "The specific page number to get.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "Maximum records per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sortorder",
            "in": "query",
            "description": "Sorting order. Allowed values are ASC or DESC. Defaults to ASC if this attribute is not specified.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/admins/{id}/changepassword": {
      "post": {
        "tags": [
          "AdminUsers"
        ],
        "summary": "Changes the specified admin user's password.",
        "description": "v1",
        "operationId": "AdminUsers_ChangePassword",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The admin user ID.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "adminuser",
            "in": "body",
            "description": "The admin user details.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AdminUser"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/admins/{id}/addrole": {
      "post": {
        "tags": [
          "AdminUsers"
        ],
        "summary": "Adds a role to the specified admin user.",
        "description": "v1",
        "operationId": "AdminUsers_AddRoleToUser",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The admin user ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "role",
            "in": "body",
            "description": "The role to add.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RoleModel"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/admins/{id}/removerole": {
      "post": {
        "tags": [
          "AdminUsers"
        ],
        "summary": "Removes a role from the specified admin user.",
        "description": "v1",
        "operationId": "AdminUsers_RemoveRoleFromUser",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The admin user ID.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "role",
            "in": "body",
            "description": "The role to remove.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RoleModel"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/android/{id}/IsSecurityEnabled": {
      "post": {
        "tags": [
          "Android"
        ],
        "summary": "Checks whether the android security is enabled for the given OG",
        "operationId": "Android_IsSecurityEnabled",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "OG ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/groups/{id}/androidwork": {
      "get": {
        "tags": [
          "AndroidWork"
        ],
        "summary": "Method to Save the android work settings\r\nThis method is used to mock and save the android work settings if all the parameters are available",
        "operationId": "AndroidWork_GetAndroidWorkSettings",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      },
      "post": {
        "tags": [
          "AndroidWork"
        ],
        "summary": "Method to Save the android work settings\r\nThis method is used to mock and save the android work settings if all the parameters are available",
        "operationId": "AndroidWork_SaveAndroidWorkSettings",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "androidWorkSetupModel",
            "in": "body",
            "description": "Parameter for Android Work set up Model",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AndroidWorkSetupModel"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/groups/{id}/apns": {
      "get": {
        "tags": [
          "Apns"
        ],
        "summary": "Method to Create APNs Cert Request or Get the status of the APNs Configuration for an Organization Group\r\nUpload certificate Blob Id is -1 when APNs is already Configured for the Organization Group",
        "operationId": "Apns_ApnsCertificate",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The OrganizationGroup Identifier",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "force",
            "in": "query",
            "description": "Force generate APNs Cert Request",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      },
      "post": {
        "tags": [
          "Apns"
        ],
        "summary": "Method to Save the APNs Configuration for an Organization Group\r\nThis method is applicable after the APNs certificate Blob(.pem) is uploaded to the AirWatch server.",
        "operationId": "Apns_SaveApnsCertificate",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "apnsSetupModel",
            "in": "body",
            "description": "Parameter for APNs Setup Model",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApnsSetupModel"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The OrganizationGroup Identifier",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      },
      "patch": {
        "tags": [
          "Apns"
        ],
        "summary": "New - Method to Update the APNs Configuration for an Organization Group\r\nThis method is applicable after the APNs is configured on the AirWatch server.",
        "operationId": "Apns_UpdateApnsCertificate",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "apnsConfigurationModel",
            "in": "body",
            "description": "Parameter for APNs Configuration Model",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApnsConfigurationModel"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The OrganizationGroup Identifier",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/groups/{id}/apns/details": {
      "get": {
        "tags": [
          "Apns"
        ],
        "summary": "New - Method to get the status of the APNs Configuration for an Organization Group",
        "operationId": "Apns_ApnsCertificateDetail",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The OrganizationGroup Identifier",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/groups/{ogid}/storage": {
      "get": {
        "tags": [
          "AppContent"
        ],
        "summary": "Provides application and content storage info for the specified organization group.",
        "description": "v1",
        "operationId": "AppContent_GetAppContentStorageInfo",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "ogid",
            "in": "path",
            "description": "The OrganizationGroup Id.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/users/{id}/apps": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "Retrieves Apps Based on user",
        "operationId": "Apps_GetAppsByUser",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "User Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/autodiscovery": {
      "get": {
        "tags": [
          "Autodiscovery"
        ],
        "summary": "New - Get method to fetch all the Registered Domains in Airwatch, \r\nwhich are eligible to be pushed to VIDM",
        "operationId": "Autodiscovery_AutodiscoveryDomainFetch",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;version=1"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      },
      "post": {
        "tags": [
          "Autodiscovery"
        ],
        "summary": "New - Create the domain on VIDM if the domain is already registered with airwatch or\r\nelse register it with Airwatch and do not push it to VIDM.",
        "operationId": "Autodiscovery_AutoDiscoveryDomainCreate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;version=1"
        ],
        "parameters": [
          {
            "name": "autoDiscoveryModel",
            "in": "body",
            "description": "autoDiscovery Model",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AutoDiscoveryModel"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/blueprints": {
      "get": {
        "tags": [
          "Blueprints"
        ],
        "summary": "Get Action Method for fetching blueprints for an Organization Group.\r\nOnly Applicable to Express Provisioned Organization Groups.",
        "operationId": "Blueprints_GetBluePrints",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      },
      "post": {
        "tags": [
          "Blueprints"
        ],
        "summary": "Saves the Blueprint\r\nOnly Applicable to Express Provisioned Organization Groups.",
        "operationId": "Blueprints_SaveBlueprint",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "blueprintModel",
            "in": "body",
            "description": "blueprintModel",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BlueprintModel"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/blueprints/{id}": {
      "get": {
        "tags": [
          "Blueprints"
        ],
        "summary": "Retrieves the blueprint details of a blueprint in an Organization Group.\r\nOnly Applicable to Express Provisioned Organization Groups.",
        "operationId": "Blueprints_GetBlueprintDetails",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id of blueprint",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      },
      "delete": {
        "tags": [
          "Blueprints"
        ],
        "summary": "Delete Action Method for deleting blueprint having particular blueprintId\r\nOnly Applicable to Express Provisioned Organization Groups.",
        "operationId": "Blueprints_DeleteBluePrint",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of blueprint to be deleted",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      },
      "patch": {
        "tags": [
          "Blueprints"
        ],
        "summary": "Modifies Name and AssignmentType of the Blueprint.\r\nOnly Applicable to Express Provisioned Organization Groups.",
        "operationId": "Blueprints_UpdateBlueprint",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of blueprint to be deleted",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "blueprintModel",
            "in": "body",
            "description": "blueprintModel contains the properties of instance to be patched",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BlueprintModel"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/blueprints/{id}/apps": {
      "post": {
        "tags": [
          "Blueprints"
        ],
        "summary": "Links the specified Blueprint with provided Apps.\r\nIf the Blueprint is already published, then Apps will be published asynchronously in some other process.\r\nOnly Applicable to Express Provisioned Organization Groups.",
        "operationId": "Blueprints_LinkWithApps",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id of blueprint",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "apps",
            "in": "body",
            "description": "list of Apps",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AppModel"
              }
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/blueprints/{id}/resources": {
      "get": {
        "tags": [
          "Blueprints"
        ],
        "summary": "Retrieves resources for a blueprint.\r\nOnly Applicable to Express Provisioned Organization Groups.",
        "operationId": "Blueprints_GetResource",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of blueprint",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      },
      "post": {
        "tags": [
          "Blueprints"
        ],
        "summary": "Links the specified Blueprint with provided resource.\r\nIf the Blueprint is already published, then resource will be published.\r\nOnly Applicable to Express Provisioned Organization Groups.",
        "operationId": "Blueprints_LinkWithResources",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id of blueprint",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "resourceModel",
            "in": "body",
            "description": "Model for Resource",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BlueprintResourceModel"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/blueprints/{id}/resources/{resourceid}": {
      "delete": {
        "tags": [
          "Blueprints"
        ],
        "summary": "De links a resource from a particular blueprint\r\nOnly Applicable to Express Provisioned Organization Groups.",
        "operationId": "Blueprints_DelinkResource",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of blueprint",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "resourceid",
            "in": "path",
            "description": "Id of Resource",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/blueprints/{id}/users": {
      "get": {
        "tags": [
          "Blueprints"
        ],
        "summary": "Retrieves Users for a blueprint.\r\nOnly Applicable to Express Provisioned Organization Groups.",
        "operationId": "Blueprints_GetUsers",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id of blueprint",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      },
      "post": {
        "tags": [
          "Blueprints"
        ],
        "summary": "Links the specified Blueprint with the provided users\r\nOnly Applicable to Express Provisioned Organization Groups.",
        "operationId": "Blueprints_LinkUsersToBlueprint",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id of blueprint",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "blueprintUsersModel",
            "in": "body",
            "description": "Model for users list",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BlueprintUsersModel"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/blueprints/{id}/policies/{policyId}": {
      "post": {
        "tags": [
          "Blueprints"
        ],
        "summary": "Link Policies to Blueprint",
        "operationId": "Blueprints_LinkPoliciesToBlueprint",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Blueprint Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "policyId",
            "in": "path",
            "description": "policy Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/blueprints/{id}/publish": {
      "post": {
        "tags": [
          "Blueprints"
        ],
        "summary": "Publish the Blueprint",
        "operationId": "Blueprints_PublishBlueprint",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/blueprints/{id}/usergroups": {
      "get": {
        "tags": [
          "Blueprints"
        ],
        "summary": "Retrieves UserGroups for a blueprint.\r\nOnly Applicable to Express Provisioned Organization Groups.",
        "operationId": "Blueprints_GetUserGroups",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id of blueprint",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      },
      "post": {
        "tags": [
          "Blueprints"
        ],
        "summary": "Links the specified Blueprint with the provided user groups.\r\nOnly Applicable to Express Provisioned Organization Groups.",
        "operationId": "Blueprints_LinkUserGroupsToBlueprint",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id of blueprint",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "blueprintUserGroupsModel",
            "in": "body",
            "description": "Model for User groups",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BlueprintUserGroupsModel"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/blueprints/{id}/users/delete": {
      "post": {
        "tags": [
          "Blueprints"
        ],
        "summary": "De Links the specified Blueprint from users.\r\nOnly Applicable to Express Provisioned Organization Groups.",
        "operationId": "Blueprints_DelinkUsersFromBlueprint",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id of blueprint",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "blueprintUsersModel",
            "in": "body",
            "description": "Model for blueprint user list",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BlueprintUsersModel"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/blueprints/{id}/usergroups/delete": {
      "post": {
        "tags": [
          "Blueprints"
        ],
        "summary": "De Links the specified Blueprint from UserGroups.\r\nOnly Applicable to Express Provisioned Organization Groups.",
        "operationId": "Blueprints_DelinkUserGroupsFromBlueprint",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id of blueprint",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "blueprintUserGroupsModel",
            "in": "body",
            "description": "Model for user groups list",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BlueprintUserGroupsModel"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/blueprints/{id}/Policies": {
      "get": {
        "tags": [
          "Blueprints"
        ],
        "summary": "Get Policies Associated with the Blueprint",
        "operationId": "Blueprints_GetPolicies",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Blueprint Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/blueprints/{id}/purchasedapps": {
      "post": {
        "tags": [
          "Blueprints"
        ],
        "summary": "New - Save the assignment of the licences for a list of Purchased Apps and adds them to the Blueprint.\r\nIf the App is already present, edits the assignment of the licences accordingly.",
        "operationId": "Blueprints_SavePurchasedApps",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Blueprint Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "appModel",
            "in": "body",
            "description": "Model with the List of Applications",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PurchasedApplicationViewModel"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      },
      "delete": {
        "tags": [
          "Blueprints"
        ],
        "summary": "New - Removes the License allocation from the purchased App and delinks the app from the Blueprint.",
        "operationId": "Blueprints_DeletePurchasedApp",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Blueprint Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "Id of the purchased Application to be removed",
            "required": false,
            "type": "integer"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/customattributes/create": {
      "post": {
        "tags": [
          "CustomAttributes"
        ],
        "summary": "Creates a custom attribute definition in AirWatch",
        "description": "v1",
        "operationId": "CustomAttributes_SaveCustomAttribute",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "customAttribute",
            "in": "body",
            "description": "Custom Attribute Details",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomAttributeModel"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/customattributes/search": {
      "get": {
        "tags": [
          "CustomAttributes"
        ],
        "summary": "Searches for the Custom Attributes in AirWatch for the filters provided in input",
        "description": "v1",
        "operationId": "CustomAttributes_Search",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "organizationgroupid",
            "in": "query",
            "description": "Organization Group Identifer",
            "required": false,
            "type": "integer"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Custom Attribute Name",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page Number",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "Page Size",
            "required": false,
            "type": "integer"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/users/registercontainerdevice": {
      "post": {
        "tags": [
          "DeviceRegistrationV1"
        ],
        "summary": "Creates container device with the query infomration passed in the request",
        "operationId": "DeviceRegistrationV1_RegisterContainerDevice",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "workspaceModel",
            "in": "body",
            "description": "vmWorkspace information",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VmWorkspaceModel"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/users/registeruserdevices": {
      "post": {
        "tags": [
          "DeviceRegistrationV1"
        ],
        "summary": "Registers users and devices provided in the request",
        "description": "v1",
        "operationId": "DeviceRegistrationV1_RegisterUserDevices",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "deviceUserDetails",
            "in": "body",
            "description": "User and Device details",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DeviceUserDetails"
              }
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/users/registereddevices/deletebyassetnumber": {
      "post": {
        "tags": [
          "DeviceRegistrationV1"
        ],
        "summary": "Deletes the registered devices identified by Asset number",
        "description": "v1",
        "operationId": "DeviceRegistrationV1_DeleteRegisteredDevicesByAssetNumber",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "bulkInput",
            "in": "body",
            "description": "List of devices identified by Asset number",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BulkInput"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {},
        "deprecated": true
      }
    },
    "/users/registereddevices/deletebyserialnumber": {
      "post": {
        "tags": [
          "DeviceRegistrationV1"
        ],
        "summary": "Deletes the registered devices identified by serial number",
        "description": "v1",
        "operationId": "DeviceRegistrationV1_DeleteRegisteredDevicesBySerialNumber",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "bulkInput",
            "in": "body",
            "description": "List of devices identified by serial number",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BulkInput"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {},
        "deprecated": true
      }
    },
    "/users/registereddevices/deletebyudid": {
      "post": {
        "tags": [
          "DeviceRegistrationV1"
        ],
        "summary": "Deletes the registered devices identified by UDID",
        "description": "v1",
        "operationId": "DeviceRegistrationV1_DeleteRegisteredDevicesByUdid",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "bulkInput",
            "in": "body",
            "description": "List of devices identified by UDID",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BulkInput"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {},
        "deprecated": true
      }
    },
    "/users/registereddevices/delete": {
      "post": {
        "tags": [
          "DeviceRegistrationV1"
        ],
        "summary": "Delete the registered devices identified by [Asset number ,UserName] or [Udid] or [Serialnumber]",
        "description": "v1",
        "operationId": "DeviceRegistrationV1_DeleteRegisteredDevices",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "httpRequest",
            "in": "query",
            "description": "Holds request entity coming through call pipeline",
            "required": true,
            "type": "object"
          },
          {
            "name": "bulkInput",
            "in": "body",
            "description": "List of devices identified by Asset number/Udid/SerialNumber",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BulkInput"
            }
          },
          {
            "name": "searchby",
            "in": "query",
            "description": "MANDATORY. The identifier type must be one of the following [ Udid, Serialnumber, AssetNumber]",
            "required": false,
            "type": "string"
          },
          {
            "name": "username",
            "in": "query",
            "description": "OPTIONAL. If included will be processed ",
            "required": false,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/users/enrollmenttoken/search": {
      "get": {
        "tags": [
          "DeviceRegistrationV1"
        ],
        "summary": "Searches for Enrollment Token and Device details using the query information provided.",
        "description": "v1",
        "operationId": "DeviceRegistrationV1_EnrollmentTokenSearch",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "query",
            "description": "UserName of the Enrollment User for whom Enrollment Tokens needs to be searched.",
            "required": false,
            "type": "string"
          },
          {
            "name": "userid",
            "in": "query",
            "description": "Identifier of the Enrollment User for whom Enrollment Tokens needs to be searched.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "organizationgroupid",
            "in": "query",
            "description": "Identifier of the Organization Group where Enrollment Tokens needs to be searched.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "organizationgroup",
            "in": "query",
            "description": "Organization Group Name where Enrollment Tokens needs to be searched.",
            "required": false,
            "type": "string"
          },
          {
            "name": "serialnumber",
            "in": "query",
            "description": "Serial number of device for which Enrollment Tokens to be retrieved.",
            "required": false,
            "type": "string"
          },
          {
            "name": "assetnumber",
            "in": "query",
            "description": "Asset Number of device for which Enrollment Tokens to be retrieved.",
            "required": false,
            "type": "string"
          },
          {
            "name": "enrollmentstatusid",
            "in": "query",
            "description": "EnrollmentStatusID of device for which Enrollment Tokens to be retrieved.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "compliancestatusid",
            "in": "query",
            "description": "ComplianceStatus of device for which Enrollment Tokens to be retrieved.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/users/{id}/registerdevice": {
      "post": {
        "tags": [
          "DeviceRegistrationV1"
        ],
        "summary": "Registers a device for the specified enrollment user.",
        "description": "v1",
        "operationId": "DeviceRegistrationV1_RegisterDeviceForUser",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The user ID.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "registerDeviceDetails",
            "in": "body",
            "description": "The device details to register.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterDeviceDetailsModel"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/users/enrolleddevices/search": {
      "get": {
        "tags": [
          "DeviceRegistrationV1"
        ],
        "summary": "Retrieves enrolled device details for the query information provided in the request",
        "description": "v1",
        "operationId": "DeviceRegistrationV1_RetrieveEnrolledDevices",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "organizationgroupid",
            "in": "query",
            "description": "Organization Group Identifier in which device details will be retrieved.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "organizationgroup",
            "in": "query",
            "description": "Organization Group Name search parameter in which device details will be retrieved.",
            "required": false,
            "type": "string"
          },
          {
            "name": "platform",
            "in": "query",
            "description": "Platform filter for the device details to be retrieved.",
            "required": false,
            "type": "string"
          },
          {
            "name": "customattributes",
            "in": "query",
            "description": "List of custom attribute names [separated by comma (,)] for which values should be returned.",
            "required": false,
            "type": "string"
          },
          {
            "name": "serialnumber",
            "in": "query",
            "description": "Device serialnumber for which values should be returned.",
            "required": false,
            "type": "string"
          },
          {
            "name": "seensince",
            "in": "query",
            "description": "SeenSince DateTime, devices registered after the seensince datetime will be returned if present.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "seentill",
            "in": "query",
            "description": "SeenTill DateTime, devices registered till the seentill datetime will be returned if present.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "enrolledsince",
            "in": "query",
            "description": "EnrolledSince DateTime, devices enrolled after the enrolledsince datetime will be returned if present.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "enrolledtill",
            "in": "query",
            "description": "EnrolledTill DateTime, devices enrolled till the enrolledtill datetime will be returned if present.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/users/registereddevices/search": {
      "get": {
        "tags": [
          "DeviceRegistrationV1"
        ],
        "summary": "Retrieves registered device details",
        "description": "v1",
        "operationId": "DeviceRegistrationV1_RetrieveRegisteredDevices",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "organizationgroupid",
            "in": "query",
            "description": "Organization Group Identifier in which device details will be retrieved.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "organizationgroup",
            "in": "query",
            "description": "Organization Group Name search parameter in which device details will be retrieved.",
            "required": false,
            "type": "string"
          },
          {
            "name": "platform",
            "in": "query",
            "description": "Platform filter for the device details to be retrieved.",
            "required": false,
            "type": "string"
          },
          {
            "name": "customattributes",
            "in": "query",
            "description": "List of custom attribute names [separated by comma (,)] for which values should be returned.",
            "required": false,
            "type": "string"
          },
          {
            "name": "assetnumber",
            "in": "query",
            "description": "Asset number filter for the device details to be retrieved.",
            "required": false,
            "type": "string"
          },
          {
            "name": "seensince",
            "in": "query",
            "description": "SeenSince DateTime, devices registered after the seensince datetime will be returned if present.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "seentill",
            "in": "query",
            "description": "SeenTill DateTime, devices registered till the seentill datetime will be returned if present.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/users/{id}/devices": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "Retrieves Devices Based on user",
        "description": "v1",
        "operationId": "Devices_GetDevicesByUserId",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "User Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/diagnostics/registerada": {
      "post": {
        "tags": [
          "Diagnostics"
        ],
        "summary": "Registers ADA(Airwatch Diagnostics Agent) with AirWatch.",
        "description": "v1",
        "operationId": "Diagnostics_RegisterAda",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "adaInfo",
            "in": "body",
            "description": "ADA Information.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AdaEntity"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/diagnostics/adauid/{adauid}/registerservices": {
      "post": {
        "tags": [
          "Diagnostics"
        ],
        "summary": "Registers the services to be monitored by the ADA.",
        "description": "v1",
        "operationId": "Diagnostics_RegisterServices",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "adauid",
            "in": "path",
            "description": "ADA Uid",
            "required": true,
            "type": "string"
          },
          {
            "name": "monitoringEntity",
            "in": "body",
            "description": "Services to be monitored",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AwMonitoringEntity"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/diagnostics/adauid/{adauid}/getadaconfiguration": {
      "get": {
        "tags": [
          "Diagnostics"
        ],
        "summary": "Gets the configuration deatils of ADA(SamplingFequency, CommandPollingFrequency)",
        "description": "v1",
        "operationId": "Diagnostics_GetAdaConfiguration",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "adauid",
            "in": "path",
            "description": "ADA UID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/diagnostics/savesample": {
      "post": {
        "tags": [
          "Diagnostics"
        ],
        "summary": "Saves sample data from the ADA.",
        "description": "v1",
        "operationId": "Diagnostics_SaveSample",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "sampleEntity",
            "in": "body",
            "description": "Sample Entities to save",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AdaSampleEntity"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/diagnostics/adauid/{adauid}/GetAdaCommands": {
      "get": {
        "tags": [
          "Diagnostics"
        ],
        "summary": "Gets the list of commands for the ADA",
        "description": "v1",
        "operationId": "Diagnostics_GetAdaCommands",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "adauid",
            "in": "path",
            "description": "ADA Uid",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/diagnostics/UpdateAdaCommandStatus": {
      "post": {
        "tags": [
          "Diagnostics"
        ],
        "summary": "Updates command status",
        "description": "v1",
        "operationId": "Diagnostics_UpdateAdaCommandStatus",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "applicationCommandStatusEntity",
            "in": "body",
            "description": "command status",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApplicationCommandStatusEntity"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/diagnostics/maplogfiletoservice": {
      "post": {
        "tags": [
          "Diagnostics"
        ],
        "summary": "Maps log file to service\\application identified from commandid.",
        "description": "v1",
        "operationId": "Diagnostics_MapLogFileToService",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "logFileMappingEntity",
            "in": "body",
            "description": "Mapping information of service\\application from ADA",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LogFileMappingEntity"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/diagnostics/updateloglevel": {
      "post": {
        "tags": [
          "Diagnostics"
        ],
        "summary": "Updates log level of service\\application identified from commandid.",
        "description": "v1",
        "operationId": "Diagnostics_UpdateLogLevel",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "logLevelMappingEntity",
            "in": "body",
            "description": "Mapping information of service\\application from ADA",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LogLevelMappingEntity"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/system/uploadblob": {
      "post": {
        "tags": [
          "DiagnosticsBlob"
        ],
        "summary": "Upload the blob data to a repository.",
        "description": "v1",
        "operationId": "DiagnosticsBlob_UploadBlob",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "filename",
            "in": "query",
            "description": "The name of the file being uploaded",
            "required": false,
            "type": "string"
          },
          {
            "name": "organizationgroupid",
            "in": "query",
            "description": "The id of the organization group in which to upload the file.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/system/downloadblob/{blobId}": {
      "get": {
        "tags": [
          "DiagnosticsBlob"
        ],
        "summary": "Download a file based on blobId.",
        "description": "v1",
        "operationId": "DiagnosticsBlob_DownloadBlob",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "blobId",
            "in": "path",
            "description": "The blob id of the file to download",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/users/registereddevices/serialnumber/{serialnumber}/createcustomattributes": {
      "post": {
        "tags": [
          "EnrollmentCustomAttributes"
        ],
        "summary": "Creates a new device custom attribute value for a registered device.",
        "description": "v1",
        "operationId": "EnrollmentCustomAttributes_CreateCustomAttributesForRegDevices",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "serialnumber",
            "in": "path",
            "description": "Device Serial number",
            "required": true,
            "type": "string"
          },
          {
            "name": "customAttributes",
            "in": "body",
            "description": "Custom Attribute name and value pairs",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomAttributeListModel"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization header",
            "type": "string"
          },
          {
            "name": "aw-tenant-code",
            "in": "header",
            "description": "API key",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/users/registereddevices/serialnumber/{serialnumber}/updatecustomattributes": {
      "post": {
        "tags": [
          "EnrollmentCustomAttributes"
        ],
        "summary": "Updates custom attribute value for registered device if custom attribute value already exists.",
        "description": "v1",
        "operationId": "EnrollmentCustomAttributes_UpdateCustomAttributesForRegDevices",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json;version=1",
          "application/xml;version=1"
        ],
        "parameters": [
          {
            "name": "serialnumber",
            "in": "path",
            "description": "Device Serial number",
            "required": true,
            "type": "string"
          },
          {
            "name": "customAttributes",
            "in": "body",
            "description": "Custom Attribute name and value pairs",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomAttributeListModel"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
[...]
